---
layout: base
title: Facilities monitoring
page-description: "Facilities monitoring (also known as facility monitoring or facility management) by definition is a
permanent, semi-permanent, or temporary commercial or industrial property. The buildings hard facilities are typically
managed by the facilities department."
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Facilities monitoring</h1>
    <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a
        class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>What is facilities monitoring?</h2>
        <p>Facilities monitoring (also known as facility monitoring or facility management) by definition is a
          permanent, semi-permanent, or temporary commercial or industrial property. The buildings hard facilities are
          typically managed by the facilities department.</p>
        <p>Facility departments are usually divided into two distinct areas, soft facility management and hard facility
          management. Spook’s remote monitoring service called OmniWatch is used to assist the hard facility management
          function by monitoring disparate equipment across the enterprise.</p>
      </div>
      <div class="is-col">
        <p>Typical areas of hard facilities monitoring are:</p>
        <ul>
          <li>Infrastructure and information communications & technology (ICT)</li>
          <li>Maintenance and warranty support</li>
          <li>Delivering new technology</li>
          <li>Ensuring business continuity</li>
          <li>Regulatory compliance</li>
          <li>Mechanical, electrical and plumbing (MEP)</li>
          <li>Technical services</li>
          <li>Building Management Systems (BMS)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-gapless is-border">
      <div class="is-col is-30 is-inset-20 block">
        <h2>Disparate equipment monitoring</h2>
        <p>Facility departments often struggle to monitor their equipment from many different manufacturers. Even
          monitoring different models of the same manufacturer can be disjointed as newer versions employ different
          interfaces to those of their legacy counterparts. OmniWatch is manufacturer independent and protocol inclusive
          so is able to interpret many different protocols such as SNMP, JSON, XML, Modbus and BACnet into a single,
          centrally managed solution.</p>
        <p>The key to providing remote monitoring to the facility management team is making monitoring simple, intuitive
          and available all in one place.</p>
      </div>
      <div class="is-col is-70">
        <div class="is-row is-text-center">
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/alternatingcurrent.svg">
            <h5>Uninterruptible power supplies (UPSs)</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/drycontact.svg">
            <h5>Generator sets</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/light.svg">
            <h5>Air conditioning units</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/fire.svg">
            <h5>Fire protection systems</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/smoke.svg">
            <h5>VESDA</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/smoke.svg">
            <h5>HSSD</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/gas.svg">
            <h5>Gas suppressant systems</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/water.svg">
            <h5>Water detection systems</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/motion.svg">
            <h5>Intruder alarm systems</h5>
          </div>
          <div class="is-col is-20 is-stack-20">
            <img style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/elevator.svg">
            <h5>Building management systems (BMS)</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include omniwatch/key-components.html %}
<section class="container">
  <hr>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
        <img src="/images/customer-logo/capita.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>Having Spook monitoring the machine rooms and facilities infrastructure is a key component in managing our
            sites. OmniWatch provides instant, clear notification of infrastructure failures allowing us to apply rapid
            interventions to prevent costly outages.</p>
          <p class="is-small">Capita Business Services - An international business outsourcing company.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
{% include monitoring/it/key-components.html %}
<section>
  <div class="container is-text-center">
    <h2>Getting in touch with Spook</h2>
    <p>Please contact us if you wish for further information on how Spook can help you monitor your facilities.</p>
    <p><a href="/contact" class="button">Contact us</a></p>
  </div>
</section>