---
layout: casestudy/base
---
<style>
.sensor-icon{
	max-width: 80px;
	max-height: 80px;
}
.device-logo{
	max-width: 300px;
	max-height: 80px;
}
.device-subheader{
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 0;
}
.device-header{
	margin-top: 0;
	padding-top: 0;
}
</style>
<header style="background-image: url('{{ page.header-image }}'); background-size: cover; background-position: center;">
	<div class="container">
		<div class="is-50">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<img src="{{ page.customer-logo }}">
			</div>
			<div class="is-col is-70">
				<h2>Introduction</h2>
				<p>Since its formation in 1965 Endsleigh Insurance has grown to become the No.1 provider of insurance services for students and graduates and the only one to be recommended by National Union of Students.</p>
				<p>Endsleigh offers an extensive range of insurance products including cover for gadgets, travel, car, home and buildings, including contents cover in shared accommodation.</p>
				<p>Endsleigh's IT department is responsible for delivering a high quality and dependable IT service to the business. It has the added pressure of working in an industry that is technically leading edge. The competitive insurance industry sector is continually evolving with emerging technologies and innovations, from Apps for mobiles and tablets to black box insurance for cars.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="grey is-inset-20">
			<h2 class="is-stack-40">Monitored hardware</h2>
			<div class="is-row">
				<div class="is-col">
					<img class="device-logo" src="/images/devices/geist.svg">
					<h5 class="device-subheader">Geist</h5>
					<h3 class="device-header">Watchdog 1200 x2</h3>
				</div>
				<div class="is-col">
					<img class="device-logo" src="/images/devices/socomec.svg">
					<h5 class="device-subheader">Socomec</h5>
					<h3 class="device-header">Uninterruptible power supply</h3>
				</div>
				<div class="is-col">
					<img class="device-logo" src="/images/icons/bulk-data.svg">
					<h5 class="device-subheader">Total sensors</h5>
					<h3 class="device-header">44</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>The challenge</h2>
		<p>Endsleigh's data centres are lights out facilities and are, by definition, unmanned for the vast majority of the time. IT personnel only visit the data centres when specific work is planned or to conduct daily routines such as tape backups and system re-boots. Endsleigh understands the value of continually monitoring its IT environments to help avoid or minimise unplanned IT outages, which in turn could affect the business.</p>
		<p>As early adopters of IT environmental monitoring Endsleigh decided from the outset to use a monitoring service provider that could deliver a joined up solution and take the monitoring headache away, allowing its staff to focus on their day-to-day tasks.</p>
		<blockquote>
			<p>With the implementation of Spook's OmniWatch monitoring system, Endsleigh IT and Facilities teams can concentrate on running and supporting the business without worrying about our critical IT Data Centres which are monitored around the clock.</p>
			<p class="is-small">Stephen Street (Steve), IT Core Services Manager.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<img src="/images/casestudy/endsleigh-insurance-map.svg">
			</div>
			<div class="is-col">
				<h2>The solution</h2>
				<p>After contacting Spook, site surveys were arranged for the Head Office data centre. A subsequent review was conducted to identify immediate and future requirements along with plans for a new server room build in their Burnley location to replace their legacy IT rooms in the vicinity.</p>
				<blockquote>
					<p>With the recent addition of our new data centre in Burnley, OmniWatch now monitors even more IT environmental conditions, critical to our business continuity.</p>
				</blockquote>
				<p>A key requirement was to have a central monitoring station available on a dedicated screen in the Endsleigh IT department at their head office in Cheltenham showing both the monitored locations and sensors in real time.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<h2>Emergency contact</h2>
				<p>A key consideration for Endsleigh was sourcing a service provider that could guarantee to let them know of problems 24/7. Part of their remit was to ensure a robust method of emergency contact. They decided that purely relying on technology to alert them was flawed.</p>
				<p>The fact alerts can be sent via email and SMS is fairly standard but what would happen if they were not successfully delivered. Added to this, they needed any out-of-office hours alerts to be sent to their third party IT service desk by means of email and landline telephone call.</p>
				<p>They particularly value our third level of support whereby our UK based call centre will contact their managed support desk by phone if there is an issue.</p>
				<p><a href="/omniwatch/alerting/" class="button">Read more about alerting</a></p>
			</div>
			<div class="is-col">
				<img src="/images/omniwatch/rota-overview.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="grey is-inset-20">
			<div class="is-row is-items-middle is-text-center">
				{% for sensor in site.data.casestudy.endsleigh-insurance-sensors %}
				<div class="is-col is-33 {% if forloop.index < 4 %}is-stack-20{% endif %}">
					<img class="sensor-icon is-stack-20" src="{{ sensor.icon }}">
					<h3 class="device-header">{{ sensor.name }}</h3>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<h2>The results</h2>
				<p>Spook took ownership of the whole project; supplying and installing ethernet attached monitoring devices in each data centre. Sensors, including temperature, humidity, dew point and water ingress were installed at key positions within the rooms and attached to the units.</p>
				<blockquote>
					<p>We like the fact that Spook provides the monitoring solution, from the provision of the most appropriate hardware through the physical installation and software implementation. This is all presented neatly in one place using the web based OmniWatch service. This is an invaluable tool for us to centrally manage our data centre environments.</p>
				</blockquote>
			</div>
			<div class="is-col">
				<img src="/images/casestudy/endsleigh-insurance-dashboard.png">
			</div>
		</div>
		<p>Other key equipment including air conditioning units, generators and Uninterruptible Power Supplies (UPSs) were also added by way of fault indicating Voltage-Free Contacts (VFCs), which are, in turn connected to the monitoring devices. This allows for non-network attached equipment to be monitored by OmniWatch.</p>
		<p>The data is graphically presented centrally on the real-time OmniWatch dashboard in the head office IT department. Additionally, selected users are able to logon securely, allowing them to view and manage the same dashboard data on any Internet enabled device.</p>
		<blockquote>
			<p>The new OmniWatch service offers us a much improved method of monitoring key environmental and power metrics from our data centre's. Changes to trip thresholds and alarm escalation rotas are very easy to action and can be made from any web device. We have been long-term Spook customers and have the highest regard for the service and support we have received over the years.</p>
		</blockquote>
	</div>
</section>
