---
layout: base
---
<header style="background-image: url('{{ page.header-image }}'); background-size: cover; background-position: center;">
	<div class="container">
		<div class="is-50">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<img src="{{ page.customer-logo }}">
			</div>
			<div class="is-col is-70">
				<h2>Introduction</h2>
				<p>FE fundinfo (FE) is the UK's leading investment ratings and research agency. FE provides industry-leading investment data, software, and analysis trusted by thousands of financial advisers and institutions to make better investment decisions. FE Analytics is a powerful award-winning tool that combines genuinely comprehensive fund data with market-leading analysis.</p>
				<p>FE has data centres in Surrey and London, both of which are lights out facilities and as such are only attended for planned maintenance visits and system tape back-ups etc. FE recognised the need to monitor the environment of both rooms in order to help avoid or minimise unplanned IT outages causing business outages.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>The challenge</h2>
		<p>Once the decision was made to proceed with environmental monitoring, FE elected to purchase and install Ethernet attached monitoring devices together with a series of sensors for each of their IT locations. This proved to be an onerous task; firstly going through the pros and cons of the many products available online and then trying to get the hardware installed, configured and operational which proved time consuming and far from straight-forward.</p>
		<blockquote>
			<p>We originally purchased monitoring hardware and undertook to set it up ourselves in line with the manufacturers instructions. This we achieved, eventually, however it was far more time consuming than we had anticipated. The resource commitment to install these while maintaining other key projects to the business was deceiving, it took a lot longer than originally thought.</p>
			<p class="is-small">Glynne Evans, IT Systems Manager.</p>
	</div>
</section>
<section>
	<div class="container">
		<p>Not surprisingly the FE IT department is generally very busy ensuring the IT infrastructure is operational at all times and delivering IT services to its business and clients.</p>
		<blockquote>
			<p>Prior to involving Spook we found the overall management of our in-house monitoring solution inflexible at best especially when we decided to include additional sensors. We found this was distracting for our staff and often we would be squeezing time to do this work in our out of office hours time slots, which of course are always tight due to other work also needing attention.</p>
		</blockquote>
		<p>It became apparent to FE that what was needed was a relationship with a monitoring service provider that could deliver a joined up solution and take the monitoring headache away, allowing their staff to focus on their day-to-day tasks.</p>
		<blockquote>
			<p>We had already spent valuable time and money committing to monitoring. The cost of purchasing hardware and sensors was considerable; we needed to ensure this was maximised and not disposed with. We found there was only one service provider that had the skill and the focus to provide a truly joined up solution for us. We are pleased we engaged with Spook and for them to have implemented their software service OmniWatch around our existing investment.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The solution</h2>
		<p>After contacting Spook an on-site meeting was arranged for Spook to attend and understand how and why FE installed their monitoring hardware. Spook is particularly familiar with The Climate hardware as we have been re-sellers for the Geist Manufacturing range of products for over a decade.</p>
		<p>Consideration was given to any other areas where monitoring could prove valuable. By implementing OmniWatch meant additional network attached devices could be monitored and FE were able to add their network attached Uninterruptible Power Supply units (UPSs).</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Emergency contact</h2>
		<p>Although FE could configure the individual Climate Monitors to send emails and SMS messages they were nervous emails and SMS messages could be blocked or not delivered just at the time they needed them most. Also, they could never be sure the devices were working or the attached sensors were connected unless they logged on directly to each unit and browsed their respective firmware interfaces, which of course would be a rare check to make.</p>
		<p>FE particularly values our third level of support whereby our UK based call centre will contact FE staff by phone if there is a serious issue and emails and texts don't work. Equally valued is the fact OmniWatch is configured to sweep through all the monitoring devices and associated sensors regularly throughout the day. If no data is harvested from a device or a sensor becomes unplugged or faulty, OmniWatch lets FE know of the issue.</p>
		<blockquote>
			<p>We were never convinced relying on technology to contact us in terms of simple email and SMS was the best solution. We have relied on Spook's third level of support (the dedicated call centre) a few times now, guaranteeing we are aware of problems before they escalate to incidents we need to recover from. This allows us to rest easy at night knowing that someone is watching for us.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The result</h2>
		<p>In order to provide a centrally managed solution Spook implemented OmniWatch to interface with FE's own monitoring devices. Additional network attached monitoring devices and LAN attached UPS systems have since been added to provide an intuitive, joined up solution covering key power and environmental conditions.</p>
		<p>The data is graphically presented centrally on the real-time Omniwatch dashboard in the IT department. Selected users are able to logon securely, allowing them to view and manage the same dashboard data on any Internet enabled device.</p>
		<blockquote>
			<p>We have found the Spook team to be extremely helpful during changes of configuration, be it adding a single temperature probe or a complete datacentre relocation. We wouldn't hesitate to recommend Spook to anyone with a need for a professionally managed environmental monitoring solution.</p>
		</blockquote>
	</div>
</section>
