---
layout: casestudy/base
---
<style>
.sensor-icon{
	max-width: 80px;
	max-height: 80px;
}
.device-logo{
	max-width: 300px;
	max-height: 80px;
}
.device-subheader{
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 0;
}
.device-header{
	margin-top: 0;
	padding-top: 0;
}
.large-quote{
	color: #fff;
	font-size: 2em;
}
</style>
<header style="background-image: url('{{ page.header-image }}'); background-size: cover; background-position: center;">
	<div class="container">
		<div class="is-50 block is-inset-40">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<img class="width: 100%;" src="{{ page.customer-logo }}">
			</div>
			<div class="is-col is-70">
				<h2>Introduction</h2>
				<p>Olympia is arguably London's most prestigious exhibition venue with a heritage dating back over 125 years. Olympia's inaugural event, "The Paris Hippodrome" wowed Victorian London and helped seal its reputation as the world's leading exhibition space.</p>
				<p>The venue has hosted many of the world's most important events, including The First Great Horse Show in 1888 that became The London International Horse Show. The Ideal Home Exhibition, The Cycle and Motorcycle Show, The Boat Show and Crufts Dog Show have all exhibited at Olympia.</p>
				<p>In addition to exhibitions, Olympia has also hosted diverse events such as rock concerts (Jimi Hendrix, The Cure, Status Quo and Rod Stewart) boxing matches, tennis tournaments and the Miss World beauty pageant.</p>
				<p>In 2017 a consortium of investors led by Deutsche Finance and Yoo Capital purchased Olympia. Inspired by the venue's history and original purpose, their vision for the space will see Olympia transformed into a world-leading arts, events, entertainment and experiential district, to be enjoyed for the next 130 years and beyond.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="grey is-inset-20">
			<h2 class="is-stack-40">Monitored hardware</h2>
			<div class="is-row">
				<div class="is-col">
					<img class="device-logo" src="/images/devices/jacarta.svg">
					<h5 class="device-subheader">Jacarta</h5>
					<h3 class="device-header">interSeptor x3</h3>
				</div>
				<div class="is-col">
					<img class="device-logo" src="/images/devices/riello-ups.svg">
					<h5 class="device-subheader">Riello</h5>
					<h3 class="device-header">Uninterruptible power supply</h3>
				</div>
				<div class="is-col">
					<img class="device-logo" src="/images/icons/bulk-data.svg">
					<h5 class="device-subheader">Total sensors</h5>
					<h3 class="device-header">34</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<img src="/images/customer-logo/eforce.svg">
			</div>
			<div class="is-col">
				<h2>eForce</h2>
				<p>Following the demise of the dreaded Millennium Bug, Olympia created eForce, a wholly owned dedicated on-site IT division to deliver the highest of standards in exhibition information technology and support. Ten years on and eForce is recognised as one of the leading providers of IT services to the events industry.</p>
				<p>eForce are responsible for providing resilient IT services to Olympia and its paying Exhibitors. It is therefore critical that eForce ensures IT equipment and communications links remain operational during events as any interruption will have a direct impact on an event's success.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-30">
				<h2>The challenge</h2>
				<p>eForce have two Olympia IT rooms and a separate Disaster Recovery (DR) location at Canary Wharf. Business continuity is taken very seriously and significant investment has been made in this area to help avoid unplanned downtime. The latest enhancement in this area is the addition of Environmental Monitoring in all IT rooms.</p>
			</div>
			<div class="is-col is-70">
				<blockquote>
					<p>We live in an age whereby we need to protect the assets we have invested in. We need to maximise equipment longevity. The decision to monitor the IT operating environment's was based on ensuring the various types of equipment we have financed, ranging from blade servers to communications hubs, operate within the parameters recommended by manufacturers. By doing so we know warranties are valid and preventative maintenance can be road-mapped.</p>
					<p class="is-small">Rick Morley (Morley), eForce Engineering Manager.</div>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="container">
		<blockquote class="large-quote">
			<p>Being alerted immediately of any critical environmental change gives us valuable advanced warning as a form of disaster prevention. If we can address the nub of a problem before it becomes a serious issue then it means we remain in control and have the ability to take remedial action at the earliest possible stage.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<img src="/images/casestudy/interseptor-pro.jpg">
			</div>
			<div class="is-col">
				<h2>Jacarta interSeptor</h2>
				<p>eForce selected industry leading Jacarta interSeptor environmental monitoring units to install in both locations. Jacarta has been providing the IT industry with high quality, reliable monitoring systems and sensors since 1997.</p>
				<blockquote>
					<p>Once the decision to invest in monitoring was made, we searched for what was available on the Internet and after reviewing a few hardware manufacturers we honed our search down to a few providers.</p>
					<p>We wanted a UK based product and found there were only a few of those available. The decision to go with Jacarta was made easier based on the length of time they had been a manufacturer of monitoring hardware, so we went ahead and purchased both interSeptor and interSeptor Pro units to monitor temperature, humidity, water ingress and smoke. We also decided to include a motion detection sensor for a secure IT area; which would alert us of all comings and goings in the room.</p>
				</blockquote>
			</div>
		</div>
		<p>Once the order had been placed, the units were delivered and eForce set about installing them.</p>
		<blockquote>
			<p>Configuring the units was relatively straightforward", Morley explained. "There were a few areas of uncertainty but these were addressed when the manufacturer was contacted and clarification was sought. Technically they did what they said on the tin, however using them was somewhat clunky. The reference documentation on the firmware was dated 1996 so that raised a few concerns. That there had been no documented firmware improvements for 22 years was slightly disconcerting, however we felt that this was a low-risk purchase as the company had been in business for over 20 years.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<p>Morley had spoken to Spook during his initial fact finding exercise prior to buying any hardware and as such, he was aware of our OmniWatch service. Although happy with his choice of hardware, he was immediately aware of certain shortcomings that could be overcome by using OmniWatch, not least the ability to pull together sensor readings from all units and manage everything on one graphical dashboard, from any online device.</p>
		<blockquote>
			<p>OmniWatch is definitely a modern and technically advanced solution. The real-time dashboard is particularly valuable and we have this displayed permanently on a monitor in the IT department", Morley explained. "We can see immediately the real-time value of every sensor and if it is within its trigger points for our Olympia IT rooms and our remote DR location in Canary Wharf. Without this we would have to rely on browsing to each Jacarta unit separately.</p>
			<p>We could never be sure if the devices were working or the attached sensors were connected unless we logged on directly to each unit and browsed their respective firmware interfaces, which of course would be a rare check to make.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<h2>Emergency contact</h2>
				<p>Although he could configure the individual Jacarta devices to send emails and SMS messages for alerts, he was nervous these could be blocked or not delivered just at the time he needed them most.</p>
				<p>By using OmniWatch's three-tier emergency contact procedure he can configure individual sensors to alert his team via email and/or 2-way SMS and/or 24/7 UK Call Centre. This gives him the added re-assurance that if emails or SMS messages fail, a member of our dedicated call-centre will contact him and his team on a landline at the time of an alarm.</p>
				<blockquote>
					<p>This is hugely reassuring especially as the whole reason for monitoring is for disaster avoidance. As any IT professional knows, we work in a highly demanding area but we are human too. Like anyone else, we may sleep through an email or SMS in the early hours, but by getting a phone call from Spook’s call centre means we can relax, knowing our IT is protected 24/7.</p>
				</blockquote>
				<p>It's worth noting that OmniWatch is much more than a mechanism to just centrally manage monitoring units and handle alerts. Spook commits to continual development of OmniWatch software incorporating improvements often suggested by existing customers. All software development is done in-house which means we can work closely with our customers to plan a realistic software development roadmap. As new versions are released, all customers benefit.</p>
			</div>
			<div class="is-col">
				<img src="/images/omniwatch/rota-overview.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<img src="/images/casestudy/olympia-london-map.svg">
			</div>
			<div class="is-col">:
				<h2>Functionally rich</h2>
				<blockquote>
					<p>A key thing we had not given much thought to before using OmniWatch was how important trend data is for auditing purposes and for future planning. We didn't think of this while choosing hardware as all devices on the market are effectively data loggers and hold records of the most recent readings over a 30-day rolling period. New readings then overwrite old ones which is obviously not ideal.</p>
					<p>With OmniWatch all our readings are held in perpetuity and can be compared, drilled down to and averaged over any time frame of our choosing. This will be critical in any event of crisis management as we will want to interrogate data at times of alarm to see how this impacts other sensors. We are also able to conduct trend analysis for the environment which means we can plan for changes in the development of our IT areas as well as making existing areas more efficient.</p>
					<p>OmniWatch has allowed us to significantly enhance what we would otherwise get out of the interSeptor units. We don’t need to use the web-accessible functionality of the Jacarta units at all; instead we use them as a conduit to gather sensor readings, which are in turn collected by the OmniWatch program.</p>
					<p>As a footnote, we've also uncovered an old Jacarta unit which was installed years ago and promptly forgotten about. We may decide to re-commission it and include it on OmniWatch as well. I believe this helps to illustrate just how versatile OmniWatch is. We now benefit from a modern monitoring solution with very useful functionality that is being continually improved.</p>
				</blockquote>
				<p>In addition, as OmniWatch is designed to monitor any network device, Morley is considering including his UPS in order to benefit from a real-time dashboard view of his key power metrics.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>Conclusion</h2>
		<p>Morley was asked for his honest feedback on how he found dealing with Spook. Here's his response:</p>
		<blockquote>
			<p>To be honest, we are hugely impressed and are not used to a service provider being so helpful in offering impartial advice and actively seeking honest feedback.</p>
			<p>We have been contacted regularly since installing OmniWatch to ensure we are aware of best practices in driving what is a functionally rich, yet intuitive piece of software. Spook has helped us review our emergency contact procedures to ensure they are accurate and has also recommended changes to the monitored conditions to make our lives easy and to ensure there are no false alarms</p>
			<p>In the short time we have been using OmniWatch we have received a highly professional service which didn't stop once the solution went live. It's nice to deal with people who obviously care about their Company and the service they deliver to their customers. We are confident that this new partnership is one that we can rely on and look forward to working with Spook for years to come.</p>
		</blockquote>
		<p>If you would like to see how OmniWatch can breath new life into your existing monitoring devices feel free to Contact Us. We will be pleased to set up a no-obligation free trial and also give you the opportunity to speak with our existing customers to understand how they benefit from using our services.
	</div>
</section>
