<section>
  <div class="container">
    <div class="is-stack-60 is-text-center">
      <h2>Spook monitors a wide range of climate conditions</h2>
      <p>Are we missing the climate condition you are looking for? Get in contact with us to discuss how we can help.
      </p>
    </div>
    <div class="is-row">
      {% for item in site.data.environmental.key-climate-conditions %}
      <div class="is-col is-33 is-border is-stack-20 is-inset-20">
        <a href="{{ item.link }}" style="text-decoration: none; color: #333;">
          <div class="line-block-content">
            <img alt="{{ item.name }} monitoring" style="max-height: 60px; margin-right: 1em;" src="{{ item.icon }}">
            <div>
              <h4>{{ item.name }}</h4>
              <p>{{ item.tagline }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
