---
layout: monitoring/base
---
<style>
.introduction-img{
	max-width: 200px;
	display: block;
	margin: 1em auto;
}
</style>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<p>Spook's remote monitoring service called OmniWatch together with Spook’s range of wireless sensors help organisations that are regulated by The Medicines and Healthcare products Regulatory Agency (MHRA) of the United Kingdom (UK) and the Food and Drug Administration (FDA) of the United States of America (USA) provide audible data to prove their compliance.</p>
			</div>
			<div class="is-col">
				<img alt="FDA" class="introduction-img" src="/images/sections/biotech/introduction/fda.svg">
				<img alt="MHPRA" class="introduction-img" src="/images/sections/biotech/introduction/mhpra.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>Controlled environmental guarantee</h2>
		<p>B&P's must guarantee that their products have been maintained in strictly controlled environments. This often requires a significant expense in the implementation and overhead for advanced environmental monitoring systems.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>What's the difference between biotec's and pharma?</h2>
		<p>Biotechnology and pharmaceutical companies both produce medicines, but the medicines made by biotechnology companies are derived from living organisms while those made by pharmaceutical companies generally have a chemical basis. Both share the requirement to store drugs in secure refrigerators for regulatory compliance.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Regulatory compliance</h2>
		<p>Because Spook wireless sensor readings are held in perpetuity means users can prove, via audit trail, that they have complied in accordance with the MHRA and FDA regulations.</p>
		<p>B&P's have many reasons to monitor the environment. Spook has a wide variety of wireless sensors available. However there are some common areas they share.</p>
	</div>
</section>
	</div>
</section>
{% for item in site.data.monitoring.biotech-sensors %}
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<h2>{{ item.name }}</h2>
				{% for paragraph in item.words %}
				<p>{{ paragraph }}</p>
				{% endfor %}
				{% if item.link %}<p><a href="{{ item.link }}" class="button">{{ item.name }} information</a></p>{% endif %}
			</div>
			<div class="is-col">
				<img alt="{{ item.name }}" style="display: block; margin: 0 auto; padding: 20px" src="{{ item.image }}">
			</div>
		</div>
	</div>
</section>
{% endfor %}
<section>
	<div class="container">
		<h2>Compliance monitoring</h2>
		<p>Perishable food should always be kept out of the danger zone of 8 - 63ºC to prevent the growth of harmful bacteria.</p>
		<p>Chilling food does not kill bacteria, but it does stop them from growing to harmful levels. Because of this, it is a legal requirement that perishable foods should be kept refrigerated at 8ºC or below. Frozen food should ideally be kept at a temperature at or below -18ºC.</p>
		<p>It is good practice to check and record fridge and freezer temperatures at least once per day.</p>
		<p>If a fridge cannot keep food below 8ºC, it must be serviced or replaced.</p>
	</div>
</section>
