---
layout: monitoring/base
---
<section>
	<div class="container">
		<p>Spook’s remote monitoring service called OmniWatch together with Spook’s range of wireless sensors help organisations that are regulated by The Medicines and Healthcare products Regulatory Agency (MHRA) of the United Kingdom (UK) and the Food and Drug Administration (FDA) of the United States of America (USA) provide audible data to prove their compliance.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Controlled environmental guarantee</h2>
		<p>B&P’s must guarantee that their products have been maintained in strictly controlled environments. This often requires a significant expense in the implementation and overhead for advanced environmental monitoring systems.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>What’s the difference between Biotec’s & Pharma?</h2>
		<p>Biotechnology and pharmaceutical companies both produce medicines, but the medicines made by biotechnology companies are derived from living organisms while those made by pharmaceutical companies generally have a chemical basis. Both share the requirement to store drugs in secure refrigerators for regulatory compliance.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Regulatory compliance</h2>
		<p>Because Spook wireless sensor readings are held in perpetuity means users can prove, via audit trail, that they have complied in accordance with the MHRA and FDA regulations.</p>
		<p>B&P’s have many reasons to monitor the environment. Spook has a wide variety of wireless sensors available. However there are some common areas they share.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Temperature</h2>
		<p>Spook’s wireless temperature sensors monitors sensitive areas whereby without warning there is a problem, will cause non-compliance issues. Therefore by receiving early warnings of changes in temperature gives valuable time to check or remedy the situation.</p>
		<p>Temperature creep is also important to know. As time goes by fridges and freezers can become less efficient, by spotting the inefficiency before it becomes a problem means preventative maintenance programs can be easily implemented.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Mains power</h2>
		<p>Many medicines need to be refrigerated and loss of power can be catastrophic. Causes of loss of power are typically broken circuit breakers, blown fuses, wiring issues, or faulty storage room control boards. Spook’s wireless A/C (Alternating Current) meters measure power consumption and this is a clear indicator to ensure everything is working fine. If the motor of the refrigeration unit is constantly running, this could indicate a refrigerant leak or another leak elsewhere that is allowing cold air to escape.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Water Ingress</h2>
		<p>Spook wireless water sensors check there is no leaking water or ice buildup in refrigerators. Water ingress alerts indicate underlying problems with the coolant inlet which will require professional maintenance to fix. Medicines should be destroyed if water contamination occurs.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Security</h2>
		<p>Spook wireless activity detection sensors are ideal to detect movement. Once an established a pattern of behaviour is identified, it is easy to be alerted if unexpected movement is detected. By monitoring when areas are entered helps prove that compliance is met.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Boundary/pressure pad sensors</h2>
		<p>e sensors are ideal for areas that need to allow activity in an area but ensure security is adhered to in difficult to control areas such as open racking for medicine and chemistry components. Often these areas need protecting to ensure no one intrudes beyond the permitted area.</p>
		<p>By installing Spook wireless open/closed sensors to IR beams and pressure pads, any vulnerable area can be monitored with ease.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Open/closed status</h2>
		<p>Spook wireless open/closed sensors provide information on the status of doors, windows, cabinets, etc. Knowing if doors or windows are open is an important feature. Cabinets and rooms that contain secure items may also need to be monitored.</p>
		<p>Spook wireless sensors for remote monitoring helping maintain the cold chain for constant refrigeration.</p>
		<p>Refrigerators and freezers are essential for certain businesses in order to remain functioning. In the case of an outage, there is a lot of time and money spent trying to get operations back on track.</p>
		<p>Spook’s OmniWatch remote monitoring service together with Spook’s wireless sensor range is designed to give early advanced warning of changes in the environment to give valuable thinking and reaction time to save the contents of faulty fridges and freezers.</p>
		<p>Refrigerators and freezers usually have many thousands of pounds worth of food supplies in them which need to be kept at a specific temperature to avoid spoilage. Walk-in coolers are accessed frequently throughout the day, but are rarely monitored after a restaurant or business closes for the evening. This period of time is where the most damage occurs as perishables can be left in an ever-increasing temperature, often too late to save the next morning.</p>
		<p>While repairs can be costly for these machines, the real expense of rising temperatures is the irreplaceable damage done to product inside.</p>
		<p>Equally important is storing the goods in known food hygiene limits to ensure safety in public consumption. OmniWatch is designed to alert customers to sudden changes that may impact the uptime of their refrigeration units and as a consequence protect refrigerated or frozen produce. Some of the more common issues seen with coolers or freezers can all be monitored by OmniWatch.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Chiller temperature and humidity</h2>
		<p>Spook wireless humidity sensors monitor temperature and humidity within a single sensor enclosure. These monitor the efficiency of chillers as it is easy for them to be affected by incorrect temperature settings and tolerances.</p>
		<p>High humidity or temperature within a chiller, or during the thawing process, will allow surface growth of mould and food degradation. These need to be kept as low as possible.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Air flow</h2>
		<p>Spook wireless airflow sensors are ideal to monitor the air speed and airflow of refrigerating units. Ensuring chilled air is equally distributed in a large unit filled with produce is key to food security and ensuring the longevity of perishable goods.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Open/closed status</h2>
		<p>Spook wireless open/closed sensors provide information on the status of doors. Monitoring the opening and closing of chiller doors to ensure activity is kept to a minimum is key to ensure proper temperatures are maintained.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Mains power</h2>
		<p>Causes of loss of power are typically broken circuit breakers, blown fuses, wiring issues, or faulty storage room control boards. Spook’s wireless A/C (Alternating Current) meters measure power consumption and this is a clear indicator to ensure everything is working fine. </p>
		<p>Sudden loss of power is not necessarily catastrophic as the internal cold temperature of a refrigeration unit will continue for a short while. However, knowing there is loss of power to a chiller unit before temperature rises gives valuable reaction time to either fix the problem or transfer the contents of the effected unit to alternative chillers as a short term alternative.</p>
		<p>Also, if the motor of the refrigeration unit is constantly running but the temperature is rising could indicate a refrigerant leak or another leak elsewhere that is allowing cold air to escape.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Compliance monitoring</h2>
		<p>Perishable food should always be kept out of the danger zone of 8 - 63ºC to prevent the growth of harmful bacteria.</p>
		<p>Chilling food does not kill bacteria, but it does stop them from growing to harmful levels. Because of this, it is a legal requirement that perishable foods should be kept refrigerated at 8ºC or below. Frozen food should ideally be kept at a temperature at or below -18ºC.</p>
		<p>It is good practice to check and record fridge and freezer temperatures at least once per day.</p>
		<p>If a fridge cannot keep food below 8ºC, it must be serviced or replaced.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Hazard Analysis and Critical Control Point (HACCP)</h2>
		<p>OmniWatch can help HACCP planning and execution by:</p>
		<ul>
			<li>Identify what could go wrong and what risks there are to food safety</li>
			<li>Identifying any critical control points the areas a business needs to be monitored</li>
			<li>Decide who to contact and how if something goes wrong</li>
			<li>Produce reports and audit changes to prove your procedures are working</li>
		</ul>
	</div>
</section>
