---
layout: base
---

<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h3>Ensuring continued IT connectivity for a business to its users and customers.</h3>
                <h1>Comms room monitoring</h1>
				<p>Comms rooms (also known as communications rooms) are usually dedicated rooms hosting communication and network equipment. They are designed as distribution hubs for communicating from the main IT room to users within a building. Comms rooms usually have hubs, routers, servers, switches, firewalls, storage devices, telephony, access control and security equipment installed within them.</p>
            </div>
            <div class="is-col">
                <img alt="Network switch" src="/images/devices/network-switch.svg">
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <h2>Spook Comms room monitoring</h2>
    <p>Spook's remote cloud based monitoring service, called OmniWatch, helps IT managers keep a remote eye on their comms rooms. Because comms rooms often contain less equipment than that of a server room the operating environment can usually be more relaxed albeit still important.</p>
    <p>Digital communications and network devices in comms rooms normally do not have as many moving parts to contend with compared to their server room counterparts. As a consequence the climate of a comms room can often run at warmer temperatures and are more power efficient as cooling units run in a less stressed state.</p>
    <p>Many comms rooms are distributed away from the main server room and are behind secure doors, therefore remote monitoring is an important function. OmniWatch is designed to alert users to changes in the climate of a comms room that could easily go unnoticed. Key things like temperature or monitoring the air flow of a cooling unit can help protect a comms room and prevent it from facing unplanned downtime.</p>
  </div>
</section>
<section>
    <div class="container">
        <h2>Typical monitored conditions</h2>
        {% for sensor in site.data.monitoring.comms-room-sensors %}
        <div class="is-row is-items-middle is-stack-8 is-border is-inset-6 is-small">
            <div class="is-col is-10">
				<img alt="{{ sensor.name }}" class="is-inset-8" style="max-height: 60px;" src="{{ sensor.icon }}">
            </div>
            <div class="is-col is-20">
                <p><strong>{{ sensor.name }}</strong></p>
            </div>
            <div class="is-col is-70">
                <ul class="is-bar is-muted">
                {% for use in sensor.uses %}
				{% if forloop.index != 1 %}<li>|</li>{% endif %}
				<li>{{ use }}</li>
				{% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>Contact Spook</h2>
                <p>Please contact us if you wish for further information on how Spook can help you monitor your comms rooms.</p>
                <p><a href="/contact/" class="button">Contact us</a></p>
            </div>
            <div class="is-col">
                <blockquote>
                    <p>We run our IT infrastructure spread over five buildings with multiple warehouses and bottling plants. Our server rooms and comms rooms have their own security procedures depending where they are located which means attending them throughout the day just to check things are OK is impossible. Spook OmniWatch lets us monitor the environment in each of these areas seamlessly.</p>
                    <p class="is-small">Refresco - The worlds largest bottler of beverages.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
