---
layout: base
---
<header>
	<div class="container">
		<h1>Comms room monitoring solution</h1>
		<h3>Ensuring continued IT connectivity for a business to its users and customers.</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>We run our IT infrastructure spread over five buildings with multiple server rooms and comms rooms. OmniWatch from Spook lets us monitor the environment in each of these areas seamlessly.</p>
			<p class="is-small">Refresco - The worlds largest bottler of beverages.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>What is a comms room?</h2>
		<p>Comms Rooms (also known as communications rooms and comms closets) are usually dedicated rooms hosting communication and network equipment.</p>
		<p>This typically includes communication hubs, routers, servers, switches, firewalls, storage devices, telephony, access control and security equipment.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook's experience of monitoring comms rooms.</h2>
		<p>By definition a comms room is shared room for communications and network devices of a business. As they are usually shared rooms typically all relevant technical digital equipment is hosted there.</p>
		<p>The devices stored or hosted in a comms room are typically administrated by the IT department remotely through telnet, SSH (Secure Shell), remote desktop, or VNC applications.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The changing landscape of IT</h2>
		<p>Comms rooms have become increasingly important to connecting the IT needs of a business to its users and customers. As the mechanism of connectivity to IT services they are the 'pinch points' a company relies on especially if they have remote file servers as in the case of cloud computing or Co-Location (Co-lo) services. If a comms room fails a businesses users can not do their jobs and more often than not, its customers suffer too.</p>
		<p>The electronic devices in the comms room can usually run at a higher temperature as digital communications and network devices do not have as many moving parts to that of a server.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Comms room environmental monitoring</h2>
		<p>Because comms rooms are usually smaller in physical size it's important to monitor the key environmental areas such as temperature and water ingress.</p>
		<p>Although humidity monitoring and dew point monitoring can be helpful they are sometimes not as important when compared to knowing the room is not too hot or that there may be the risk of water damage to kit.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Comms room power monitoring</h2>
		<p>Comms rooms often get their power from another part of the building. If part of a larger IT installation, a comms room may get power straight from a central Uninterruptible Power Supply in the server room (UPS monitoring).</p>
		<p>In cases where this can not be done, smaller rack mounted UPS systems are usually installed to provide emergency power in the event of a power outage.</p>
		<p>By monitoring the power metrics of the UPS systems means power can be checked and measured so when there are issues, key staff are alerted and they can intervene to limit any power related issues.</p>
	</div>
</section>
<section>
	<div class="container">
		<p>other monitoring solutions</p>
	</div>
</section>
