---
layout: base
---

<section>
    <div class="container">
		<div class="is-row is-gapless">
			<div class="is-col" style="background-color: #121212; color: #fff; padding: 1em 2em;">
				<h3>Monitor large installations from a single dashboard</h3>
				<h1>Data center monitoring</h1>
				<p>Data centers (also known as data centre) are usually purpose built dedicated facilities to house computing equipment such as main frames, servers, routers, switches and firewalls, as well as supporting components like backup equipment, fire suppression facilities and air conditioning (AC) units.</p>
				<p><a class="button is-inverted" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-inverted is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
			</div>
			<div class="is-col">
                <div style="min-width: 100%; min-height: 100%; background-image: url('/images/monitoring/data-center/data-center-header-image.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook data center monitoring</h2>
		<p>Spook's remote cloud based monitoring service called OmniWatch provides data center managers with is an early warning system to avoid unplanned IT downtime and to present trend analysis tools to achieve KPI's (Key Performance Indicators), enhance efficiency gains, make informed decisions for power load balancing and assist planned preventative maintenance programs.</p>
		<p>Today's data centers are forever evolving. New technology is being developed at an exhausting rate and although traditional IT infrastructure is still core to an organisation it often shares off-premise multi-cloud environments too. This means the requirement to remotely monitor key IT environments in terms of the climate where IT equipment resides, together with understanding power utilisation has never been so challenging.</p>
		<h2>Lights out</h2>
		<p>In Spook's experience most data center staff are located some distance from the physical data center, often in a different part of the business, or sometimes in a different part of the country or world. Physical visits are rare and normally confined to when on-site work is actually required.</p>
		<p>OmniWatch remote monitoring lets data center managers and their teams ensure they are immediately aware of key changes within their data centers that could impact the delivery of IT services as and when they occur. This gives them valuable early warnings to events that, if go unnoticed could cause unplanned down time.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<div style="background-color: #212121; color: #fff; padding: 1em 2em; margin-bottom: 1em;">
					<h2>Types of data center</h2>
					<p class="is-large">There are typically four types of data center and OmniWatch provides powerful, intuitive remote monitoring for all variations.</p>
				</div>
			</div>
			<div class="is-col is-70">
				<h3>1. Enterprise data centers</h3>
				<p>An enterprise data center is owned by an organisation for delivering IT services to their own employees and customers. They are often found within a corporate campus but some are purpose built and remotely linked via structured communications links.</p>
				<h3>2. Managed service data centers</h3>
				<p>Managed service data centers provide core IT services to organisations but the IT environment is owned and managed by a third party. Organisations lease their IT and communications equipment instead of buying it themselves.</p>
				<h3>3. Colocation data centers</h3>
				<p>Colocation data centres (often referred to as colo) provides the opportunity for an organisation to rent dedicated space instead of owning it themselves. By doing so, economies of scale can be shared in the common infrastructure of the colo in terms of the buildings fabric, cooling systems, communications bandwidth and security etc., whilst the organisation owns its own IT equipment such as servers, storage and firewalls.</p>
				<h3>4. Cloud data centers</h3>
				<p>A cloud data center is off-premise whereby data and applications are hosted by a cloud services provider. This lets organisations be flexible and they can ramp up or scale down their changing IT needs at short notice. They benefit from not having to invest in heavy infrastructure in order to provide IT resources to their users and customers, instead they simply set budgets for the provision of IT services.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/monitoring/data-center/power-consumption-chart.svg">
			</div>
			<div class="is-col">
				<h2>Power efficiency</h2>
				<p>Data centres contain hundreds and sometimes thousands of power hungry devices ranging from servers, air cooling systems and communication hubs. The provision of power to its equipment is an expensive overhead but by measuring power consumption and understanding where running costs can be saved is hugely beneficial. It is the one ongoing cost a data center manager can be influential in reducing year-on-year.</p>
				<p>Therefore effort is usually placed in measuring power efficiency in the form of Power Usage Effectiveness (PUE) and Data Centre Infrastructure Efficiency (DCiE). By measuring power efficiency in real-time lets data center managers make informed decisions on how to lower operating costs without compromising service delivery.</p>
			</div>
		</div>
    </div>
</section>
<section class="grey">
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-30">
				<img src="/images/icons/remote-working.svg">
			</div>
			<div class="is-col is-70">
				<h2>Remote working</h2>
				<p>The Covid-19 epidemic of 2020 has meant more organisations are embracing remote working policies than ever before.</p>
				<p>Data center staff are uniquely poised to take advantage of remote working as they are rarely needed to be on-site in order to deliver IT services to their businesses, staff or customers.</p>
				<p>OmniWatch assists by providing enterprise centric remote monitoring 24/7.</p>
			</div>
		</div>
	</div>
</section>
<section>
    <div class="container">
        <h2 class="is-stack-20">Typical monitored conditions</h2>
        {% for sensor in site.data.monitoring.data-center-sensors %}
        <div class="is-row is-items-middle is-stack-8 is-border is-inset-20 is-small">
            <div class="is-col is-10">
                <img class="is-inset-8" style="max-height: 60px;" src="{{ sensor.icon }}">
            </div>
            <div class="is-col is-20">
                <p><strong>{{ sensor.name }}</strong></p>
            </div>
            <div class="is-col is-70">
                <ul class="is-bar is-muted">
                {% for use in sensor.uses %}
				{% if forloop.index != 1 %}<li>|</li>{% endif %}
				<li>{{ use }}</li>
				{% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>Contact Spook</h2>
                <p>Please contact us if you wish for further information on how Spook can help you monitor your comms rooms.</p>
                <p><a href="/contact/" class="button">Contact us</a></p>
            </div>
            <div class="is-col">
                <blockquote>
                    <p>Over the weekend Spook alerted us to a series of temperature fluctuations in our data centre and because of OmniWatch we were able to deal with air conditioning issues long before they became a real problem.</p>
                    <p class="is-small">Henry Schein - A Fortune 500 company and the only global dental medication distributor.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
