---
layout: base
---
<header>
	<div class="container">
		<h1>Data center monitoring service</h1>
		<h3>Early warning system to avoid unplanned downtime and trend analysis tools for efficiency gains.</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>Over the weekend Spook alerted us to a series of temperature fluctuations in our data centre and because of OmniWatch we were able to deal with air conditioning issues long before they became a real problem.</p>
			<p class="is-small">Henry Schein - A Fortune 500 company and the only global dental medication destributor.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>What is a data centre?</h2>
		<p>Data centres (also known as Datacentre, Data Centre, Datacenter) are dedicated facilities, purpose built to house computing equipment such as main frames, servers, routers, switches and firewalls, as well as supporting components like backup equipment, fire suppression facilities and air conditioning (AC) units.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook's experience of monitoring data centres</h2>
		<p>Spook's data centre customers range from legacy buildings to new builds. They typically have high levels of design and employ power and communications redundancy to ensure maximum uptime. Investment in kit and building fabric is typically considerable.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Perpetual data collection</h2>
		<p>The majority of data centre IT equipment usually has some level of inherent monitoring. The problem is that each have different functions and controls. This means data centre managers and IT teams need to learn different ‘languages' for disparate equipment.</p>
		<p>To complicate matters any changes need to be micro managed. Even a simple email or phone number change can mean hundreds of updates need to be rolled out across the enterprise.</p>
		<p>With Spook's monitoring service, OmniWatch, it's easy. Once the dynamic on-call rota is set up via the secure cloud based console, any changes are applied centrally. These can be amended at any time, with ease.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Monitor, measure and control</h2>
		<p>By monitoring key environmental conditions, power metrics and 3rd party equipment a data centre can not only remedy any potential threatening change in a monitored condition at the earliest of stages, it can also intelligently use the collected data for trend analysis, planned maintenance and load balancing and measuring key performance indicators (KPI's).</p>
		<p>The available sensors are endless and depend on the type of equipment being monitored but here are some examples of the most popular.</p>
		<p>Add sensor examples here</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Warranty protection</h2>
		<p>There are many different types of equipment in a data centre, each with its own dependancies.</p>
		<p>Manufacturers of IT equipment issue guidance as to the optimum environmental operating condition for equipment to be kept within in order to maintain warranties. If these are not adhered to warranties inevitably get questioned and in some circumstances they are in danger of being voided.</p>
		<p>By investing in Spook’s leading environmental monitoring solution means customers are able to easily stay on top of this and produce evidence based reports at the touch of a button.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook's data centre infrastructure management (DCIM) service</h2>
		<p>DCIM started out as a component of building information modelling (BIM) software, which is used by facilities managers (FM) to create building digital schematic diagrams.</p>
		<p>DCIM tools bring the same capabilities to data centres, allowing administrators to collate, store and analyse data related to power and cooling in real time.</p>
		<p>The topic of DCIM touches many departments and often spans a data centre's availability and IT reliability requirements. It can identify and eliminate sources of risk to increase availability of critical IT systems (IT) as well as identifying interdependencies between the IT infrastructure teams and the FM department.</p>
		<p>Spook's OmniWatch Monitoring Service has evolved in-line with customer requests, therefore DCIM has organically grown as a natural by-product. OmniWatch presents a joined up, easy to use DCIM solution that is modern and functionally rich.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook's data centre environmental monitoring solution</h2>
		<p>Ensuring the temperature of IT rooms and IT racks are at a level that will not compromise the efficient running of the equipment contained within is invaluable. Humidity and dew point have important properties too, even air-flow monitoring can be a key indicator that the room is acting unusually.</p>
		<p>Monitoring water ingress to detect leaks from air conditioning units and flooding from other areas of the building that may not be IT related such as toilet blocks, water points and pipework and natural floods is vital.</p>
		<p>Many potential water ingress points are hidden under raised floors, in false ceiling voids and in adjacent parts of the building, not necessarily directly associated with the data centre.</p>
		<h3>What is the ideal temperature for a server room?</h3>
		<p>ASHRAE issued its first thermal guidelines for data centres in 2004 and recommended temperatures be maintained between 20 and 25°C. They have since stated the ideal range is between 5 to 45°C due to a shift in importance from reliability and uptime to a more energy saving and green approach in equipment.</p>
		<p>ASHRAE issued its first thermal guidelines for data centres in 2004 and recommended temperatures be maintained between 20 and 25°C. They have since stated the ideal range is between 5 to 45°C due to a shift in importance from reliability and uptime to a more energy saving and green approach in equipment.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Data centre power monitoring</h2>
		<p>Monitoring and measuring power in a data centre has become fundamental. Whether there is a requirement to monitor key power breakers to the data centre via appropriate metering (which provides real-time power load data) or rack level monitoring measuring the power metrics of a power distribution unit (PDU monitoring), each gives valuable power metrics that can be taken into account when installing new equipment or building in appropriate redundancy to the location.</p>
		<p>They do this by investing in and deploying Uninterruptible Power Supplies (UPS monitoring) and installing back-up generators (generator monitoring).</p>
		<p>By measuring key power metrics and monitoring equipment status levels means early warnings to power related issues can be managed efficiently.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Data centre power efficiency monitoring</h2>
		<p>The industry standard for measuring these efficiencies is known as Power Usage Efficiency (PUE) and Data Centre Infrastructure Effectiveness (DCiE).</p>
		<p>By monitoring PUE and DCiE in real-time ensures a business can measure and create a clear audit as efficiencies are gained. Spook's free PUE/DCiE calculator will give you an insight into how efficient your power efficiency is.</p>
		<p>The objective is to ensure that the maximum possible percentage of power utilised in a data centre is actually used by IT equipment and the minimum by supporting equipment such as AC units.</p>
		<p>Clearly things such as antiquated and/or unreliable AC units will have an adverse effect on the power efficiencies. </p>
		<p>However knowing what the power efficiency figures in real time and being able to review these over time allows customers to highlight areas for improvement for a better overall power efficiency rating.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook is an approved Endorser of the European Code of Conduct for data centres</h2>
		<p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy consumption in data centres and the need to reduce the related environmental, economic and energy supply security impacts.</p>
		<p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a cost-effective manner without hampering the mission critical function of data centres.</p>
		<p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data centre, raising awareness, and recommending energy efficient best practice and targets.</p>
	</div>
</section>
<section>
	<div class="container">
		<p>other monitoring solutions</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Get in touch with Spook</h2>
		<p>Please contact us if you wish for further information on how Spook can help with your environmental and power monitoring needs.</p>
		<p><a href="#" class="button">Contact us</a></p>
	</div>
</section>
