---
layout: base
---
<section>
 <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h3>First line of defense for disaster recovery</h3>
        <h1>Early warning alerts</h1>
	<p>By monitoring multiple equipment types and handling their alerts in a centralised, easy to use interface means users don’t have to rely on understanding how to drive numerous equipment manufacturers hardware types.</p>
	<p>Alerts are handled in a straight forward, no nonsense way to ensure rapid communication to an organisations key personnel.</p>
	<p>By taking remedial actions at early stages of a problem means organisations can contain a situation and fix it with little or no disruption to its business.</p>
    <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
      </div>
      <div class="is-col">
        <div style="width: 400px; height: 400px; background-image: url('/images/monitoring/disaster-recovery/disaster-recovery-header-image.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30" style="background-color: #212121;color: #fff;">
    <div class="is-inset-20">
     <h2>Over 72% of all OmniWatch alarms are critical.</h2>
    </div>
      </div>
      <div class="is-col is-70">
	<h2>Spook monitoring for disaster avoidance</h2>
	<p>With nearly three quarters of OmniWatch's alarms proving critical means OmniWatch is instrumental in restricting business disruption. Many events that could cause a DR invocation are preventable, for instance, should water ingress such as a burst pipe threaten the fabric of a server room, if it is dealt with immediately it may have little or no effect on the continued delivery of IT services.</p>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #212121; color: #fff;">
 <div class="container">
  <h5>OmniWatch remote monitoring service</h5>
  <h2>First line of defence for disaster avoidance</h2>
  <p>A poll of Spook customers during the Covid-19 epidemic of 2020 confirmed that less than 30% tested their disaster recovery plans.</p>
  <p>Our users rely on OmniWatch to be their first line of defence against disaster recovery invocations. By monitoring key climate and power conditions and important third party equipment such as UPSs and generator sets OmniWatch is a perfect solution for organisations who need to monitor from afar.</p>
 </div>
</section>
<section class="grey">
 <div class="container">
  <div class="is-row is-items-middle">
   <div class="is-col is-30">
    <img alt="Remote working" class="is-stack-20" src="/images/icons/remote-working.svg">
   </div>
   <div class="is-col is-70">
    <h2>Spook Remote IT monitoring for remote IT teams</h2>
    <p>Cloud services and remote working for employees has proven to be the world's biggest beneficiary to the Covid-19 crisis. Many organisations have realised the impact of the virus and responded by deploying remote working or flexible working policies for their employees wherever possible.</p>
    <p>It is generally agreed that traditional DR testing will be even less since in years to come as many organisations adopt DRaaS (Disaster Recovery as a Service) thus enabling data recovery within a few minutes depending on the server without any interruption within the business operation if any disaster occurs.</p>
   </div>
  </div>
 </div>
</section>
<section>
  <div class="container">
    <h2 class="is-stack-20">Typical monitored conditions</h2>
    {% for sensor in site.data.monitoring.disaster-recovery-sensors %}
    <div class="is-row is-items-middle is-stack-8 is-border is-inset-20 is-small">
      <div class="is-col is-10">
    <img alt="{{ sensor.name }}" class="is-inset-8" style="max-height: 60px;" src="{{ sensor.icon }}">
      </div>
      <div class="is-col is-20">
        <p><strong>{{ sensor.name }}</strong></p>
      </div>
      <div class="is-col is-70">
        <ul class="is-bar is-muted">
        {% for use in sensor.uses %}
    {% if forloop.index != 1 %}<li>|</li>{% endif %}
    <li>{{ use }}</li>
    {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Avoid potential financial loss from unplanned downtime</h2>
        <p>According to various reports and studies up to 80% of data centres do not have adequate or in some cases any back-up power generation facility. Therefore the potential financial cost of such disruption is significant.</p>
        <p>A <a href="http://img2.insight.com/graphics/uk/shop/ca/ca-acd-report.pdf">CA Technologies study</a> found that €17 billion in revenue is being lost in each year in the time taken to recover from unplanned IT downtime. The study also comments that post-downtime there is an additional delay during which time data is still being recovered and that during the post-outage period, company revenue generation is still severely hampered, down by an average of 25%.</p>
      </div>
      <div class="is-col">
        <img alt="Disaster recovery monetary loss graph" style="max-height: 400px;" src="/images/monitoring/disaster-recovery/loss-graph.svg">
      </div>
    </div>
    <table class="is-bordered">
      <thead>
        <tr>
          <th>Country</th>
          <th class="is-text-right">Total lost revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UK</td>
          <td class="is-text-right">€2,681,000,000</td>
        </tr>
        <tr>
          <td>France</td>
          <td class="is-text-right">€6,406,000,000</td>
        </tr>
        <tr>
          <td>Germany</td>
          <td class="is-text-right">€4,236,000,000</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td class="is-text-right">€2,906,000,000</td>
        </tr>
        <tr>
          <td>Italy</td>
          <td class="is-text-right">€428,000,000</td>
        </tr>
        <tr>
          <td>Belgium</td>
          <td class="is-text-right">€194,000,000</td>
        </tr>
        <tr>
          <td>Netherlands</td>
          <td class="is-text-right">€329,000,000</td>
        </tr>
        <tr>
          <td>Norway</td>
          <td class="is-text-right">€377,000,000</td>
        </tr>
        <tr>
          <td>Finland</td>
          <td class="is-text-right">€443,000,000</td>
        </tr>
        <tr>
          <td>Sweden</td>
          <td class="is-text-right">€754,000,000</td>
        </tr>
        <tr>
          <td>Denmark</td>
          <td class="is-text-right">€281,000,000</td>
        </tr>
        <tr>
          <th>Total</th>
          <th class="is-text-right">€19,035,000,000</th>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Contact Spook</h2>
        <p>Please contact us if you wish for further information on how Spook can help you prevent invoking disaster recovery.</p>
        <p><a href="/contact/" class="button">Contact us</a></p>
      </div>
      <div class="is-col">
        <blockquote>
          <p>We were alerted to a water leak from a kitchen adjacent to our server room over the weekend. When we arrived on-site the main cold water pipe had burst and was spreading pressurised water from the kitchen to the server room under the false floor. We were able to deal with the problem immediately rather than waiting to face the issue during the working week. We managed to stop the mains incoming water supply and dry out the area over the weekend which minimised disruption for workers as they arrived on Monday morning. We are certain this stopped us needing to invoke our DR procedure.</p>
          <p class="is-small">Heartwood Investment Management - A part of Handelsbanken Group</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
