---
layout: base
---

<section>
	<div class="container">
		<h1>Facilities monitoring</h1>
		<p>Facilities monitoring (also known as facility monitoring or facility management) by definition is a permanent, semi-permanent, or temporary commercial or industrial property. The buildings hard facilities are typically managed by the facilities department.</p>
	</div>
<section>
<section>
	<div class="container">
		<p>Facilities management is divided into two distinct areas, soft facility management and hard facility management. Spook is used to assist the hard facility management function.</p>
		<p>Typical areas of hard facilities monitoring are:</p>
		<ul>
			<li>Infrastructure and information communications & technology (ICT)</li>
			<li>Maintenance and warranty support</li>
			<li>Delivering new technology</li>
			<li>Ensuring business continuity</li>
			<li>Regulatory compliance</li>
			<li>Mechanical, electrical and plumbing (MEP)</li>
			<li>Technical services</li>
			<li>Building Management Systems (BMS)</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<h2>Disparate equipment monitoring</h2>
		<p>Facility departments often struggle to monitor disparate equipment from many different manufacturers across the enterprise. OmniWatch is perfectly poised to assist by collecting data across multiple protocols of manufactured equipment such as SNMP, JSON, XML, Modbus and BACnet.</p>
		<p>The key to providing remote monitoring to the facility management team is making monitoring simple, intuitive and available all in one place. OmniWatch can monitor many different types of equipment including:</p>
		<ul>
			<li>Uninterruptible Power Supplies (UPSs)</li>
			<li>Generator sets</li>
			<li>Cooling/temperature systems</li>
			<li>Air conditioning units</li>
			<li>Water cooling systems</li>
			<li>Fire protection systems</li>
			<li>VESDA (Very Early Smoke Detection Apparatus)</li>
			<li>HSSD (High Sensitivity Smoke Detection)</li>
			<li>Gas suppressant systems</li>
			<li>Water detection systems</li>
			<li>Intruder alarm systems</li>
			<li>Building Management Systems (BMS)</li>
			<li>Building flood defences</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<p>OmniWatch is perfect for the facility monitoring department as it has evolved in-line with facility manager led requests for new equipment to be added to its ever increasing pool of hardware manufacturers and devices as well as designing functionality that is actually helpful to end users.</p>
	</div>
</section>


