---
layout: base
---
<header>
	<div class="container">
		<h1>Facilities monitoring and DCIM software</h1>
		<h3>Disparate equipment monitoring across the whole enterprise.</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>Having Spook monitoring the machine rooms and facilities infrastructure is a key component in managing our sites. OmniWatch provides instant, clear notification of infrastructure failures allowing us to apply rapid interventions to prevent costly outages.</p>
			<p class="is-small">Capita Business Services - An international business outsourcing company.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>What is facilities management (FM)?</h2>
		<p>By definition a Facility is a permanent, semi-permanent, or temporary commercial or industrial property such as a building, plant or structure which is built, established, or installed for the performance of one or more specific activities or functions.</p>
		<p>Facilities management is divided into two distinct areas, soft facility management and hard facility management. Spook is used to assist the hard facility management function.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Hard facilities management</h2>
		<p>Hard facilities management services are ones which relate to the physical fabric of the building and cannot easily be removed. They ensure the safety and welfare of employees and generally are required by law.</p>
		<p>Key areas where Spook’s Facility Monitoring solution, OmniWatch is ideal to monitor in the context of Facilities Management are:</p>
		<ol>
			<li>Infrastructure and information communications & technology (ICT)</li>
			<li>Maintenance and warranty support</li>
			<li>Delivering new technology</li>
			<li>Ensuring business continuity</li>
			<li>Regulatory compliance</li>
			<li>Mechanical, electrical and plumbing (MEP)</li>
			<li>Technical services</li>
			<li>Building Management Systems (BMS)</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook's experience of monitoring facilities.</h2>
		<p>Spook's OmniWatch monitoring service is ideal for facility monitoring and has evolved in-line with customer requests for useful new functionality. This includes adding new hardware and equipment manufacturers to Spook's ever growing list of compatible equipment.</p>
		<p>By nature of designing a customer led environmental and power monitoring solution, Spook’s facilities monitoring service has organically grown as a natural byproduct.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Disparate equipment monitoring</h2>
		<p>By collecting data across the facility using multiple protocols such as SNMP, JSON, XML, Modbus and BACnet, Spook’s OmniWatch monitoring service for Facilities departments delivers a technically advanced, adaptable and easy to use solution.</p>
		<p>The key to providing monitoring to the facility management team is to make monitoring simple and available 'all in one place' irrespective of the multitude of different device manufacturers and models the facilities teams need to manage.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Perpetual data collection</h2>
		<p>Unlike traditional 'data loggers' found on equipment manufacturers hardware interfaces that only hold a finite amount of data before being overwritten, all OmniWatch data is stored in perpetuity. This means trend analysis can be studied over longer periods for better capacity planning, preventative maintenance programs and for auditing purposes.</p>
		<p>In short Spook makes interpreting data meaningful, intuitive and quick.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Convergence of IT and facility management</h2>
		<p>Both IT & facility management departments share similar concerns regarding the monitoring of physical equipment and their general environment, all of which are available via OmniWatch.</p>
		<p>The topic of monitoring systems across the entire facility means the 'net' of equipment that can be monitored is varied and wide. It's important to have a monitoring solution that is meaningful and uncomplicated.</p>
		<p>OmniWatch is especially versatile and intuitive.</p>
		<p>Typical monitoring requirements of a facility are:</p>
		<ul>
			<li>Uninterruptible power supplies (UPS)</li>
			<li>Generators</li>
			<li>Cooling/temperature systems</li>
			<li>Air conditioning units</li>
			<li>Water cooling systems</li>
			<li>Fire protection</li>
			<li>VESDA (Very Early Smoke Detection Apparatus)</li>
			<li>HSSD (High Sensitivity Smoke Detection)</li>
			<li>Gas suppressant systems</li>
			<li>Water detection systems</li>
			<li>Intruder alarm systems</li>
			<li>Building Management Systems (BMS)</li>
			<li>Buidling flood defences</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<p>other monitoring solutions</p>
	</div>
</section>
