---
layout: monitoring/base
---
<section>
	<div class="container">
		<p>Spook’s remote monitoring service called OmniWatch together with Spook’s range of wireless sensors are ideal for the heritage industry that usually requires discrete monitoring for organisations such as museums, galleries, libraries, private collections and archives.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Importance of monitoring</h2>
		<p>The key to the survival of heritage collections is to provide a stable environment for exhibits and visitors alike. Central to this is understanding the role of the building as the first line of defence against environmental instability, recognising the importance of regular environmental monitoring and control; and the division of spaces into critical areas housing collections and non-critical areas accommodating offices, cafes and communal spaces.</p>
		<p>Add into the mix that heritage organisations are now lending more of their collections and collaborating with each other means professional but discrete environmental and security monitoring is critical both in static exhibition spaces and while collections are in transit and at temporary ‘pop-up’ or ‘guest’ exhibition spaces.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Transportation and logistics</h2>
			<p>Often the preparation for pop-up or guest exhibitions begins months or even years in advance. Whether the exhibition is to be held in a counter museum on the other side of the world or in a temporary exhibition space in the UK means the logistics behind transporting fragile objects requires careful planning.</p>
			<p>Before leaving the confines of the parent organisation all objects must be assessed by conservators to see whether or not they are stable enough to travel. If objects are particularly fragile decisions need to be made on what needs to be done in order to transport them safely.</p>
			<p>Key areas for consideration are security, environmental threats and knowing exactly where consignments are in real time.</p>
			<p>Occasionally certain kinds of objects, for instance delicate ivories, artefacts, fabrics and paintings; will require special conservation materials to be included in order to maintain steady environmental conditions whilst in transit and while being displayed at the temporary location.</p>
			<p>Spook has designed a mobile monitoring solution precisely for this called TRIG (Transportable RIG).</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Leading causes of decay and destruction</h2>
		<p>According to the Canadian Conservation Institute (CCI) there are 9 Agents of Decay responsible for decay and destruction of objects within collections.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Security</h2>
		<p>Heritage organisations often tread the fine line between public enjoyment and protection of valuable assets.</p>
		<p>Grade listed buildings, exhibition spaces and areas with delicate fabrics and wall coverings all need to manage the difficult balance between members of the public viewing them and the organisation conserving them providing adequate protection.</p>

		<h3>Activity sensors</h3>
		<p>For important or irreplaceable items a small activity detection sensor is available. Spook’s wireless activity sensors can be used to determine if assets (art-work) is removed from the premises, or just moved in general. Any vibration or sudden movement would cause an alarm. Activity sensors are ideal to place on protective glass covering exhibits. Any unexpected movement of the glass is usually indicative of intruder or theft.</p>

		<h3>Open/closed status</h3>
		<p>Spook wireless open/closed sensors provide information on the status of doors, windows, cabinets, etc. Knowing if doors or windows are open is an important feature. Cabinets and rooms that contain secure items may also need to be monitored.</p>

		<h3>Infrared (IR) sensors</h3>
		<p>Spook wireless IR sensors are designed to locate movement even in completely dark environments, perfect for additional after-hours security.</p>

		<h3>Boundary/pressure pad sensors</h3>
		<p>These sensors are ideal for areas that need to allow viewing platforms or areas to members of the public and to protect ‘no go’ boundaries. Often these areas are simply protected with a perimeter rope and exhibition security staff are employed to ensure no one intrudes beyond the permitted area.</p>
		<p>By installing Spook wireless open/closed sensors to IR beams and pressure pads, any vulnerable area can be monitored with ease. Subtle alerts can be discretely sent to security staff within the vicinity. This ensures public viewing of exhibits remain calm and members of the public are not unduly panicked while enjoying their visit should someone inadvertently or purposely stray over a monitored sensor.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Water ingress</h2>
		<p>Water ingress has the ability to cause damage in a matter of seconds. Spook’s range of wireless water sensors are ideal to monitor for water ingress. Whether it is water leaks from overhead pipework or leaking Air Conditioning (AC) units, all have the ability to cause substantial damage.</p>
		<p>Objects within the affected area can be instantly destroyed or waterlogged from the leak. Additionally, items that are then incorrectly dried can lead to corrosion, mould to occur or end up warping or falling apart.</p>
		<p>The drying out process for water damaged areas is prolonged too. Public areas may be cordoned off for substantial periods of time. If using heated extractor fans to assist, this often causes health and safety issues to be considered and as a consequence restrict viewing or working areas.</p>
		<p>Older properties, especially ones that are Grade listed or protected, often have old pipework, leaky roofs and boiler rooms that may need monitoring. By installing Spook wireless water sensors in areas of concern means any unseen leaks can be addressed quickly. </p>
		<p>Reaction to a water alert such as getting the maintenance team on the scene rapidly to deal with the issue and take remedial action can be instrumental in preventing bigger problems occurring.</p>
		
		<h3>Natural flood</h3>
		<p>Equally worrying is natural flood. We live in an era whereby unusual weather patterns can quickly cause flash floods. It is easy for a flash downpour to cause local flooding or entrapment of water in ducts and guttering around buildings.</p>
		<p>Spook has an array of wireless water sensors designed for detecting water ingress immediately.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Light (LUX - luminescence/unit area)</h2>
		<p>Galleries and viewing areas are often lit to set the appropriate mood, there are usually special requirements to ensure images, pictures and fabrics remain pristine. Spook wireless light meters are a perfect solution to track LUX to help avoid accidental lighting mistakes.</p>
		<p>Light needs to be managed, whether it is with automatic dimmers or by the more conventional method of staff entering an area to close blinds to prevent sun damage.</p>
		<p>Because Spook’s OmniWatch monitoring service retains Spook sensor readings in perpetuity, reports can be produced to study long-term trend data. Analysis can be gained to predict light patterns at different times of day, season or even year. By understanding the cyclical changes to light means planning and building ‘LUX’ routines is achievable.</p>
		<p>Many heritage organisations have areas that are sensitive to light. Sometimes they have a specified "Light Budget." Spook wireless light sensors are ideal for tracking and managing "Lux Hours”.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Temperature</h2>
		<p>Spook wireless temperature sensors come in a few options. Ambient temperature sensors are compact and sealed in the body of the sensor but variations are available in the form of various temperature probes.</p>
		<p>The Association of Independent Museums (AIM) highlights the importance of maintaining stable temperatures. Fluctuating temperatures cause greater damage to the collections than achieving a constant level.</p>
		<p>Heritage organisations sometimes struggle between keeping temperatures low for exhibited collections while the exhibition spaces are generally heated to accommodate members of the public. Typical temperature ranges for human comfort levels is around 17-21°C. However, storage of items can be kept at lower temperatures to slow down degradation.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Humidity</h2>
		<p>Spook wireless humidity sensors measure the Relative Humidity (RH) in an area.</p>
		<p>AIM recommends RH to be maintained as closely as possible within a 20% variance. This allows for daily and annual seasonal changes to be taken into account.</p>
		<p>Commonly used bands are 40%-60% or 45%-65%. However, acceptable levels may vary depending on what is achievable locally and that which best suits the needs of the particular items in the heritage collections.</p>
		<p>Daily RH fluctuations tend to be more damaging than constant levels. Even seasonal changes can have a detrimental effect. However, humidity levels in museums and art galleries are notoriously difficult to maintain consistently. The constant influx of people through a room will cause the temperature and humidity to fluctuate. One minute a room may be full of visitors and the next it is empty.</p>
		<p>Picture frames shrinking, textiles becoming brittle, paint on canvas flaking and furniture joints loosening are all symptoms of a dry atmosphere. When these effects occur in a museum or art gallery the results can be catastrophic.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Wide range of artefact substances</h2>
		<p>Works of art are made from a wide range of substances and are often organic, e.g. wood, cotton, paper, bone, ivory, leather and parchment. All of these materials are hygroscopic, that is they are affected by the moisture content in the surrounding air. If the environment they are situated in is dry they will lose moisture to the atmosphere. If it is too damp they will gain moisture.</p>
		<p>This change can cause materials to swell or contract with resulting damage. In order to preserve a work of art in its original state, it should be kept in an environment that has stable, optimum humidity. This will maintain a balanced equilibrium between the exhibit and the atmosphere, preventing any moisture loss or gain and avoiding costly repairs.</p>
		
		<h3>Humidity and Temperature</h3>
		<p>Humidity and temperature are inextricably linked. That’s why Spook’s wireless dual humidity and temperature sensors are ideal to monitor for both in a single, unobtrusive unit.</p>
		<p>If the temperature increases in a room, the humidity level will drop if water is not artificially added. This is due to the fact that cold air holds less water than warm air. This means that dry air is largely a seasonal problem. As heating systems are turned on, indoor humidity levels drop.</p>
		<p>However, in a museum environment even minor fluctuations in humidity, such as when lights are turned on or off in a display cabinet, can cause damage over time.</p>

		<h3>Effects of low humidity</h3>
		<p>Changes in the moisture content of an exhibit may have very visible effects such as materials splitting or cracking. These effects may be microscopic to start off with but over time will become more obvious. As things become older they will become more brittle and fragile. The older they are the less able they become to re-adjust their internal moisture. Different materials are affected by moisture loss in different ways.</p>

		<h3>Humidity effects on paintings</h3>
		<p>Paintings are made up of several layers. These layers will react to moisture loss in different ways and move accordingly. This can cause them to separate resulting in blistering and flaking of the paint layer. Canvas is often considered to be less susceptible to changes in humidity, as it can adapt well to fluctuations over time. However, canvas does respond quickly to changes in humidity level so although long term differences won’t effect it drastically, rapid changes will cause constant fluctuation and may result in damage to the material or paint layer.</p>
		<p>Large panel paintings are often made up of more than one panel. If these panels move apart through warping, paint may crack or flake off. Paper and papyrus will become brittle and difficult to handle if they dry out. Although this effect is reversible by leaving them in a moist surrounding, alternate drying and damping cycles are not good for the paper structure and can cause damage.</p>
		
		<h3>Humidity effects on other materials</h3>
		<p>Ivory is also hygroscopic and behaves in a very similar fashion to wood. Thin elements of an ivory structure are extremely susceptible to changes in humidity and even a draught from a window may be enough to cause them to crack.</p>
		<p>Textiles are more likely to be damaged when handled if they are below their natural moisture level. Silk is particularly at risk as are exhibits that contain hair. Often these materials are stretched across wooden boards or frames, where the fibres can become brittle or broken if their movement is restricted.</p>
		<p>Pottery, terracotta and stone will have their internal mineral content altered in moist or dry conditions. Salts that are in the substance will rise to the surface when wet and then crystallise when dry. This can lead to stains on the surface, powdering and flaking.</p>
		<p>Mould is a threat to any hygroscopic object, if conditions are not measured mould can spread at a rapid rate to cause decay and microscopic damage.</p>
	</div>
</section>
