---
layout: monitoring/base
---
<style>
	.introduction-img{
		max-width: 120px;
		display: block;
		margin: 0 auto;
	}
</style>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<p>Spook’s remote monitoring service called OmniWatch together with Spook’s range of wireless sensors provide affordable and easy monitoring to protect boats and yachts whether on water or while moored or in dry dock.</p>
				<p>Watercraft are subject to all sorts of testing conditions, including water damage, submersion, bilge pump failure, theft, and more. Spook wireless sensors protect vessels 24/7.</p>
				<p>Boats or yachts are expensive but enjoyable investments and are in constant danger considering they are floating on water most of the time.</p>
			</div>
			<div class="is-col is-text-center">
				<div class="is-row">
					<div class="is-col">
						<img class="introduction-img" src="/images/sections/marine/introduction/boat.svg">
						<p>Boats</p>
					</div>
					<div class="is-col">
						<img class="introduction-img" src="/images/sections/marine/introduction/yacht.svg">
						<p>Yachts</p>
					</div>
				</div>
				<div class="is-row">
					<div class="is-col">
						<img class="introduction-img" src="/images/sections/marine/introduction/ship.svg">
						<p>Ships</p>
					</div>
					<div class="is-col">
						<img class="introduction-img" src="/images/sections/marine/introduction/barge.svg">
						<p>Barges</p>
					</div>
				</div>
			</div>
		</div>
		<p>In addition to daily maintenance, there are yearly inspections of parts of the boat which are not so easy to observe. The vast majority of boat problems stem from the engines, issues with improper cooling, or electrical failure.</p>
		<p>Most of these mechanical parts are not easily accessible and wouldn't necessarily be something that is easily checked while out on the water. This is where Spook wireless sensors help. Set up a network of sensors for your craft while at the dock to insure no interruptions when enjoying at voyage.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Battery health Alternating Current (AC) and Direct Current (DC)</h2>
		<p>Spook Wireless Alternating Current (AC) Voltage Detection Sensors are intended for use on devices using supply power from 24 - 500V.</p>
		<p>They are not intended for voltages higher than 500V. The sensors are perfect to monitor shore power status. The sensors trigger on the state change from presence to absence of voltage and vice versa.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Temperature</h2>
		<p>Spook wireless temperature sensors are ideal for monitoring remote temperature related conditions.</p>
		<p>Many vessels have air conditioned (AC) cabins, by keeping an eye on the temperature of a cabin is ideal to ensuring AC units are working or becoming less efficient.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Humidity</h2>
		<p>Spook wireless humidity sensors measure the Relative Humidity (RH) in an area. Whilst RH may not be a critical condition to monitor, it can nevertheless be helpful to know. Cabins can often get very humid but simply opening hatches or using fans can quite often help. Simple things like bed linen in areas of constant humidity can cause mould to build up.</p>
		<p>Mould can have direct health implications too. Exposure to damp and mouldy environments may cause a variety of health effects, or none at all. Some people are sensitive to moulds, for these people moulds can cause:</p>
		<ul>
			<li>Nasal stuffiness</li>
			<li>Throat irritation</li>
			<li>Coughing or wheezing</li>
			<li>Eye irritation</li>
			<li>Skin irritation</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<h2>Open/closed status</h2>
		<p>Spook wireless open/closed sensors provide information on the status of doors, windows, cabinets, etc. Knowing if doors or hatches are open is an important feature for water craft.</p>
		<p>Cabinets that contain secure items or medicines may also need to be monitored.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Water detection</h2>
		<p>Spook Wireless Water detection sensors are ideal for monitoring a vessel is always in close proximity to water.</p>
		<p>Any unwanted water ingress in the form or leaks are vital to know for the smooth operation of the craft.</p>
		<p>Place sensors in the bilge or anywhere where flooding could cause a problem.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Liquid level</h2>
		<p>Spook wireless liquid level sensors use a solid state, continuous (multi-level) fluid level sensor for measuring levels in water, non-corrosive water based liquids and dry fluids (powders). Traditional mechanical floats that get stuck and corrode over time in the fluid they are measuring so using a solid state sensor instead eliminates these problematic areas.</p>
		<p>Monitor and track tank levels, container levels, non-corrosive fluid levels, sump pit levels and more.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Motion</h2>
		<p>Detecting motion on a boat while it is in dock is key to knowing whether unwanted guests are aboard. Spook’s wireless Infrared motion detector sensors can prove a useful guard agains theft and damage.</p>
		<p>These sensors accurately detect movements made by people or even animals such as rats and other vermin.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Shore power</h2>
		<p>Shore power status is also a very important thing to monitor. Knowing the shore power connection is good and that power is present is key to ensuring batteries and equipment are recharged ready for boating journeys ahead. Spook Wireless AC Current Meters provide remote monitoring for shore power connectivity.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Carbon monoxide (CO)</h2>
		<p>Carbon monoxide poisoning is a real threat to vessels where engines are in use. All cabins with a fuel burning appliance should also have a CO sensor fitted. Spook wireless CO sensors are ideal to detect early warnings of carbon monoxide.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Compass</h2>
		<p>Spook wireless compass sensors use a highly sensitive 3 axis digital compass to return the orientation of the device in regards to magnetic north. Great for tracking directional behaviour and positioning.</p>
	</div>
</section>
