---
layout: base
---
<header style="background-image: url('/images/sections/server-room-monitoring.png');">
	<div class="container">
		<div class="is-60">
			<div class="is-stack-20">
				<h1>Server room environmental and power monitoring service</h1>
				<h3>Reduce downtime, increase equipment reliability, reduce operating expense and increase employee satisfaction.</h3>
			</div>
			<ul class="is-bar">
				<li><a href="#" class="button is-inverted">Example</a></li>
				<li><a href="#" class="button is-secondary is-inverted">Contact</a></li>
			</ul>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<img src="/images/server-room.svg">
	</div>
</section>
<section>
	<div class="container">
		<h2>Why monitoring your server room is important.</h2>
		<p>A server room (sometimes referred to as a computer room) often houses business critical equipment. It is usually a secure, dedicated area built within an office building. As a consequence, the main utilities such as power, communications etc are normally a subset of those available to the building as a whole. Because of this, many server rooms have added redundancy such as power in the form of Uninterruptible Power Supplies (UPSs) and Generator sets as well as diverse communication links.</p>
		<p>Any interruption of the IT infrastructure could cause system downtime, loss of productivity as well as loss in revenue. By monitoring the climate and power feeds ensures any adverse conditions can be alerted to staff giving them valuable thinking time to remedy situations before the escalate to conditions that prevent services being delivered to its employees and customers.</p>
		<p>Typical monitored conditions include extreme temperatures, humidity, power spikes and surges, water leaks, door access and motion detection.</p>
		<p>Simple actions, for example; such as opening doors and windows or installing temporary air conditioning units and fans in cases of high temperature are enough to prevent system failure and to present valuable thinking and reaction time to unforeseen events.</p>
		<p> The added benefits of monitoring presents opportunities for day to day planning. For example, measuring power metrics allows for load balancing between racks as well as temperature monitoring providing valuable information in helping to locate new servers into areas that are not heat stressed.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Data measurement</h2>
		<p>Server rooms have many different types of equipment manufacturers and models installed to run the business. Each manufacturer usually have their own on-board or network software to manage their devices. Although these are normally inexpensive, when added up as a whole they can demand substantial investment in terms of cost and man power resource to manage them.</p>
		<p>Spook’s flagship service called OmniWatch is designed to be vendor independent and protocol neutral. This means management of multiple equipment and devices is controlled by a single, secure and easy to use application.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Data collecting and graphing</h2>
		<p>OmniWatch realtime dashboards can be accessed from any internet enabled device, with the ability to manage equipment settings as well as alerting monitored conditions 24/7.</p>
		<p>Spook's customers range from single room installations to multiple locations across national/international borders. When multi-territory monitoring is required sometimes a regional manager may only need to know what is happening in their district. Whereas the global team may need an enterprise centric view across all regions and territories.</p>
		<p>Even at local level there may be a need for different departments to be responsible for their own monitoring. For example, water ingress monitoring may be the remit of the facilities department whereas the temperature of a room or cabinet may be the responsibility of another department.</p>
		<p>OmniWatch real-time dashboards provide multiple portals to cater for this whilst ensuring management has a global view of everything.</p>
		<p>OmniWatch displays data readings in a variety of ways: live secure dashboards present real-time sensor readings as well as alarm escalation procedures; whereas custom reports turns trend data into valuable resource. Alarm summaries enables incident management analysis and can be helpful in preventative maintenance, whereas weekly and monthly automated reports assists system planning and provides valuable audit data to management.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Real-time alarms</h2>
		<p>Spook's alarm escalation procedure is the most comprehensive in the industry. Alerts are sent in real-time via email and 2-way SMS.</p>
		<p>The emergency alarm procedure is fully customisable and can be:</p>
		<h3>Regionalised</h3>
		<p>Alarms from a specific location can be directed to regional staff.</p>
		<p>Whereas the global IT team may want to be involved or simply have access to all alerts to ensure staff are responding appropriately.</p>
		<h3>Departmentalised</h3>
		<p>Alarms can be distributed to specific departments.</p>
		<p>For example, high temperature alerts may need to be handled by the IT team whereas water alerts may need to be sent to the facilities department.</p>
		<h3>Dynamic on-call rotas</h3>
		<p>All alerts can be designed to vary how emergency client personnel are contacted throughout the day (e.g. specific staff in office hours and separate emergency personnel for all other times).</p>
		<p>On-call staff members can also be managed easily by making changes to individual team members availability by a simple one click function clearly marking their record as available or not.</p>
		<h3>24/7 Call Centre escalation</h3>
		<p>If there is no confirmation of receipt for the alarm(s) they are further escalated to Spook's UK based 24/7 call centre.</p>
		<p>An agent is tasked with calling emergency staff on alternative mobile phones and/or landlines to ensure they are aware of the alert.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
				<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
					<img src="/images/customer-logo/pando.svg">
				</div>
			</div>
			<div class="is-col is-80">
				<blockquote>
					<p>Spook provides peace of mind in that we can monitor all aspects of our server room in real time and review trends to identify areas that we can proactively address. We can rely on OmniWatch to immediately make us aware of any issues 24x7.</p>
					<p class="small">P&O Ferrymasters - European providers of tailor-made transportation and logistics services.</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2>Types of server room monitoring</h2>
		<h3>1. Temperature monitoring</h3>
		<h4>Server room temperature monitoring</h4>
		<p>Installing temperature sensors within the server room is key to ensuring timely alerts are sent to key IT staff if the temperature gets too high.</p>
		<p>Strategically positioning temperature sensors in a server room can often give a better understanding of where potential temperature problems may be.</p>
		<p>For example, an alert from a temperature probe adjacent to an Air Conditioning (AC) unit output vent can indicate a particular AC unit failure.</p>
		<p>By installing individual temperature probes within a room gives a good overall picture of the ongoing efficiency of air cooling within the area. The ability to study the trend data of an AC's vented air could be useful for identifying a regularly failing AC unit, or simply identifying when the AC is becoming less efficient and a maintenance visit is required. Temperature trend data can also be invaluable as supportive evidence for an AC replacement or upgrade programme to be implemented.</p>
		<h4>Rack temperature monitoring</h4>
		<p>Temperature probes can be positioned within specific IT racks and can identify hot spots in awkward to see areas. By studying the trend data of incoming air versus vented air can assist with future equipment positioning in order to place less stress in highly populated racks.</p>
		<h5>What is the ideal temperature for a server room?</h5>
		<p>ASHRAE issued its first thermal guidelines for data centres in 2004 and recommended temperatures be maintained between 20 and 25°C. They have since stated the ideal range is between 5 to 45°C due to a shift in importance from reliability and uptime to a more energy saving and green approach in equipment.</p>
		<p>It is entirely dependent on the rating of equipment as to which of the ASHRE guidelines are adhered. Older and lower rated equipment should always be considered the baseline for any targets as aiming for the higher temperature allowance for new equipment risks damage to the older devices.</p>
		<h3>2. Power monitoring</h3>
		<p>It is entirely dependent on the rating of equipment as to which of the ASHRE guidelines are adhered. Older and lower rated equipment should always be considered the baseline for any targets as aiming for the higher temperature allowance for new equipment risks damage to the older devices.</p>
		<p>By monitoring certain power metrics such as power load presents valuable information which is helpful in the future planning of an IT room. Being alerted to any fluctuations in power provision is also key to the up-time of servers and if these went unnoticed they could easily cause bigger problems for busy IT staff.</p>
		<h4>PDU monitoring</h4>
		<p>By monitoring certain power metrics such as power load presents valuable information which is helpful in the future planning of an IT room. Being alerted to any fluctuations in power provision is also key to the up-time of servers and if these went unnoticed they could easily cause bigger problems for busy IT staff.</p>
		<p>By monitoring power, whether it is by knowing if simply power is present or by monitoring the power metrics from metering or via intelligent PDU’s; organisations are able to stay on top of such things as power outages, electricity usage and cost as well as load phase balancing.</p>
		<p>This can be achieved from a general server room mains incoming level down to individual IT rack, even down to the individual outlets of intelligent PDUs.</p>
		<h4>UPS monitoring</h4>
		<p>Most server rooms have Uninterruptible Power Supplies (UPS monitoring) either floor-standing or IT rack mounted. Most UPS systems typically have network cards installed which means they can be monitoring via the Local Area Network (LAN) using Simple Network Management Protocol (SNMP).</p>
		<p>By installing a UPS on the network means valuable ‘live' power metric data can be presented and measured too.</p>
		<h4>Generator monitoring</h4>
		<p>Companies fortunate enough to have onsite backup generators can often also monitor these to ensure a complete power picture is available (generator monitoring).</p>
		<p>By measuring key power metrics and monitoring equipment status levels of a generator means power security is a known quantity to the IT department.</p>
		<p>There are no limits apart from those applied by the manufacturer to monitoring the status of a generator. The most typical critical conditions monitored include oil temperature, low fuel, generator running and general fault.</p>
		<h4>Water monitoring</h4>
		<p>By nature of its design, a server room houses a lot of electrical equipment in a confined space. We all know water and electricity do not mix. Installing water sensors to detect water ingress from air conditioning units and flooding from other areas of the building, not necessarily IT related, is vital.</p>
		<p>There are many points within a business that require pressurised water provision. Toilet and shower blocks, water drinking points, kitchens and water pipework all present risks of water ingress.</p>
		<p>Mounting climate change issues and unusual weather patterns means it only takes an unexpected down pour or water flooding from blocked guttering to cause big problems. Leaks can often go undetected until it's too late. Many Spook customers have installed water detection probes it the direct vicinity of the server room but there is a growing trend to include areas not necessarily related to IT in order to be alerted to potential flooding risks.</p>
		<h4>Humidity and dew point monitoring</h4>
		<p>Although often overlooked, humidity and dew-point are key conditions to monitor. High and low humidity have different effects on electrical circuitry whereas changes in dew-point can often cause water vapour related stress in kit too.</p>
		<p>Many server rooms do not have humidifiers, therefore studying trend data and being alerted when humidity and dew point levels are not within acceptable limits can ensure the efficient running of critical IT equipment and in some cases, prolong its life.</p>
	</div>
</section>
{% include monitoring/monitoring-footer.html %}
