---
layout: base
---

<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h3>Cloud based remote monitoring</h3>
                <h1>Server room monitoring</h1>
                <p>OmniWatch remote monitoring reduces downtime and operating expense and increases equipment reliability and employee satisfaction.</p>
                <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
            </div>
            <div class="is-col">
                <img src="/images/monitoring/server-room/server-room-monitoring-sensor-overview.svg">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <img class="is-shadow-2 is-stack-60" src="/images/homepage/omniwatch-dashboard.svg">
        <p>A server room (sometimes referred to as a computer room) often houses business critical equipment. It is usually a secure, dedicated area built within an office building. As a consequence, the main utilities such as power, communications etc are normally a subset of those available to the building as a whole. Many server rooms have added power redundancy in the form of Uninterruptible Power Supplies (UPSs) and Generator sets as well as diverse communication links.</p>
        <p>Any interruption of the IT infrastructure could cause an organisation to suffer system downtime, loss of productivity as well as loss in revenue.</p>
        <p>Simple actions, for example; such as opening doors and windows or installing temporary air conditioning units and fans in cases of high temperature are enough to prevent system failure and to present valuable thinking and reaction time to unforeseen events.</p>
        <p>The added benefits of monitoring presents opportunities for day to day planning. For example, measuring power metrics allows for load balancing between racks as well as temperature monitoring providing valuable information in helping to locate new servers into areas that are not heat stressed.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col">
                <p>OmniWatch is designed to be vendor independent and protocol neutral. This means management of multiple equipment and devices is controlled by a single, secure and easy to use application.</p>
            </div>
            <div class="is-col">
                <div class="is-row">
                    <div class="is-col">
                        <img src="/images/devices/apc.svg">
                    </div>
                    <div class="is-col">
                        <img src="/images/devices/eaton.svg">
                    </div>
                </div>
                <div class="is-row">
                    <div class="is-col">
                        <img src="/images/devices/emerson.svg">
                    </div>
                    <div class="is-col">
                        <img src="/images/devices/geist.svg">
                    </div>
                </div>
                <div class="is-row">
                    <div class="is-col">
                        <img src="/images/devices/jacarta.svg">
                    </div>
                    <div class="is-col">
                        <img src="/images/devices/riello-ups.svg">
                    </div>
                </div>
                <div class="is-row">
                    <div class="is-col">
                        <img src="/images/devices/schneider-electric.svg">
                    </div>
                    <div class="is-col">
                        <img src="/images/devices/ups-ltd.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p><strong>Put blurb about alerting and link to alerting page</strong></p>
    </div>
</section>
<section>
    <div class="container">
        <p><strong>Put blurb about reporting and link to report page</strong></p>
    </div>
</section>
<section>
    <div class="container">
        <h2>Typical monitored conditions</h2>
        {% for sensor in site.data.monitoring.server-room-sensors %}
        <div class="is-row is-items-middle is-stack-8 is-border is-inset-6 is-small">
            <div class="is-col is-10">
                <img class="is-inset-8" style="max-height: 60px;" src="{{ sensor.icon }}">
            </div>
            <div class="is-col is-20">
                <p><strong>{{ sensor.name }}</strong></p>
            </div>
            <div class="is-col is-70">
                <ul class="is-bar is-muted">
                {% for use in sensor.uses %}
				{% if forloop.index != 1 %}<li>|</li>{% endif %}
				<li>{{ use }}</li>
				{% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>Contact Spook</h2>
                <p>Please contact us if you wish for further information on how Spook can help you monitor your server rooms.</p>
                <p><a href="/contact/" class="button">Contact us</a></p>
            </div>
            <div class="is-col">
                <blockquote>
                    <p>Spook provides peace of mind in that we can monitor all aspects of our server room in real time and review trends to identify areas that we can proactively address. We can rely on OmniWatch to immediately make us aware of any issues 24/7.</p>
                    <p class="is-small">P&O Ferrymasters - European providers of tailor-made transportation and logistics services.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
