<section>
  <div class="container">
    <div class="is-stack-60 is-text-center">
      <h2>Spook monitors a wide range of IT rooms and installations</h2>
      <p>Can't find what you are looking for? Get in contact with us to discuss how we can help.
      </p>
      <p><a href="/contact/" class="button">Get in touch</a></p>
    </div>
    <div class="is-row">
      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/temperature.svg">
            <div>
              <h4><a href="/monitoring/it/data-center" class="is-color-black" style="text-decoration: none;">Data
                  center</a></h4>
              <p>Thermal condition monitoring.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/humidity.svg">
            <div>
              <h4><a href="/monitoring/it/server-room" class="is-color-black" style="text-decoration: none;">Server
                  room</a></h4>
              <p>Atmospheric moisture control.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/dewpoint.svg">
            <div>
              <h4><a href="/monitoring/it/comms-room" class="is-color-black" style="text-decoration: none;">Comms
                  room</a></h4>
              <p>Water droplet condensation.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/airflow.svg">
            <div>
              <h4><a href="/monitoring/it/comms-closet" class="is-color-black" style="text-decoration: none;">Comms
                  closet</a></h4>
              <p>Measuring the movement of air.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/water.svg">
            <div>
              <h4><a href="/monitoring/it/facilities" class="is-color-black"
                  style="text-decoration: none;">Facilities</a></h4>
              <p>Water and moisture monitoring</p>
            </div>
          </div>
        </div>
      </div>

      <div class="is-col is-33 is-border is-stack-20">
        <div class="is-inset-20">
          <div class="line-block-content">
            <img style="max-height: 60px; margin-right: 1em;" src="/images/sensor/icons/light.svg">
            <div>
              <h4><a href="/monitoring/it/disaster-recovery" class="is-color-black"
                  style="text-decoration: none;">Disaster recovery</a>
              </h4>
              <p>Measuring LUX (luminescence/unit area).</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>