---
layout: base
title: About Spook Limited
page-description: From Spook's beginnings back in 2003 of purely providing an environmental monitoring solution they have grown to deliver a market leading service spanning the monitoring of the environment, power, video and 3rd party equipment.
---
<style>
h4{
  font-weight: normal;
}

.timeline-item{
  border-left: 1px solid rgba(17,17,19,.07);
  padding-left: 10px;
}

.timeline-item h2::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #69b6d5;
  margin-left: -18px;
  margin-right: 20px;
}
</style>
<header class="contact-us-box">
  <div class="container">
    <div class="is-50">
      <h1>About Spook</h1>
      <p class="is-big">Spook was founded in 2003 and we have been passionate about remote monitoring from day one.</p>
      <p class="is-big">Since our inception "Prevention is better than cure" has been our defining mantra in everything we do.</p>
      <p class="is-big">According to Oxford University Press "Prevention is better than cure" is a proverbial saying, early 17th century. A similar idea is found in a Latin saying of the mid 13th century, "it is better and more useful to meet a problem in time than to seek a remedy after the damage is done".</p>
    </div>
  </div>
</header>
<section class="hero-block is-shadow-2">
  <div class="container">
    <div class="is-row">
      {% for item in site.data.about.data %}
        <div class="is-col is-border is-shadow-2 is-inset-20 white black-text is-stack-40-mobile" style="border-color: rgba(106, 135, 218, 0.8); border-width: 3px;">
          <div class="is-row is-items-middle">
            <div class="is-col is-text-center-mobile">
              <img src="{{ item.icon }}">
            </div>
            <div class="is-col is-text-right is-text-center-mobile">
              <div style="text-transform: uppercase;"><strong>{{ item.title }}</strong></div>
              <div style="font-size: 2.6em;">{{ item.figure }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-border is-shadow-2 is-inset-20 is-stack-60" style="border-color: #81C784; border-width: 5px;">
      <div class="is-col">
        <h2>Why call ourselves Spook?</h2>
        <p class="is-big">We develop our software to monitor third party hardware.</p>
        <p class="is-big">We wanted a name that could be associated with being available 24/7 and have an investigative theme so we landed on Spook.</p>
      </div>
      <div class="is-col is-text-right" style="border-right: 5px solid #6a87da; padding-right: 20px;">
        <p class="is-small blue-text">A Spook is a ghost, something in a location 24/7: spook·i·er, spook·i·est.<br>Informal. like or befitting a spook or ghost.</p>
        <p class="is-small blue-text" style="margin-bottom: 0;">A spook is the agent tasked with "erasing an issue".<br>Differing from a spy, a spook does not exist on paper anywhere.</p>
      </div>
    </div>
    <div class="is-row is-items-middle is-border is-shadow-2 is-inset-20" style="border-color: #7986CB; border-width: 5px;">
      <div class="is-col">
        <h2>Why call our remote software monitoring service OmniWatch?</h2>
        <p class="is-big">Our software has been designed to be manufacturer and protocol independent. We can monitor any type of equipment or asset and we wanted a name that reflected this.</p>
      </div>
      <div class="is-col is-text-center">
        <p><b><span class="is-big">Omni</span></b><br>Etymology: Ultimately from Latin - Omnis ("all")</p>
        <p><b><span class="is-big">Watch</span></b><br>Verb: Look at or observe attentively over a period of time</p>
      </div>
    </div>
  </div>
</section>
<section class="spook-blue is-shadow-2">
  <div class="container is-text-center">
    <div class="is-row is-items-middle">
      <div class="is-col is-border is-shadow-2 is-inset-20 is-stack-40-mobile white-text" style="border-color: #fff; border-width: 5px;">
        <img src="/images/icons/award.svg" style="filter: invert(1);">
        <div class="is-stack-60">
          <h4 style="text-transform: uppercase; letter-spacing: .1em;">Winner</h4>
          <h3><strong>Most Innovative Solution of the Year</strong></h3>
        </div>
      </div>
      <div class="is-col is-border is-shadow-2 is-inset-20 is-stack-40-mobile white-text" style="border-color: #fff; border-width: 5px;">
        <img src="/images/icons/award.svg" style="filter: invert(1);">
        <div class="is-stack-60">
          <h4 style="text-transform: uppercase; letter-spacing: .1em;">Winner</h4>
          <h3><strong>Specialist Technology Company of the Year</strong></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30 is-inset-40">
        <img src="/images/omniwatch-logo.svg">
      </div>
      <div class="is-col is-70">
        <h2>Software development</h2>
        <p>Our software development is in-house and our customers drive our software development roadmap.</p>
        <p>With an exceptionally loyal customer base we are privileged to embrace end user suggestions for our commitment to constant software development.</p>
        <p>With new functionality and new software versions being to the benefit of all, everyone enjoys the latest releases during the lifetime of their contracts.</p>
        <p>We welcome ideas so much we have a feedback button on a users navigation bar for quick and easy idea sharing back to Spook.</p>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-stack-60">
      <h2>Why choose Spook and OmniWatch</h2>
    </div>
   {% include two-types-of-customers.html %}
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-stack-60">
      <h2>Spook timeline</h2>
    </div>
    {% for item in site.data.about.timeline reversed %}
    <div class="is-row is-stack-60">
      <div class="is-col is-20 timeline-item is-stack-20-mobile">
        <h2>{{ item.year }}</h2>
      </div>
      <div class="is-col is-60">
        <div class="is-border is-shadow-2 is-inset-20 is-stack-20-mobile" style="border-color: {{ item.color }}; border-width: 5px;">
          <h4>{{ item.header}}</h4>
          {% for paragraphs in item.description %}
            <p>{{ paragraphs }}</p>
          {% endfor %}
        </div>
      </div>
      {% if item.link %}
        <div class="is-col is-20 is-text-center">
          <a class="button" href="{{ item.link }}">Read more</a>
        </div>
      {% else %}
        <div class="is-col is-20">

        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
