---
layout: base
title: Blog posts and updates
page-description: See the latest blog posts and updates from Spook concerning all things air quality, CO2, environmental and power monitoring.
---
<header
  style="background-image: linear-gradient( hsla(0, 0%, 7%, 0.4), hsla(0, 0%, 7%, 0.4) ), url('/images/blog/news-banner.png'); background-size: cover; background-position: right;">
  <div class="container">
    <h1>Blog</h1>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row">
      {% for post in site.posts %}
      <div class="is-col is-30 is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img" style="background-image: url('{{ post.image }}');"></div>
          <div class="card-content">
            <h3>{{ post.title }}</h3>
            <div style="position: absolute; bottom: 0; right: 0;">
              <div class="is-outset-12">
                <a href="{{ post.permalink }}" class="button">Read more <span class="caret is-right"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
