---
layout: base
title: Company policies
page-description: See the terms and conditions for OmniWatch, a real-time monitoring and alerting for air quality, CO2, IT equipment and facilities.
---
<style>
  .hexagon{
    cursor: pointer;
  }
</style>
<section class="header-banner">
	<div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <h1>Company policies</h1>
        <p class="is-big">Should anyone require any clarification of any Spook Policy, please contact us.</p>
        <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
      </div>
      <div class="is-col is-70">
        {% include companypolicies.html %}
      </div>
    </div>
	</div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
