---
layout: base
title: Customer sectors
page-description: "Spook support a wide range of customers in all business sectors. See who we support and what they say
about our services."
---
<header
  style="background-image: url('/images/customers/robert-bye-london-view.jpg'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
  <div class="container">
    <div class="is-50 block is-inset-20">
      <h1 class="is-stack-40">Spook supports a large number of clients for all industry sectors</h1>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section>
  <div class="container">
    <h2>Case studies</h2>
    <div class="is-row">

      <div class="is-col">
        <h3>Endsleigh Insurance fully managed solution using Geist Watchdog monitoring devices.</h3>
        <p>Spook provided hardware:</p>
        <ul class="is-unstyled">

          <li>Geist Watchdog 1200s x2</li>

          <li>Socomec UPS x1</li>

          <li>Total sensors x44</li>

        </ul>
        <p><a href="/customers/casestudy/endsleigh-insurance">View more</a></p>
      </div>

      <div class="is-col">
        <h3>FE fundinfo co-managed solution using The Climate monitoring devices.</h3>
        <p>Client provided hardware:</p>
        <ul class="is-unstyled">

          <li>Climate CM10s x2</li>

          <li>Emerson UPSs x3</li>

          <li>Total sensors x82</li>

        </ul>
        <p><a href="/customers/casestudy/fundinfo">View more</a></p>
      </div>

      <div class="is-col">
        <h3>Olympia London co-managed solution using Jacarta interSeptor monitoring devices.</h3>
        <p>Client provided hardware:</p>
        <ul class="is-unstyled">

          <li>Jacarta interSeptor x3</li>

          <li>Riello UPS x1</li>

          <li>Total sensors x34</li>

        </ul>
        <p><a href="/customers/casestudy/olympia-london">View more</a></p>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Spook sample industry sectors</h2>
    <p>Spook's customers remain the most loyal in the industry. With an average contract term of 14 years and growing
      it’s rare for a client to leave. In fact, a recent audit revealed that those that have left have done so for
      factors outside their control.</p>
    <p>It’s true that monitoring requirements do change over time. As IT departments evolve sometimes on-site IT moves
      off-site for example when co-location services or cloud services are adopted. This may reduce the original
      monitoring requirement but it does not exclude it. In fact, in Spook’s experience the remaining on-site
      communication hubs become more critical as businesses need to ensure continuance of secure, fast IT services to
      its employees and customers.</p>
  </div>
</section>
<section>
  <div class="container">
    <ul class="is-bar is-text-center">

      <li><a href="#Creativeindustries">Creative industries</a></li>

      <li><a href="#Localgovernment">Local government</a></li>

      <li><a href="#Bankingandfinance">Banking and finance</a></li>

      <li><a href="#Travelandlogistics">Travel and logistics</a></li>

      <li><a href="#Foodandbeverages">Food and beverages</a></li>

      <li><a href="#Professionalhealthcare">Professional healthcare</a></li>

      <li><a href="#Manufacturingandengineering">Manufacturing and engineering</a></li>

      <li><a href="#Propertyandrealestate">Property and real estate</a></li>

      <li><a href="#Leisureandentertainment">Leisure and entertainment</a></li>

      <li><a href="#Informationtechnology">Information technology</a></li>

      <li><a href="#Hotelsandrestaurants">Hotels and restaurants</a></li>

      <li><a href="#Informationservices">Information services</a></li>

      <li><a href="#Insuranceandassurance">Insurance and assurance</a></li>

      <li><a href="#Wealthmanagement">Wealth management</a></li>

      <li><a href="#Legalandemployment">Legal and employment</a></li>

    </ul>
  </div>
</section>

<section id="Creativeindustries">
  <div class="container">
    <h2 class="is-stack-20">Creative industries</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/creative-assembly.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/john-brown.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/pulse-films.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/888.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Spook monitors the IT environments and power resources within our server rooms in the UK and in our Sofia
            location in Bulgaria. By monitoring power at power strip level means we can pro-actively measure power
            consumption centrally and deploy informed load balancing procedures to the business. We also monitor key
            power metrics of our various UPS systems and water ingress via third party water panels linked to Spook’s
            OmniWatch monitoring service.</p>
          <p class="is-small">Creative Assembly - A multi BAFTA award winning game studio.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Localgovernment">
  <div class="container">
    <h2 class="is-stack-20">Local government</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/east-riding-of-yorkshire-council.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/bedford-borough-council.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/stoke-city-council.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/swindon-borough-council.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Spook's secure realtime dashboard provides an easy use monitoring platform for our busy IT department. We
            centrally manage the various IT rooms across the Council’s campus and in three remote comms rooms in
            neighbouring towns. We have found Spook’s service is the most advanced, in terms of monitoring and
            reporting.</p>
          <p class="is-small">East Riding of Yorkshire Council - One of the UKs largest unitary authorities.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Bankingandfinance">
  <div class="container">
    <h2 class="is-stack-20">Banking and finance</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/standard-life-aberdeen.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/bank-of-east-asia.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/nordea.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/national-bank-of-egypt.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We needed a computer room monitoring application to monitor many different parameters of our computer room
            plus the ability to monitor via a web GUI. Crucially we needed a 24hr monitoring service that would provide
            real-time alerting. We always felt relying on technology to contact us was flawed but with Spook they have
            developed an excellent tiered approach that means we are contacted even if emails and SMS message fail.</p>
          <p class="is-small">Nordea Bank - The largest Nordic financial services group.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Travelandlogistics">
  <div class="container">
    <h2 class="is-stack-20">Travel and logistics</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/nisa.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/pando.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/lufthansa.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/calmac-ferries.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Spook is installed and monitors multiple Nisa server rooms around the head office campus and in three
            distribution locations in the UK. We have always found dealing with Spook to be easy and straightforward.
            They are specialists in monitoring. Spook continually keeps us updated on all new developments and
            functionality, ensuring we maximise the delivery of our IT services to the business.</p>
          <p class="is-small">Nisa Retail - Online Innovation of the Year winner.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Foodandbeverages">
  <div class="container">
    <h2 class="is-stack-20">Food and beverages</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/muller.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/mccormick.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/finlays.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/refresco.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We run our IT infrastructure spread over five buildings with multiple server rooms and comms closets. Spook
            lets us monitor the environment in each of these rooms with a central dashboard. We can be confident that
            we'll be alerted if anything goes wrong, from leaking air-conditioning units to power failures. We can rest
            easy knowing that it’s always being watched, and concentrate on other IT projects our business relies on.
          </p>
          <p class="is-small">Refresco - The worlds largest bottler of beverages.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Professionalhealthcare">
  <div class="container">
    <h2 class="is-stack-20">Professional healthcare</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/nhs.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/simplyhealth.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/henry-schein.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/nhs.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We genuinely appreciate the excellent level service and support we get from the Spook team in protecting
            our IT. Perfect. It is nice to deal with a provider that actually cares about their own business. It’s nice
            to have it all in one place, with a system and a supplier we can trust. Over this weekend we were alerted to
            temperature fluctuations in our data centre and we were able to deal with air conditioning issues long
            before they became a real problem.</p>
          <p class="is-small">Henry Schein - A Fortune 500 Worlds Most Admired Company.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Manufacturingandengineering">
  <div class="container">
    <h2 class="is-stack-20">Manufacturing and engineering</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/siemens.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/smiths.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/hilti.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/venator.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Spook has provided environmental monitoring for our data centre to us for a number of years now. During
            this time their service has been excellent. We have peace of mind knowing that all the essential IT and
            communications infrastructure is being monitored 24/7. Spook’s service is efficient and cost effective and
            deemed as an important and natural extension to our busy IT department.</p>
          <p class="is-small">Siemens - The largest Industrial Manufacturer in Europe.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Propertyandrealestate">
  <div class="container">
    <h2 class="is-stack-20">Property and real estate</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/johnson-controls.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/capita.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/pobl.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/tyco.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Spook provides instant, clear notification of infrastructure failures allowing rapid interventions to
            prevent costly outages. Capita’s various monitored locations are centrally managed by our on-site 24/7 NOC
            in Kent. Our knowledge that our Data Centres are constantly being monitored for critical power and
            environmental conditions by Spook provides real peace of mind to our team of specialists.</p>
          <p class="is-small">Capita - </p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Leisureandentertainment">
  <div class="container">
    <h2 class="is-stack-20">Leisure and entertainment</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/waterstones.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/olympia-london.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/harper-collins.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/tv-licensing.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We could have added ourselves to the UPS communications module for emails or added the UPS to Solar Winds
            but felt the natural custodians to manage this were Spook. We now have clear, easy to view real-time UPS
            metrics on view in the IT department. We have this permanently displayed on one screen in the IT department.
            However being a cloud-based service we also have easy access to this from any smart device wherever we might
            be.</p>
          <p class="is-small">Olympia London - London's most prestigious exhibition venue.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Informationtechnology">
  <div class="container">
    <h2 class="is-stack-20">Information technology</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/capita.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/logicalis.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/cardonet.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/covenco.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>Capita has had a close working relationship with Spook from their inception in 2003. Capita and Spook have
            worked closely with each other over the years which has helped Spook develop OmniWatch’s key functionality
            around Capita’s changing needs for a modern, technology based environmental monitoring solution in our data
            centres. Having Spook monitoring our machine rooms and infrastructure is a key component in managing our
            sites. By developing functionality around actual end user requests means Spook’s service remains fresh,
            intuitive and most importantly, useful.</p>
          <p class="is-small">Capita - International business process outsourcing.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Hotelsandrestaurants">
  <div class="container">
    <h2 class="is-stack-20">Hotels and restaurants</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/loscar.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/ab-hotels.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/greene-king.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/liberation-group.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We have two server rooms in separate parts of Jersey. With Spook we can check the operating environment of
            both locations easily. As the rooms are located away from the IT department, we rest assured knowing we will
            be contacted for any key changes that may impact the uptime of our business 24/7 giving us valuable early
            warnings before they become problems.</p>
          <p class="is-small">Liberation Group - Channel Islands leading pub & restaurant group.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Informationservices">
  <div class="container">
    <h2 class="is-stack-20">Information services</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/account-technologies.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/fe-fundinfo.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/link-group.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/the-investment-association.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We originally purchased monitoring hardware and undertook to set it up ourselves. This we achieved,
            eventually, however it was far more time consuming than we had anticipated. The resource commitment to
            install these while maintaining other key projects to the business was deceiving, it took a lot longer than
            originally thought. We use Spook to achieve a joined-up monitoring solution for our Woking and London data
            centres.</p>
          <p class="is-small">Financial Express - UKs leading investment ratings & research agency.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Insuranceandassurance">
  <div class="container">
    <h2 class="is-stack-20">Insurance and assurance</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/cxloyalty.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/paywizard.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/permira.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/west-of-england.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>With the implementation of Spooks OmniWatch monitoring system, Endsleigh IT and Facilities teams can
            concentrate on running and supporting the business without worrying about our critical IT Data Centres.
            These are monitored around the clock by Spook ensuring the key environmental and power metrics from our IT
            infrastructure are checked for any changes that, if go unnoticed, may cause unplanned business downtime.</p>
          <p class="is-small">Endsleigh Insurance - Recommended by the National Union of Students.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Wealthmanagement">
  <div class="container">
    <h2 class="is-stack-20">Wealth management</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/handelsbanken.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/premier-miton.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/heartwood.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/stm-fidecs.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We are extremely pleased with our Spook solution and the quality of customer service provided to us. We
            have a small, but critical, server room. Spook alerts have been tremendously beneficial and have saved our
            business from serious consequences on various occasions. The new OmniWatch web interface is user friendly
            and provides a vast amount of information.</p>
          <p class="is-small">STM - A prominent fiduciary businesses in Gibraltar.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>

<section id="Legalandemployment">
  <div class="container">
    <h2 class="is-stack-20">Legal and employment</h2>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-row">

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/university-of-law.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/gordons.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/reed.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

          <div class="is-col is-50">
            <div
              style="width: 100%; height: 100px; background-image: url('/images/customer-logo/qualifications-wales.svg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
          </div>

        </div>
      </div>
      <div class="is-col is-60">
        <blockquote>
          <p>We have a network of offices across the UK, each with their own IT server rooms. We rely on Spook to
            monitor these rooms seamlessly and easily and present a global view to our IT team located at our
            headquarters in Guildford, Surrey. Spook provides a joined-up monitoring solution and is now our preferred
            monitoring service provider for all our locations Nationwide.</p>
          <p class="is-small">The University of Law - Educating Britains top lawyers for over a century.</p>
        </blockquote>
      </div>
    </div>
    <p class="is-text-right"><a href="#top">Back to top</a></p>
  </div>
</section>
{% include contact-us.html %}