---
layout: base
title: Customer sectors
page-description: "Spook support a wide range of customers in all business sectors. See who we support and what they say about our services."
---
<header
  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('/images/banner/customer-page-banner.jpg'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
  <div class="container">
    <div class="is-50 block is-inset-20">
      <h1 class="is-stack-40">Spook supports a large number of clients for all industry sectors</h1>
      <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-stack-40">
      <h2>Spook sample industry sectors</h2>
      <p class="is-big">Spook's customers are perhaps the most loyal in the industry. With an average contract term of 14 years and growing it's rare for a Spook customer to leave. In fact, a recent audit revealed that those that have left have done so for factors outside their control.</p>
      <p class="is-big">It's true that monitoring requirements do change over time. As IT departments evolve sometimes on-site IT moves off-site for example when co-location services or cloud services are adopted. This may reduce the original monitoring requirement but it does not exclude it.</p>
      <p class="is-big">In Spook's experience the remaining on-site communication hubs remain critical and require monitoring as businesses need to ensure continuance of secure, fast IT services to its employees and customers.</p>
    </div>
    <div class="is-row">
      {% for item in site.data.customers.sectors %}
        <div class="is-col is-25 is-border is-shadow-2 is-inset-20 is-stack-20">
          <a href="#{{ item.section }}" style="text-decoration: none; color: #333;">
            <div class="is-container-row is-items-middle">
              <img style="width: 60px; margin-right: 20px;" src="{{ item.icon }}">
              <h5>{{ item.name }}</h5>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% for item in site.data.customers.sectors %}
    <h2 id="{{ item.section }}">{{ item.name }}</h2>
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-40 is-border is-shadow-2 is-inset-20">
        <div class="is-row is-items-middle is-text-center is-stack-40">
          {% for customer in item.customers %}
            <div class="is-col is-50 is-inset-20">
              <img src="{{ customer.logo }}" alt="{{ customer.name }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="is-col is-60">
        <div class="quote-block grey">
          <span>"</span>
          {% for paragraph in item.quote.words %}
            <p class="is-big">{{ paragraph }}</p>
          {% endfor %}
          <div class="is-text-right">
            <p><b>{{ item.quote.by }}</b><br>{{ item.quote.tag }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% include contact-us.html %}
