---
layout: base
title: Cloud based monitoring and alerting service
page-description: "By giving organisations early warnings to harmful events that could impact the continued running of
their business gives them valuable thinking and reaction time."
---
<style>
.header-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/homepage-banner-3.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.header-banner.footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/omniwatch-banner-image.png');
}

.header-banner h1, .header-banner h3{
  font-weight: normal;
}

.card > .card-img.server-room{
 background-image: url('/images/it-rooms-and-facilities/server-room-banner.jpg');
}

.card > .card-img.utility-monitoring{
 background-image: url('/images/utility-monitoring/utility-monitoring-banner.jpg');
}

.card > .card-img.air-quality-monitoring{
  background-image: url('/images/solutions/co2-monitoring/co2-monitoring-banner.jpg');
}

.card > .card-img.co2-monitoring{
 background-image: url('/images/monitoring/energy/energy-monitoring-banner-image.jpeg');
}

.customer-logo{
	height: 100px;
	padding: 1em .5em;
}

.celebration-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/celebration.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
</style>
<section class="header-banner">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <div class="is-stack-40">
          <h1>Spook B2B professional remote monitoring since 2003</h1>
          <p class="is-large">Secure cloud based monitoring for offices, IT rooms, facilities departments and energy managers.</p>
        </div>
        <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
      </div>
      <div class="is-col">
        <!--<img src="/images/solutions/co2-monitoring/co2-vs-motion.png">-->
      </div>
    </div>
  </div>
</section>
<div class="black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text is-inset-20">
        <p><b>News:</b> New service for Energy managers: Public utility service monitoring for non-domestic customers.</p>
        </div>
        <div class="is-push-right is-text-center-mobile is-stack-40-mobile">
          <a class="button" href="/monitoring/utility-monitoring">Learn more <span class="caret is-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="is-inset-y-80">
  <div class="container">
    <div class="slider">
      <div class="is-text-center">
        <h5>Trusted by</h5>
      </div>
      <div class="slider-row"></div>
    </div>
  </div>
</div>
<section class="celebration-section">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <video poster="/images/spook_award.jpg" controls>
          <source src="/images/spook_award.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>
      <div class="is-col is-text-center">
        <img src="/images/icons/award.svg" style="filter: invert(1);">
        <h3>Spook and OmniWatch was voted <b>Specialist Technology Company of the Year</b> and <b>Most Innovative Solution of the Year</b> at the annual UK CIR Business Continuity Awards.</h3>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-stack-60 is-text-center">
      <h2>Award winning remote monitoring specialists</h2>
      <p class="is-big">OmniWatch is Spook's remote monitoring software solution. Designed to be the central repository for all things monitored; OmniWatch is the professionals first choice for monitoring the broadest range of sensors and equipment types.</p>
    </div>
    <div class="is-row">
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img server-room"></div>
          <div class="card-content">
            <h3>IT room & facility monitoring</h3>
            <p>Maximise business uptime, increase reliability and reduce operating costs by monitoring the environmental and power conditions for rooms containing key assets.</p>
            <p>Analyse, compare and measure common sensors across many different types of equipment.</p>
            <p>Extend monitoring to include disparate hardware that is important across the whole enterprise.
          </div>
          <div class="card-footer">
            <a href="/monitoring/it-rooms-and-facilities">Explore IT and facility monitoring <span class="caret is-right"></span></a>
          </div>
        </div>
      </div>
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img utility-monitoring"></div>
          <div class="card-content">
            <h3>Public utility monitoring</h3>
            <p>OmniWatch works with any utility service providers meters and any organisations individual assets via a full range of IoT sensors.</p>
            <p>OmniWatch empowers organisations data managers to accurately understand key consumption data across multi-platforms and equipment types.</p>
          </div>
          <div class="card-footer">
            <a href="/monitoring/utility-monitoring">Explore public utility monitoring <span class="caret is-right"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img air-quality-monitoring"></div>
          <div class="card-content">
            <h3>Indoor air quality monitoring</h3>
            <p>For organisations that need to provide safe and healthy indoor environments centrally with minimal labour resource.</p>
            <p>Reduce employee and student anxiety by monitoring CO<sub>2</sub> for Covid-19 and other aerosol related infections.</p>
            <p>Increase productivity by measuring temperature, humidity, light and more for a more productive and greener office experience.</p>
          </div>
          <div class="card-footer">
            <a href="/monitoring/air-quality-and-co2">Explore air quality monitoring <span class="caret is-right"></span></a>
          </div>
        </div>
      </div>
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img co2-monitoring"></div>
          <div class="card-content">
            <h3>CO<sub>2</sub> monitoring</h3>
            <p>Spook presents a range of intelligent and non-intrusive air quality monitoring sensors for measuring and tracking air quality in institutions such as schools, hospitals or other buildings with high levels of occupancy.</p>
            <p>All sensors are managed by OmniWatch, our easy-to-use web service that ensures quick and intuitive interrogation of your installations.</p>
          </div>
          <div class="card-footer">
            <a href="/monitoring/co2-monitoring">Explore CO<sub>2</sub> monitoring <span class="caret is-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey">
	<div class="container">
    {% include omniwatch/key-points.html %}
	</div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-stack-40 is-text-center">
      <h3>How we do things differently</h3>
      <p class="is-big">Since our inception our motto has always been <b>prevention is better than cure</b>.<br>Our pedigree is outstanding and ensures we continually deliver a market leading, multi-award winning service.</p>
      <p><a href="/about" class="button is-secondary">Read more about Spook <span class="caret is-right"></span></a></p>
    </div>
    <div class="is-text-center is-shown-mobile">
      {% for item in site.data.home.how-we-are-different %}
        <img style="width: 50vw;" alt="{{ item.alt-text }}" src="{{ item.icon }}">
        <div class="is-inset-x-20 is-stack-40">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="is-row is-hidden-mobile">
      {% for item in site.data.home.how-we-are-different %}
        <div class="is-col is-50 is-stack-40">
          <div class="is-row is-items-middle">
            <div class="is-col is-30">
              <img alt="{{ item.alt-text }}" src="{{ item.icon }}">
            </div>
            <div class="is-col is-70">
              <h4>{{ item.name }}</h4>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
	<div class="container">
   {% include two-types-of-customers.html %}
  </div>
</section>
<section class="header-banner footer is-text-center">
	<div class="container">
		<h2>Get in touch with Spook</h2>
    <p class="is-big">Contact us for further information on how Spook can help with your monitoring requirements.</p>
    <p><a href="/contact/" class="button">Contact us <span class="caret is-right"></span></a></p>
	</div>
</section>
<section class="black white-text">
  <div class="container">
		<div class="is-stack-20">
			<h3>Spook newsletter</h3>
			<p class="is-big">Please enter your details below to subscribe to our newsletter.</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
		<script src="https://www.dm-mailinglist.com/subscribe_forms/localized.js" charset="UTF-8"></script>
		<script src="https://www.dm-mailinglist.com/subscribe_forms/subscribe_embed.js" charset="UTF-8"></script>

		<form method="post" action="https://www.dm-mailinglist.com/subscribe" data-directmail-use-ajax="1" data-form-id="ecea5223" class="directmail-subscribe-form" accept-charset="UTF-8">
			<input type="hidden" name="form_id" value="ecea5223">
			<input type="email" name="email" style="display: none">
			<div class="is-row">
				<div class="is-col">
					<div class="form-item">
						<label class="white-text" for="directmail-ecea5223-first_name"><strong>First name</strong></label>
						<input style="color: black !important;" type="text" id="directmail-ecea5223-first_name" name="first_name" value="" placeholder="First name" class="" >
					</div>
				</div>
				<div class="is-col">
					<div class="form-item">
						<label class="white-text" for="directmail-ecea5223-last_name"><strong>Last name</strong></label>
						<input style="color: black !important;" type="text" id="directmail-ecea5223-last_name" name="last_name" value="" placeholder="Last name" class="" >
					</div>
				</div>
				<div class="is-col">
					<div class="form-item">
						<label class="white-text" for="directmail-ecea5223-company_name"><strong>Company</strong></label>
						<input style="color: black !important;" type="text" id="directmail-ecea5223-company_name" name="company_name" value="" placeholder="Company" class="" >
					</div>
				</div>
				<div class="is-col">
					<div class="form-item">
						<label class="white-text" for="directmail-ecea5223-subscriber_email"><strong>Email <span class="is-req">*</span></strong></label>
						<input style="color: black !important;" type="email" id="directmail-ecea5223-subscriber_email" name="subscriber_email" value="" placeholder="Email" required>
					</div>
				</div>
			</div>
			<div class="form-item is-text-center"> 
				<input class="button is-secondary" style="width: auto;" type="submit" value="Subscribe">
			</div>
		</form>    
  </div>
</section>
