---
layout: base
title: Cloud based monitoring and alerting service
page-description: "By giving organisations early warnings to harmful events that could impact the continued running of
their business gives them valuable thinking and reaction time."
---
<header class="site-header">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img style="max-height: 400px; display: block; margin: 0 auto;" src="/images/omniwatch-logo.svg">
      </div>
      <div class="is-col" style="background-color: #fff; padding: 1.5em;">
        <div class="is-stack-20">
          <h5 style="text-transform: uppercase;">Secure remote cloud based monitoring</h5>
          <h1>OmniWatch</h1>
          <p class="is-big">Taking remedial action at the early stages of an alert lets organisations contain a
            situation and fix it before it causes service disruption.</p>
        </div>
        <ul class="is-bar">
          <li><a href="/contact/" class="button">Contact us</a></li>
          <li><a href="/demo/" class="button is-secondary">Book demo</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="slider">
      <div class="slider-row"></div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-20"></div>
      <div class="is-col is-60 is-text-center">
        <h2>24/7 real-time monitoring and alerting.</h2>
        <p><strong>Prevention is better than cure</strong> has been Spook's motto from day one. By installing sensors or
          monitoring existing equipment OmniWatch sends alarms in real-time via email, 2-way SMS and UK call centres.
        </p>
        <img class="alert-icon" src="/images/icons/alert-service.svg">
      </div>
      <div class="is-col is-20"></div>
    </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
        <ul class="tab-list">
          <li class="active">
            <a class="tab-control" href="#dashboard-tab">
              <img src="/images/icons/remote-working.svg"
                style="display:inline-block; max-width: 40px; max-height: 40px; padding-right: 1em;"><strong>Dashboards</strong>
            </a>
          </li>
          <li>
            <a class="tab-control" href="#alerting-tab">
              <img src="/images/icons/alarms.svg"
                style="display:inline-block; max-width: 40px; max-height: 40px; padding-right: 1em;"><strong>Alerting</strong>
            </a>
          </li>
          <li>
            <a class="tab-control" href="#reporting-tab">
              <img src="/images/icons/report.svg"
                style="display:inline-block; max-width: 40px; max-height: 40px; padding-right: 1em;"><strong>Reporting</strong>
            </a>
          </li>
          <li>
            <a class="tab-control" href="#auditing-tab">
              <img src="/images/icons/data.svg"
                style="display:inline-block; max-width: 40px; max-height: 40px; padding-right: 1em;"><strong>Audits</strong>
            </a>
          </li>
          <li>
            <a class="tab-control" href="#installation-plans-tab">
              <img src="/images/omniwatch/installation-plans.svg"
                style="display:inline-block; max-width: 40px; max-height: 40px; padding-right: 1em;"><strong>Installation
                plans</strong>
            </a>
          </li>
        </ul>
      </div>
      <div class="is-col is-70">
        <div class="tab-panel active" id="dashboard-tab">
          <img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
          <p>OmniWatch's real-time dashboards are designed to combine, simplify and improve the monitoring of existing
            sensors and equipment or allow first time users to monitor areas quickly from scratch.</p>
          <p>Sensor readings and data metrics are displayed on a centralised console and accessed on any internet
            enabled device securely in the cloud.</p>
          <p>Dashboard's are bespoke and designed by Spook and with nearly two decades of experience users can relax,
            knowing the end result will be intuitive and easy to use.</p>
          <a href="/omniwatch/dashboard" class="button is-secondary">View more</a>
        </div>
        <div class="tab-panel" id="alerting-tab">
          <img class="is-shadow-2" src="/images/omniwatch/alert-view.svg">
          <p>The primary reason organisations install remote monitoring is to ensure they are alerted to issues, that if
            went unnoticed, could cause costly service disruptions.</p>
          <p>Spook's alarm procedure is perhaps the most comprehensive in the industry. OmniWatch's three-tier emergency
            contact process uses familiar technology to broadcast alerts via email and 2-way SMS. An extra level of
            protection can be assigned to critical sensors by adding Spook's UK call centre to contact users 24/7. All
            SMS messages and call centre contact is free of charge as part of the OmniWatch service.</p>
          <a href="/omniwatch/alerting" class="button is-secondary">View more</a>
        </div>
        <div class="tab-panel" id="reporting-tab">
          <img class="is-shadow-2" src="/images/homepage/omniwatch-screen.svg">
          <p>OmniWatch records real-time sensor readings constantly throughout the day. Unlike the majority of
            monitoring hardware or data loggers, OmniWatch holds all readings in perpetuity.</p>
          <p>By measuring trend data of disparate equipment across any time frame ensures measuring and spotting trends
            is easy and the information can be converted to meaningful data in on-line reports which can be easily be
            converted to pdf.</p>
          <a href="/omniwatch/reporting" class="button is-secondary">View more</a>
        </div>
        <div class="tab-panel" id="auditing-tab">
          <img class="is-shadow-2" src="/images/omniwatch/omniwatch-change-logs.svg">
          <p>Over time the set-up of OmniWatch will evolve and change inline with what a customer requires. As
            amendments are made, whether it is a contact related field, for example updating a mobile number; to
            changing the high trip for an alert, it is important to record what was changed, who made the change and
            why.</p>
          <p>Every revision within OmniWatch is recorded and stored for audit purposes. Amendments can also be emailed
            in real-time in order to let key personnel know without needing to logon and scrutinise log files.</p>
          <a href="/omniwatch/change-logs" class="button is-secondary">View more</a>
        </div>
        <div class="tab-panel" id="installation-plans-tab">
          <img class="is-shadow-2" src="/images/homepage/installation-plans.svg">
          <p>Spook publishes installation plans for every monitored location. These clearly show where each installed
            sensor is along with displaying its unique friendly name, which is referenced in any alerts, for swift fault
            identification.</p>
          <p>This is hugely beneficial for customers to quickly locate sensors or malfunctioning equipment that are
            broadcasting alerts.</p>
          <a href="/omniwatch/installation-plans" class="button is-secondary">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr>
</div>
<section class="introduction-section">
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-40">
        <div
          style="width: 100%; height: 250px; background-image: url('/images/cir-award.svg'); background-size: contain; background-repeat: no-repeat; background-position: center;">
        </div>
        <p class="is-text-center"><strong>'Specialist Technology Company of the Year'<br>2020 Winner</strong><br>CIR
          Business Continuity Awards</p>
      </div>
      <div class="is-col is-60">
        <h2>What makes us different?</h2>
        <p>Spook has specialised in remote monitoring for nearly two decades. OmniWatch is designed to monitor and alert
          users to business threatening events 24/7.</p>
        <p>OmniWatch comes pre-configured for a hassle free, intuitive, immediate service. Try it for free, just contact
          us and we will do the rest.</p>
        <p><a href="/contact/" class="button is-secondary">Contact us</a></p>
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-50">
        <div class="is-row is-items-middle">
          <div class="is-col is-30">
            <img src="/images/icons/monitor-all.svg">
          </div>
          <div class="is-col is-70">
            <h3>Monitor anything</h3>
            <p>Being protocol independent and hardware neutral means we can monitor most things. By using a single,
              cohesive interface to monitor disparate equipment makes comparing sensors across multiple equipment types
              easy and intuitive.</p>
          </div>
        </div>
      </div>
      <div class="is-col is-50">
        <div class="is-row is-items-middle">
          <div class="is-col is-30">
            <img src="/images/icons/focus.svg">
          </div>
          <div class="is-col is-70">
            <h3>100% focus on monitoring</h3>
            <p>Everything we do is focused on monitoring, expanding hardware support and improving data visualisation.
              All software development is based on customer feedback making any new features meaningful and useful to
              users.</p>
          </div>
        </div>
      </div>
      <div class="is-col is-50">
        <div class="is-row is-items-middle">
          <div class="is-col is-30">
            <img src="/images/icons/bespoke.svg">
          </div>
          <div class="is-col is-70">
            <h3>Bespoke service</h3>
            <p>We understand you are busy and although monitoring may be important you may not have the time or appetite
              to spend designing how things work. We work with you to setup, customise, evolve and maintain your
              monitoring installation.</p>
          </div>
        </div>
      </div>
      <div class="is-col is-50">
        <div class="is-row is-items-middle">
          <div class="is-col is-30">
            <img src="/images/icons/infinite.svg">
          </div>
          <div class="is-col is-70">
            <h3>Data in perpetuity</h3>
            <p>Sensor and data readings are held in perpetuity; providing accurate historical trend analysis for load
              balancing projects, preventative maintenance programs and protecting equipment warranties.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container is-text-center">
    <div class="grey is-border is-inset-20">
      <h2>Are you new to monitoring or do you want to supplement your monitoring?</h2>
      <p>Spook customers range from businesses that have already installed environmental hardware and network devices to
        organisations that are considering monitoring for the first time.</p>
      <p>Either way Spook can help.</p>
      <p><a href="/contact" class="button is-secondary">Get in touch</a></p>
    </div>
  </div>
</section>
{% include monitoring/key-footer.html %}
<section class="grey">
  <div class="container">
    <div class="is-row">
      {% for post in site.posts | limit: 3 %}
      <div class="is-col">
        <div class="is-border is-inset-20" style="min-height: 100%; background-color: #fff;">
          <h5>News</h5>
          <div
            style="height: 200px; min-width: 100%; background-color: #212121; background-image: url('{{ post.image }}'); background-size: cover; background-position: center; margin-bottom: 14px;">
          </div>
          <p>{{ post.date | date_to_string }}</p>
          <p class="is-large"><strong><a style="color: #000; text-decoration: none;" href="{{ post.permalink }}">{{
                post.title }}</a></strong></p>
          <p>{{ post.page-description | truncate_words: 20 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $('.tab-list').each(function () {
    var $this = $(this);
    var $tab = $this.find('li.active');
    var $link = $tab.find('a');
    var $panel = $($link.attr('href'));

    $this.on('click', '.tab-control', function (e) {
      e.preventDefault();
      var $link = $(this);
      var id = this.hash;

      if (id && !$link.is('.active')) {
        $panel.removeClass('active');
        $tab.removeClass('active');

        $panel = $(id).addClass('active');
        $tab = $link.parent().addClass('active');
      }
    });
  });
</script>