---
layout: base
title: Local government remote monitoring
page-description: Get in touch with Spook to discuss how we can help with your air quality, CO2, IT rooms and facilities monitoring needs.
---
<style>
.gov-banner{
  background-image: url('/images/local-government-monitoring/bournemouth-town-hall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.gov-banner > div > div > img{
  width: 120px;
  margin-bottom: 20px;
}

.overview-icon{
  margin-bottom: 30px;
}

.overview-icon > img{
  height: 80px;
  margin-bottom: 8px;
}

.overview-icon > p{

}

.gov-contact{
  background-color: #81C784;
}

.gov-contact > div > h4{
  font-size: 2em;
}

.gov-contact > div > h4, .gov-contact > div > form > div > label, .gov-contact > div > form > div > div > div > label{
  color: #fff;
}

.gov-contact > div > form > .button{
  border-color: #fff;
  color: #fff;
}


.slide-viewer{
  position: relative;
  overflow: scroll;
  height: 700px;
}

.slide-group{
  width: 100%;
  height: 100%;
  position: relative;
}

.slide{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:first-child{
  display: block;
}

.slide-buttons > a{
  font-size: 1.8em;
  color: #E0E0E0;
  cursor: pointer;
}

.slide-buttons > a:hover{
  color: #90CAF9;
}

.slide-buttons > a.active{
  color: #29B6F6;
}

.slide-logo{
  width: 200px;
  height: 100px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.footprint-icon{
  text-decoration: none;
}

.footprint-icon > div{
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footprint-icon > p{
  color: #333;
  text-decoration: none !important;
}

.device-line > div:hover{
  border: 5px solid #333;
}

</style>
<!--
<header class="gov-banner is-stack-20">
  <div class="container">
    <div class="is-50">
      <img src="/images/omniwatch-logo.svg">
      <h1>Local government remote monitoring</h1>
      <p class="is-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a sollicitudin mi. Cras sit amet viverra ex, quis placerat orci.</p>
      <p class="is-big"><a href="/contact/" class="button">Get in touch <span class="caret is-right"></span></a></p>
    </div>
  </div>
</header>
<div class="container is-text-center">
  <h5>Used by</h5>
  <div class="is-row is-items-middle">
    {% for customer in site.data.local-government-monitoring.used-by %}
      <div class="is-col">
        <div class="is-inset-20">
          <img src="{{ customer.logo }}" alt="{{ customer.name }}">
        </div>
      </div>
    {% endfor %}
  </div>
</div>
-->
<div class="slide-viewer is-stack-20">
  <div class="slide-group">
    {% for item in site.data.local-government-monitoring.monitoring-footprint %}
      {% if item.display == 1 %}
      <div class="slide" style="background-image: url('{{ item.background }}');">
        <div class="container">
          <div class="is-row" style="margin-top: 120px;">
            <!--
            <div class="is-col is-40 white is-inset-20">
              <div class="slide-logo" style="background-image: url('{{ item.logo }}');"></div>
              <div class="is-row">
                {% for device in item.devices %}
                  <div class="is-col is-33 is-text-center">
                    <a class="footprint-icon" href="{{ device.link }}">
                      <div style="background-image: url('{{ device.icon }}');"></div>
                      <p class="is-small">{{ device.name }}</p>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
            -->
            <div class="is-col is-40">
              {% for device in item.devices %}
              <a class="device-line" href="{{ device.link }}" style="text-decoration: none;">
                <div class="is-stack-8 white is-inset-4">
                  <div class="is-container-row is-items-middle">
                    <div style="height: 40px; width: 40px; background-image: url('{{ device.icon }}'); background-position: center; background-repeat: no-repeat; background-size: contain; margin-right: 8px;"></div>
                    <div>
                      <h5 style="color: #333; text-decoration: none !important;">{{ device.name }}</h5>
                    </div>
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
            <div class="is-col is-60">
              <div class="quote-block grey">
                <span>"</span>
                {% for paragraph in item.quote.paragraphs %}
                  <p>{{ paragraph }}</p>
                {% endfor %}
                <div class="is-text-right">
                  <img style="height: 80px;" src="{{ item.logo }}">
                  <p><b>{{ item.quote.by }}</b><br>{{ item.quote.tag }}.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="slide-buttons is-text-center"></div>
<script src="/js/jquery.min.js"></script>
<script>
  $('.slide-viewer').each(function() {
    var $this = $(this);
    var $group = $this.find('.slide-group');
    var $slides = $this.find('.slide');
    var buttonArray = [];
    var currentIndex = 0;
    var timeout;

    function advance(){
      clearTimeout(timeout);
      timeout = setTimeout(function(){
        if(currentIndex < ($slides.length - 1)){
          move(currentIndex + 1);
        }else{
          move(0);
        }
      },10000);
    }

    $.each($slides, function(index){
      var $button = $('<a type="button">&#x2609;</a>');
      if(index === currentIndex){
        $button.addClass('active');
      }
      $button.on('click', function(){
        move(index);
      }).appendTo('.slide-buttons');
      buttonArray.push($button);
    });

    advance();

    function move(newIndex){
      var animateLeft, slideLeft;

      advance();

      if($group.is(':animated') || currentIndex === newIndex){
        return;
      }

      buttonArray[currentIndex].removeClass('active');
      buttonArray[newIndex].addClass('active');

      if(newIndex > currentIndex){
        slideLeft = '100%';
        animateLeft = '-100%';
      }else{
        slideLeft = '-100%';
        animateLeft = '100%';
      }

      $slides.eq(newIndex).css({left: slideLeft, display: 'block'});
      $group.animate({left: animateLeft}, function(){
        $slides.eq(currentIndex).css({display: 'none'});
        $slides.eq(newIndex).css({left: 0});
        $group.css({left: 0});
        currentIndex = newIndex;
      });
    }
  });
</script>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <div class="is-stack-40">
          <h2>Award winning remote monitoring specialists</h2>
          <p>OmniWatch is Spook's remote monitoring software solution. Designed to be the central repository for all things monitored; OmniWatch is fast becoming local governments first choice for monitoring the broadest range of sensors and equipment types.</p>
        </div>
        <div class="is-row">
          {% for item in site.data.local-government-monitoring.overview %}
            <div class="is-col is-text-center">
              <div class="overview-icon">
                <img src="{{ item.icon }}">
                <p>{{ item.name }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="is-col is-60">
        <img src="/images/local-government-monitoring/omniwatch-metric-view.png">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-20 is-stack-40">
        <h3>OmniWatch is an all-in-one monitoring and alerting solution</h3>
        <p>Secure remote cloud based monitoring for all things IT and facilities related.</p>
        <p>Taking remedial action at the early stages of an alert lets organisations contain a situation and fix it before it causes service disruption.</p>
        <a href="/monitoring/it-rooms-and-facilities" class="button">Read more <span class="caret is-right"></span></a>
      </div>
      {% for item in site.data.local-government-monitoring.key-points %}
        <div class="is-col is-40 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img" style="background-image: url('{{ item.image }}');"></div>
            <div class="card-content">
              <div class="is-container is-items-middle is-stack-20">
                <img style="width: 40px; margin-right: 8px;" src="{{ item.icon }}">
                <h3>{{ item.name }}</h3>
              </div>
              {% for paragraph in item.words %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
            <div class="card-footer">
              <a href="{{ item.link.url }}" class="button is-secondary">{{ item.link.text }} <span class="caret is-right"></span></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-stack-40">
      <h3>Additional monitoring</h3>
    </div>
    <div class="is-row">
      {% for item in site.data.local-government-monitoring.lower-points %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img" style="background-image: url('{{ item.image }}');"></div>
            <div class="card-content is-stack-20">
              <h4>{{ item.name }}</h4>
              <p>{{ item.blurb }}</p>
            </div>
            <div class="card-footer">
              <a href="{{ item.link.url }}" class="button">{{ item.link.text }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="gov-contact">
  <div class="container">
    <h4>Get in contact</h4>
   <form class="is-inset-top-20" action="https://formspree.io/f/xeqwqknp" method="POST">
			<div class="form-item">
				<label><strong>Name <span class="is-req">*</span></strong></label>
				<input type="text" name="name" required="">
			</div>
			<div class="form-item">
				<label><strong>Email <span class="is-req">*</span></strong></label>
				<input type="email" name="email" required="">
			</div>
			<div class="form-item">
				<label><strong>Organisation</strong></label>
				<input type="text" name="organisation">
			</div>
			<div class="form-item">
				<label><strong>Phone number</strong></label>
				<input type="text" name="phone">
			</div>
			<div class="form-item">
				<label><strong>Message <span class="is-req">*</span></strong></label>
				<textarea rows="8" name="message" required=""></textarea>
			</div>
			<div class="form-item">
				<div class="is-container-row">
					<div style="margin-right: 10px;">
						<input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required="">
					</div>
					<div>
						<label for="terms-and-conditions"><span class="is-req">*</span> I accept the <a href="/policies#terms-and-conditions">terms of use</a> and <a href="/policies#privacy-policy">privacy policy</a>.</label>
					</div>
				</div>
			</div>
			<button class="button is-secondary is-100 is-big">Send</button>
		</form> 
  </div>
</section>
