---
layout: base
title: Solutions and technical information
page-description: "A collection of solutions andtechnical posts about general monitoring, environmental and power
monitoring as well as all things IoT."
---
<header>
  <div class="container">
    <h1>Solutions and technical information</h1>
    {% include header-buttons.html %}
  </div>
</header>
<section>
  <div class="container">
    <h2 class="is-stack-60">Most popular solutions</h2>
    <div class="is-row">
      <div class="is-col is-border is-shadow-2 is-inset-20">
        <div class="is-row">
          <div class="is-col is-40">
            <img src="/images/solutions/cellular-technology/gateway.svg">
          </div>
          <div class="is-col">
            <h2>Cellular router</h2>
            <p>Spook's cellular router solution won the recent 2020 CIR Business Continuity Awards category of
              Specialist Technology
              Company of the Year.</p>
            <a href="/solutions/cellular">See more</a>
          </div>
        </div>
      </div>
      <div class="is-col is-border is-shadow-2 is-inset-20">
        <div class="is-row">
          <div class="is-col is-40">
            <img src="/images/solutions/wireless/gateway.svg">
          </div>
          <div class="is-col is-60">
            <h2>Wireless monitoring</h2>
            <p>Spook's wireless monitoring solutions allow for easy monitoring in any location with instant access to
              data, all you need to do is turn on the sensors and you're ready to go.</p>
            <a href="/solutions/wireless">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
<section id="technical">
  <div class="container">
    <div class="is-row is-stack-60">
      <div class="is-col is-40">
        <div
          style="min-width: 100%; min-height: 100%; background-image: url('/images/banner/cellular-tower.jpeg'); background-size: cover; background-position: center;">
        </div>
      </div>
      <div class="is-col is-60">
        <h5>Technical</h5>
        <h2>Cellular technology</h2>
        <p>Cellular technology is improving quickly and being adopted as a reliable communications solution within many
          industries.</p>
        <p><a href="/solutions/technical/cellular-technology" class="button">Read more</a></p>
      </div>
    </div>
    <div class="is-row is-stack-60">
      <div class="is-col is-40">
        <div
          style="min-width: 100%; min-height: 100%; background-image: url('/images/banner/communications-tower.jpeg'); background-size: cover; background-position: center;">
        </div>
      </div>
      <div class="is-col is-60">
        <h5>Technical</h5>
        <h2>Wired vs wireless sensor monitoring</h2>
        <p>Wired and wireless monitoring both have their own benefits over the other. Knowing these benefits helps to
          make
          an informed decision when considering which is best for you.</p>
        <p><a href="/solutions/technical/wired-vs-wireless" class="button">Read more</a></p>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}