<section>
  <div class="container">
    <h2 class="is-stack-20">Other case studies</h2>
    <div class="is-row">

      <div class="is-col">
        <div class="is-border is-shadow-2 is-inset-20">
          <h3>Endsleigh Insurance fully managed solution using Geist Watchdog monitoring devices.</h3>
          <p><a href="/customers/casestudy/endsleigh-insurance" class="button">View more</a></p>
        </div>
      </div>

      <div class="is-col">
        <div class="is-border is-shadow-2 is-inset-20">
          <h3>FE fundinfo co-managed solution using The Climate monitoring devices.</h3>
          <p><a href="/customers/casestudy/fundinfo" class="button">View more</a></p>
        </div>
      </div>

      <div class="is-col">
        <div class="is-border is-shadow-2 is-inset-20">
          <h3>Olympia London co-managed solution using Jacarta interSeptor monitoring devices.</h3>
          <p><a href="/customers/casestudy/olympia-london" class="button">View more</a></p>
        </div>
      </div>

    </div>
  </div>
</section>