---
layout: technical/base
---
<section>
	<div class="container">
		<h2>Introduction</h2>
		<p>Wired and wireless monitoring both have their own benefits over the other. Knowing these benefits helps to make an informed decision when considering which is best for you.</p>
		<p>What is important to keep in mind is that there are no overwhelming right or wrong answers when evaluating wired vs. wireless.</p>
		<p>Where one solution might be the right answer for the needs of one section of your facility, the other could be the 'right' answer for somewhere else. Knowing the specific needs of your facility and how monitoring will help reach your goals is the most integral part of the conversation when weighing out the pros and cons of wireless and wired monitoring.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Security</h2>
		<h3>Wired</h3>
		<p>As the solution is physically cabled with interconnecting cables from monitoring devices to sensors and the monitoring units deployed are installed on the physical LAN; everything is contained within the internal network.</p>
		<p>Security is protected by the strict security policies and procedures of the customer e.g. behind firewalls and switches etc.</p>
		<p>This lets IT or facility managers have full control of who has access to the monitoring system and its data.</p>
		<h3>Wireless</h3>
		<p>The gateway of a wireless solution is as secure as a wired. It is typically physically connected to the LAN via a LAN Port and as such benefits from the security procedures of the IT/Facility.</p>
		<p>With the development of cellular router technology, security and resilience has got even stronger. For more information on this go here.</p>
		<p>However, the very nature of wireless monitoring means there is a requirement to broadcast data either from the Wireless Gateway to the sensors, or the wireless sensors to the gateway.</p>
		<p>There is a risk the data can be intercepted or hacked albeit that the data being transmitted is not that meaningful in terms of confidentiality (e.g. Serial Numbers, sensor types and system status etc.).</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Reliability</h2>
		<h3>Wired</h3>
		<p>LAN based monitoring technology has been around for a long time and has continually improved over the years.</p>
		<p>As a consequence a wired solution is perceived as being more reliable.</p>
		<p>The added benefit is that it is less susceptible to electronic interference from other sources.</p>
		<h3>Wireless</h3>
		<p>Sensors may suffer signal interference and dropped connections.</p>
		<p>The distance between sensors and their monitoring gateway may be a limiting factor, a large enough space or solid structure between these two points can sometimes result in a degradation of data transmission.</p>
		<p>Consideration also needs to be given to other systems that operate on the same frequency, as these are likely to create issues with data transmission.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Scalability</h2>
		<h3>Wired</h3>
		<p>Some say scalability of a wired solution is difficult.</p>
		<p>However, with careful planning, wired sensors are scalable.</p>
		<p>It is important to take time out to understand what you want to monitor for and why.</p>
		<p>Once you understand this it’s best to work backwards from what monitoring points you know you need (e.g. temperature, water, power etc.) and to map this back to suitable Ethernet attached monitoring devices.</p>
		<p>Many start off with the immediate monitoring requirement and tend to increase the monitoring footprint once the benefits of monitoring can be proven.</p>
		<p>However, adding new sensors incur the same labour costs.</p>
		<h3>Wireless</h3>
		<p>Wireless systems present a flexible way of monitoring as sensors can simply be placed in the vicinity of the monitoring point e.g. A water sensor can be installed next to an air conditioning unit and a temperature sensor can be placed near to the heat source.<p>
		<p>Additional sensors and gateways can be added to extend the monitoring footprint.<p>
		<p>Sensors can also be moved easily should the landscape of the monitored area change. <p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Cost benefit</h2>
		<h3>Wired</h3>
		<p>Because sensors are powered by interconnecting cables from network attached monitoring devices; digital sensors can take advantage of the electrical current flowing through the Ethernet cables and on-going operating costs are negligible.</p>
		<p>Therefore the overall cost of ownership reduces year by year.</p>
		<h3>Wireless</h3>
		<p>The installation and labour costs of a wireless solution tend to be lower.</p>
		<p>Wireless sensors can be to installed wherever needed without the need to run cabling through walls, floors, and ceilings.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Cost negative</h2>
		<h3>Wired</h3>
		<p>There are situations where the interconnecting cables for sensors can be damaged, loosened or disconnected.</p>
		<p>The very nature of a busy IT department is there may be staff or contractors involved in various projects that were not involved with the original monitoring project.</p>
		<p>It's rare but damage to the cabling can make sensors faulty or unresponsive.</p>
		<p>In these cases cabling may need to be simply reconnected but sometimes need to be replaced.</p>
		<p>The cost of physical cabling in terms of network cables and interconnecting cables is relatively low however the cost associated with labour and resource to install them can be high.</p>
		<p>Also, if a fault occurs with pre-made digital sensors with trailing interconnecting cable (Temperature, Humidity, Dew-point), you will need to replace the whole thing and the cost associated with this can be considerable. </p>
		<h3>Wireless</h3>
		<p>A few years ago the cost of a wireless solution was fairly high.</p>
		<p>The technology had not been around for long and as with any technological solution the early adopters suffered the highest price points.</p>
		<p>However, as with all technology, the longer the technology has been around the more reliable and cheaper it becomes.</p>
		<p>There is a known cost overhead that should be addressed and that is the actual cost of batteries for replacement.</p>
		<p>For small installation the battery cost is low but for larger installations the cost could be considerable.</p>
		<p>There is a need to factor in cyclical battery swaps, typically every 10 years depending on the sensor type and the polling frequency.</p>
		<p>Battery replacement also has a hidden overhead associated with it and that is the need to factor in labour costs. </p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Speed</h2>
		<h3>Wired</h3>
		<p>Wired data transmission is generally only affected by the bandwidth rating of the cable, LAN ports and the monitoring devices ability to send and receive data.</p>
		<p>Sensor data transfer is immediate and there is no limit, apart from a few seconds polling cycle, to the frequency of data collection.</p>
		<h3>Wireless</h3>
		<p>Wireless sensors may be susceptible to a delay before a transfer of data begins. It’s important that the data is transmitted and available as fast as possible.</p>
		<p>The major overhead to speed is battery life in relation to the data sampling frequency. The more frequent the data collection, the less battery life a sensor will have.</p>
		<p>Wireless sensors collect real-time on-board readings and these are transmitted every 10 minutes via the local gateway. This ensures the maximum battery life of approximately 10 years is achieved.</p>
		<p>In order to ensure there is no delay in alerting to a critical change each sensor has an 'aware state’ which is variable (e.g. a temperature sensor may be set with a ‘high’ of 30oC). This means that in the example of temperature, should the reading change to 30.1oC the ‘aware state’ is invoked and the real-time reading is transmitted immediately.</p>
		<p>Signal strength and battery level are also monitored ensuring the battery replacement process is achieved in an informed and simple way. </p>
	</div>
</section>
