---
layout: technical/base
---
<style>
.network-icon{
	max-width: 50px;
}
.vs-header{
	background-color: #212121;
	color: #fff;
}
.vs-header>li>img{
	filter: invert();
}
.vs-words{
	margin-top: 20px;
}
</style>
<section>
    <div class="container">
        <h2>Introduction</h2>
        <p>What is important to keep in mind is that there are no overwhelming right or wrong answers when evaluating wired vs. wireless.</p>
        <p>Where one solution might be the right answer for the needs of one section of your facility, the other could be the right answer for somewhere else. Knowing the specific needs of your facility and how monitoring will help reach your goals is the most integral part of the conversation when weighing out the pros and cons of wired and wireless monitoring. </p>
        <p>In Spook's experience more organisations are using both technologies in harmony. Many legacy environmental monitors are wired, simply because there was not a wireless option at the time or because wireless technology was in its infancy. </p>
        <p>Add into the mix that the ability to monitor disparate equipment has evolved with the majority of hardware now being manufactured with integral network cards. However, much of the same kit does have dry contact panels too making wireless sensor options for monitoring an good alternative. </p>
    </div>
</section>
{% for section in site.data.technical.wired-vs-wireless %}
<section>
    <div class="container">
		<div class="is-border is-inset-20">
			<h2>{{ section.title }}</h2>
			<div class="is-row">
				<div class="is-col is-40 is-inset-20">
					<ul class="is-bar vs-header">
						<li><img class="network-icon" src="/images/icons/ethernet.svg"></li>
						<li><p class="is-large"><strong>Wired</strong></p></li>
					</ul>
					<div class="vs-words">
						{% for wired-words in section.wired-words %}
							<p>{{ wired-words }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="is-col is-40 is-inset-20">
					<ul class="is-bar vs-header">
						<li><img class="network-icon" src="/images/icons/cellular.svg"></li>
						<li><p class="is-large"><strong>Wireless</strong></p></li>
					</ul>
					<div class="vs-words">
						{% for wireless-words in section.wireless-words %}
							<p>{{ wireless-words }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
{% endfor %}
