<section>
  <div class="container is-text-center">
    <div class="is-stack-40">
      <h4>OmniWatch key components</h4>
    </div>
    <div class="is-row is-stack-60">
	<div class="is-col is-border">
	  <div class="is-inset-20">
	    <a href="/omniwatch/dashboard" class="is-color-black" style="text-decoration: none;">
	      <div class="line-block-content">
		<img style="max-width: 100px; max-height: 40px; padding-right: 20px;" src="/images/icons/remote-working.svg">
		<h5>Dashboards</h5>
	      </div>
	    </a>
	  </div>
	</div>
	<div class="is-col is-border">
	  <div class="is-inset-20">
	    <a href="/omniwatch/alerting" class="is-color-black" style="text-decoration: none;">
	      <div class="line-block-content">
		<img style="max-width: 100px; max-height: 40px; padding-right: 20px;" src="/images/icons/alarms.svg">
		<h5>Alerting</h5>
	      </div>
	    </a>
	  </div>
	</div>
	<div class="is-col is-border">
	  <div class="is-inset-20">
	    <a href="/omniwatch/reporting" class="is-color-black" style="text-decoration: none;">
	      <div class="line-block-content">
		<img style="max-width: 100px; max-height: 40px; padding-right: 20px;" src="/images/icons/report.svg">
		<h5>Reporting</h5>
	      </div>
	    </a>
	  </div>
	</div>
	<div class="is-col is-border">
	  <div class="is-inset-20">
	    <a href="/omniwatch/change-logs" class="is-color-black" style="text-decoration: none;">
	      <div class="line-block-content">
		<img style="max-width: 100px; max-height: 40px; padding-right: 20px;" src="/images/icons/data.svg">
		<h5>Change logs</h5>
	      </div>
	    </a>
	  </div>
	</div>
	<div class="is-col is-border">
	  <div class="is-inset-20">
	    <a href="/omniwatch/installation-plans" class="is-color-black" style="text-decoration: none;">
	      <div class="line-block-content">
		<img style="max-width: 100px; max-height: 40px; padding-right: 20px;" src="/images/omniwatch/installation-plans.svg">
		<h5>Installation plans</h5>
	      </div>
	    </a>
	  </div>
	</div>
    </div>
  </div>
</section>
