<footer class="block is-shadow-3">
  <div class="container">
    <div class="is-row is-stack-20">
      <div class="is-col">
        <div class="is-stack-20">
          <div>
            <a href="mailto:enquiries@spook.co.uk"><img class="is-stack-20" alt="Email us" src="/images/icons/email.svg"></a>
            <a href="https://www.linkedin.com/company/spook-limited"><img class="is-stack-20" alt="LinkedIn" src="/images/icons/linkedin.svg"></a>
            <a href="https://facebook.com/spookltd/"><img class="is-stack-20" alt="Facebook" src="/images/icons/facebook.svg"></a>
            <a href="https://twitter.com/spooklimited"><img class="is-stack-20" alt="Twitter" src="/images/icons/twitter.svg"></a>
            <a href="https://www.instagram.com/spookomniwatch/"><img class="is-stack-20" alt="Instagram" src="/images/icons/instagram.svg"></a>
          </div>
          <span class="is-big"><strong>Contact us</strong></span>
          <ul class="is-unstyled">
            <li><a href="/contact">Get in touch</a></li>
          </ul>
        </div>
        <span class="is-big"><strong>Legal</strong></span>
        <ul class="is-unstyled">
          <li><a href="/policies#terms-and-conditions">Terms of use</a></li>
          <li><a href="/policies#privacy-policy">Privacy policy</a></li>
          <li><a href="/policies#cookie-policy">Cookie policy</a></li>
        </ul>
      </div>
      <div class="is-col">
        <span class="is-big"><strong>Monitoring</strong></span>
        <ul class="is-unstyled">
          <li><a href="/monitoring/air-quality-and-co2">Air quality and CO<sub>2</sub></a></li>
          <li><a href="/monitoring/co2-monitoring">Intelligent CO<sub>2</sub> monitoring</a></li>
          <li><a href="/monitoring/it-rooms-and-facilities">IT rooms and facilities</a></li>
          <li><a href="/monitoring/utility-monitoring">Public utility monitoring</a></li>
        </ul>
        <a class="is-big" href="/solutions"><strong>Solutions</strong></a>
        <ul class="is-unstyled">
          <li><a href="/solutions#technical">Technical documents</a></li>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/monitoring/environmental"><strong>Environmental</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/environmental/temperature">Temperature</a></li>
          <li><a href="/monitoring/environmental/humidity">Humidity</a></li>
          <li><a href="/monitoring/environmental/dewpoint">Dew Point</a></li>
          <li><a href="/monitoring/environmental/airflow">Airflow</a></li>
          <li><a href="/monitoring/environmental/water">Water ingress</a></li>
          <li><a href="/monitoring/environmental/light">Light levels</a></li>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/monitoring/power"><strong>Power and energy</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/power/ups">UPS systems</a></li>
          <li><a href="/monitoring/power/pdu">Power distribution units</a></li>
          <li><a href="/monitoring/power/energy-meters">Energy meters</a></li>
          <li><a href="/monitoring/power/generator">Generators</a></li>
          <li><a href="/monitoring/power/pue-and-dcie">PUE and DCiE</a></li>
        </ul>
      </div>
      <div class="is-col">
        <span class="is-big"><strong>Company</strong></span>
        <ul class="is-unstyled">
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/customers">Customers</a></li>
        </ul>
      </div>
    </div>
    <p class="is-small">2022 © Spook Limited. All rights reserved.</p>
  </div>
</footer>
<script src="/js/kube.min.js"></script>
<script>
  $K.init();
</script>
