<footer class="block is-shadow-3">
  <div class="container">
    <div class="is-stack-20">
      <h5>Contact us</h5>
      <ul class="is-unstyled">
        <li><a href="/contact/">Get in touch</a></li>
      </ul>
    </div>
    <div class="is-row is-stack-20">
      <div class="is-col">
        <h5>Legal</h5>
        <ul class="is-unstyled">
          <li><a href="/policies/#terms-and-conditions">Terms of use</a></li>
          <li><a href="/policies/#privacy-policy">Privacy policy</a></li>
          <li><a href="/policies/#cookie-policy">Cookie policy</a></li>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/monitoring/environmental"><strong>Environmental</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/environmental/temperature">Temperature</a></li>
          <li><a href="/monitoring/environmental/humidity">Humidity</a></li>
          <li><a href="/monitoring/environmental/dewpoint">Dew Point</a></li>
          <li><a href="/monitoring/environmental/airflow">Airflow</a></li>
          <li><a href="/monitoring/environmental/water">Water ingress</a></li>
          <li><a href="/monitoring/environmental/light">Light levels</a></li>
        </ul>
        <a class="is-big" href="/monitoring/it"><strong>IT monitoring</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/it/data-center">Data center</a></li>
          <li><a href="/monitoring/it/server-room">Server room</a></li>
          <li><a href="/monitoring/it/comms-room">Comms room</a></li>
          <li><a href="/monitoring/it/comms-closet">Comms closet</a></li>
          <li><a href="/monitoring/it/facilities">Facilities</a></li>
          <li><a href="/monitoring/it/disaster-recovery">Disaster recovery</a></li>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/monitoring/power"><strong>Power monitoring</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/power/generator.html">Generator</a></li>
          <li><a href="/monitoring/power/pdu.html">PDU</a></li>
          <li><a href="/monitoring/power/pue-and-dcie.html">PUE and DCiE</a></li>
          <li><a href="/monitoring/power/ups.html">UPS</a></li>
        </ul>
        <a class="is-big" href="/monitoring/industry"><strong>Industry</strong></a>
        <ul class="is-unstyled">
          <li><a href="/monitoring/industry/agriculture.html">Agriculture</a></li>
          <li><a href="/monitoring/industry/biotech.html">Biotech and pharmaceuticals</a></li>
          <li><a href="/monitoring/industry/heritage.html">Heritage</a></li>
          <li><a href="/monitoring/industry/marine.html">Marine</a></li>
          <li><a href="/monitoring/industry/refrigeration.html">Refrigeration</a></li>
          <li><a href="/monitoring/industry">Other industries</a></li>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/solutions/wireless"><strong>Wireless sensors</strong></a>
        <ul class="is-unstyled">
          <li><a href="/solutions/wireless/sensor/ac-meter">Alternating current</a>
          <li><a href="/solutions/wireless/sensor/activity-detection">Activity detection</a>
          <li><a href="/solutions/wireless/sensor/airflow">Airflow</a>
          <li><a href="/solutions/wireless/sensor/asset-monitoring">Asset monitoring</a>
          <li><a href="/solutions/wireless/sensor/boundary-and-ir">Boundary and IR</a>
          <li><a href="/solutions/wireless/sensor/dew-point">Dew point</a>
          <li><a href="/solutions/wireless/sensor/dry-contact">Dry contact</a>
          <li><a href="/solutions/wireless/sensor/gasses">Gasses</a>
          <li><a href="/solutions/wireless/sensor/humidity">Humidity</a>
          <li><a href="/solutions/wireless/sensor/light-meters">Light meters</a>
          <li><a href="/solutions/wireless/sensor/motion">Motion</a>
          <li><a href="/solutions/wireless/sensor/open-closed">Open/closed</a>
          <li><a href="/solutions/wireless/sensor/powder-detection">Powder</a>
          <li><a href="/solutions/wireless/sensor/pressure">Pressure</a>
          <li><a href="/solutions/wireless/sensor/propane-level">Propane levels</a>
          <li><a href="/solutions/wireless/sensor/temperature">Temperature</a>
          <li><a href="/solutions/wireless/sensor/three-phase-current">Three phase current</a>
          <li><a href="/solutions/wireless/sensor/vehicle-detection">Vehicle detection</a>
          <li><a href="/solutions/wireless/sensor/voltage-meter">Voltage meter</a>
          <li><a href="/solutions/wireless/sensor/water">Water</a>
        </ul>
      </div>
      <div class="is-col">
        <a class="is-big" href="/solutions"><strong>Solutions</strong></a>
        <ul class="is-unstyled">
          <li><a href="/solutions/cellular">Cellular</a></li>
          <li><a href="/solutions/wireless">Wireless</a></li>
          <li><a href="/solutions/#technical">Technical documents</a></li>
        </ul>
        <h5>Company</h5>
        <ul class="is-unstyled">
          <li><a href="/about/">About</a></li>
          <li><a href="/news/">News</a></li>
        </ul>
      </div>
    </div>
    <p class="is-small">2021 © Spook Limited. All rights reserved.</p>
  </div>
</footer>
<script src="/js/kube.min.js"></script>
<script>
  $K.init();
</script>