<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   width="400px"
   height="400px"
   viewBox="0 0 215.84708 215.84517"
   version="1.1"
   id="svg8"
   style="position: absolute; min-width: 200%; min-height: 200%; top: 0; left: -90%;">
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(-40.576467,2.9225854)">
    <g
       id="g943"
	   class="rotate"
       style="stroke:#ffffff;stroke-opacity:1">
      <path
         sodipodi:nodetypes="ccccccccccc"
         inkscape:connector-curvature="0"
         id="path875"
         d="m 109.04597,105.3006 8.38558,-23.088839 18.10751,-13.898015 25.12333,-0.367495 18.14092,14.332328 8.78649,22.350411 -8.48581,23.11882 -18.00729,13.98154 -25.22356,0.31738 -18.14091,-14.29892 z"
         style="fill:none;stroke:#ffffff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         inkscape:connector-curvature="0"
         id="path877"
         d="m 135.53906,68.313746 -26.49309,36.986854 26.82717,36.74613 43.23085,-14.29892 -0.30068,-45.469231 z"
         style="fill:none;stroke:#ffffff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         inkscape:connector-curvature="0"
         id="path879"
         d="m 109.04597,105.3006 h 37.79778 L 135.53906,68.313746"
         style="fill:none;stroke:#ffffff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         inkscape:connector-curvature="0"
         id="path881"
         d="m 178.80331,82.278579 -31.95956,23.022021 32.26024,22.44721"
         style="fill:none;stroke:#ffffff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         inkscape:connector-curvature="0"
         id="path883"
         d="m 146.84375,105.3006 -10.97061,36.74613"
         style="fill:none;stroke:#ffffff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Layer 3"
     transform="translate(-40.576467,2.9225854)">
    <circle
		class="reverse-rotate"
       style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.40000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.4, 0.80000000000000004;stroke-dashoffset:0;stroke-opacity:1"
       id="path885"
       cx="148.5"
       cy="105"
       r="72.949409" />
    <circle
		class="reverse-rotate"
       style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.59015387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.59015388, 1.18030777999999992;stroke-dashoffset:0;stroke-opacity:1"
       id="path885-6"
       cx="148.49998"
       cy="104.99998"
       r="107.62844" />
    <circle
		class="rotate-slow"
       style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.50541145;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.50541139, 1.01082279999999991;stroke-dashoffset:0;stroke-opacity:1"
       id="path885-7"
       cx="148.49998"
       cy="104.99998"
       r="92.17366" />
  </g>
</svg>
