<title>{{ page.title }} | Spook</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'.html', '' | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/favicons/favicon-16x16.png">
<link rel="mask-icon" href="{{site.baseurl}}/images/favicons/safari-pinned-tab.svg">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<meta name="description" content="{{ page.page-description }}">
{% if page.image %}
<meta property="og:image" content="https://spook.co.uk{{ page.image }}" />
<meta property="og:image:secure_url" content="https://spook.co.uk{{ page.image }}" />
{% endif %}
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | replace:'.html', '' | absolute_url }}" />
<meta property="og:description" content="{{ page.page-description }}" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/css/kube.min.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/slider.css">
