<div class="top-nav dark-blue-grey white-text">
  <div class="container">
    <div class="is-container is-inset-y-8 is-small">
      <div>
        <!-- <b>New:</b> CO<sub>2</sub> and air quality monitoring. <a href="/monitoring/air-quality-and-co2">Click here to read more</a>.-->
      </div>
      <div class="is-push-right">
        For all enquiries email <a href="mailto:enquiries@spook.co.uk">enquiries<span class="is-hidden">spam</span>@<span class="is-hidden">spam</span>spook.co.uk</a> or call <a href="tel:01737906111">+44 (0)1737 906 111</a>
      </div>
    </div>
  </div>
</div>
<div class="is-navbar-container is-hidden-mobile">
  <div class="container">
    <div class="green">
    </div>
    <div class="is-navbar">
      <nav class="is-push-left">
        <a href="/">
          <img alt="Spook Limited" style="height: 80px;" src="/images/spook-limited.svg">
        </a>
      </nav>
      <nav class="is-push-right">
        <ul class="navbar-links">
          <li><a class="navbar-link" href="/">Home</a></li>
          <li><a class="navbar-link" data-kube="dropdown" data-target="#monitoring-dropdown">Monitoring <span
                class="caret is-down"></span></a></li>
          <li><a class="navbar-link" href="/solutions">Solutions</a></li>
          <li><a class="navbar-link" href="/customers">Customers</a></li>
          <li><a class="navbar-link" href="/news">News</a></li>
          <li><a class="navbar-link" href="/contact">Contact</a></li>
          <li>|</li>
          <li><a href="https://omni.watch/login" class="button is-small">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div id="monitoring-dropdown" class="dropdown is-hidden">
  <a href="/monitoring/air-quality-and-co2">Air quality & CO<sub>2</sub></a>
  <a href="/monitoring/co2-monitoring"> - CO<sub>2</sub></a>
  <a href="/monitoring/it-rooms-and-facilities">IT rooms & facilities</a>
  <a href="/monitoring/environmental"> - Environmental</a>
  <a href="/monitoring/power"> - Power</a>
</div>


<div class="mobile-navigation-link is-hidden-desktop">
  <a data-kube="toggle" data-target="#mobile-navigation">Menu <span class="caret is-down"></span></a>
</div>
<div class="container">
  <div id="mobile-navigation" class="is-hidden mobile-navigation">
    <nav>
      <ul class="is-unstyled">
        <li><a class="mobile-link" href="/">Home</a></li>
        <li><a class="mobile-link" data-kube="toggle" data-target="#monitoring-toggle">Monitoring <span
              class="caret is-down"></span></a></li>
        <div id="monitoring-toggle" class="is-hidden">
          <ul>
            <li><a class="mobile-link" href="/monitoring/air-quality-and-co2">Air quality and CO2</a></li>
            <li><a class="mobile-link" href="/monitoring/co2-monitoring"> - CO<sub>2</sub></a></li>
            <li><a class="mobile-link" href="/monitoring/it-rooms-and-facilities">IT rooms and facilities</a></li>
            <li><a class="mobile-link" href="/monitoring/environmental"> - Environmental</a></li>
            <li><a class="mobile-link" href="/monitoring/power"> - Power</a></li>
          </ul>
        </div>
        <li><a class="mobile-link" href="/solutions">Solutions</a></li>
        <li><a class="mobile-link" href="/customers">Customers</a></li>
        <li><a class="mobile-link" href="/news">News</a></li>
        <li><a class="mobile-link" href="/contact">Contact</a></li>
        <li><a href="https://omni.watch/login" class="button">Login</a></li>
      </ul>
    </nav>
  </div>
</div>
