<div class="is-row">
  <div class="is-col is-50 is-stack-60">
    <div class="is-container is-items-middle">
      <div>
        <img alt="Support for new monitoring customers" style="width: 100px" src="/images/icons/new-to-monitoring.svg">
      </div>
      <div>
        <h4>New to monitoring</h4>
      </div>
    </div>
    <p>We help organisations start monitoring projects from scratch. We have a wealth of experience that is free and helpful in creating an informed approach to monitoring.</p>
    <p>We are also resellers to industry leading sensor and equipment manufacturers and can recommend the most appropriate hardware and sensors to fit any size monitoring project.</p>
    <div class="quote-block grey is-shown-mobile">
      <span>"</span>
      <p>We had been considering monitoring for a while but did not have the resource or the knowledge to fully understand how to go about doing things from scratch.</p>
      <p>We approached Spook as they have lots of experience in looking independently at monitoring projects. They recommended and provided the most appropriate hardware and sensors for us.</p>
      <p>The sensors arrived pre-configured and were implemented on OmniWatch by Spook before we installed them.</p>
      <div class="quote-by">
        <img alt="VAX" src="/images/customer-logo/vax.svg">
      </div>
    </div>
  </div>
  <div class="is-col is-50 is-stack-60">
    <div class="is-container is-items-middle">
      <div>
        <img alt="Support for customers with existing monitoring" style="width: 100px" src="/images/icons/existing-monitoring.svg">
      </div>
      <div>
        <h4>Additional monitoring</h4>
      </div>
    </div>
    <p>Many of our customers have tried monitoring for themselves.</p>
    <p>This ranges from institutions that rely on equipment onboard data loggers and communications cards; to organisations that have started monitoring projects but need help to extend monitoring to new areas and/or implement a central monitoring solution.</p>
    <div class="quote-block grey is-shown-mobile">
      <span>"</span>
      <p>We needed a remote monitoring service that did not require an on premise PC and was independent of our network.</p>
      <p>Spook provided pre-configured cellular routers for each of our five locations across the UK. The whole project was a simple plug-and-play solution with no involvement from us.</p>
      <div class="quote-by">
        <img alt="NHS Business Services Authority" src="/images/customer-logo/nhs.svg">
      </div>
    </div>
  </div>
</div>
<div class="is-row">
  <div class="is-col is-50 is-stack-60">
    <div class="quote-block grey is-hidden-mobile">
      <span>"</span>
      <p>We had been considering monitoring for a while but did not have the resource or the knowledge to fully understand how to go about doing things.</p>
      <p>When we Googled the various areas of interest we got more confused.</p>
      <p>We approached Spook as they have a different outlook to simply buying hardware and sensors. Thankfully we now have a fully installed, joined up monitoring solution.</p>
      <div class="quote-by">
        <img alt="VAX" src="/images/customer-logo/vax.svg">
      </div>
    </div>
  </div>
  <div class="is-col is-50 is-stack-60">
    <div class="quote-block grey is-hidden-mobile" style="min-height: 100%">
      <span>"</span>
      <p>We had a series of climate monitors installed in our server rooms. Due to a change in our security policy we needed a remote monitoring service that did not require an on premise PC and was independent of our network.</p>
      <p>Spook suggested a technology upgrade and provided pre-configured cellular routers for each of our five server locations across the UK. The whole project was a simple plug-and-play solution with no involvement from us.</p>
      <div class="quote-by">
        <img alt="NHS Business Services Authority" src="/images/customer-logo/nhs.svg">
      </div>
    </div>
  </div>
</div>
<p class="is-text-center">
  <a href="/contact" class="button">Contact us <span class="caret is-right"></span></a>
</p>

