<section class="grey">
	<div class="container is-text-center">
    <div class="is-stack-40">
      <h4>Used by</h4>
    </div>
		<div class="is-row is-stack-20 is-hidden-mobile">
      {% for customer in site.data.used-by %}
        <div class="is-col">
          <img alt="{{ customer.name }}" class="is-inset-20" src="{{ customer.logo }}">	
        </div>
        {% if forloop.index == 6 or forloop.index == 12 or forloop.index == 18 %}
          </div><div class="is-row is-stack-20 is-hidden-mobile">
        {% endif %}
      {% endfor %}
    </div>
    <div class="is-shown-mobile">
      <ul class="is-bar">
        {% for customer in site.data.used-by %}
          <li><img alt="{{ customer.name }}" style="width: 120px; height: 60px;" src="{{ customer.logo }}"></li>
        {% endfor %}
      </ul>
    </div>
	</div>
</section>

