---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <h1>Wireless activity detection sensor</h1>
				<h3>Coin cell | AA | Industrial</h3>
                <p>Spook wireless activity sensors come in a range of different types. Each are designed to alert on the change of a specific activity. They can detect sudden movement or whether machinery is in use or not.</p>
                <p>Understanding the activity of equipment can be helpful in knowing if things are running in a normal state or whether they require attention. This, in turn, can assist in preventative maintenance programs and extending the life of monitored kit.</p>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/aa-sensor.svg">
			</div>
		</div>
    </div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless activity sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.activity-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
<section>
    <div class="container">
        <h3>Related sensors</h3>
		<div class="is-row">
			{% for item in site.data.sensors.activity-variations %}
			<div class="is-col is-33 is-stack-40">
				<img style="width: 120px;" src="{{ item.icon }}">
				<h5>{{ item.name }}</h5>
				<ul class="is-bar">
					{% for type in item.types %}
					<li class="is-small">{{ type }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
