---
layout: base
---
<header>
	<div class="container">
		<h1>Airflow monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>Our server rooms are spread across London with the main IT rooms being in Hammersmith and our fail-over room is in Canary Wharf. We had a problem with unusual high temperatures in the Canary Wharf location and after some lengthy investigation we realised the air conditioning (AC) filters had become blocked. Although the AC units were working they had become considerably less efficient. By installing air-flow sensors near to the air conditioning outlets we now monitor the strength of airflow as a key element of our preventative maintenance program.</p>
			<p class="is-small">Olympia London - London's premier exhibition provider for over 130 years.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of airflow monitoring</h2>
		<p>Crucial to effective and efficient data centre operation, good airflow management cuts costs by reducing the volume of cooled air that needs to be supplied, and will also improve the temperature distribution across the cabinets.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Airflow efficiency loss</h2>
		<p>There are many reasons airflow may become less efficient however the most common reasons are associated with:</p>
		<ul>
			<li>Missed filter changes</li>
			<li>Motors of HVAC (Heating Ventilation and Air Conditioning) becoming less efficient or failing</li>
			<li>Fans become unbalanced and out of sequence</li>
			<li>Obstructions being placed in airflow channels</li>
		</ul>
		<p>Larger rooms often require additional sensor information to determine potential problems with cooling efficiency. It’s important to measure the rate of airflow to gauge the overall health of the environment.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The opportunity for airflow management</h2>
		<p>Airflow management is a crucial tool because it controls static electricity and dust build-up on computer fans that can cause equipment crashes. The sooner ventilation failures are detected, the faster preventative and remedial measures can be managed.</p>
		<p>Airflow management is key to being alerted to reduced server performance, equipment damage and complete shutdowns.</p>
		<p>By monitoring airflow ensures systems run at peak efficiency.</p>
		<p>Example applications:</p>
		<ul>
			<li>Heating and AC system monitoring</li>
			<li>HVAC testing</li>
			<li>Blower motor monitoring</li>
			<li>Filter replacement</li>
			<li>Environmental monitoring</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<h2>Types of airflow sensor</h2>
		<p>There are many different types of airflow sensors and it depends on the equipment manufacturer used that determines the type of monitoring available. However, Spook’s most common type of third party sensors are:</p>
		<h3>Air velocity</h3>
		<p>The Vigil+ wireless air velocity sensor measures the pressure difference between two input ports, the temperature and altitude determines the speed at which the air is moving in a system.</p>
		<ul>
			<li>Measurement range: -50 m/s to 50 m/s</li>
			<li>Calibrated and temperature compensated Principle of Operation</li>
		</ul>
		<p>The sensor measures the pressure difference between two ports. When viewing the sensor from the top, the right inlet port is the positive or high side pressure input. When the pressure on this port is greater than the left port the sensor produces a negative pressure reading.</p>
		<p>When the pressure is greater on the left port the sensor produces a positive pressure reading. Combined with the temperature and the altitude, the sensor determines at what rate the air is flowing in a system.</p>
		<h4>Example applications</h4>
		<ul>
			<li>Building/room pressure</li>
			<li>Airflow</li>
			<li>Variable air volume filter status</li>
			<li>Duct pressure</li>
			<li>Clean rooms</li>
			<li>Hospitals</li>
			<li>Fume hoods</li>
			<li>Computer rooms</li>
			<li>Many additional applications</li>
		</ul>
		<h3>Airflow sensors</h3>
		<p>Airflow detection sensors use a flexible, stress sensitive ribbon to detect airflow within heating and air conditioning duct work. The more bend measured on the ribbon equates to the efficiency of airflow being measured.</p>
		<h3>Temperature, airflow, humidity and dew point all-in-one sensors</h3>
		<p>This all-in-one sensor provides multiple remote environment readings as a complete package. Built to remotely monitor computer cabinet or server room conditions the all-in-one sensor is designed for determining temperature, humidity, air flow and dew point.</p>
		<p>The all-in-one sensor automatically detects and identifies each sensor. Friendly names can be allocated to each sensor type for easy identification.</li>
	</div>
</section>
