---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<p>Spook wireless differential pressure sensors measures the pressure difference between two input ports. When viewing the sensor from the top, the right inlet port is the positive or high side pressure input. When the pressure on this port is greater than the left port the sensor produces a negative pressure reading. When the pressure is greater on the left port the sensor produces a positive pressure reading.</p>
				<ul>
					<li>Measurement range: -500 Pa to 500 Pa</li>
					<li>Calibrated and temperature compensated</li>
				</ul>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/airflow.svg">
			</div>
		</div>
        <h3>Related sensors</h3>
        <div class="is-row">
            {% for item in site.data.sensors.airflow-variations %}
            <div class="is-col">
                <img style="width: 120px;" src="{{ item.icon }}">
                <h5>{{ item.name }}</h5>
                <ul class="is-bar">
                    {% for type in item.types %}
                    <li class="is-small">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

	</div>
</section>
