---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless airflow sensor</h1>
				<h3>AA | Industrial</h3>
				<p>Spook's differential pressure sensor is the most popular airflow monitor for accuracy and measures the difference in pressure between two points. One inlet point is the positive port and the other is calibrated to measure the opposite pressure reading. When the pressure is greater on the positive point the sensor records a negative pressure reading and vice versa. The range of airflow pressure on this sensor is -500 Pa and +500 Pa.</p>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/airflow.svg">
			</div>
		</div>
    </div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless airflow sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.airflow-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
<section>
    <div class="container">
        <h3>Related sensors</h3>
        <div class="is-row">
            {% for item in site.data.sensors.airflow-variations %}
            <div class="is-col">
                <img style="width: 120px;" src="{{ item.icon }}">
                <h5>{{ item.name }}</h5>
                <ul class="is-bar">
                    {% for type in item.types %}
					{% if forloop.index != 1 %}<li>|</li>{% endif %}
                    <li class="is-small">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
	</div>
</section>
