---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <h1>Wireless asset monitoring sensor</h1>
                <p>Spook wireless asset sensors trace the movement of assets within a facility. OmniWatch sends <a href="/omniwatch/alerting/">an alert</a> if an asset is removed from the operating range of the wireless gateway.</p>
                <p>Additionally, the sensor can detect the presence of a magnetic strip on an asset. If the magnetic source is broken, the asset sensor will send an alert.</p>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/asset.svg">
			</div>
        </div>
	</div>
</section>
<section>
	<div class="container">
		<h3>Potential uses for wireless asset monitoring sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.asset-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
