---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <p>Track the movement and placement of assets, machinery, carts, or window/door positions. Place a magnetic strip on an asset; via a reed switch and the sensor will detect the presence of a magnetic source.</p>
                <p>The wireless asset sensor can be attached to an asset and alert if the asset is removed from range of the wireless sensor gateway.</p>
                <ul>
                    <li>Manage and monitor assets</li>
                    <li>Know when things have been removed from premises</li>
                <ul>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/asset.svg">
			</div>
        </div>
	</div>
</section>


