---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <p>These sensors are ideal for areas that need to allow viewing platforms or areas to members of the public and to protect 'no go' boundaries. Often these areas are simply protected with a perimeter rope and exhibition security staff are employed to ensure no one intrudes beyond the permitted area.</p>
                <p>By installing IR beams or pressure pads, any vulnerable area can be monitored with ease.</p>
                <p>There are many different types of pressure pads and IR beams available and when connected to a Spook wireless dry contact sensor, as pressure is detected the sensor records an alert.</p>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/boundry.svg">
			</div>
        </div>
	</div>
</section>


