---
layout: base
---
<header>
	<div class="container">
		<h3>Real-time data collection</h3>
		<h1>Building management systems monitoring</h1>
	</div>
</header>
<section>
	<div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>What is a Building Management System (BMS)?</h2>
                <p class="is-large">A BMS is a centralised computer-based controller and monitoring system for a building or facility.</p>
                <p>The most common use of BMS is to control a buildings mechanical and electrical equipment such as heating ventilation and air conditioning (HVAC), lighting and security systems.</p>
                <p>BMSs vary and usually include sensors, pressure switches, flow meters, controllers, and relays.</p>
            </div>
            <div class="is-col">
                <div class="is-row is-text-center">
                    {% for item in site.data.monitoring.building-management-systems-uses %}
                    <div class="is-col is-25">
                        <img src="{{ item.icon }}">
                        <p>{{ item.name }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
</section>
<section class="grey">
	<div class="container">
        <div class="is-row">
            <div class="is-col is-30">
                <img src="/images/monitoring/bms/code-of-conduct.svg">
            </div>
            <div class="is-col is-70">
                <h2>Spook is an approved Endorser of the European Code of Conduct for Data Centres</h2>
                <p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy consumption in data centres and the need to reduce the related environmental, economic and energy supply security impacts.</p>
                <p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a cost-effective manner without hampering the mission critical function of data centres.</p>
                <p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data centre, raising awareness, and recommending energy efficient best practice and targets.</p>
        <ul class="is-bar">
            <li><a href="#" class="button">Read more</a></li>
            <li><a href="#" class="button is-secondary">2019 best practice guidelines</a></li>
            </ul>
        </div>
	</div>
</section>
<section>
	<div class="container">
		<h2>Benefits of building management systems</h2>
		<p>Building management has seen an increasing emphasis on energy efficiency and green building initiatives. BMSs help building or facility managers achieve standards and provide evidential support for legislation.</p>
		<p>At the same time, IT integration and the increasing use of analytics and actionable data has led to BMSs being placed at the heart of building design strategy.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Why use OmniWatch to monitor a BMS system?</h2>
		<p>OmniWatch is not designed to replace a BMSs although OmniWatch does achieve the majority of monitoring a BMS system can do independently. In Spook's experience organisations that have invested in BMS systems often find them to be costly and awkward to manage.</p>
		<p>OmniWatch often supplements a BMS to provide an easy to use, joined up central solution for managing alerts, creating reports and providing an excellent platform to measure, analyse and control matters.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Power monitoring</h2>
		<p>A BMS may also be used to monitor and control power distribution, energy consumption and uninterrupted power supplies (UPS) and may be referred to as building energy management systems (BEMS).</p>
        <p>Building power can be easily monitored through a BMS and OmniWatch and can have the added benefit of, through the increase of data availability and features, load balancing power consumption and impact testing for changes from a single room to an entire building.</p>
        <p>OmniWatch also supports calculations for site wide <a href="/monitoring/sensors/pud-dcie/">PUE and DCiE</a> which can be used to find inefficiencies and help make the necessary changes to improve performance or reduce cost/demand of air conditioning and lighting when not needed.</p>
        <p><a href="/monitoring/power-monitoring/" class="button">Read more about power monitoring</a></p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Perpetuity of data</h2>
        <p>Unlike most off-the-shelves monitoring solutions OmniWatch doesn't 
		<p>OmniWatch customers are able to accurately measure and compare readings across different time zones and periods. Trend data reports can be generated and compared for any time frame, this is ideal to ensure accurate measurement of efficiency gains or even creating seasonal or annual trend reports to identify how changes to the general climate effect monitored areas.</p>
	</div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>Contact Spook</h2>
                <p>Please contact us if you wish for further information on how Spook can help you monitor your building management system (BMS).</p>
                <p><a href="/contact/" class="button">Contact us</a></p>
            </div>
            <div class="is-col">
                <blockquote>
                    <p>Spook provides instant, clear notification of TV Licensing's BMS alerts via OmniWatch's real-time dashboard, allowing us to rapidly investigate matters to prevent costly outages. Spook monitors our dual data centres in Darwen, Lancashire and Bristol. Our knowledge that our BMS systems are being monitored by Spook provides real peace of mind to our regional team of specialists.</p>
                    <p class="is-small">TV Licensing - A trademark of the BBC (British Broadcasting Corporation).</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
