---
layout: base
---
<header>
	<div class="container">
		<h1>Dew point monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>We have installed Computer Room Air Conditioning units to ensure air cooling redundancy and to help compensate each other when a unit becomes stressed or less efficient. We found monitoring dew point to be a helpful measurement in order to reduce ‘demand contention’. OmniWatch checks dew point as well as keeping an eye on temperature, this helps ensure our server room is energy efficient.</p>
			<p class="is-small">Reed - A UK specialist in IT and HR recruitment.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of dew point monitoring</h2>
		<p>Dew point is the temperature at which water vapour in the air starts condensing on the equipment. Environments with high relative humidity (RH) and rapid changes in temperature are most likely to experience condensing humidity. Dew point is always expressed as a temperature (°C).</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Demand contention</h2>
		<p>In an unmonitored room containing several Computer Room Air Conditioning (CRAC) units, it is possible to have half the room’s cooling units adding humidity while the other half work to reduce it.</p>
		<p>This condition is known as demand contention and is one of the primary causes of excessive energy consumption in IT environments.</p>
		<p>Dew point control of relative humidity (RH) greatly reduces the frequency of ‘demand contention’. This is due to the fact that as air increases in temperature in an IT environment its dew point stays the same.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Excessive humidification</h2>
		<p>When several CRAC units are set to maintain humidity via dew point, large differences in return air temperature will not drive excessive humidification or dehumidification in different units.</p>
		<p>All air cooling units simply maintain humidity based on the actual amount of water required in each pound of air that passes through the unit. Elimination of ‘demand contention’ in data centres can significantly increase the efficiency of the cooling system.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Dew point calculator</h2>
		<p>RH and air temperature are always related for any specific dew point temperature. If the RH and temperature are known a calculation can be made to present the dew point.</p>
		<p>To check your dew point if you know your humidity and temperature use Spook’s free dew point calculator below.</p>
	</div>
</section>
