---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless dew point sensor</h1>
                <p>Temperature and humidity are used to calculate the measurement of dew point. By installing a dual temperature and humidity sensor the dew point is automatically calculated and expressed as °C.</p>
                <p>The dual sensors monitor the values in a single casing and are made to a high scientific grade.</p>
                <ul>
                    <li>Scientific grade sensor</li>
                    <li>± 3% accuracy (between 10%-90% RH)</li>
                    <li>± 1°C accuracy (1.8°F)</li>
                </ul>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/dewpoint.svg">
			</div>
		</div>
	</div>
</section>
