---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<p>Spook wireless humidity and temperature sensors calculate dew
		point real time expressed as °C.</p>
		<div class="is-row is-items-middle is-stack-80">
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/dewpoint.svg">
			</div>
			<div class="is-col">
				<ul>
					<li>Scientific grade sensor</li>
					<li>± 3% accuracy (between 10%-90% RH)</li>
					<li>± 1°C accuracy (1.8°F)</li>
				</ul>
			</div>
		</div>
	</div>
</section>
