---
layout: base
---
<header>
	<div class="container">
		<h1>Humidity monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>Our Computer Room Air Conditioning (CRAC) units have automatic de-humidification functions. When the humidity becomes too high or too low our CRAC units compensate their settings to adjust the humidity automatically. OmniWatch helps us to ensure humidity levels remain within their expected levels.</p>
			<p class="is-small">Bedford Borough Council - Unitary authority of the borough of Bedford.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of humidity monitoring</h2>
		<p>Measuring Relative Humidity (RH) is important because the amount of water that can be contained within a volume of air is not fixed. As air temperature increases the air has the ability to hold more and more water vapour. As air temperature decreases, the air’s ability to hold water decreases.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Effects of humidity in the IT environment</h2>
		<p>Relative humidity in the computer room or data centre provides beneficial effects when it is maintained at proper levels and potential problems when it is at a level that’s too high or too low.</p>
		<p>The primary benefit in maintaining proper relative humidity levels is a reduction in the ‘charging’ effect that can lead to static electrical discharge by making the air itself just a little more electrically conductive and the surfaces it touches just slightly wet.</p>
		<p>Because of the air’s slight increase in conductivity the imbalance of positive and negative charges that create static electricity are less likely to result in electrical discharges that can damage IT equipment.</p>
	</div>
</section>
<section>
	<div class="container">
		<h3>Low humidity</h3>
		<p>However, cool, low relative humidity air moving throughout the data centre can potentially be a source of static electricity.</p>
		<p>Every time cool air moves across an ungrounded insulated surface proper humidity levels will cause liquid water to condense upon it.</p>
		<h3>High humidity</h3>
		<p>High relative humidity levels in the IT environment reduce the chance of static discharge but are not desirable due to the increased likelihood of corrosion of metal components.</p>
		<p>High relative humidity levels can also increase the risk of water damage to equipment.</p>
		<p>This is why most IT equipment specifications show the acceptable relative humidity range in terms of non-condensing humidity.</p>
		<h3>Sweet spot</h3>
		<p>In essence, equipment manufacturers are stating that their equipment will operate normally within a specific relative humidity range (typically 20%-80% relative humidity) as long as the temperature of the equipment itself and everything around it remains above the dew point temperature.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Measure relative humidity at air intake</h2>
		<p>The single most important place to maintain proper relative humidity is at the cooling air intake opening onto IT equipment. The acceptable temperature and relative humidity ranges for equipment published by IT manufacturers are based on readings at the point of air intake.</p>
		<p>Since measurement at every piece of equipment is not normally possible, for environments that use rack enclosures it is recommended to monitor humidity inside the front door of the enclosure adjacent to the computing equipment itself. This is also an ideal location to monitor air intake temperature as well.</p>
		<p>Prior to measurement, ensure blanking panels are installed where necessary and back-to-front ensures airflow in the rack is minimised.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Main causes of relative humidity fluctuation</h2>
		<h3>Infiltration</h3>
		<p>If a high relative humidity body of air is next to a low relative humidity body of air, the two would quickly acclimatise to a relative humidity level between the high and low levels.</p>
		<p>When computer rooms are at different relative humidity levels to that of the outdoors or the office space air that surrounds them, the relative humidity levels constantly tries to equalise between the spaces.</p>
		<p>Obviously, the walls, floor, and ceiling surrounding the IT environment should stop this but in many cases they do not. Water vapour can escape or enter through any porous surface or microscopic crack and change IT environment relative humidity.</p>
		<p>The rate of relative humidity gain or loss due to infiltration is dependent upon the amount of open area and difference in relative humidity and temperature between the spaces.</p>
		<h3>Condensation</h3>
		<p>Under some conditions the process of cooling the air can remove large amounts of water vapour resulting in low relative humidity levels.</p>
		<p>This happens when warm data centre air is drawn through the cooling coil in a computer room air conditioner or air handler.</p>
		<p>Most cooling coils are maintained at a constant temperature of below 10 °C. This is usually below the dew point of the air in the IT environment. In instances where the air stays in contact with the cooling coil long enough to be cooled below its dew point, liquid water called ‘condensate’ forms on the cooling coil.</p>
		<p>Pumps inside the cooling equipment transport condensate away from the IT environment and into the building drainage system.</p>
		<p>Humidifiers can be used to add needed water vapour back into the air stream exiting the cooling equipment.</p>
		<p>Humidifiers are a very common option found in computer room air conditioners and air handlers.</p>
		<h3>Ventilation</h3>
		<p>Fresh outdoor air must be continually introduced into all buildings to supply oxygen to the people inside. Fresh air supplied into computer rooms and data centres is called make-up air and affects relative humidity levels.</p>
		<p>The amount of fresh air required is determined when the room is designed and calculated by considering the room’s specific use, the number of people that may occupy the room and the laws in effect at the time of construction.</p>
		<p>Changes in IT environment relative humidity due to ventilation issues vary widely based on the amount of outside air introduced into the room and the geography the building is located in.</p>
	</div>
</section>
