---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless humidity sensor</h1>
                <p>Spook wireless humidity sensors accurately monitor the relative humidity (RH) of the air within an area. Low humidity can cause static build up in the air whereas high humidity can corrode metal and increase the danger of water damage to electrical equipment.</p>
                <p>By monitoring humidity correctly a sweet spot can often be achieved.</p>
                <ul>
                    <li>± 3% accuracy (between 10% - 90% RH)</li>
                </ul>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/humidity.svg">
			</div>
		</div>
	</div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless humidity sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.humidity-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
