---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless light meter sensor</h1>
                <p>Spook wireless light meters measure light in LUX.  LUX is a standardised measurement where 1 LUX is equal to one lumen per square metre. A lumen is calculated as a measure of the total quantity of visible light emitted by a source over a unit of time.</p>
                <p>Spook's wireless light metre measures the intensity of light from 0–83,000 LUX, plus recording a reading of light or no light. By default, the sensor reading is triggered on LUX.</p>
                <p>The sensor uses a highly sensitive photo-diode to detect and measure the intensity of light in an area.</p>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/light.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h3>Potential uses for wireless light meter sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.light-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
