---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <h1>Wireless open/closed sensor</h1>
                <p>Spook wireless open/closed sensors are ideal to monitor the status of an open/closed connection. The sensor has a magnetic switch attached via an interconnecting cable and detects whether there is a magnetic field or not.</p>
                <p>The magnetic contacts are usually normally open (NO) and when closed a magnetic field is detected. Alternatively they can be set to normally closed (NC) and trigger <a href="/omniwatch/alerting/">an alert</a> when the connection becomes open.</p>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto;" src="/images/sensor/openclosed.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h3>Potential uses for wireless open/closed sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.openclosed-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
