---
layout: base
---
<header>
	<div class="container">
		<h3>Real-time data collection</h3>
		<h1>PDU monitoring</h1>
		<p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
	</div>
</header>
<section class="grey">
	<div class="container">
		<div class="is-row">
			<div class="is-col is-60">
				<img alt="Monitored PDU" style="margin-bottom: 2em;" src="/images/sections/key-pages/power-monitoring/PDU.svg">
				<div class="is-row">
					<div class="is-col">
						<p><strong>Total Amps</strong></p>
						<p class="is-large"><strong>6.9A</strong></p>
					</div>
					<div class="is-col">
						<p><strong>Stranded Power</strong></p>
						<p class="is-large"><strong>9.1A</strong></p>
					</div>
					<div class="is-col">
						<p><strong>Volts</strong></p>
						<p class="is-large"><strong>230V</strong></p>
					</div>
					<div class="is-col">
						<p><strong>kWh</strong></p>
						<p class="is-large"><strong>29.7</strong></p>
					</div>
				</div>
				<table class="is-small">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Status</th>
							<th>Amps</th>
							<th>Wh</th>
						</tr>
					</thead>
					<tbody>
						{% for socket in site.data.power-monitoring.sockets %}
						<tr>
							<td>{{ socket.id }}</td>
							<td>{{ socket.name }}</td>
							<td><span style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span> On</td>
							<td>{{ socket.amps }}</td>
							<td>{{ socket.wh }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="is-col is-40">
				<h2>The benefits of PDU monitoring</h2>
				<p>Keeping an eye on server room and data centre power metrics is becoming a prerequisite as the importance of power load balancing and knowing the cost of providing power to the facility increases.</p>
				<p>In just two decades the way servers consume power has changed beyond imagination. Back in the day variances in server power was largely due to disk drive spin-up and fans being invoked.</p>
				<p>Today's complex server configurations means that variances in power required for disk utilisation is reduced but more power is consumed when computational loads are enforced.</p>
				<p><a href="/monitoring/power-monitoring/" class="button">More on power monitoring</a></p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<img src="/images/monitoring/pdu/power-consumption-comparison.svg">
			</div>
			<div class="is-col">
				<h2>Power usage variances</h2>
				<p>Today's processing techniques means that equipment has additional power management capabilities like moving virtual loads, auto changing clock frequencies and adjusting voltage magnitudes.</p>
				<p>So while the power variation impact was in the low percentiles two decades ago, today’s servers can vary with easily up to 50% to 100% as on-demand power increases. This can result in numerous issues, including overheating, branch circuit overload and loss of redundancy.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container" style="background-image: url('/images/monitoring/pdu/pdu-overview.png'); background-position: center; background-size: cover; background-repeat: no-repeat; padding: 2em;">
		<img class="is-inset-20" src="/images/devices/pdu-manufacturers.svg">
	</div>
</section>
<section>
	<div class="container">
		<h2>Power strip monitoring</h2>
		<p>As a consequence measuring power consumption at power strip level when feeding a cluster of servers has never been so important. If you know your total power available is for example 16 amps, loading more than 50% power consumption on a single power strip can be dangerous.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Load balancing</h2>
		<p>By measuring the power consumption over time the trend data becomes a valuable commodity. Not only can any patterns in power spikes be identified but identification of how high they reach when servers are at maximum stress levels can prove invaluable for building in power related latency.</p>
		<p>Ensuring efficient load balancing reduces these stresses and helps preventative maintenance projects to be achievable.</p>
		<p>Equally important is knowing the power draw of your equipment in a non-stressed state; for example if you know you have 5 servers drawing 2.5 amps each from a single power strip you can conclude if there is a drop of more than 2.5 amps on global power consumption means it is likely a server has suffered a catastrophic fault.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-gapless is-border">
			<div class="is-col is-30 block is-inset-20 is-text-center">
				<h3 class="is-outset-y-60">Find out more about temperature monitoring.<h3>
				<p><a href="/monitoring/sensors/temperature/" class="button is-inverted">Read more</a></p>
			</div>
			<div class="is-col is-70 is-inset-20">
				<h2>Temperature</h2>
				<p>Servers in general consume power and release it as heat, but when there are large variances in consumption because of workloads, the heat released from IT equipment also rises.</p>
				<p>Therefore sudden fluctuations in server power consumption can cause dangerous increases in temperature, creating unplanned heat spots.</p>
				<p>While data centres have cooling systems, they may not be designed to handle specific localised hot spots.</p>
				<p>As temperature rises, equipment is likely to auto-shut down or act abnormally.</p>
				<p>Many intelligent power strips have on-board temperature sensors and this can be supplemented to by including separate temperature probes to monitor intake and vented temperature.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-30">
				<img src="/images/customer-logo/henry-schein.svg"> 
			</div>
			<div class="is-col is-70">
				<blockquote>
				<p>Following a potential disaster when an entire switch chassis shared an overloaded Power Distribution Unit (PDU), we had a new requirement to monitor mains and UPS power consumption at Power Distribution Unit level for each of our IT racks in head office. Spook OmniWatch monitors the power metrics of each PDU. We now centrally manage our required power metrics. We can also plan in advance any preventative maintenance in a well informed manner by reviewing the trend data provided by OmniWatch’s on-demand reports.</p>
				<p class="is-small">Henry Schein - A Fortune 500 Worlds Most Admired Company.</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
