---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <h1>Wireless powder detection sensor</h1>
				<p>Spook wireless powder level sensors have an 8 inch or 24 inch solid state ribbon which detects the level of powder. As the ribbon is a solid-state sensor it can be used for measuring non-corrosive water based liquids too.</p>
				<p>There are no moving parts, for instance it does not have mechanical floats or levers, therefore the sensor is not susceptible to wear and tear when compared to traditional powder and fluid sensors.</p>
				<p>The ribbon is made from  Polyethylene Terephthalate (PET) which is a general-purpose thermoplastic polymer. It belongs to the polyester family of polymers which are known for their excellent combination of properties.</p>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/powder.svg">
			</div>
        </div>
	</div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless powder detection sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.powder-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>

