---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <p>Spook wireless powder level sensors use a solid-state, continuous (multi-level) sensor for measuring levels in powder and non-corrosive water based liquids. The sensor has an 8 inch ribbon which detects the level within a container.</p>
                <p>Monitor and track:</p>
                <ul>
                    <li>Container levels</li>
                    <li>Tank levels</li>
                    <li>Powders</li>
                    <li>Non-corrosive fluid levels</li>
                    <li>Sump pit levels</li>
                </ul>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/powder.svg">
			</div>
        </div>
	</div>
</section>


