---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless propane tank level sensor</h1>
				<h3>Industrial</h3>
				<p>Spook's wireless propane tank level sensor monitors the level of a propane in a tank or container. As the propane level reduces, so does the reading. The sensor converts the reading into a percentage of propane remaining in the tank.</p>
				<p>The sensor assumes that the container is uniform in width to ensure accurate propane level monitoring. If the propane level falls to below approximately 10% it will report empty. If the propane level is above 80% then the sensor reports full.</p>
				<p>When the propane liquid gets cold enough the tank next to the liquid gets colder than the tank next to the air above. The magnets of the sensor measure the temperature of the tank rather than directly measuring the actual liquid level.</p>
				<p class="is-muted">Note: a R3D gauge is required for the sensor to operate, these can be retro-fitted if the tank does not already have one. The Rochester Remote Ready Dial, R3D® – LP, is a magnetically-driven, Hall Effect compatible dial.</p>
			</div>
			<div class="is-col">
				<img alt="Propane monitoring" style="display: block; max-height: 300px; margin: 0 auto;" src="/images/sensor/propane.svg">
			</div>
        </div>
	</div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless propane sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.propane-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
