---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <p>Spook's wireless propane tank level sensor monitors the level of a propane tank by simply plugging in the R3D® (remote ready) sensor into a pre-installed R3D tank gauge. As the propane level is decreased, the reading produced decreases as well. The monitor converts the reading into a percentage of propane remaining in the tank. The percentage depends on the configuration of the tank and the R3D gauge pulling an accurate level of propane inside.</p>
                <p>The sensor uses the level monitor to measure volumetric percentage of propane in a contained environment. A magnet attached to a buoyant device will be placed atop propane in a container with the level monitor placed at a reasonably close distance. The level monitor produces a voltage proportional to the sensed magnetic field, so as the propane level is decreased, the voltage produced is as well. This monitor converts the sensed voltage into a percentage based on the volume of the container.</p>
                <p>The sensor is based on the assumption that the container holding the propane is uniform in width such that each unit of height the propane gas is depleted is of equal volume. If the propane level has fallen below 8% it will report "Empty". If the propane level is above 80% then the sensor reports “Full”.</p>
                <p>Important: Tank gauges that are not R3D ready can be upgraded with an R3D gauge.</p>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/propane.svg">
			</div>
        </div>
	</div>
</section>


