---
layout: base
---
<header>
	<div class="container">
		<h3>Real-time data collection</h3>
		<h1>PUE and DCiE monitoring</h1>
		<p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
	</div>
</header>
<section>
	<div class="container">
		<div class="is-row is-items-middle is-stack-20">
			<div class="is-col block is-inset-20">
				<h2>The benefits of PUE/DCiE monitoring</h2>
				<p class="is-large">By measuring power at key areas coming into a facility means there are many valuable readings that provide important additional information.</p>
			</div>
			<div class="is-col">
				<table class="is-border">
					<thead>
						<tr>
							<th>PUE</th>
							<th>DCiE</th>
							<th>Level of efficiency</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3.0</td>
							<td>33%</td>
							<td>Very inefficient</td>
						</tr>
						<tr>
							<td>2.5</td>
							<td>40%</td>
							<td>Inefficient</td>
						</tr>
						<tr>
							<td>2.0</td>
							<td>50%</td>
							<td>Average</td>
						</tr>
						<tr>
							<td>1.5</td>
							<td>67%</td>
							<td>Efficient</td>
						</tr>
						<tr>
							<td>1.2</td>
							<td>83%</td>
							<td>Very efficient</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="is-row is-items-middle">
			<div class="is-col is-30 is-text-center">
				<h3 class="is-inset-top-20">PUE</h3>
				<h3 style="font-weight: 300; font-size: 2em;" id="pue">1.25</h3>

				<h3 class="is-inset-top-20">DCiE</h3>
				<h3 style="font-weight: 300; font-size: 2em;" id="dcie">80%</h3>

				<h3 class="is-inset-top-20" style="font-weight: 300; font-size: 2em;" id="description">Efficient</h3>
				<svg class="peity" height="68" width="68"><path d="M 34 0 A 34 34 0 1 1 1.6640784459647762 23.493422191251792 L 14.978869674096927 27.819660112501055 A 20 20 0 1 0 34 14" data-value="80" fill="#95c859"></path><path d="M 1.6640784459647762 23.493422191251792 A 34 34 0 0 1 33.99999999999999 0 L 33.99999999999999 14 A 20 20 0 0 0 14.978869674096927 27.819660112501055" data-value="20" fill="#eee">
			</div>
			<div class="is-col is-70">
				<p>Knowing what the PUE figure is allows customers to highlight areas for improvement to better the PUE rating over time.</p>
				<p>The objective is to ensure that the maximum possible percentage of power utilised in a data centre is actually used by IT equipment and the minimum by supporting equipment such as AC units.</p>
				<p>Clearly things such as antiquated and/or unreliable AC units will have an adverse effect on the PUE.</p>
				<p><a href="/tools/pue-dcie-calculator/" class="button">PUE and DCiE calculator</a></p>
			</div>
		</div>
	</div>
</section>
<section class="grey">
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-40">
				<img src="/images/monitoring/pue-dcie/power-consumption-comparison.svg">
			</div>
			<div class="is-col is-60">
				<h2>Power consumption fluctuations</h2>
				<p>Total electrical power consumed by IT equipment in data centres has been relatively stable historically, but new designs for server processors include energy management capabilities that can result in substantial power consumption fluctuations.</p>
				<p>This can present potentially numerous problems, including overheating, overloading a circuit breaker and loss of redundancy.</p>
			</div>
		</div>
	</div>
</section>
<section>
    {% include omniwatch-key-components.html %}
</section>
<section>
	<div class="container">
		<h2>Computational loads</h2>
		<p>Typically servers operate at light computational loads, with actual power draw amounting to less than the server's potential maximum power draw capabilities.</p>
		<p>However, because many IT personnel can be unaware of this discrepancy, it's easy to plug more servers than are necessary into a single power circuit.</p>
		<p>This in turn creates the potential for possible circuit overloads, as the circuit rating can be exceeded by the total maximum server power consumption.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Cicuit overloading</h2>
		<p>Another complication is that when servers are simultaneously subjected to heavy loads, circuit overloads will occur. When circuits are overloaded, the entire circuit can be tripped and power shut off to IT equipment.</p>
		<p>Furthermore, since this happens as a result of heavy loads, power outages at this time can have significant negative effects on business.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-70">
				<h2>Spook is an approved Endorser of the European Code of Conduct for Data Centres</h2>
				<p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy consumption in data centres and the need to reduce the related environmental, economic and energy supply security impacts.</p>
				<p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a cost-effective manner without hampering the mission critical function of data centres.</p>
				<p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data centre, raising awareness, and recommending energy efficient best practice and targets.</p>
				<ul class="is-bar">
					<li><a href="#" class="button">Read more</a></li>
					<li><a href="#" class="button is-secondary">2019 best practice guidlines</a></li>
				</ul>
			</div>
			<div class="is-col is-30">
				<img src="/images/monitoring/bms/code-of-conduct.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-30">
				<img src="/images/customer-logo/capita.svg"> 
			</div>
			<div class="is-col is-70">
				<blockquote>
					<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
					<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
					<p class="is-small">Capita Business Services - An international business outsourcing company.</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section class="block is-text-center">
	<div class="container">
		<h2>Getting in touch with Spook</h2>
		<p>Please contact us if you wish for further information on how Spook can help you monitor your power efficiency.</p>
		<p><a href="/contact" class="button">Contact us</a></p>
	</div>
</section>
