---
layout: base
---
<header>
	<div class="container">
		<h1>PUE and DCiE monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
			<p class="is-small">Capita Business Services - An international business outsourcing company.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of PUE/DCiE monitoring</h2>
		<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
		<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
		<p><a href="#" class="button">PUE and DCiE calculator</a></p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Power measurement by-product</h2>
		<p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power meters located around the data centres but it was a laborious task to manually collect the data in-order to calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position to become more energy efficient and to reduce our carbon footprint.</p>
		<p>The objective is to ensure that the maximum possible percentage of power utilised in a data centre is actually used by IT equipment and the minimum by supporting equipment such as AC units.</p>
		<p>Clearly things such as antiquated and/or unreliable AC units will have an adverse effect on the PUE.</p>
		<p>However, knowing what the PUE figure is allows customers to highlight areas for improvement to better the PUE rating over time.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Power consumption fluctuations</h2>
		<p>Total electrical power consumed by IT equipment in data centres has been relatively stable historically, but new designs for server processors include energy management capabilities that can result in substantial power consumption fluctuations.</p>
		<p>This can present potentially numerous problems, including overheating, overloading a circuit breaker and loss of redundancy.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Disaster recovery (DR) and business continuity (BC)</h2>
		<p>This can present potentially numerous problems, including overheating, overloading a circuit breaker and loss of redundancy.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Computational loads</h2>
		<p>Typically servers operate at light computational loads, with actual power draw amounting to less than the server’s potential maximum power draw capabilities.</p>
		<p>However, because many IT personnel can be unaware of this discrepancy, it’s easy to plug more servers than are necessary into a single power circuit.</p>
		<p>This in turn creates the potential for possible circuit overloads, as the circuit rating can be exceeded by the total maximum server power consumption.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Cicuit overloading</h2>
		<p>Another complication is that when servers are simultaneously subjected to heavy loads, circuit overloads will occur. When circuits are overloaded, the entire circuit can be tripped and power shut off to IT equipment.</p>
		<p>Furthermore, since this happens as a result of heavy loads, power outages at this time can have significant negative effects on business.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Setting alerts for high capacity</h2>
		<p>If the maximum load for a power circuit is known, by setting alerts for times when the load is being neared can prove life saving for the IT department.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Spook is an approved Endorser of the European Code of Conduct for Data Centres</h2>
		<p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy consumption in data centres and the need to reduce the related environmental, economic and energy supply security impacts.</p>
		<p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a cost-effective manner without hampering the mission critical function of data centres.</p>
		<p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data centre, raising awareness, and recommending energy efficient best practice and targets.</p>
		<ul class="is-bar">
			<li><a href="#" class="button">Read more</a></li>
			<li><a href="#" class="button is-secondary">2019 best practice guidlines</a></li>
		</ul>
	</div>
</section>
