---
layout: base
---
<header>
	<div class="container">
		<h1>Temperature monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>We were experiencing unusual temperature fluctuations in our server room and comms room over weekends. We compared the trend data of our temperature sensors over a 12-month period with the help of OmniWatch's on-demand report function and spotted trends over the weekends whereby our IT rooms suffered regular unplanned increases in temperature. We could create a report showing this trend data and share that with the Facilities team in-order to illustrate the problem and resolve matter.</p>
			<p class="is-small">SevenC3 - Europe's largest content marketing network.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<p>IT Equipment creates heat and rising temperature can indicate various problems, for example a failing Air Conditioning Unit, a leaking coolant line, lost utility power or restricted air circulation due to blocked filters or simply something blocking or in the way of airflow ducts.</p>
		<p>It doesn’t take much for airflow to become less efficient and it is surprising how quickly a server room gets hot within minutes.</p>
		<p>It could be anything from an over heating server, loss of a power supply, reduction of cold air supply, a plenum blockage or even a faulty fan. Many computer room air conditioning (CRAC) systems have built-in alarm fault panels that can be monitored so that when a cooling system detects an internal problem an alarm is invoked.</p>
		<p>It is not as easy today to predict workloads and heat generation in data centres. Traditionally, computer rooms had predictable heat patterns that correlated with work schedules and workloads. However, today’s larger data centres have more dynamic workloads. Applications can be easily moved from one server to another, causing changes in CPU usage and therefore generate more heat from server to server and row to row. The best way to monitor temperature depends on the size of the room and the concentration of heat sources.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of temperature monitoring</h2>
		<p>The benefits of temperature monitoring are fairly well known. When an Information Technology (IT) area gets too hot the kit contained within can struggle and fail. By getting alerts when the temperature is above a preferred level is vital to maintaining IT uptime.</p>
		<p>However, measuring temperature is usually only the starting point. Using the trend data from readings to test and optimise the temperature over time can help find the sweet spot for better energy efficiency. With OmniWatch all readings are held in perpetuity meaning spotting efficiencies over long periods of time is achievable and measuring efficiencies is more accurate.</p>
		<p> A degree or two can make a large difference in cost when considering the 24/7 running times of Air Conditioning units.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Equipment longevity</h2>
		<p>Although modern IT equipment can happily work at higher temperatures when compared to that of a few years ago the ambient temperature of server rooms should be maintained in-line with equipment manufacturers recommendations.</p>
		<p>By doing so prolongs the longevity of equipment and the maximises the investment in kit both in terms of budget and resource in maintaining it.</p>
		<p>It also protects warranties and by being able to prove, via audit trail, hardware is operating within warranty guidelines means replacement of faulty items can be achieved without question by the manufacturers or support contract providers.</p>
	</div>
</section>
<section>
	<div class="container">
		<blockquote>
			<p>The need to keep data centers at 70°F (21.1°C) is a myth. Virtually all equipment manufacturers allow you to run your cold aisle at 80°F (26.6°C) or higher. If your facility uses an economizer (which we highly recommend), run elevated cold aisle temperatures to enable more days of "free cooling" and higher energy savings.</p>
			<p class="is-small">Google on being more effcient.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>Further benefits</h2>
		<h3>Cost savings</h3>
		<p>Consideration can also be given to the cost of providing power to air cooling systems. We all know the cost of providing power gets more expensive per unit year on year.</p>
		<p>The lower the ambient air temperature, the higher the power usage of air conditioning units and this has a direct correlation to the amount of money charged by the power utilities service provider.</p>
		<p>It’s not unusual now for IT rooms to run at higher temperatures in order to reduce the overall power charges for cooling.</p>
		<h3>Hot/cold aisle containment</h3>
		<p>Many businesses now deploy hot and cold aisle containment. If this is the case it is recommended to monitor the coolness of incoming airflow against the warmer vented airflow. With OmniWatch a virtual sensor can be created to calculate the average temperature between incoming and outgoing air, this creates a delta which in its own right is a valuable measurement.</p>
		<h3>Hot spots</h3>
		<p>Hot spots within racks is a difficult thing to spot, so by measuring temperature at rack level means equipment contained within the enclosure is running as expected. Any unusual hot spots remain difficult to identify unless temperature probes are installed.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>5 good reasons to monitor the temperature in IT rooms</h2>
		<h3>1. Preventing downtime</h3>
		<p>Preventing downtime by alerting when servers and network equipment are at risk of overheating. This ensures that when something happens like an air conditioning unit stops working or they become less efficient or when heavy computing loads have increased, alerts are sent to key staff and they can take action.</p>
		<p>Excessive temperature is one of the leading causes for having to replace hardware and in most cases, it is easily prevented.</p>
		<h3>2. Efficient airflow</h3>
		<p>By placing temperature sensors on the front and back of server racks provides a method to measure the temperature of the air going in and coming out of servers.</p>
		<p>This is important to know to make sure that the cold airflow is not being mixed with hot air circulating in the room, as well as to ensure that the hot air exhaust from servers is within the proper ranges.</p>
		<p>OmniWatch can create a virtual ‘Temperature Delta’. By monitoring the cool incoming air versus the warm vented air and creating a ‘delta’ ensures changes in the average temperature can be monitored too.</p>
		<h3>3. Energy efficiency</h3>
		<p>Monitoring the temperature in server rooms provides valuable information to identify trends and baselines.</p>
		<p>By studying this data it is possible to see if cost savings can be made by lowering the load on AC units. It’s surprising the amount of times the temperature is set lower than what is actually needed in order to compensate for not knowing exactly how effectively servers are being cooled.</p>
		<h3>4. Planning and scaleability</h3>
		<p>Using the temperature data collected from temperature monitoring sensors presents the ability to understand the cooling loads and airflow distribution of server room footprints.</p>
		<p>These insights can help plan for the additional heat load of adding new equipment and how to maintain a proper layout of the server room for best airflow.</p>
		<p>By taking into account electrical consumption for the air conditioning to cool the server room configuration, provides a way of determining what is needed, if any, to scale the cooling of the room for additional server racks and devices.</p>
		<h3>5. Equipment longevity</h3>
		<p>Monitoring server room temperature and ensuring that it is maintained within the proper temperature range will help extend the lifespan of equipment.</p>
		<p>By preventing excessive temperatures going unnoticed which could cause unnecessary wear on equipment helps extend its life. Even if it is not immediately apparent, short spikes of excessive temperatures can reduce reliability and can lead to hardware failure months later.</p>
		<p>Unplanned downtime from hardware failures usually happens at the most inopportune times and can lead to larger issues such as added labour to replace the offending equipment and potentially create a lack of service to a businesses employees or customers who rely on IT in order to be productive.</p>
	</div>
</section>
