---
layout: base
---
<header>
  <div class="container">
    <div class="is-50">
      <h3>Real-time data collection</h3>
      <h1>UPS monitoring</h1>
      <p>Most businesses know the importance of installing an emergency power system as an independent source of electrical power that supports important IT systems on loss of normal power supply.</p>
      <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
    </div>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-70">
        <img class="is-shadow-2" src="/images/monitoring/ups/ups-monitoring-dashboard.svg">
      </div>
      <div class="is-col is-30">
        <h2>UPSs are the first line of defense agains power outages, sags and surges</h2>
	<p>Uninterruptible power supply (UPS) systems are put in place to protect attached equipment, condition the incoming power to reduce sags and surges and to also supply a short term solution during loss of power.</p>
	<p>Electronic equipment is very susceptible to damage caused by sudden loss of power with the risk and likelihood increasing with the complexity of the equipment.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
	<h3>Damage to equipment</h3>
	<p>Power loss can have negative effects outside of the obvious loss of work or services. Devices such as computers and servers are constantly active and working even if a user has not asked it to do anything. Important system files could be being worked on by the computer when power loss occurs permanently corrupting or destroying the file.</p>
      </div>
      <div class="is-col">
	<h3>Power source switch over</h3>
	<p>Even if a site has generators there is a delay between loss of power and a generator being switched on. UPSs are used to ensure there is no loss of power during the switch over from mains power to generator power.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Why UPS monitoring is important</h2>
    <ul>
      <li>Alert staff to power outages</li>
      <li>Enough time to save important work</li>
      <li>Allow safe shutdown of non-critical equipment</li>
    </ul>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-gapless">
      <div class="is-col is-40" style="background-color: #212121; color: #fff; padding: 1em 2em;">
	<h2>Monitor all hardware, regardless of manufacturer</h2>
	<p>OmniWatch is designed to be vendor independent and protocol neutral. This means management of multiple equipment and devices is controlled by a single, secure and easy to use application.</p>
	<p><a href="/contact/" class="button">Get in contact</a></p>
      </div>
      <div class="is-col is-60" style="background-image: url('/images/monitoring/ups/ups-background.png');background-size:cover;background-position:center;">
	  <img alt="Supported manufacturers" class="is-inset-20" src="/images/devices/ups-manufacturers.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-gapless is-border">
      <div class="is-col block is-30 is-inset-20">
        <p>When using a VFC there are two types of condition to monitor, Normally Open (NO) or Normally Closed (NC).</p>
        <p class="is-small">Spook recommends setting equipment to NO when the alarm status is within the normal operating mode. Therefore, if the interconnecting cable connecting the sensor to the monitoring unit is cut or becomes loose, the sensor will send an alarm.</p>
      </div>
      <div class="is-col is-70 is-inset-20">
        <h2>Considerable investment</h2>
        <p>What most UPS systems have in common is that the investment is considerable. Many are network attached and will have their own network interfaces providing key metrics and usage data as well as broadcasting alerts when certain changes are triggered.</p>
        <p>For systems that are not network attached, there is usually a facility to connect to a Voltage Free Connection (VFC) panel to monitor certain conditions.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-gapless">
      <div class="is-col" style="background-image: url('/images/monitoring/ups/ups-battery-deformed.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      </div>
      <div class="is-col block is-inset-20">
        <h2>UPS environmental monitoring</h2>
        <p>Monitoring the environment of a UPS is as important as monitoring the temperature of a server room.</p>
        <p>Many UPSs have battery banks associated with them. These battery banks contain individual batteries that require the ambient environment to be within the guidelines of the manufacturer.</p>
        <p>It's important to be able to prove the operating environment of a UPS and associated batteries in order to maintain its warranty protection.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img src="/images/customer-logo/waterstones.svg"> 
      </div>
      <div class="is-col is-70">
        <blockquote>
	  <p>During recent roadworks the mains power was lost to our London server room. Thanks to OmniWatch our IT team in the Midlands could monitor our UPS systems in London to ensure they were providing back-up power during the outage.</p>
	  <p>We could keep an eye on each power phase as well as knowing the time remaining on each UPS. Afterwards we could produce audit reports to prove to management that our UPS systems continued seamless power provision in accordance with our plans.</p>
          <p class="is-small">Waterstones - The last remaining chain of specialist bookshops on the highstreet.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}
