---
layout: base
---
<header>
	<div class="container">
		<h1>UPS monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>During recent roadworks the mains power was lost to our London server room. Thanks to OmniWatch our IT team in the Midlands could monitor our UPS systems in London to ensure they were providing back-up power during the outage. We could keep an eye on each power phase as well as knowing the ‘time remaining’ on each UPS. Afterwards we could produce audit reports to prove to management that our UPS systems continued seamless power provision in accordance with our plans.</p>
			<p class="is-small">Waterstones - The last remaining chain of specialist bookshops on the highstreet.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of UPS monitoring</h2>
		<p>Most businesses know the importance of installing an emergency power system as an independent source of electrical power that supports important IT systems on loss of normal power supply.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>What is a UPS?</h2>
		<p>The installation of an Uninterruptible Power Supplies (UPS systems) can be anything from a small black box protecting the power to a key server closet up to a mega-watt utility with the capacity to power big business.</p>
		<p>However, the majority are designed to be the ‘belt and braces’ between providing seamless power for a short period of time while IT systems can be managed and shut down or straddling the incoming power of a ‘stand-by’ power generator.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Considerable investment</h2>
		<p>What most UPS systems have in common is that the investment is considerable. Many are network attached and will have their own network interfaces providing key metrics and usage data as well as broadcasting alerts when certain changes are triggered.</p>
		<p>For systems that are not network attached, there is usually a facility to connect to a Voltage Free Connection (VFC) panel to monitor certain conditions.</p>
		<p>When using a VFC there are two types of condition to monitor, NO (Normally Open) or NC (Normally Closed).</p>
		<p>Spook recommends setting equipment to NO when the alarm status is within the normal operating mode (when good). Therefore, if the interconnecting cable connecting the sensor to the monitoring unit is cut or becomes loose, the sensor will send an alarm.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Three phase and single phase</h2>
		<p>A UPS will typically measure incoming and outgoing power at phase level in the form of amps being drawn/available.</p>
		<p>Other important metrics include run time remaining, temperature, volts, kilowatts together with status flags for errors such as: on bypass, low battery and mains fault etc.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>UPS environmental monitoring</h2>
		<p>Monitoring the environment of a UPS is as important as monitoring the temperature of a server room.</p>
		<p>Many UPS’s have battery banks associated with them. These battery banks contain individual batteries that require the ambient environment to be within the guidelines of the manufacturer.</p>
		<p>It's important to be able to prove the operating environment of a UPS and associated batteries in order to maintain its warranty protection.</p>
	</div>
</section>
