---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
                <p>Spook wireless voltage meters are capable of measuring the voltage off another device, battery or sensor. This sensor is capable of measuring voltage up to 5 VDC by connecting the leads on the sensor to the positive and ground terminals of the device being measured.</p>
                <p>Examples of interfacing devices include, but are not limited to:</p>
                <ul>
                    <li>Strain gauge</li>
                    <li>Pressure transducer</li>
                    <li>RTD</li>
                    <li>Thermistor</li>
                    <li>Thermocouple</li>
                    <li>Piezo electric sensors</li>
                    <li>Photo-resistor</li>
                    <li>Industrial accelerometer</li>
                    <li>Any kind of variable resistor</li>
                    <li>Any kind of sensor that outputs a voltage</li>
                </ul>
                <p>If the device being measured is passive, the user must supply their own excitation voltage, as the Spook sensor is really just a voltage observer.</p>
				<p class="is-small is-muted">This sensor cannot be used for alternating current (AC) voltage measurement.</p>
			</div>
			<div class="is-col">
				<img style="display: block; max-width: 300px; margin: 0 auto;" src="/images/sensor/voltage-meter.svg">
			</div>
        </div>
        <h3>Related sensors</h3>
        <div class="is-row">
            {% for item in site.data.sensors.voltage-dc-variations %}
            <div class="is-col">
                <img style="width: 120px;" src="{{ item.icon }}">
                <h5>{{ item.name }}</h5>
                <ul class="is-bar">
                    {% for type in item.types %}
                    <li class="is-small">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
	</div>
</section>
