---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
                <h1>Wireless water detection sensor</h1>
				<h3>Coin cell | AA | Industrial</h3>
                <p>There is a wide range of Spook wireless water sensors to choose from but Spook's water rope sensor is one of the most popular. The water detection rope uses two wires covered with conducting polymer to detect the presence of water or other fluids. When a fluid passes over the two internal wires a short circuit is detected and <a href="/omniwatch/alerting/">an alert</a> is sent by OmniWatch.</p>
                <p>The water sensor comes with a 10 foot long rope. This can be extended easily by clipping on additional lengths of interconnecting 10 foot sections up to a maximum of 100 feet.</p>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/waterrope.svg">
			</div>
		</div>
    </div>
</section>
{% include sensor/did-you-know.html %}
<section>
	<div class="container">
		<h3>Potential uses for wireless water detection sensors</h3>
        <ul class="is-bar is-small is-muted">
            {% for use in site.data.sensors.water-uses %}
                {% if forloop.index != 1 %}<li>|</li>{% endif %}
                <li>{{ use }}</li>
            {% endfor %}
        </ul>
	</div>
</section>
<section>
    <div class="container">
		<h3>Related sensors</h3>
		<div class="is-row">
			{% for item in site.data.sensors.water-variations %}
            <div class="is-col">
                <img style="max-height: 120px;" src="{{ item.icon }}">
                <h5>{{ item.name }}</h5>
                <ul class="is-bar">
                    {% for type in item.types %}
                    <li class="is-small">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
			{% endfor %}
		</div>
	</div>
</section>
