---
layout: monitoring/sensor/base
---
<section>
	<div class="container">
		<div class="is-row is-stack-80">
			<div class="is-col">
				<p>Spook wireless water rope sensors detect conductive liquids anywhere along the length of the detection rope by using two wires covered with conducting polymer.</p>
				<p>Place this sensor anywhere near areas susceptible to flooding or areas that have pressurised plumbing.</p>
				<ul>
					<li>Senses immediate presence of water anywhere along rope</li>
					<li>10 foot water rope (expandable in 10 foot sections up to 100 feet)</li>
				</ul>
			</div>
			<div class="is-col">
				<img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/waterrope.svg">
			</div>
		</div>
		<h3>Related sensors</h3>
		<div class="is-row">
			{% for item in site.data.sensors.water-variations %}
            <div class="is-col">
                <img style="max-height: 120px; padding-bottom: 20px;" src="{{ item.icon }}">
                <h5>{{ item.name }}</h5>
                <ul class="is-bar">
                    {% for type in item.types %}
                    <li class="is-small">{{ type }}</li>
                    {% endfor %}
                </ul>
            </div>
			{% endfor %}
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h3>Uses</h3>
		<ul>
			{% for use in site.data.sensors.water-uses %}
			<li>{{ use }}</li>
			{% endfor %}
		</ul>
	</div>
</section>
