---
layout: base
---
<header>
	<div class="container">
		<h1>Water monitoring</h1>
		<h3>Real-time data collection</h3>
	</div>
</header>
<section>
	<div class="container">
		<blockquote>
			<p>We have noticed we are at the mercy of unusual weather patterns. Over recent years it is not unusual for the town to suffer deluges from periods of heavy rain. We have a series on IT rooms within the town hall that unfortunately have ducts and a specific area on the campus near to one of our data centres that does flood. We have installed water sensors in each of these areas in order to keep an eye on matters as well as monitoring the key areas in the various data centres and server rooms. OmniWatch reliably alerts us when these awkward non IT areas are nearing a level that may cause us problems.</p>
			<p class="is-small">East Riding of Yorkshire Council - One of the UK's largest unitary authorities.</p>
		</blockquote>
	</div>
</section>
<section>
	<div class="container">
		<p>What’s going on underneath your raised floor shouldn’t be a mystery. Pipes can burst and air conditioning units and cooling systems can leak from a failed condensate pump, broken supply lines or clogged drains. Sprinkler systems can malfunction too.</p>
		<p>Obviously, water, computer equipment and electricity are a bad combination and water on the floor can damage equipment beyond repair. Often a water problem can be festering for some time underneath a raised floor or above a false ceiling. Early detection gives enough lead time to prevent a major shut down.</p>
		<p>Proper placement of water sensors is key. Water tends to puddle at the lowest point of the floor and underneath pipe junctions and air conditioning units. Should a water sensor be placed too high won’t trigger an alarm until after a serious flood has occurred.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The benefits of water ingress monitoring</h2>
		<p>IT rooms and server facilities are the nerve centres for most modern businesses. Racked equipment generates a large amount of heat and in order to prevent equipment failures, this heat must be extracted.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>The 6 main causes for water ingress in a server room</h2>
		<h3>1. Heat extraction</h3>
		<p>Heat extraction is the role of the Heating, Ventilation & Air Conditioning (HVAC) or Air Conditioning (AC) equipment and chilled water pumped into and out of the facility is the primary heat extraction medium.</p>
		<p>However, we all know that water and electronics do not mix.</p>
		<p>Water accumulating on the floor or water dripping from overhead piping can and does interrupt server operations. Early detection of any water leakage can get maintenance on scene in time to deal with the issue and the threat it presents.</p>
		<h3>2. Raised floors</h3>
		<p>Raised floor facilities are even more vulnerable because any leakage is concealed. A water leak in a visible area might be noticed by employees but if the leak occurs beneath raised floors, the first alarm may occur when a critical system shuts down or water begins to rise through the structural floor or drip to lower levels in the building.</p>
		<p>Water Ingress sensors should be placed at the lowest point (wherever water would tend to puddle) on the floor, and underneath any pipe junctions.</p>
		<p>Air-conditioning condensation trays should also be equipped with sensors to detect overflow.</p>
		<h3>3. False ceilings</h3>
		<p>Consideration should also be given to what is above the server room. Is there pipe work in the false ceiling and above? Does the server room or any other rooms adjacent to the server room have a flat roof where water can accumulate if guttering is not maintained to encourage water to escape.</p>
		<h3>4. Legacy server rooms</h3>
		<p>Many legacy server rooms may have water related facilities not directly associated with the computer room to contend with. Things like toilets and shower blocks, plumbed water drinking points and kitchen rest areas to name but a few.</p>
		<h3>5. Threat of natural disaster</h3>
		<p>Equally worrying is natural flood. We live in an era whereby unusual weather patterns can quickly make flash floods a real problem.</p>
		<p>Spook has direct experience in helping monitor non-IT related areas for flooding. A flash downpour could cause local flooding or entrapment of water in ducts and guttering around the building.</p>
		<h3>6. Server room location</h3>
		<p>It’s surprising the amount of times a server room has been built in a basement or near boiler rooms or rest rooms. The threat of water ingress from non-IT related areas is as high risk as those contained within the IT room itself.</p>
	</div>
</section>
