---
layout: base
title: CO2 monitoring
page-description: CO2 monitoring for schools
---
<style>
.classroom{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/monitoring/energy/energy-monitoring-banner-image.jpeg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
<header class="classroom">
  <div class="container">
    <h1>Intelligent CO<sub>2</sub> monitoring</h1>
    <h3>Spook presents a range of intelligent and non-intrusive air quality monitoring sensors for measuring and tracking air quality in institutions such as schools, hospitals or other buildings with high levels of occupancy. All sensors are managed by OmniWatch, our easy-to-use web service that ensures quick and intuitive interrogation of your installations.</h3>
    <p><a class="button" href="/monitoring/air-quality-and-co2">More on air quality <span class="caret is-right"></span></a></p>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img src="/images/air-quality-and-co2/tablet.png">
      </div>
      <div class="is-col is-70">
        <h2>Outstanding pedigree</h2>
        <p class="is-big">OmniWatch and Spook were voted <strong>Most Innovative Solution of the Year</strong> and <strong>Specialist Technology Company of the Year</strong> at the annual UK Business Continuity Awards.</p>
        <p class="is-big">Thanks to our pedigree, you are able to intelligently monitor the CO<sub>2</sub> levels and environmental conditions of your working areas in realtime, remotely and at any time.</p>
        <p><a href="/contact" class="button">Request a quote <span class="caret is-right"></span></a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-text-center is-stack-40">
      <h3>Services offered</h3>
    </div>
    <div class="is-row">
      {% for item in site.data.co2.services %}
        <div class="is-col is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img {{ item.color }} icon" style="background-image: url('{{ item.icon }}');"></div>
            <div class="card-content">
              <h4 class="section-header">{{ item.name }}</h4>
              {% for paragraph in item.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="grey">
  <div class="container is-text-center">
    <h4>A typical air quality sensor measures</h4>
    <img src="/images/air-quality-and-co2/common-metrics.svg">
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img src="/images/air-quality-and-co2/co2-comparison-chart.png">
      </div>
      <div class="is-col">
        <h3>Fast and accurate tracking</h3>
        <p>Thanks to OmniWatch, you can consult data and sensor readings at any time and from any device connected to the internet.</p>
        <p>The sensor readings are automatically updated in realtime and alerts are sent to your key staff via email, SMS and UK call centre, making any areas that require attention known to you subtly and in confidence.</p>
        <p>To understand more how we handle alerts <a href="/alerting">go here</a>.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h3>Personalised management</h3>
        <p>OmniWatch includes installation plans of your monitored areas clearly identifying where sensors are installed.</p>
        <p>These help you and your staff to navigate through your premises to the source of an alert in a clear and intuitive way.</p>
      </div>
      <div class="is-col">
        <img src="/images/air-quality-and-co2/floorplan.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-stack-20">
      <h3>Included equipment</h3>
    </div>
    <div class="is-row">
      <div class="is-col is-stack-40-mobile">
        <div class="card is-border is-shadow-2">
          <div class="card-img green icon" style="background-image: url('/images/air-quality-and-co2/air-quality-sensor.svg');"></div>
          <div class="card-content">
            <h3>Air quality sensors</h3>
              <ul>
                <li>Nondispersive infrared sensor (NDIR)</li>
                <li>E-ink display screen to show the sensor values on the actual unit itself</li>
                <li>LED traffic light function</li>
                <li>Buzzer alarm function</li>
                <li>Wall mounted</li>
                <li>Powered by AA standard batteries (x2)</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="is-col">
        <div class="card is-border is-shadow-2">
          <div class="card-img blue icon" style="background-image: url('/images/air-quality-and-co2/gateway.svg');"></div>
          <div class="card-content">
            <h3>LTE and LoRaWAN internet gateways</h3>
            <p>Spook recommended gateways come with ethernet and cellular connectivity as standard.</p>
            <p>Gateways reside in appropriate locations around the building - dictated by the spread of sensors.</p>
            <p>Sensor data is transmitted over the ethernet network with a cellular backhaul and is encrypted end to end and is sent to Spook's OmniWatch servers.</p>
            <p>Gateways can be set to cellular operation as priority, ensuring monitoring is independent of the corporate network.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
