---
layout: base
title: Remote environmental monitoring
page-description: "Monitoring the environment is important for many reasons, whether it's temperature monitoring for
refrigeration units or water monitoring for leaking pipes, trapped water or even floods, the range of climate monitoring
by Spook is extensive."
---
<header style="background-image: url('/images/sections/key-pages/environmental-monitoring/environmental-monitoring-banner.png'); background-attachment: fixed; background-repeat: no-repeat; background-position: bottom; background-size: cover;">
  <div class="container">
    <div class="is-60">
      <h1>Environmental & climate monitoring</h1>
      <p class="is-big">Secure, remote, cloud based monitoring</p>
      <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <h4 class="section-header">Centrally monitor environmental conditions with OmniWatch</h4>
        <p class="is-big">Monitoring the environment is important for many reasons, whether it's temperature monitoring for refrigeration units or water monitoring for leaking pipes, trapped water or even floods, the range of climate monitoring by Spook is extensive.</p>
      </div>
      <div class="is-col is-50">
				{% include awards.html %}
      </div>
    </div>
    <div class="is-row is-stack-20">
      {% for condition in site.data.environmental.key-climate-conditions %}
        <div class="is-col is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img green icon" style="background-image: url('{{ condition.icon }}');"></div>
            <div class="card-content">
              <h3>{{ condition.name }}</h3>
              {% for paragraph in condition.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
            <div class="card-footer">
              <a href="{{ condition.link }}">Read more <span class="caret is-right"></span></a>
            </div>
          </div>
        </div>
        {% if forloop.index == 3 %}</div><div class="is-row">{% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img alt="OmniWatch dashboard" class="is-shadow-2 is-stack-20" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col">
        <p>Spook's secure remote monitoring service called OmniWatch is designed to work with most climate measuring hardware and sensors making monitoring the environment easy, cohesive and technically advanced.</p>
        <p>OmniWatch's main function is to alert users to changes to the sensors being monitored via email, SMS and UK call centre. In addition, Spook understands that users real-time dashboards must be intuitive yet functionally rich. That's why OmniWatch's functionality has been and continues to be designed by customer led feedback.</p>
        <p>Spook's customers range from organisations that have already invested in climate monitoring equipment and want a central cloud based service that is easy to use and functionally advanced to businesses that are considering monitoring for the first time and want a hassle free, out-of-box monitoring solution.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
