---
layout: base
title: Remote environmental monitoring
page-description: "Monitoring the environment is important for many reasons, whether it's temperature monitoring for
refrigeration units or water monitoring for leaking pipes, trapped water or even floods, the range of climate monitoring
by Spook is extensive."
---
<header
  style="background-image: url('/images/sections/key-pages/environmental-monitoring/environmental-monitoring-banner.png'); background-attachment: fixed; background-repeat: no-repeat; background-position: bottom; background-size: cover;">
  <div class="container">
    <div class="is-60">
      <h3>Secure cloud based monitoring and data collection</h3>
      <h1>Climate monitoring</h1>
      <p>Monitoring the environment is important for many reasons, whether it's temperature monitoring for refrigeration
        units or water monitoring for leaking pipes, trapped water or even floods, the range of climate monitoring by
        Spook is extensive.</p>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img alt="OmniWatch dashboard" class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col">
        <h2>Secure cloud based climate monitoring</h2>
        <p>Spook's secure remote monitoring service called OmniWatch is designed to work with most climate measuring
          hardware and sensors making monitoring the environment easy, cohesive and technically advanced.</p>
        <p>OmniWatch's main function is to alert users to changes to the sensors being monitored via email, SMS and UK
          call centre. In addition, Spook understands that users real-time dashboards must be intuitive yet functionally
          rich. That's why OmniWatch's functionality has been and continues to be designed by customer led feedback.</p>
        <p>Spook's customers range from organisations that have already invested in climate monitoring equipment and
          want a central cloud based service that is easy to use and functionally advanced to businesses that are
          considering monitoring for the first time and want a hassle free, out-of-box monitoring solution.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <h2>Key climate conditions OmniWatch can monitor</h2>
        <p>Are we missing the climate condition you are looking for? Get in <a href="/contact">contact with us</a> to
          discuss how we can help.</p>
      </div>
      <div class="is-col is-70">
        <div class="is-row">
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Temperature sensor" style="width: 40px;" src="/images/sensor/icons/temperature.svg">
              <h4>Temperature</h4>
            </div>
            <p>Thermal condition monitoring.</p>
            <a href="#temperature" class="button">Read more</a>
          </div>
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Humidity sensor" style="width: 40px;" src="/images/sensor/icons/humidity.svg">
              <h4>Humidity</h4>
            </div>
            <p>Atmospheric moisture control.</p>
            <a href="#humidity" class="button">Read more</a>
          </div>
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Dew point sensor" style="width: 40px;" src="/images/sensor/icons/dewpoint.svg">
              <h4>Dew point</h4>
            </div>
            <p>Water droplet condensation.</p>
            <a href="#dewpoint" class="button">Read more</a>
          </div>
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Airflow sensor" style="width: 40px;" src="/images/sensor/icons/airflow.svg">
              <h4>Airflow</h4>
            </div>
            <p>Measuring the movement of air.</p>
            <a href="#airflow" class="button">Read more</a>
          </div>
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Water sensor" style="width: 40px;" src="/images/sensor/icons/water.svg">
              <h4>Water ingress</h4>
            </div>
            <p>Water and moisture monitoring.</p>
            <a href="#water" class="button">Read more</a>
          </div>
          <div class="is-col is-33 is-stack-20">
            <div class="line-block-content">
              <img alt="Light sensor" style="width: 40px;" src="/images/sensor/icons/light.svg">
              <h4>Light</h4>
            </div>
            <p>Measuring LUX (luminescence/unit area).</p>
            <a href="#light" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="temperature">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Temperature monitoring" style="width: 80px;" src="/images/sensor/icons/temperature.svg">
          <h2>Temperature<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/temperature" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">

        <p>Temperature monitoring is an important measurement for climate control and is perhaps the most commonly
          measured condition of all environmental states.</p>

        <p>Whether you need to know if it's too hot, too cold or simply that there is a rapid change; measuring the
          activity of temperature is key to climate monitoring.</p>

      </div>
    </div>
  </div>
</section>

<section id="humidity">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Humidity monitoring" style="width: 80px;" src="/images/sensor/icons/humidity.svg">
          <h2>Humidity<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/humidity" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">

        <p>Measuring relative humidity (RH) is important because the amount of water that can be contained within a
          volume of air is not fixed. As air temperature increases the air has the ability to hold more and more water
          vapour.</p>

        <p>As air temperature decreases, the air's ability to hold water decreases. The effects of too high and too low
          humidity can directly impact the safe running of equipment.</p>

      </div>
    </div>
  </div>
</section>

<section id="dewpoint">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Dew point monitoring" style="width: 80px;" src="/images/sensor/icons/dewpoint.svg">
          <h2>Dew point<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/dewpoint" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">

        <p>Dew point is inextricably linked between temperature and relative humidity. Dew point is the temperature at
          which water vapour in the air starts condensing.</p>

        <p>Environments with high relative humidity (RH) and rapid changes in temperature are most likely to experience
          condensing humidity. Dew point is always expressed as a temperature (°C). Try Spook's free dew point
          calculator <a href='#'>here</a>.</p>

      </div>
    </div>
  </div>
</section>

<section id="airflow">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Airflow monitoring" style="width: 80px;" src="/images/sensor/icons/airflow.svg">
          <h2>Airflow<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/airflow" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">

        <p>Airflow monitoring has always been important to ensure ducts and airways are free from blockage. However,
          since the Covid-19 epidemic of 2020 airflow monitoring is fast becoming a necessity.</p>

        <p>According to the UK Health and Safety Executive (HSE) the risk of air conditioning spreading coronavirus in
          the workplace is extremely low as long as there is an adequate supply of fresh air and ventilation.</p>

      </div>
    </div>
  </div>
</section>

<section id="water">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Water monitoring" style="width: 80px;" src="/images/sensor/icons/water.svg">
          <h2>Water ingress<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/water" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">

        <p>Monitoring water ingress is one of the most important conditions to monitor as water has the power to cause
          immediate disruption. Water has the potential to do the most damage in the shortest amount of time.</p>

        <p>Whether there is a burst water pipe, build up of storm water or a boiler leak; knowing there is water ingress
          gives valuable early warning time to remedy matters before it becomes a deluge.</p>

      </div>
    </div>
  </div>
</section>

<section id="light">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <div class="line-block-content is-stack-40">
          <img alt="Light monitoring" style="width: 80px;" src="/images/sensor/icons/light.svg">
          <h2>Light<br>monitoring</h2>
        </div>
        <ul class="is-bar">
          <li><a href="/monitoring/environmental/light" class="button is-secondary">View more</a></li>
          <li><a href="#top" class="button is-inverted">Back to top</a></li>
        </ul>
      </div>
      <div class="is-col is-70">
        <p>Monitoring light has many applications, from knowing whether lights are on or off for safety reasons to more
          security based applications such as monitoring light in parking lots, garages and common areas of use in
          commercial buildings, they all benefit from monitoring light.</p>
        <p>Measuring light is also importation to agricultural businesses such as greenhouse and crop management,
          understanding LUX can assist maximising growing conditions of plants and vegetation.
        </p>
      </div>
    </div>
  </div>
</section>

{% include monitoring/key-footer.html %}
{% include contact-us.html %}