---
layout: base
title: IT rooms and facilities monitoring
page-description: Monitoring and alerting for IT rooms and facilities teams with a wide range of support for manufacturers and networking protocols.
---
<style>
.header-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/it-rooms-and-facilities/server-room-banner.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.header-banner.footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/omniwatch-banner-image.png');
}
.header-banner h1, .header-banner h3{
  font-weight: normal;
}

.section-header{
	font-weight: normal;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

.disparate-equipment-card{
  background-image: url('/images/icons/monitor-all.svg');
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.enterprise-centric-card{
  background-image: url('/images/icons/enterprise-centric.svg');
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.card>.card-img.many-to-one-img {
  background-image: url('/images/air-quality-and-co2/many-to-one-icon.svg');
  background-size: contain;
}

.resource-logo {
  height: 80px;
  min-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
<section class="header-banner">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-stack-20">
        <div class="is-stack-40">
          <h1>IT room & facilities monitoring</h1>
          <p class="is-large">Secure remote cloud based monitoring for all things IT and facilities related.</p>
        </div>
        <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
      </div>
      <div class="is-col">
        <img alt="Supported device types" src="/images/it-rooms-and-facilities/supported-devices-banner.svg">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-10 white-text is-hidden-mobile">
        Support for
      </div>
      <div class="is-col is-80 is-text-center">
        <img alt="Supported protocols LoRaWAN, SNMP, JSON, XML, BACnet and modbus" src="/images/it-rooms-and-facilities/supported-protocols.svg">
      </div>
      <div class="is-col is-10 white-text is-hidden-mobile">
        and more.
      </div>
    </div>
  </div>
</div>
<div class="is-inset-y-80">
  <div class="container">
    <div class="slider">
      <div class="is-text-center">
        <h5>Trusted by</h5>
      </div>
      <div class="slider-row"></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <h4 class="section-header">OmniWatch is an all-in-one monitoring and alerting solution</h4>
        <p class="is-big">OmniWatch is chiefly installed in IT server rooms and extends out to the facilities of an organisation.</p>
        <p class="is-big">Taking remedial action at the early stages of an alert lets organisations contain a situation and fix it before it causes service disruption.</p>
      </div>
      <div class="is-col is-50">
				{% include awards.html %}
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img green disparate-equipment-card"></div>
          <div class="card-content">
            <p class="section-subheader">Protocol neutral</p>
            <h4 class="section-header">Disparate equipment monitoring</h4>
            <p>OmniWatch is the only monitoring service available that includes SNMP, JSON, XML, Modbus, BACnet and LoRaWAN protocols.</p>
            <p>This ensures it is manufacturer neutral and equipment model type independent.</p>
            <p>OmniWatch makes multi-faceted monitoring easy and intuitive.</p>
          </div>
        </div>
      </div>
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img blue enterprise-centric-card"></div>
          <div class="card-content">
            <p class="section-subheader">Central monitoring</p>
            <h4 class="section-header">Enterprise centric monitoring</h4>
            <p>Designed to be the central repository for all things monitored, OmniWatch comes pre-configured in handy portals for easy navigation, reporting and alerting.</p>
            <p>By monitoring disparate equipment centrally OmniWatch applies a common standard for interpreting sensor data and metrics across multiple equipment types.</p>
          </div>
        </div>
      </div>
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img many-to-one-img red"></div>
          <div class="card-content">
            <p class="section-subheader">Granular management</p>
            <h4 class="section-header">Automated user access rights</h4>
            <p>Sensor data is automatically filtered in accordance with a users organisational hierarchy, this ensures alarms and user access to sensor data is confined to authorised staff.</p>
            <p>Examples of hierarchical access are: Global managers, regional workers, building team members and local facility staff.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
        <p class="section-subheader">Sensor harmonisation</p>
        <h4 class="section-header">Get more out of your monitoring with OmniWatch's improved capabilities</h4>
        <p>OmniWatch's advanced data handling capabilities means sensor readings can be grouped together and compared on a like-for-like basis regardless of the origin of the data.</p>
        <p>For example, this helps to identify unusual thermo-activity across multiple equipment types to pin point areas that may require thermal adjustments.</p>
      </div>
      <div class="is-col is-60 is-text-center">
        <div class="is-row is-items-middle is-stack-20">
          {% for sensor in site.data.it.grouped-sensors %}
          <div class="is-col">
            <img alt="{{ sensor.name }}" style="height: 100px;" src="{{ sensor.icon }}">
            <p>{{ sensor.name }}</p>
          </div>
          {% if forloop.index == 3 %}</div><div class="is-row is-items-middle is-stack-20">{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-stack-20 is-text-center">
      <h3>The most popular sensors are:</h3>
    </div>
    {% include monitoring/it/popular-sensors.html %}
  </div>
</section>
<section>
  <div class="container">
    <h3>Digital dashboards</h3>
    <p>OmniWatch digital dashboards are bespoke and designed by Spook on behalf of our users.</p>
    <p>All the hard work of setting up sensors, adding equipment and configuring how the alarm work-flow and sensor management is implemented is included as part of the overall OmniWatch solution.</p>
    <p>Any customer led additions, deletions or workflow changes are also included as part of the ongoing commitment from Spook to ensure our market leading remote monitoring service remains up to date and appropriate to its users.</p>
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img class="is-border is-shadow-2 is-inset-20" alt="IT monitoring dashboard" src="/images/it-rooms-and-facilities/it-dashboard.png">
      </div>
      <div class="is-col is-40">
        <img class="is-border is-shadow-2 is-inset-20" alt="IT monitoring dashboard" src="/images/it-rooms-and-facilities/floorplan.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <h4 class="section-header">Emoji overviews</h4>
        <img alt="Air quality and CO2 monitoring dashboard" class="is-shown-mobile is-stack-20" src="/images/it-rooms-and-facilities/dashboard-it-view.png">
        <p>A picture paints a thousand words and the art of remote monitoring is to make identifying alarms quick and easy.</p>
        <p>Using emoji for a high level overview is ideal for monitoring assets and sensors that have multifunctional sensors.</p>
        <p>Spook emoji are able to be expanded to focus on the individual monitored conditions of different equipment types.</p>
      </div>
      <div class="is-col is-60 is-hidden-mobile">
        <img alt="Air quality and CO2 monitoring dashboard" src="/images/it-rooms-and-facilities/dashboard-it-view.png">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
		<div class="is-row is-items-middle is-stack-60">
			<div class="is-col is-60 is-hidden-mobile">
				<img alt="Temperature monitoring comparison" src="/images/it-rooms-and-facilities/temperature-comparison-chart.png">
			</div>
			<div class="is-col is-40">
				<p class="section-subheader">Trend analysis</p>
        <h4 class="section-header">Data in perpetuity</h4>
				<img alt="Temperature monitoring comparison" class="is-shown-mobile is-stack-20" src="/images/it-rooms-and-facilities/temperature-comparison-chart.png">
        <p>Most third party sensors and equipment, including climate monitors, have on-board data loggers. Often the collected readings have a limited shelf life of between 30 and 60 days before falling off the data horizon; and reading are usually hard to access, download and understand.</p>
        <p>OmniWatch sensor and data readings are held in perpetuity; providing accurate historical trend analysis for a unique user insight. Understanding and providing accurate historical measurements over long periods of time is hugely beneficial.</p>
			</div>
		</div>
    <div class="grey muted is-inset-20 is-stack-60">
      <div class="is-stack-60 is-text-center">
        <h4>Advantages of perpetual trend analysis</h4>
      </div>
      <div class="is-row">
        {% for item in site.data.it.trend-analysis %}
          <div class="is-col is-50 is-stack-20">
            <img style="height: 60px; margin-right: 1em;" src="{{ item.icon }}">
            {{ item.name }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    {% include omniwatch/key-points.html %}
  </div>
</section>
<section>
  <div class="container">
		<div class="alert is-error is-text-center">OmniWatch is the only monitoring service to escalate alarms to a UK call centre if emails and SMS messages go unanswered.</div>
    <div class="is-row is-items-middle is-stack-20">
      <div class="is-col is-40">
        <h3>Spook 3-tier alarm escalation process</h3>
        <p>Alerts are sent in real-time and have three stages. At each stage there is a time delay to allow you to acknowledge the alarm.</p>
        <p>If alarms aren't acknowledged they pass to the next stage, eventually culminating to Spook's UK call centre where an agent is tasked with calling you and your team.</p>
      </div>
      <div class="is-col is-60">
        <img alt="Temperature monitoring chart" class="is-stack-20" style="height: 400px;" src="/images/it-rooms-and-facilities/temperature-chart.svg">
      </div>
    </div>
    <div class="is-row">
      {% for stage in site.data.alerting.stages %}
        <div class="is-col">
          <div class="card is-border is-shadow-2">
            <div class="card-img {{ stage.color }}" style="background-image: url('{{ stage.image }}'); background-size: contain; background-repeat: no-repeat;"></div>
            <div class="card-content">
              <p class="section-subheader">{{ stage.subheader }}</p>
              <h4 class="section-header">{{ stage.header }}</h4>
              {% for paragraph in stage.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-20">
        <p class="section-subheader">Smart sensors</p>
        <h4 class="section-header">Pseudo sensors for complex monitoring</h4>
        <p>By using Spook smart sensors users are able to reveal a higher level of intelligent monitoring; breathing new and perceptive life into legacy monitoring hardware.</p>
        <p>Spook smart sensors can be used to perform complex calculations or to create pseudo sensors to add additional measurements not possible with traditional monitoring solutions.</p>
      </div>
      <div class="is-col is-80">
        <div class="is-row is-stack-20">
          {% for sensor in site.data.it.smart-sensors %}
          <div class="is-col is-stack-20">
            <div class="green is-stack-12" style="width: 100%; height: 120px;background-image: url('{{ sensor.img }}'); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
            <div class="is-text-right">
              <h5><b>{{ sensor.name }}</b></h5>
              <p><a class="button is-secondary is-small" href="{{ sensor.link }}">Read more <span class="caret is-right"></span></a></p>
            </div>
          </div>
          {% if forloop.index == 3 %}</div><div class="is-row">{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
<section class="header-banner footer is-text-center">
	<div class="container">
    <div class="is-stack-40">
      <h2>Get in touch with Spook</h2>
      <p>Please contact us if you wish for further information on how Spook can help with your IT rooms and facility monitoring needs.</p>
    </div>
		<p><a href="/contact/" class="button">Contact us <span class="caret is-right"></span></a></p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
				<h3>Resources</h3>
			</div>
			<div class="is-col is-80">
				{% for resource in site.data.it.references %}
				<div class="is-row is-items-middle">
					<div class="is-col is-80">
						<p class="section-subheader">{{ resource.subheader }}</p>
						<h4 class="section-header">{{ resource.header }}</h4>
					</div>
					<div class="is-col is-20 is-stack-20">
						<a href="{{ resource.link }}" class="button is-secondary">Read more <span class="caret is-right"></span></a>
					</div>
				</div>
				<div class="is-stack-20 is-border-bottom"></div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
