---
layout: base
title: Power monitoring
page-description: Monitoring and alerting service for power monitoring. Track power usage, efficiencies and changes caused by improvements to the infrastructure.
---
<header
  style="background-image: url('/images/sections/key-pages/power-monitoring/power-monitoring-banner.png'); background-attachment: fixed; background-repeat: no-repeat; background-position: bottom; background-size: cover;">
  <div class="container">
    <div class="is-50">
      <h1>Power and energy monitoring</h1>
      <p class="is-big">Remotely monitoring key power assets including energy meters, uninterruptible power supplies (UPS), intelligent power distribution units (iPDUs) and diesel generators.</p>
      <a class="button is-secondary" href="/monitoring/utility-monitoring">Utility monitoring <span class="caret is-right"></span></a>
      <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p>Spook's award winning remote monitoring service called OmniWatch  centrally monitors key power assets across many different industry sectors.</p>
        <p>Monitoring various power assets is important for many reasons, whether it's monitoring UPS metrics, intelligent power distribution units or incoming energy meters, the range of power monitoring by Spook is extensive.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-row is-stack-20">
      {% for condition in site.data.power.key-power-conditions %}
        <div class="is-col is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img blue icon" style="background-image: url('{{ condition.icon }}');"></div>
            <div class="card-content">
              <h3>{{ condition.name }}</h3>
              {% for paragraph in condition.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
            <div class="card-footer">
              <a href="{{ condition.link }}">Read more <span class="caret is-right"></span></a>
            </div>
          </div>
        </div>
        {% if forloop.index == 2 %}</div><div class="is-row">{% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
