---
layout: base
title: Utility monitoring
page-description: Real-time remote monitoring from global consumption to granular monitoring at asset level, all can be achieved easily with Spook's award winning remote monitoring service, OmniWatch.
---
<style>
.side-text{
  color: #5f7abd;
}

.utility-banner{
  background-image: url('/images/utility-monitoring/comparison-dashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 1800px;
}

@media only screen and (max-width: 600px) {
  .utility-banner{
    background-position: center;
    min-height: 1600px;
  }
}

.logo-box{
  max-width: 300px;
  margin-bottom: 20px;
}

.dotted-container{
  border-top: 2px dotted #333;
  border-bottom: 2px dotted #333;
}

.section-img{
  width: 80px;
  padding-bottom: 20px;
}

.spaced-list > li{
  padding-bottom: 20px;
}

.footer{
  background-color: #5f7abd;
  color: #fff;
}
</style>
<section class="utility-banner">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-20">
      </div>
      <div class="is-col is-80">
        <img class="logo-box" src="/images/omniwatch-logo.svg">
        <h1>Public utility monitoring service</h1>
        <div class="dotted-container is-inset-20 is-stack-20">
          <h3>Empowering energy managers to gain energy efficiency and achieve lower energy costs.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <img src="/images/utility-monitoring/mobile-view.png">
      </div>
      <div class="is-col is-60">
        <div class="is-stack-20">
          <h2>Gaining energy efficiency is different to simply swapping energy suppliers</h2>
          <p>Comparing the starting energy measurement to realtime utilisation and tracking it over time is key to reducing consumption and saving money. This also helps net zero and green initiatives.</p>
          <p>Energy managers can save their organisation money by reducing energy costs. Spook's public utility/energy monitoring service is designed with a bundle of wireless sensors to achieve this.</p>
          <p>Once organisations understand their grid level energy provision they can introduce granular energy consumption monitoring too. This is achieved by installing appropriate sensors to equipment and locations within the facility; and adding any existing monitoring already available on an organisations assets.</p>
        </div>
        <a class="button is-secondary white-text is-stack-20-mobile" href="/monitoring/power">Power monitoring <span class="caret is-right"></span></a>
        <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
      </div>
    </div>
  </div>
</section>
<section class="hero-block">
  <div class="container">
    <div class="is-stack-40">
      <div class="is-row is-items-middle">
        <div class="is-col is-70">
          <h2>Introduction</h2>
          <p class="is-big"><strong>Spook's award winning remote monitoring service called OmniWatch monitors public utility services.</strong></p>
          <p class="is-big"><strong>Typical beneficiaries in public utility monitoring is within HVAC whereby up to 30% reduction in costs can be found. However, OmniWatch achieves much more than reducing cooling costs.</strong></p>
          <p class="is-big"><strong>Complimentary sensors can be instrumental in an organisation becoming self-aware of any instances that could cause unplanned downtime and also be helpful in increasing employee productivity.</strong></p>
        </div>
        <div class="is-col is-30 is-text-center is-inset-20 is-border is-shadow-2" style="border-color: #fff; border-width: 5px;">
          <img src="/images/icons/award.svg" style="filter: invert(1);">
          <p class="is-small">Spook and OmniWatch was voted <strong>Specialist Technology Company of the Year</strong> and <strong>Most Innovative Solution of the Year</strong> at the annual UK CIR Business Continuity Awards.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grey" style="clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);">
  <div class="container">
    <div class="is-border is-shadow-2 is-inset-20 white is-stack-40" style="border-color: #393752; border-width: 5px;">
      <div class="is-row is-items-middle">
        <div class="is-col">
          <img src="/images/utility-monitoring/supported-providers-block.svg">
        </div>
        <div class="is-col">
          <h2>Metering</h2>
          <p>Measuring consumables from public utility companies across many different service providers meters; OmniWatch presents realtime usage in easy to use, secure, online digital dashboards.</p>
          <p>By installing wireless sensors to meters, realtime usage can be unlocked. Typical wireless sensors include LED flash counters, pulse counters, rotary counters and single/3 phase meters.</p>
        </div>
      </div>
    </div>
    <div class="is-row is-stack-60">
      <div class="is-col is-border is-shadow-2 is-inset-20 white is-stack-40-mobile" style="border-color: #acb4c8; border-width: 5px;">
        <h3>Visualisation</h3>
        <p>OmniWatch provides a suite of intuitive online tools to help visualise efficiency gains via a series of secure digital dashboards.</p>
        <p>These include radar charts with multiple date options and individual energy monitoring such as amps and kWh.</p>
        <p class="is-stack-20">OmniWatch collects energy usage data and provides billing grade breakdowns across the whole enterprise.</p>
        <figure class="is-text-center">
          <img class="is-stack-20" src="/images/utility-monitoring/power-metrics.png">
          <figcaption>Track live data usage of iPDUs and power meters.</figcaption>
        </figure>
        <h3>Analytics</h3>
        <p>OmniWatch readings are held in perpetuity, allowing energy managers to review, compare, plan and implement changes and illustrate their gains in automated and online reports.</p>
        <p>Understanding energy consumption over longer periods of time also identifies any irregular power hungry applications.</p>
      </div>
      <div class="is-col is-border is-shadow-2 is-inset-20 white" style="border-color: #66688d; border-width: 5px;">
        <figure class="is-text-center">
          <canvas id="radar_chart" width="200" height="150"></canvas>
          <table class="is-responsive">
            <thead>
              <tr>
                <th></th>
                <th class="is-text-right">Usage</th>
                <th class="is-text-right">Difference</th>
                <th class="is-text-right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Today</td>
                <td class="is-text-right">7.1kWh</td>
                <td class="is-text-right"></td>
                <td class="is-text-right">£1.50</td>
              </tr>
              <tr>
                <td>Yesterday</td>
                <td class="is-text-right">7.8kWh</td>
                <td class="is-text-right"><span class="green-text">-8.97%</span></td>
                <td class="is-text-right">£1.65</td>
              </tr>
              <tr>
                <td>Last week</td>
                <td class="is-text-right">18.7kWh</td>
                <td class="is-text-right"><span class="green-text">-62.03%</span></td>
                <td class="is-text-right">£3.95</td>
              </tr>
              <tr class="is-small is-muted">
                <td>Total</td>
                <td class="is-text-right">33.6kWh</td>
                <td class="is-text-right"></td>
                <td class="is-text-right">£7.09</td>
              </tr>
            </tbody>
          </table>
          <figcaption>Example kWh daily usage comparison for an iPDU.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="is-border is-shadow-2 is-inset-20 white" style="border-color: #b1dabe; border-width: 5px;">
      <div class="is-stack-20">
        <h4>Cost calculator</h4>
      </div>
      <div class="is-row is-items-middle is-stack-8">
        <div class="is-col">
          <p class="is-big" style="margin-bottom: 0;">kWh usage reading</p>
          <p class="is-muted">Enter the total kWh usage for the time period</p>
          <div class="is-append">
            <input id="kwh-reading" name="kwh-reading" class="form-control" value="100"><span>kWh</span>
          </div>
        </div>
        <div class="is-col">
          <p class="is-big" style="margin-bottom: 0;">Energy cost</p>
          <p class="is-muted">Enter in the unit cost per kWh in pence</p>
          <div class="is-append">
            <input id="price-value" name="price-value" class="form-control" value="21.1"><span>Pence</span>
          </div>
        </div>
        <div class="is-col is-text-center">
          <div id="calculated-price" style="font-size: 2em;"></div>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-33 is-stack-40-mobile">
        <img src="/images/utility-monitoring/energy-saving.svg">
      </div>
      <div class="is-col is-33 is-border is-shadow-2 is-inset-20">
        <h3>Rapid Return on Investment (ROI)</h3>
        <p>OmniWatch is an extremely cost efficient monitoring solution.</p>
        <p>Because Spook's public utility monitoring bundle uses wireless sensors and cellular gateways there is no need to install heavy duty infrastructure in order to achieve a total monitoring solution.</p>
        <p>The ROI is rapid and usually within a few months and the installation is "process light".</p>
      </div>
      <div class="is-col">
        
      </div>
    </div>


    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-33">

      </div>
      <div class="is-col is-33 is-stack-40-mobile">
        <img src="/images/monitoring/ups/protocols.svg">
      </div>
      <div class="is-col is-33 is-border is-shadow-2 is-inset-20">
        <h4>BEMS</h4>
        <p>OmniWatch is protocol neutral and works with all the major BEMS manufacturers.</p>
        <p>Any organisations that already have a BEMS (Building Energy Management System), OmniWatch is able to passively monitor any sensors and present them in a modern and intuitive way.</p>
      </div>
    </div>

    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-33 is-stack-40-mobile">
        <img src="/images/icons/alert-service.svg">
      </div>
      <div class="is-col is-33 is-border is-shadow-2 is-inset-20">
        <h4>Alerts</h4>
        <p>OmniWatch alerts can be applied to any monitored sensors.</p>
        <p>Spook's industry leading three-tier alarm escalation procedure is invoked using auto-email, SMS and ultimately via Spook's UK based call centre.</p>
        <p><a href="/alerting">Read more</a>.</p>
      </div>
      <div class="is-col is-33">

      </div>
    </div>
    
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-33">

      </div>
      <div class="is-col is-33 is-stack-40-mobile">
        <img style="display: block; margin: 0 auto;" src="/images/utility-monitoring/reminder.svg">
      </div>
      <div class="is-col is-33 is-border is-shadow-2 is-inset-20">
        <h4>Reminders</h4>
        <p>Monitored readings can be allocated a reminder status.</p>
        <p>Reminders are a perfect way to ensure any time based duty cycles for assets are maintained or any manual checking processes; such as a member of staff tasked with turning off/on electrical equipment, is applied.</p>
      </div>
    </div>
  </div>
</section>
<div style="height: 50px; background-image: linear-gradient(to bottom, #fff, #f6f6f6);"></div>
<section class="grey">
  <div class="container">
    <div class="is-text-center is-stack-40">
      <h3>Spook customer examples</h3>
      <p>Here are a few illustrations of Spook customers who monitor their ICT using iPDUs or BEMS.</p> 
      <p>OmniWatch auto-calculates the cost savings achieved as power saving initiatives are introduced.</p>
    </div>
		<div class="is-row">
    {% for item in site.data.utility.examples %}
			<div class="is-col is-50">
				<div class="is-border is-shadow-2 is-inset-20 is-stack-40 white" style="border-color: {{ item.color }}; border-width: 5px;">
					<div class="is-row is-items-middle">
						<div class="is-col">
							<h4><strong>{{ item.name }}</strong></h4>
							<img style="max-width: 120px;" src="{{ item.icon }}">
						</div>
						<div class="is-col is-text-right">
							<div>
								<span style="font-size: 3.5em;"><strong>{{ item.kwh.total }}</strong></span><span>kWh</span>
							</div>
							<div>
								<span style="font-size: 2em;">£{{ item.kwh.price }}</span>
							</div>
						</div>
					</div>
					<div class="is-text-right">
						{% if forloop.index0 != 3 %}
							<p class="is-muted">An average usage of ~{{ item.kwh.average }}kWh with {{ item.kwh.pdus }} iPDUs per month.</p>
						{% else %}
							<p class="is-muted">Total energy usage of 1207436kWh with IT equipment accounting for 58%.</p>
						{% endif %}
					</div>
				</div>
			</div>
    {% endfor %}
		</div>
  </div>
</section>


<section class="footer is-text-center">
	<div class="container">
    <div class="is-stack-40">
      <h2>Get in touch with Spook</h2>
      <p>Please contact us if you wish for further information on how Spook can help with your electricity, gas and water monitoring needs.</p>
    </div>
		<p><a href="/contact/" class="button">Contact us <span class="caret is-right"></span></a></p>
	</div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
const data = {
  labels: [
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23
  ],
  datasets: [
    {
      label: 'Today',
      data: [
        0.4, 0.2, 0.3, 0.3, 0.3, 0.3, 0.2, 0.4, 0.3, 0.2, 0.4, 0.3, 0.2, 0.3, 0.4, 0.3, 0.2, 0.2, 0.2, 0.4, 0.3, 0.4, 0.2, 0.4
      ],
      fill: true,
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgb(54, 162, 235)',
      pointBackgroundColor: 'rgb(54, 162, 235)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(54, 162, 235)',
      borderWidth: 1
    },
    {
      label: 'Yesterday',
      data: [
        0.4, 0.4, 0.4, 0.2, 0.2, 0.4, 0.4, 0.3, 0.3, 0.4, 0.2, 0.3, 0.2, 0.4, 0.3, 0.4, 0.3, 0.2, 0.3, 0.4, 0.4, 0.4, 0.3, 0.3
      ],
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      pointBackgroundColor: 'rgb(255, 99, 132)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 99, 132)',
      borderWidth: 1
    },
    {
      label: 'Last week',
      data: [
        0.8, 0.8, 0.8, 0.5, 0.8, 0.8, 0.5, 0.8, 0.8, 0.9, 0.8, 0.6, 0.9, 0.9, 0.9, 0.9, 0.6, 0.8, 0.8, 0.8, 0.8, 0.6, 0.9, 0.9
      ],
      fill: true,
      backgroundColor: 'rgba(255, 179, 0, 0.2)',
      borderColor: 'rgb(255, 179, 0)',
      pointBackgroundColor: 'rgb(255, 179, 0)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 179, 0)',
      borderWidth: 1
    },
  ]
};

const config = {
  type: 'radar',
  data: data,
  options: {
    elements: {
      line: {
        borderWidth: 3
      }
    },
		scale: {
			angleLines: {
				display: false
			},
			ticks: {
        max: 1,
				min: 0,
			}
    }
  },
};

const radarChart = new Chart(
    document.getElementById('radar_chart'),
    config
  );

$(document).ready(function (){
  calculateprice();
  $("#price-value").keyup(function(){
    calculateprice();
  });
  $("#kwh-reading").keyup(function(){
    calculateprice();
  });
  function calculateprice(){
    var pricevalue = parseFloat($("#price-value").val());
    var kwhreading = parseFloat($("#kwh-reading").val());
    $("#calculated-price").text("£" + ((kwhreading*pricevalue)/100).toFixed(2));
  }
});

</script>
