<section>
  <div class="container">
    <div class="is-stack-60 is-text-center">
      <h2>Spook monitors a wide range of power devices</h2>
    </div>
    <div class="is-row">
      {% for component in site.data.power.key-components %}
        <div class="is-col is-border is-shadow-2 is-inset-20 power-block is-stack-40-mobile">
          <a class="is-text-center" href="{{ component.link }}">
            <img src="{{ component.icon }}">
            <div class="divider"></div>
            <h4>{{ component.name }}</h4>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
