<img alt="Monitored PDU" style="margin-bottom: 2em;" src="/images/sections/key-pages/power-monitoring/PDU.svg">
<div class="is-row">
  <div class="is-col">
    <p><strong>Total Amps</strong></p>
    <p class="is-large"><strong>6.9A</strong></p>
  </div>
  <div class="is-col">
    <p><strong>Stranded Power</strong></p>
    <p class="is-large"><strong>9.1A</strong></p>
  </div>
  <div class="is-col">
    <p><strong>Volts</strong></p>
    <p class="is-large"><strong>230V</strong></p>
  </div>
  <div class="is-col">
    <p><strong>kWh</strong></p>
    <p class="is-large"><strong>29.7</strong></p>
  </div>
</div>
<table class="is-small">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Status</th>
      <th>Amps</th>
      <th>Wh</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>1</td>
      <td>Rack Switch</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>1.6</td>
      <td>4733</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Mail Server</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>0.4</td>
      <td>1448</td>
    </tr>

    <tr>
      <td>3</td>
      <td>Server 01</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>0.1</td>
      <td>2383</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Server 02</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>0.8</td>
      <td>1825</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Security Server</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>1.2</td>
      <td>4001</td>
    </tr>

    <tr>
      <td>6</td>
      <td>Firewall</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>0.9</td>
      <td>1950</td>
    </tr>

    <tr>
      <td>7</td>
      <td>Backup Server</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>1.2</td>
      <td>4005</td>
    </tr>

    <tr>
      <td>8</td>
      <td>Rack UPS</td>
      <td><span
          style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
        On</td>
      <td>0.7</td>
      <td>1783</td>
    </tr>

  </tbody>
</table>

