---
layout: base
title: Cellular technology
page-description: "Cellular technology is improving quickly and being adopted as a reliable communications solution
within many
industries."
---
<header
  style="background-image: url('/images/solutions/cellular-technology/cellular-banner.jpg'); background-size: cover; background-position: left;">
  <div class="container">
    <div class="is-stack-40 is-50">
      <h3>Technical</h3>
      <h1>Cellular monitoring</h1>
      <p class="is-big">Keeping remote monitoring secure and independent.</p>
      <p class="is-big">Cellular technology is improving quickly and being adopted as a reliable communications solution
        within many industries.</p>
    </div>
    <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col">
        <img alt="Cellular gateway" src="/images/solutions/cellular-technology/gateway.svg">
      </div>
      <div class="is-col">
        <h2>Award winning remote monitoring solution</h2>
        <p class="is-big">Spook's cellular router solution won the CIR Business Continuity Awards category of <a
            href="/blog/cir-business-continuity-award-winners">Specialist Technology Company of the Year</a>.</p>
        <p class="is-big">Unlike a standard router that accesses the internet through a cable, a cellular router enables
          you to get internet access through a cellular data network.</p>
        <p class="is-big">This is perfect for keeping remote monitoring independent of a customers ethernet network or
          for areas where broadband is not an option.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-stack-60">
      <div class="is-col">
        <h2>Improved technology</h2>
        <p>Since the development of 2G technology back in the 1990's the mobile communications marketplace has developed
          at an ever increasing pace.</p>
        <p>3G was introduced in 2003 and 4G superseded this in 2012 which gave the same benefits of 3G but at a much
          greater speed.</p>
        <p>We now enter the realms of 5G technology which is set to revolutionise how we approach communications and the
          Internet of Things (IoT).</p>
      </div>
      <div class="is-col">
        <p class="is-big">Latency time for cellular communication</p>
        <table>
          <thead>
            <tr>
              <th>Network type</th>
              <th>Milliseconds (ms)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3G</td>
              <td>60ms (actual)<strong>*</strong></td>
            </tr>
            <tr>
              <td>4G</td>
              <td>50ms (actual)<strong>*</strong></td>
            </tr>
            <tr>
              <td>5G</td>
              <td>1ms (theoretical)</td>
            </tr>
          </tbody>
        </table>
        <p><strong>*</strong>Average UK latency according to Ofcom research conducted in late 2017.</p>
      </div>
    </div>
    <div class="is-row is-stack-60">
      {% for item in site.data.solutions.cellular.key-points %}
      <div class="is-col is-stack-40">
        <div class="card is-border is-shadow-2">
          <div class="card-img {{ item.color }} icon" style="background-image: url('{{ item.icon }}');"></div>
          <div class="card-content">
            <h3>{{ item.name }}</h3>
            {% for paragraph in item.words %}
            <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="is-text-center is-stack-20">
      <h3>SIM features</h3>
    </div>
    <div class="is-row is-text-center">
      {% for feature in site.data.co2.sim-features %}
      <div class="is-col">
        <img alt="{{ feature.name }}" style="height: 100px;" src="{{ feature.icon }}">
        <h5>{{ feature.name }}</h5>
        <p>{{ feature.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="contact-us-box">
  <div class="container is-text-center">
    <h2>Try before you buy</h2>
    <p class="is-big">Spook can provide a loan cellular router to try before you decide to buy one. This ensures the
      cellular router proves its ability to work before you buy it.</p>
    <p class="is-big"><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
  </div>
</section>