---
layout: base
title: Spook Legionella remote monitoring service 
page-description: "Legionnaires disease is predicted to increase due to changes in working practices."
---
<header
  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/solutions/legionella-monitoring/legionella-pneumonia-banner.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container">
    <div class="is-50 is-border is-shadow-2 white is-inset-20" style="border: 5px solid #125589;">
      <div class="is-color-black is-stack-20">
        <h3>Technical</h3>
        <h1>Spook Legionella remote monitoring service</h1>
        <p class="is-large">Legionnaires' disease is predicted to increase due to changes in working practices.</p>
      </div>
      <p class="is-big"><a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a></p>
    </div>
  </div>
</header>
<section class="hero-block">
  <div class="container">
    <h2>What is Legionella?</h2>
    <p class="is-big"><strong>Legionnaires', or Legionella disease is a bacteria that grows in stagnant water and is a form of pneumonia. The Legionella bacterium also causes Pontiac fever, a milder illness similar to influenza.</strong></p>
    <p class="is-big"><strong>Pontiac fever usually clears on its own, but untreated Legionnaires' disease can be fatal. Although prompt treatment with antibiotics usually cures Legionnaires' disease, some people continue to have problems after treatment.</strong></p>
    <p class="is-big"><strong>According to the <a class="white-text" href="https://www.hse.gov.uk/">HSE</a> there are many factors to take into consideration when assessing the risk of Legionella within a building. One of which is monitoring the water temperature and flow in all or some parts of the plumbing system.</strong></p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col">
        <h2>Legal compliance of monitoring for Legionella</h2>
        <p>If you are an employer of more than 5 people, or someone in control of premises where people congregate you must understand the health risks associated with Legionella. Legionella compliance is not an option, but a legal and socially responsible necessity.</p> 
      </div>
      <div class="is-col">
        <div class="is-inset-20" style="border: 5px solid #2b94d6;">
          <h3>UK legislation</h3>
          <p>The legal requirement for conducting a Legionella risk assessment is defined under the following legislation:</p>
          <ul>
            <li><a href="https://www.legislation.gov.uk/ukpga/1974/37/contents">The Health and Safety at Work Act 1974</a></li>
            <li><a href="https://www.legislation.gov.uk/uksi/1999/3242/contents/made">Management of Health and Safety at Work Regulations 1999</a></li>
            <li><a href="https://www.legislation.gov.uk/uksi/1999/437/contents/made">Control of Substances Hazardous to Health Regulations 1999 (COSHH)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-20">
        <img src="/images/icons/building2.svg">
        <h3>Where is Legionella most likely?</h3>
        <p>Legionella is more prevalent in places like hotels, hospitals or offices where the bacteria have got into the water supply.</p>
      </div>
      <div class="is-col is-80">
        <h3>Changes in working practices</h3>
        <p>Even as lockdown eases, the traditional workplace is set to change with far fewer staff following 9 till 5 shift patterns as flexible hours and home based working routines become more popular.</p>
        <p>Because of this, traditional office space is predicted to change too.  Experts suggest this could involve a combination of short-term fixes aimed at boosting worker confidence, reducing the number of staff in the office at any one time and longer-term design upgrades and modifications that put hygiene at the heart of workplace planning.</p>
        <p>Office locations are forecast to have a lower occupancy level of maybe 30-50% of capacity, and with some only being visited a few days a week.</p>
        <p>All this has had a direct impact on the potential for office based water systems to breed many types of different bacteria due to reduced water usage and water flow. Some water systems may have even been stopped during the Covid-19 epidemic due to non-attendance of staff.</p>
        <p>As a consequence, facility and building managers run the risk of returning to buildings with contaminated water facilities.</p>
      </div>
    </div>
  </div>
</section>
<div style="height: 50px; background-image: linear-gradient(to bottom, #fff, #f6f6f6);"></div>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-30">
        <img style="max-height: 200px; display: block; margin: 0 auto;" src="/images/omniwatch-logo.svg">
      </div>
      <div class="is-col is-70">
        <h2>How can Spook help?</h2>
        <p>Typically the testing for Legionella requires manual human interaction, however, with Spook's Legionella monitoring bundle you are able to remotely monitor your Legionella risk quickly and easily 24/7.</p>
        <p>Spook's award winning remote monitoring service called OmniWatch uses a bundle of wireless sensors (IoT) to monitor water temperature and water flow and can be extended to monitor other things if required.</p>
        <p>OmniWatch works with a variety of IoT wireless sensors in order to monitor and keep accurate records without human error or gaps in the temperature and water flow monitoring. There's also the added bonus that all monitoring and control can be carried out remotely helping to reduce the risk to onsite personnel.</p>
      </div>
    </div>
    <div class="is-row">
      {% for item in site.data.solutions.legionella-monitoring.spook-help %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2" style="border: 5px solid #{{ item.color }}">
            <div class="card-img icon" style="background-image: url('{{ item.icon }}');"></div>
            <div class="card-content">
              <h3>{{ item.name }}</h3>
              {% for paragraph in item.paragraphs %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
            {% if item.link %}
              <div class="card-footer">
                <a href="{{ item.link.url }}">{{ item.link.text }} <span class="caret is-right"></span></a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-stack-40">
      <h2>Spook recommended wireless sensors and devices</h2>
    </div>
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-40">
	<img style="max-height: 200px; display: block; margin: 0 auto;" src="/images/solutions/legionella-monitoring/thermocouple-sensor.svg">
      </div>
      <div class="is-col is-60">
	<h4>Wireless 2-Gang thermocouple sensor</h4>
	<p>A wireless 2-gang thermocouple temperature sensor measures two points simultaneously to gauge changes in temperature. Two probes are attached to the outside of the desired outlets you want to monitor and each have independent thermal monitoring points.</p>
	<p>Pair a wireless 2-gang thermocouple sensor with a wireless smart valve to remotely control the flow of water.</p>
      </div>
    </div>
   
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-40">
	<img style="max-height: 200px; display: block; margin: 0 auto;" src="/images/solutions/legionella-monitoring/smart-valve-sensor.svg">
      </div>
      <div class="is-col is-60">
	<h4>Wireless smart water valve</h4>
	<p>A smart water valve uses wireless technology to give you remote control over the operation of its valves. Smart valves also help you minimise waste and are Legionella compliant.</p>
	<p>Smart valves are available in a variety of sizes to fit any and all existing pipe work. Wireless smart valves can also come with a separate emitter to remotely open or close connected valves which is especially helpful in awkward to access areas and difficult, hard to reach areas.</p>
      </div>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
	<img style="max-height: 200px; display: block; margin: 0 auto;" src="/images/solutions/legionella-monitoring/pipe-temperature-sensor.svg">
      </div>
      <div class="is-col is-60">
	<h4>Wireless water pipe temperature sensor</h4>
	<p>Wireless water pipe temperature sensors clip around the outside of a water pipe and monitor the heat of the pipe itself.</p>
	<p>Wireless water pipe temperature sensors measure the hot, cold, and blended outflows of water pipes.</p>
      </div>
    </div>
  </div>
</section>
<section class="is-small grey">
  <div class="container">
    <p>Prosecution associated for outbreaks of Legionnaires' disease has been made much easier with the introduction of the Corporate Manslaughter and Corporate Homicide Act 2007.</p>
    <p>The introduction of a professional remote monitoring service and its associated costs are tiny when compared to the implications and impact an outbreak of Legionnaires' disease would have.</p>
    <p>Further reference:</p>
    <p>The Act:</p>
    <p><a href="https://www.hse.gov.uk/corpmanslaughter/about.htm">The Corporate Manslaughter and Corporate Homicide Act 2007</a></p>
    <p>The Corporate Manslaughter and Corporate Homicide Act 2007 is a landmark in law. For the first time, companies and organisations can be found guilty of corporate manslaughter as a result of serious management failures resulting in a gross breach of a duty of care.</p>
    <p>The Act, which came into force on 6 April 2008, clarifies the criminal liabilities of companies including large organisations where serious failures in the management of health and safety result in a fatality.</p>

    <p>BBC News:</p>
    <p><a href="https://www.bbc.co.uk/news/uk-england-cumbria-49649437">https://www.bbc.co.uk/news/uk-england-cumbria-49649437</a></p>
    <p>Shopkeepers risking an outbreak of Legionnaires' Disease have been threatened with legal action.</p>


    <p>Internet Article:</p>
    <p><a href="http://www.swiftclean.co.uk/pdfs/Corp%20manslaughter%20story.pdf">http://www.swiftclean.co.uk/pdfs/Corp%20manslaughter%20story.pdf</a></p>
    <p>The new Act would make it much easier to achieve a prosecution because you would only have to show that anyone involved had control over a substantial part of the organisation's activities. This Act is creating a whole new landscape for Legionnaires' disease prosecutions.</p>
  </div>
</section>
<section class="contact-us-box is-text-center">
  <div class="container">
    <h2>Get in touch with Spook</h2>
    <p>For more information on how Spook can help monitor for conditions that could lead to Legionella please get in touch.</p>
    <p><a href="/contact/" class="button is-secondary">Contact us</a></p>
  </div>
</section>
