---
layout: base
title: Wireless monitoring
page-description: Make monitoring easier with wireless sensors and gateways. No need to run cables or spend time installing monitoring equipment.
---
<style>
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/wireless-banner.jpeg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
</style>
<header>
  <div class="container">
    <div class="is-stack-40 is-50">
      <h1>Spook wireless sensors</h1>
      <h3>A full range of wireless sensors for every monitoring scenario</h3>
    </div>
    <a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col is-50">
        <h2>Wireless sensors</h2>
        <p>Spook works with any proprietary wireless sensor manufacturer and with LoRaWAN sensors for the IoT. We are resellers for a full range of sensor manufacturers and sensor types so if you need advice or help, simply <a href="/contact">contact us</a> for a free and non-obligatory chat.</p>
        <p>Spook wireless sensors arrive pre-configured and calibrated and have on-board on/off switches making installation very easy. Just install the sensor and switch it on for instant access to OmniWatch, via any internet enabled device.</p>
        <p>Here are some of the most popular sensor types:</p>
      </div>
      <div class="is-col">
        <div class="is-row is-text-center is-stack-20 is-inset-40 is-hidden-mobile">
          {% for point in site.data.co2.lorawan-points %}
            <div class="is-col">
              <img alt="{{ point.name }}" src="{{ point.icon }}">
              <p><strong>{{ point.name }}</strong></p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="is-row is-stack-60">
      {% for sensor in site.data.wireless.sensors %}
        <div class="is-col is-20 is-stack-20 is-text-center is-border is-shadow-2 is-inset-20">
          <div class="is-inset-20" style="width: 80px; height: 80px; background-image: url('{{ sensor.icon }}'); background-size: contain; background-repeat: no-repeat; background-origin: content-box; margin: 0 auto;"></div>
          <p><b>{{ sensor.name }}</b></p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include contact-us.html %}
