---
layout: base
---

<section id="dew-point-calculator">
	<div class="container">
		<div class="is-row">
			<div class="is-col is-40" style="background-color: #212121; color: #fff; padding: 2em;">
				<h1>Dew point calculator</h1>
			</div>
			<div class="is-col is-60" style="padding-top: 1em;">
				<p class="is-large">RH and air temperature are always related for any specific dew point temperature. If the RH and temperature are known a calculation can be made to present the dew point.</p>
				<p class="is-large">To check your dew point if you know your humidity and temperature use Spook's free dew point calculator below.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<form>
					<h3>Temperature</h3>
					<p>Enter the temperature value (°C)</p>
					<div class="is-prepend"><span>°C</span> <input id="temperature" name="temperature" class="form-control" value="25"></div>
					
					<h3>Humidity</h3>
					<p>Enter the relative humidity value (%)</p>
					<div class="is-prepend"><span>%</span> <input id="humidity" name="humidity" class="form-control" value="25"></div>
				</form>
			</div>
			<div class="is-col is-text-center">
				<h3>Dew Point</h3>
				<h3 id="dewpoint" style="font-size:2em; font-weight: 300;">3.60°C</h3>
			</div>
		</div>
	</div>
</section>
<section class="brand">
	<div class="container is-text-center">
		<h2>Get dew point monitoring</h2>
		<p>Monitor dew point automatically with our wireless sensor and monitoring solution.<p>
		<p><a href="/monitoring/sensor/dew-point/" class="button is-inverted">Find out more</a></p>
	</div>
</section>
<script src="/js/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		calculateDewPoint();
		$('#temperature').keyup(function () {
			calculateDewPoint()
		});
		$('#humidity').keyup(function () {
			calculateDewPoint()
		});

		function calculateDewPoint() {
			var t = parseFloat($("#temperature").val());
			var rh = parseFloat($("#humidity").val());
			var a = 17.625;
			var b = 243.04;

			var dp = (b * (Math.log(rh / 100) + ((a * t) / (b + t)))) / (a - Math.log(rh / 100) - ((a * t) / (b + t)));

			$("#dewpoint").text(parseFloat(dp).toFixed(2) + '°C');
		}
	})
</script>
