---
layout: base
---

<section id="pue-dcie-calculator">
	<div class="container">
		<div class="is-row">
			<div class="is-col is-40" style="background-color: #212121; color: #fff; padding: 2em;">
				<h1>PUE and DCiE calculator</h1>
			</div>
			<div class="is-col is-60" style="padding-top: 1em;">
				<p>The industry standard for measuring power efficiencies is known as Power Usage Effectiveness (PUE) and Data Centre Infrastructure Effectiveness (DCiE).</p>
				<p>By measuring power at key areas coming into a facility means there are many valuable readings that provide important additional information.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<form>
			<div class="is-row is-items-middle">
				<div class="is-col">
					<div class="is-stack-60">
						<h2>Total Facility Energy</h2>
						<p class="is-muted">Enter in the total amount of energy your facility is using (kW)</p>
						<div class="is-prepend">
							<span>kW</span> <input id="totalfacility" name="totalfacility" class="form-control" value="1000">
						</div>
					</div>
					<div class="is-stack-60">
						<h2>Total IT Equipment Energy</h2>
						<p class="is-muted">Enter the total amount of energy your IT equipment is using (kW)</p>
						<div class="is-prepend">
							<span>kW</span> <input id="totalit" name="totalit" class="form-control" value="800">
						</div>
					</div>
				</div>
				<div class="is-col is-text-center">
					<h2 class="is-inset-top-60">PUE</h2>
					<h3 style="font-weight: 300; font-size: 2em;" id="pue">1.25</h3>
					<h2 class="is-inset-top-60">DCiE</h2>
					<h3 style="font-weight: 300; font-size: 2em;" id="dcie">80%</h3>
					<h2 class="is-inset-top-60 is-stack-20" style="font-weight: 300; font-size: 2em;" id="description">Efficient</h2>
					<span id="dciechart" class="sensor-reading">0/100</span>
				</div>
			</div>
	</form>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col">
				<table class="is-border">
					<thead>
						<tr>
							<th>PUE</th>
							<th>DCiE</th>
							<th>Level of efficiency</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3.0</td>
							<td>33%</td>
							<td>Very inefficient</td>
						</tr>
						<tr>
							<td>2.5</td>
							<td>40%</td>
							<td>Inefficient</td>
						</tr>
						<tr>
							<td>2.0</td>
							<td>50%</td>
							<td>Average</td>
						</tr>
						<tr>
							<td>1.5</td>
							<td>67%</td>
							<td>Efficient</td>
						</tr>
						<tr>
							<td>1.2</td>
							<td>83%</td>
							<td>Very efficient</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="is-col">
				<p>The objective is to ensure that the maximum possible percentage of power utilised in a data centre is actually used by IT equipment and the minimum by supporting equipment such as AC units.</p>
				<p>Clearly things such as antiquated and/or unreliable AC units will have an adverse effect on the PUE.</p>
				<p><a class="button" href="http://static.googleusercontent.com/media/www.google.com/en/us/corporate/datacenter/dc-best-practices-google.pdf">Read Google's Green Data Centers Case Study</a></p>
			</div>
		</div>
	</div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/peity.min.js"></script>
<script>$(document).ready(function () {
$("#dciechart").peity("donut", { innerRadius: 20, radius: 34, fill: ["#eee"] });

calculatePUEDCiE();

$('#totalfacility').keyup(function () {
calculatePUEDCiE()
});
$('#totalit').keyup(function () {
calculatePUEDCiE()
});

function calculatePUEDCiE() {
var tfe = parseFloat($("#totalfacility").val());
var tie = parseFloat($("#totalit").val());

var pue = parseFloat(tfe / tie).toFixed(2);
var dcie = parseInt((tie / tfe) * 100);

$("#pue").text(pue);
$("#dcie").text(dcie + '%');
var description = "";
var color = ""
if (pue <= 1.2) {
description = "Very efficient";
color = "#8bc34a";
} else if (pue <= 1.5) {
description = "Efficient";
color = "#95c859";
} else if (pue <= 2.0) {
description = "Average";
color = "#7CB5EC";
} else if (pue <= 2.5) {
	description = "Inefficient";
	color = "#FFC107";
} else {
					description = "Very inefficient";
					color = "#FF5F5F";
				}
$("#description").text(description);
var updatingChart = $("#dciechart").peity("donut", { innerRadius: 20, radius: 34, fill: [color, "#eee"] });
updatingChart
.text(dcie + '/100')
.change();
}
})</script>
<script>$('.donut').peity('donut');</script>
