---
layout: base
title: Cellular monitoring
---
<header>
  <div class="container">
    <h1>Cellular monitoring</h1>
    <h3>Keeping remote monitoring secure and independent</h3>
    {% include header-buttons.html %}
  </div>
</header>
<section>
  <div class="container">
    <img src="/images/omniwatch/rut-950.svg">
    <p>Spook's cellular router solution won the recent 2020 CIR Business Continuity Awards category of "Specialist
      Technology
      Company of the Year".</p>

    <p>Unlike a standard router that accesses the internet through a cable, a cellular router enables you to get
      internet
      access through a cellular data network. This is perfect for keeping remote monitoring independent of a customers
      network or for areas where broadband is not an
      option.</p>

    <h2>Data Roaming SIM technology</h2>

    <p>Spook includes as standard a data roaming sim at no cost for usage. The sim has over 80 service providers
      including O2,
      Three, Vodafone and EE.</p>

    <h2>Data resilience</h2>

    <p>By utilising machine-to-machine (M2M) data only SIMs within Spook's cellular routers the solution is able to
      operate in areas
      of
      poor signal and can communicate readings to Spook's servers even when signal is low or even in places where only
      2G is available.</p>

    <p>For areas where there is no signal, for example; server rooms in basements, external aerials can be installed or
      the
      cellular router can be installed anywhere within a customers facility. So in this example the cellular router can
      be
      installed in a different part of the building, away from the actual monitored area.</p>

    <h2>Try before you buy</h2>

    <p>Spook can provide a loan cellular router to try before you decide to buy one. This ensures the cellular router
      proves
      its ability to work before you buy it.</p>


    <h2>Contingency</h2>

    <p>Spook sets the hunt for signal strength to every 24 hours so if a new mobile service provider pops up in the
      vicinity
      with a stronger signal, it is selected automatically.</p>

    <p>Also, If the mobile service provider has a sudden loss of service Spook has designed a handy feature to auto-hunt
      for an
      alternative service provider within ten minutes of loss of signal. This ensures remote monitoring contingency is
      automatically achieved.</p>

    <h2>Security</h2>

    <p>Each cellular router is set to send data securely via Spook’s VPN. (LC pop some technical stuff in here)</p>

    <h2>Monitoring</h2>

    <p>Spook's standard cellular router comes with 4 x LAN ports as standard. In order to remotely monitor equipment
      simply
      connect the device that requires monitoring into one of the available on-board LAN ports.</p>

    <p>For organisations that require more than 4 connections, simply plug a multi-port switch to one of the on board
      LAN ports
      to achieve extend monitoring.</p>

    <h2>Plug and play</h2>
    <p>Spook pre-configures the cellular router to work with our award winning cloud based monitoring service called
      OmniWatch.
      So simply provide power and turn on the cellular router for instant access to your OmniWatch real time dashboards.
    </p>
  </div>
</section>
{% include contact-us.html %}