---
layout: base
title: Cellular monitoring
---
<header>
  <div class="container">
    <h1>Cellular monitoring</h1>
    <h3>Keeping remote monitoring secure and independent</h3>
    {% include header-buttons.html %}
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-60">
      <div class="is-col">
        <img src="/images/solutions/cellular-technology/gateway.svg">
      </div>
      <div class="is-col">
        <h2>Award winning remote monitoring solution</h2>
        <p>Spook's cellular router solution won the recent 2020 CIR Business Continuity Awards category of <a
            href="/news/cir-business-continuity-award-winner-2020/">Specialist
            Technology
            Company of the Year</a>.</p>
        <p>Unlike a standard router that accesses the internet through a cable, a cellular router enables you to get
          internet
          access through a cellular data network.</p>

        <p>This is perfect for keeping remote monitoring independent of a customers ethernet network or for areas where
          broadband
          is not an option.</p>
      </div>
    </div>

    <div class="is-stack-60 is-row is-items-middle">
      <div class="is-col">
        <h2>Data Roaming SIM technology</h2>
        <p>Spook includes as standard a data roaming sim at no cost for usage.</p>
        <p>The sim has over 80 service providers
          including O2,
          Three, Vodafone and EE.</p>
      </div>
      <div class="is-col">
        <img src="/images/solutions/cellular-technology/operators-line.svg">
      </div>
    </div>
    <div class="is-row">
      <div class="is-col">
        <h3>Data resilience</h3>
        <p>By only using data sims the signal required to transmit readings to Spook's remote cloud servers can be
          surprisingly weak.</p>
        <p>For areas where there is no mobile signal external aerials can be added or the cellular router can be
          installed
          anywhere
          within a customers facility where signal may be achieved.</p>
      </div>
      <div class="is-col">
        <h3>Contingency</h3>
        <p>Spook cellular routers reboot and hunt for the strongest signal in the area every 24 hours so if a new mobile
          service
          provider pops up in the vicinity with a stronger signal, it is selected automatically.</p>

        <p>Also, if the current mobile service provider has a sudden loss of service Spook has designed a handy feature
          to
          auto-hunt for an alternative service provider within ten minutes of signal loss.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container grey is-border is-text-center">
    <div class="is-inset-20">
      <h2>Try before you buy</h2>
      <p>Spook can provide a loan cellular router to try before you decide to buy one. This ensures the cellular router
        proves
        its ability to work before you buy it.</p>
      <p><a href="/contact" class="button">Get in touch</a></p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <nav class="tabs" data-kube="tabs" data-equal="true">
      <a href="#monitoring" class="is-active">Monitoring</a>
      <a href="#plug-and-play">Plug and play</a>
      <a href="#security">Security</a>
    </nav>

    <div id="monitoring">
      <h2>Monitoring</h2>
      <p>Spook's standard cellular routers come with 4 x on-board LAN ports as standard. Simply connect the device that
        requires
        monitoring into one of the available LAN ports.</p>
      <p>For organisations that require more than 4 connections, multi-port switches can be added to the base unit to
        provide
        extended LAN ports.</p>
    </div>
    <div id="plug-and-play">
      <h2>Plug and play</h2>
      <p>Spook pre-configures the cellular routers to work with our award winning cloud based monitoring service called
        OmniWatch. So simply provide power and turn on the cellular router for instant access to your OmniWatch real
        time
        monitoring service.</p>
    </div>
    <div id="security">
      <h2>Security</h2>
      <p>Each cellular router is set to send data securely via Spook's VPN.</p>
    </div>
  </div>
</section>
{% include contact-us.html %}