---
layout: base
title: Wireless monitoring
page-description: Make monitoring easier with wireless sensors and gateways. No need to run cables or spend time installing monitoring equipment.
---
<style>
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/wireless-banner.jpeg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
</style>
<header>
  <div class="container">
    <div class="is-stack-40">
      <h3>New to Monitoring or do you want to add to your existing monitoring?</h3>
      <h1>Spook wireless monitoring</h1>
    </div>
    <a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img alt="Wireless gateways" src="/images/solutions/wireless/gateway.svg">
      </div>
      <div class="is-col">
        <h2>Ethernet gateway</h2>
        <h4>Your gateway to seamless wireless sensor monitoring</h4>
        <p>Spook's ethernet wireless gateways are the key to collecting sensor readings from Spook's range of wireless sensors without the need for a PC.</p>
        <p><a href="/solutions/wireless/gateway" class="button is-secondary">Read more <span class="caret is-right"></span></a></p>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <div class="is-50 is-stack-60">
      <h2>Wireless sensors</h2>
      <p>Spook wireless sensors arrive pre-configured and have on-board on/off switches making installation extremely
        easy. Just switch on the sensor and access Spook's secure cloud based remote monitoring service, called
        OmniWatch, via any internet enabled device.</p>
      <p>With over 80 sensor types there is little Spook wireless sensors can not monitor. Here are some of the most
        popular ones.</p>
    </div>
    <div class="is-row is-stack-60">
      {% for sensor in site.data.wireless.sensors %}
        <div class="is-col is-20 is-stack-20 is-text-center is-border is-shadow-2 is-inset-20">
          <div class="is-inset-20" style="width: 80px; height: 80px; background-image: url('{{ sensor.icon }}'); background-size: contain; background-repeat: no-repeat; background-origin: content-box; margin: 0 auto;"></div>
          <p><b>{{ sensor.name }}</b></p>
        </div>
      {% endfor %}
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-10">
        <img alt="Secure monitoring solution" src="/images/icons/secure.svg">
      </div>
      <div class="is-col is-90">
        <h2>Wireless sensors security</h2>
        <p>Where other devices operate on non-proprietary communication protocols (Wi-Fi, Bluetooth, Zigbee), Spook
          wireless
          sensors and gateways operate using different frequency bands so they cannot be used to eavesdrop on the radio
          communications.</p>
        <p>In addition a robust packet tampering evaluation routine is used to ensure that traffic isn't altered between
          the
          sensors and the gateways and this enables a check for well-formed data packets that only originated from the
          correct
          enabled devices.</p>
        <p>To further protect data there are algorithms that protect against spoofing and re-transmission of wireless
          data
          packets.</p>
        <p>The wireless sensors use a frequency-hopping spread spectrum (FHSS). They also use Encrypt-RFTM bank level
          security,
          featuring a 256-bit exchange to establish a global unique key and an AES-128 CTR for all data messages.
          Therefore
          security is maintained at all communication points from sensor to gateway, gateway to Spook servers and back
          again.</p>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}
