---
layout: base
title: Wireless monitoring
---
<header>
  <div class="container">
    <div class="is-stack-20">
      <h3>New to Monitoring or do you want to add to your existing monitoring?</h3>
      <h1>Spook wireless sensor monitoring</h1>
      <p>Spook wireless sensors arrive pre-configured and have on-board on/off switches making installation extremely
        easy. Just switch on the sensor and access Spook's secure cloud based remote monitoring service, called
        OmniWatch, via any internet enabled device.</p>
      <p>With over 80 sensor types there is little Spook wireless sensors can not monitor. Here are some of the most
        popular ones.</p>
    </div>
    {% include header-buttons.html %}
  </div>
</header>
<section>
  <div class="container">
    <h2>Ethernet gateway</h2>
    <h4 class="is-stack-60">Your gateway to seamless wireless sensor monitoring</h4>


    <p>Spook's ethernet wireless gateways are the key to collecting sensor readings from Spook’s range of wireless
      sensors
      without the need for a PC.</p>

    <p>They come preconfigured by Spook so simply provide power and connect it to an open network port with internet
      connection
      and it will automatically communicate to Spook's, cloud based servers.</p>

    <h3>Data resilience</h3>
    <p>The ethernet gateways will buffer up to 16,000 wireless sensor data messages in on-board memory in the event of
      an
      internet connection interruption. When internet communication is re-established the sensor data will download to
      the
      Spook servers.</p>

    <p>Spook ethernet gateways can be installed directly to Spook cellular routers to keep remote monitoring independent
      of a
      customers ethernet network or for areas where broadband is not an option. Go here for more information.</p>

    <h3>Power over ethernet (PoE)</h3>
    <p>The ethernet wireless gateways come with PoE as standard and includes an AC adapter for organisations that do not
      have a
      PoE facility. Note: This option includes gateway modification only and does not include an ethernet power
      injector.</p>

    <h3>Try before you buy</h3>
    <p>Spook can provide a loan ethernet wireless gateway together with a few wireless sensors to try before you decide
      to buy.
      This ensures the unit and Spook wireless sensors work as expected before you buy them.</p>

    <h3>Contingency</h3>
    <p>Spook monitors the connection of the ethernet wireless gateway to ensure it is working 24/7. If communication to
      the
      device is lost an alert is broadcast to end users to notify them of the situation.</p>

    <h3>Security</h3>
    <p>Each ethernet wireless gateway is securely connected via Spook’s VPN and uses Encrypt-RF® (Diffie-Hellman Key
      Exchange +
      AES-128 CBC).</p>

    <h3>Plug and play</h3>
    <p>Spook pre-configures our ethernet wireless gateways to work in harmony with our award winning cloud based
      monitoring
      service called OmniWatch. So simply provide power and turn on the ethernet wireless gateway for instant access to
      your
      OmniWatch real time monitoring service.</p>

    <ul>
      <li>Wireless range of 650+ metres (1,200+) feet through 12+ walls *</li>
      <li>Frequency Hopping Spread Spectrum (FHSS)</li>
      <li>Improved interference immunity</li>
      <li>Encrypt-RF® Security (Diffie-Hellman Key Exchange + AES-128 CBC for sensor data messages)</li>
      <li>15,000 sensor message memory</li>
      <li>Over the air updates (future proof)</li>
      <li>True plug & play, no hassles for internet configuration set-up</li>
      <li>No PC required for operation</li>
      <li>Local status LEDs with transmission and online status indicators</li>
      <li>AC power supply</li>
    </ul>

    <p>*Actual range may vary depending on environment.</p>

  </div>
</section>
<section>
  <div class="container">
    <hr>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="is-stack-60">Wireless sensors</h2>
    <div class="is-row">


      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/ac-meter'">
          <div class="image-holder is-stack-20"
            style="background-image: url('/images/sensor/icons/alternatingcurrent.svg');"></div>
          <p class="is-large">Alternating current (AC) monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/activity-detection'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/activity.svg');">
          </div>
          <p class="is-large">Activity monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/airflow'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/airflow.svg');">
          </div>
          <p class="is-large">Airflow monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/asset-monitoring'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/asset.svg');"></div>
          <p class="is-large">Asset monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/boundary-and-ir'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/ir.svg');"></div>
          <p class="is-large">Boundary and IR monitoring</p>
        </div>
      </div>











      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/dew-point'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/dewpoint.svg');">
          </div>
          <p class="is-large">Dew point monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/dry-contact'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/drycontact.svg');">
          </div>
          <p class="is-large">Dry contact monitoring</p>
        </div>
      </div>







      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/gasses'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/gas.svg');"></div>
          <p class="is-large">Gas monitoring</p>
        </div>
      </div>







      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/humidity'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/humidity.svg');">
          </div>
          <p class="is-large">Humidity monitoring</p>
        </div>
      </div>







      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/light-meters'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/light.svg');"></div>
          <p class="is-large">Light meter monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/motion'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/motion.svg');"></div>
          <p class="is-large">Motion monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/open-closed'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/door.svg');"></div>
          <p class="is-large">Open/closed monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/powder-detection'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/powder.svg');"></div>
          <p class="is-large">Powder monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/pressure'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/pressure.svg');">
          </div>
          <p class="is-large">Pressure monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/propane-level'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/propane.svg');">
          </div>
          <p class="is-large">Propane monitoring</p>
        </div>
      </div>









      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/temperature'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/temperature.svg');">
          </div>
          <p class="is-large">Temperature monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/three-phase-current'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/threephase.svg');">
          </div>
          <p class="is-large">3 phase current monitoring</p>
        </div>
      </div>





      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/vehicle-detection'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/vehicle.svg');">
          </div>
          <p class="is-large">Vehicle detection</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/voltage-meter'">
          <div class="image-holder is-stack-20"
            style="background-image: url('/images/sensor/icons/directcurrent.svg');"></div>
          <p class="is-large">Volts direct current (VDC) monitoring</p>
        </div>
      </div>



      <div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
        <div class="is-inset-20" onclick="location.href = '/solutions/wireless/sensor/water'">
          <div class="image-holder is-stack-20" style="background-image: url('/images/sensor/icons/water.svg');"></div>
          <p class="is-large">Water monitoring</p>
        </div>
      </div>


    </div>
  </div>
</section>
{% include contact-us.html %}