<section>
  <div class="container">
    <div class="is-row is-stack-20">
      {% for item in site.data.homepage-links %}
      <div class="is-col is-50 is-stack-20">
	<div class="homepage-links-block" style="background-image: url({{ item.banner }}); background-size: cover; background-position: center; background-repeat: no-repeat;">
	  <a href="{{ item.link }}">
	  <div class="homepage-links-block-content">
	    <img style="filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(113%) contrast(108%);" src="{{ item.icon }}">
	    <h3>{{ item.title }} monitoring</h3>
	  </div>
	  </a>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
