<section>
	<div class="container">
		<div class="is-row is-text-center">
			<div class="is-col">
				<h3>Environmental<br>monitoring</h3>
				<img alt="Environmental monitoring" style="width:200px; margin: 1em auto;" src="/images/sections/key-pages/environmental-monitoring/environmental-monitoring-circle.png">
				<p><a href="/monitoring/environmental-monitoring/" class="button">Read more</a></p>
			</div>
			<div class="is-col">
				<h3>IT<br>monitoring</h3>
				<img alt="IT monitoring" style="width:200px; margin: 1em auto;" src="/images/sections/key-pages/it-monitoring/it-monitoring-circle.png">
				<p><a href="/monitoring/it-monitoring/" class="button">Read more</a></p>
			</div>
			<div class="is-col">
				<h3>Power<br>monitoring</h3>
				<img alt="Power monitoring" style="width:200px; margin: 1em auto;" src="/images/sections/key-pages/power-monitoring/power-monitoring-circle.png">
				<p><a href="/monitoring/power-monitoring/" class="button">Read more</a></p>
			</div>
			<div class="is-col">
				<h3>Industry<br>monitoring</h3>
				<img alt="Industry monitoring" style="width:200px; margin: 1em auto;" src="/images/sections/key-pages/industry-monitoring/industry-monitoring-circle.png">
				<p><a href="/monitoring/industry-monitoring/" class="button">Read more</a></p>
			</div>
		</div>
	</div>
</section>
