<section>
	<div class="container">
		<div class="is-row is-stack-20">
			<div class="is-col is-50 is-stack-20">
				<div class="homepage-links-block"
					style="background-image: url(/images/sections/key-pages/environmental-monitoring/environmental-monitoring-banner.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
					<a href="/monitoring/environmental">
						<div class="homepage-links-block-content">
							<img alt="Climate monitoring"
								style="filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(113%) contrast(108%);"
								src="/images/icons/climate.svg">
							<h3>Climate monitoring</h3>
						</div>
					</a>
				</div>
			</div>
			<div class="is-col is-50 is-stack-20">
				<div class="homepage-links-block"
					style="background-image: url(/images/sections/key-pages/it-monitoring/it-monitoring-banner.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
					<a href="/monitoring/it">
						<div class="homepage-links-block-content">
							<img alt="IT monitoring"
								style="filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(113%) contrast(108%);"
								src="/images/icons/it-equipment.svg">
							<h3>IT monitoring</h3>
						</div>
					</a>
				</div>
			</div>
			<div class="is-col is-50 is-stack-20">
				<div class="homepage-links-block"
					style="background-image: url(/images/sections/key-pages/power-monitoring/power-monitoring-banner.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
					<a href="/monitoring/power">
						<div class="homepage-links-block-content">
							<img alt="Power monitoring"
								style="filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(113%) contrast(108%);"
								src="/images/icons/power.svg">
							<h3>Power monitoring</h3>
						</div>
					</a>
				</div>
			</div>
			<div class="is-col is-50 is-stack-20">
				<div class="homepage-links-block"
					style="background-image: url(/images/sections/key-pages/industry-monitoring/industry-monitoring-banner.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
					<a href="/monitoring/industry">
						<div class="homepage-links-block-content">
							<img alt="Industry monitoring"
								style="filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(113%) contrast(108%);"
								src="/images/icons/industry.svg">
							<h3>Industry monitoring</h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>