---
layout: base
---
<header style="background-image: url('{{ page.header-image }}'); background-attachment: fixed; background-repeat: no-repeat; background-position: bottom; background-size: cover;">
	<div class="container">
		<div class="is-50">
			<h3>{{ page.subheader }}</h3>
			<h1>{{ page.header }}</h1>
			{% if page.header-text %}
			<p class="is-large">{{ page.header-text }}</p>
			{% endif %}
			<p><a class="button is-secondary is-inverted" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
		</div>
	</div>
</header>
{{ content }}
{% include monitoring/key-footer.html %} 
{% include contact-us.html %}
