---
layout: base
---
<header style="background-image: url('{{ page.header-image }}');">
  <div class="container">
    <div class="is-60">
      <h3>Secure cloud based monitoring and data collection</h3>
      <h1>Climate monitoring</h1>
      <p>Monitoring the environment is important for many reasons, whether it's temperature monitoring for refrigeration units or water monitoring for leaking pipes, trapped water or even floods, the range of climate monitoring by Spook is extensive.</p>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col">
	<h2>Secure cloud based climate monitoring</h2>
	<p>Spook's secure remote monitoring service called OmniWatch is designed to work with most climate measuring hardware and sensors making monitoring the environment easy, cohesive and technically advanced.</p>
	<p>OmniWatch's main function is to alert users to changes to the sensors being monitored via email, SMS and UK call centre. In addition, Spook understands that users real-time dashboards must be intuitive yet functionally rich. That's why OmniWatch's functionality has been and continues to be designed by customer led feedback.</p>
	<p>Spook's customers range from organisations that have already invested in climate monitoring equipment and want a central cloud based service that is easy to use and functionally advanced to businesses that are considering monitoring for the first time and want a hassle free, out-of-box monitoring solution.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
	<h2>Key climate conditions OmniWatch can monitor</h2>
	<p>Are we missing the climate condition you are looking for? Get in <a href="/contact">contact with us</a> to discuss how we can help.</p>
      </div>
      <div class="is-col is-70">
	<div class="is-row">
	  {% for item in site.data.environmental.header-item %}
	  <div class="is-col is-33 is-stack-20">
	    <div class="line-block-content">
	      <img style="width: 40px;" src="{{ item.icon }}">
	      <h4>{{ item.title }}</h4>
	    </div>
	    <p>{{ item.text }}</p>
	    <a href="#{{ item.section-link }}" class="button">Read more</a>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</section>
{% for item in site.data.environmental.header-item %}
<section id="{{ item.section-link }}">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
	<div class="line-block-content is-stack-40">
	  <img style="width: 80px;" src="{{ item.icon }}">
	  <h2>{{ item.title }}<br>monitoring</h2>
	</div>
	<ul class="is-bar">
	  <li><a href="{{ item.link }}" class="button is-secondary">View more</a></li>
	  <li><a href="#top" class="button is-inverted">Back to top</a></li>
	</ul>
      </div>
      <div class="is-col is-70">
	{% for line in item.words %}
	  <p>{{ line }}</p>
	{% endfor %}
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% include monitoring/key-footer.html %} 
{% include contact-us.html %}
