---
layout: monitoring/key-pages/base
---
<section>
	<div class="container is-text-center">
		<h2>Supported industries</h2>
		<div class="is-row">
			{% for item in site.data.industry.header-item %}
			<div class="is-col is-33">
				<img class="feature-img" style="width: 200px; height: 200px;" src="{{ item.circle-image }}">
				<h3>{{ item.title }}</h3>
				<p>{{ item.sub }}</p>
				<div class="is-text-center see-more">
					<a href="#{{ item.section-link }}">
						<span class="caret is-down"></span>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section>
	<div class="container">
        <p>Spook understands not every business has an engineer available to set up complicated systems and make sure everything is functioning correctly. That's why Spook's range of over 80 wireless sensors are perfect for monitoring across multiple industry types. Spook's wireless sensors come pre-configured and ready to go, so all that is needed is for them to be installed in the area that requires monitoring and for the sensor to be switched on.</p>
        <p>Access to Spook's cloud based remote monitoring service called OmniWatch is immediate.</p>
        <p>Although any industry can benefit from Spook's monitoring service, here are some of the key ones.</p>
	</div>
</section>
{% for item in site.data.industry.header-item %}
{% if item.section-link == "not-shown" %}
<section id="{{ item.section-link }}">
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-30">
				<img src="{{ item.circle-image }}">
			</div>
			<div class="is-col is-70">
				<h2>Don't see your industry on this page?</h2>
				<p class="is-large">Get in contact with Spook to discuss how OmniWatch could benefit you and your company.</p>
				<p><a href="/contact/" class="button">Contact us</a></p>
			</div>
		</div>
	</div>
</section>
{% else %}
<section id="{{ item.section-link }}">
	<div class="container">
        <div style="background-image: url('{{ item.image }}'); background-size: cover; background-repeat: no-repeat; background-position: right; min-height: 240px; margin-bottom: 4em; position: relative;">
            <h2 class="is-50" style="color: #fff; padding-top: 3em; position: absolute; bottom: 10px; left: 10px;">{{ item.title }} monitoring</h2>
        </div>
		<div class="is-row" {% if item.reverse == 1 %}style="flex-direction: row-reverse;"{% endif %}>
            <div class="is-col is-60"> 
				{% for line in item.text %}
					<p>{{ line }}</p>
				{% endfor %}
				<p>{% if item.link %}<a class="button is-secondary" href="{{ item.link }}">More details <span class="caret is-right"></span></a> {% endif %}<a href="#top" class="button">Back to top <span class="caret is-up"></span></a></p>
			</div>
			<div class="is-col is-40 is-small is-muted">
                <p>Spook's monitoring bundle has over 80 different types of wireless sensor to choose from. A cellular router is included in the bundle and has a pre-installed SIM. There's no need to worry about SIM usage charges or even SMS credits for alerts because they are unlimited with Spook making the remote monitoring bundle hassle-free.</p>
                <p>The sensors come pre-configured so simply place them where you want to monitor and switch them on together with the cellular router. User access to OmniWatch is immediate and via any internet enabled device.</p>
			</div>
		</div>
		<p class="is-large">Popular sensors</p>
		{% for sensor in item.sensors %}
			<div class="is-row is-items-middle is-stack-8 is-border is-inset-6 is-small">
				<div class="is-col is-10">
				{% if sensor.name == "Temperature" or sensor.name == "Food temperature probes" or sensor.name == "Water temperature" or sensor.name == "Thermostat" or sensor.name == "Thermocoupler" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/temperature.svg">
				{% elsif sensor.name == "Humidity" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/humidity.svg">
				{% elsif sensor.name == "Dew point" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/dewpoint.svg">
				{% elsif sensor.name == "Water ingress" or sensor.name == "Water (present at animal drinking stations etc)" or sensor.name == "Liquid level" or sensor.name == "Liquids/powders" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/water.svg">
				{% elsif sensor.name == "Light" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/light.svg">
				{% elsif sensor.name == "Airflow" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/airflow.svg">
				{% elsif sensor.name == "Motion (security)" or sensor.name == "Motion" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/motion.svg">
				{% elsif sensor.name == "Door (open/closed)" or sensor.name == "Open/closed" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/door.svg">
				{% elsif sensor.name == "Dry contact" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/drycontact.svg">
				{% elsif sensor.name == "Pressure" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/pressure.svg">
				{% elsif sensor.name == "Alternating current (AC)" or sensor.name == "AC meter" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/alternatingcurrent.svg">
				{% elsif sensor.name == "Direct current (DC)" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/directcurrent.svg">
				{% elsif sensor.name == "Vibration" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/vibration.svg">
				{% elsif sensor.name == "Activity" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/activity.svg">
				{% elsif sensor.name == "Asset" or sensor.name == "Assets" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/asset.svg">
				{% elsif sensor.name == "Accelerometers" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/accelerometer.svg">
				{% elsif sensor.name == "Gas detection" or sensor.name == "Carbon monoxide" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/gas.svg">
				{% elsif sensor.name == "Vehicle detection" %}
					<img style="max-height: 60px;" src="/images/sensor/icons/vehicle.svg">
				{% endif %}
			</div>
			<div class="is-col is-20">
				<p><strong>{{ sensor.name }}</strong></p>
			</div>
			<div class="is-col is-70">
				<ul class="is-bar is-muted">
				{% for use in sensor.uses %}
				{% if forloop.index != 1 %}<li>|</li>{% endif %}
				<li>{{ use }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endfor %}
	</div>
</section>
{% endif %}
{% endfor %}
