---
layout: monitoring/key-pages/base
---
<section>
	<div class="container is-text-center">
		<h2>Key features</h2>
		<div class="is-row">
			{% for item in site.data.industry.header-item %}
			<div class="is-col is-33">
				<img class="feature-img" src="{{ item.image }}">
				<h3>{{ item.title }}</h3>
				<p>{{ item.sub }}</p>
				<div class="is-text-center see-more">
					<a href="#{{ item.section-link }}">
						<span class="caret is-down"></span>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section>
	<div class="container">
		<p>Spook understands not every business has an engineer available to set up complicated systems and	make sure everything is functioning correctly. That’s why Spook’s range of over 80 wireless sensors	are perfect for monitoring across multiple industry types. The wireless sensors come pre-configured so all that is needed is for them to be installed in the area that requires monitoring and for the sensor to be switched on. Access to Spook’s cloud based remote monitoring service called OmniWatch is immediate. Although any industry can benefit from Spook’s monitoring service, illustrated below are some of the more obvious ones.</p>
	</div>
</section>
{% for item in site.data.industry.header-item %}
<section id="{{ item.section-link }}">
	<div class="container">
		<div class="is-row" {% if item.reverse == 1 %}style="flex-direction: row-reverse;"{% endif %}>
			<div class="is-col is-40" style="background-image: url('{{ item.image }}'); background-size: cover; background-repeat: no-repeat; background-position: right;">
			</div>
			<div class="is-col is-60">
				<h2>{{ item.title }} monitoring</h2>
				{% for line in item.text %}
					<p>{{ line }}</p>
				{% endfor %}
				<p><a class="button is-secondary" href="{{ item.link }}">More details</a> <a href="#top" class="button is-inverted">Back to top</a></p>
			</div>
		</div>
	</div>
</section>
{% endfor %}
