---
layout: base
---
<section>
  <div class="container">
    <h3>Secure cloud based monitoring and data collection</h3>
    <h1>Remote IT monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <p>Spook's cloud based remote monitoring service called OmniWatch is chiefly deployed in data centers and IT server rooms. It is generally well known that the majority of business disruption is caused by unplanned IT downtime. By monitoring the key environmental and power elements of IT rooms housing critical equipment means if there is an alarm, remedial action can take place to normalise matters in order to maximise business uptime.</p>
    <p>Whether there is a requirement to monitor wired climate monitoring hardware or 3rd party devices such as intelligent power strips, uninterruptible power supplies, generators, BMS systems and more; OmniWatch provides an enterprise centric monitoring solution.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
	<h2>OmniWatch can monitor any size of IT infrastructure</h2>
	<p>Got a setup that we haven't listed? Get in <a href="/contact">contact with us</a> to discuss how we can help.</p>
      </div>
      <div class="is-col is-70">
	<div class="is-row">
	  {% for item in site.data.it.header-item %}
	  <div class="is-col is-33 is-stack-20">
	    <p class="is-large"><strong>{{ item.title }}</strong></p>
	    <p>{{ item.text }}</p>
	    <a href="#{{ item.section-link }}">Read more</a>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</section>
<section id="data-centre">
  <div class="container">
    <h2>Data centre monitoring</h2>
    <p>OmniWatch provides data center managers with is an early warning system to avoid unplanned IT downtime and to present trend analysis tools to achieve Key Performance Indicators (KPIs), enhance efficiency gains, make informed decisions for power load balancing and assist planned preventative maintenance programs.</p>
    <p><a class="button is-secondary" href="/monitoring/data-center/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
<section id="server-room">
  <div class="container">
    <h2>Server room monitoring</h2>
    <p>OmniWatch helps server room IT managers to check the environmental and power conditions of their IT equipment. By monitoring key aspects of the climate such as temperature, humidity and water ingress also helps to protect warranties and ensure that their investment in hardware is maximised.</p>
    <p><a class="button is-secondary" href="/monitoring/server-room/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
<section id="comms-room">
  <div class="container">
    <h2>Comms room monitoring</h2>
    <p>OmniWatch helps IT managers keep a remote eye on their comms rooms. Because comms rooms often contain less equipment than that of a server room the operating environment can usually be more relaxed albeit still important.</p>
    <p><a class="button is-secondary" href="/monitoring/comms-room/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
<section id="comms-closet">
  <div class="container">
    <h2>Comms closet monitoring</h2>
    <p>Comms closets are small rooms or even just cabinets that house critical comms equipment and sometimes servers. They often include similar equipment to that of a comms room but on a much smaller scale.</p>
    <p><a class="button is-secondary" href="/monitoring/comms-closet/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
<section id="facilities">
  <div class="container">
    <h2>Facilities monitoring</h2>
    <p>Facilities monitoring (also known as facility monitoring or facility management) by definition is a permanent, semi-permanent, or temporary commercial or industrial property. The buildings hard facilities are typically managed by the facilities department.</p>
    <p><a class="button is-secondary" href="/monitoring/facilities/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
<section id="disaster">
  <div class="container">
    <h2>Disaster recovery</h2>
    <p>OmniWatch is designed with disaster avoidance in mind rather than disaster recovery (DR). Disaster avoidance is focused on monitoring key areas for early warnings to events that, if left unnoticed could easily escalate to invoking DR plans.</p>
    <p>By taking remedial actions at early stages of a problem means organisations can contain a situation and fix it with little or no disruption to its business.</p>
    <p><a class="button is-secondary" href="/monitoring/disaster-recovery/">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
{% include monitoring/key-footer.html %} 
{% include contact-us.html %}
