---
layout: monitoring/key-pages/base
---
<section>
	<div class="container">
		<h3>Key features</h3>
		<div class="is-row">
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Data centre</h5>
			</div>
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Server room</h5>
			</div>
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Comms room</h5>
			</div>
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Comms closet</h5>
			</div>
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Facilities monitoring</h5>
			</div>
			<div class="is-col is-33 is-stack-20">
				<div style="width: 200px; height: 200px; margin: 0 auto; background-color: #aaa;"></div>
				<h5>Disaster recovery</h5>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<p>Spook's cloud based remote monitoring service called OmniWatch is chiefly deployed in data centres and IT server rooms. It is generally well known that the majority of business disruption is caused by unplanned IT downtime. By monitoring the key environmental and power elements of IT rooms housing critical equipment means if there is an alarm, remedial action can take place to normalise matters in order to maximise business uptime.</p>
		<p>Whether there is a requirement to monitor wired climate monitoring hardware or 3rd party devices such as intelligent power strips, uninterruptible power supplies, generators, BMS systems and more; OmniWatch provides an enterprise centric monitoring solution.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
				<img src="/images/sections/key-pages/it-monitoring/datacenter.svg">
			</div>
			<div class="is-col is-80">
				<h2>Data centre monitoring</h2>
				<p>Data centres (also known as datacentre, data centre, datacenter) are usually purpose built dedicated facilities to house computing equipment such as main frames, servers, routers, switches and firewalls, as well as supporting components like backup equipment, fire suppression facilities and air conditioning (AC) units (more).</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-80">
				<h2>Server room monitoring</h2>
				<p>A server room (sometimes referred to as a computer room) often houses business critical equipment. It is usually a secure, dedicated area built within an office building. As a consequence, the main utilities such as power, communications etc are normally a subset of those available to the building as a whole.</p>
				<p>Because of this, many server rooms have added redundancy such as power in the form of uninterruptible power supplies (UPSs) and Generator sets as well as diverse communication	links. User connectivity is typically via secure internet access (more).</p>
			</div>
			<div class="is-col is-20">
				<img src="/images/sections/key-pages/it-monitoring/server-room.svg">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
			</div>
			<div class="is-col is-80">
				<h2>Comms room monitoring</h2>
				<p>Comms Rooms (also known as communications rooms) are usually dedicated rooms hosting communication and network equipment. They are designed as distribution hubs for patching cables from the main IT room to users within a building. Comms rooms usually have communication hubs, routers, servers, switches, firewalls, storage devices, telephony, access control and security equipment installed within them (more).</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-80">
				<h2>Comms closet monitoring</h2>
				<p>Comms closets are usually small spaces or even single cabinets spread around a building connecting the main server room to users in different parts of the building or on separate floors. With the advent of outsourcing IT services to third party service providers, comms closets, albeit typically only small, have become key infrastructure to ensure the sharing of fast IT services to end users (more).</p>
			</div>
			<div class="is-col is-20">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
			</div>
			<div class="is-col is-80">
				<h2>Facilities monitoring</h2>
				<p>By definition a Facility is a permanent, semi-permanent, or temporary commercial or industrial property such as a building, plant or structure which is built, established, or installed for the performance of one or more specific activities or functions.</p>
				<p>Facilities management is divided into two distinct areas, soft facility management and hard facility management. OmniWatch is used to assist the hard facility management function (more).</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-80">
				<h2>Disaster recovery</h2>
				<p>Disaster recovery is about getting key IT infrastructure and operations up and running after an unplanned IT outage. OmniWatch is used as the first line of defence in the world of disaster recovery, in its capacity of ‘Prevention is better than cure’. Technically, OmniWatch is designed with disaster avoidance in mind rather than disaster recovery (more).</p>
			</div>
			<div class="is-col is-20">
			</div>
		</div>
	</div>
</section>
