---
layout: base
---
<header style="background-image: url('{{ page.header-image }}'); background-attachment: fixed; background-repeat: no-repeat; background-position: bottom; background-size: cover;">
  <div class="container">
    <h3>Secure cloud based monitoring and data collection</h3>
    <h1>Remote IT monitoring</h1>
    {% include header-buttons.html %}
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<img src="/images/monitoring/server-room/server-room-monitoring-sensor-overview.svg">
      </div>
      <div class="is-col">
	<h2>Secure cloud based IT equipment and infrastructure monitoring</h2>
	<p>Spook's cloud based remote monitoring service called OmniWatch is chiefly deployed in data centers and IT server rooms. It is generally well known that the majority of business disruption is caused by unplanned IT downtime.</p>
	<p>By monitoring the key environmental and power elements of IT rooms housing critical equipment means if there is an alarm, remedial action can take place to normalise matters in order to maximise business uptime.</p>
	<p>Whether there is a requirement to monitor wired climate monitoring hardware or 3rd party devices such as intelligent power strips, uninterruptible power supplies, generators, BMS systems and more; OmniWatch provides an enterprise centric monitoring solution.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
	<h2>OmniWatch can monitor any size of IT infrastructure</h2>
	<p>Got a setup that we haven't listed? Get in <a href="/contact">contact with us</a> to discuss how we can help.</p>
      </div>
      <div class="is-col is-70">
	<div class="is-row">
	  {% for item in site.data.it.header-item %}
	  <div class="is-col is-50 is-stack-20 is-border is-shadow-2">
	    <div class="is-inset-20">
	      <p class="is-large"><strong>{{ item.title }}</strong></p>
	      <p>{{ item.text }}</p>
	      <a href="#{{ item.section-link }}">Read more</a>
	    </div>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</section>
{% for item in site.data.it.header-item %}
<section id="{{ item.section-link }}">
  <div class="container">
    <h2>{{ item.title }}</h2>
    {% for line in item.words %}
      <p>{{ line }}</p>
    {% endfor %}
    <p><a class="button is-secondary" href="{{ item.link }}">Read more</a> <a href="#top" class="button is-inverted">Back to top</a></p>
  </div>
</section>
{% endfor %}
{% include monitoring/key-footer.html %} 
{% include contact-us.html %}
