---
layout: base
title: Wireless ethernet gateway
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h2>Ethernet gateway</h2>
        <h4>Your gateway to seamless wireless sensor monitoring</h4>
        <p>Spook's ethernet wireless gateways are the key to collecting sensor readings from Spook’s range of wireless
          sensors
          without the need for a PC.</p>
        <p>They come preconfigured by Spook so simply provide power and connect it to an open network port with internet
          connection
          and it will automatically communicate to Spook's, cloud based servers.</p>
        {% include header-buttons.html %}
      </div>
      <div class="is-col">
        <img alt="Wireless gateway" src="/images/solutions/wireless/gateway.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Overview</h2>
    <ul>
      <li>Wireless range of 650+ metres (1,200+) feet through 12+ walls *</li>
      <li>Frequency Hopping Spread Spectrum (FHSS)</li>
      <li>Improved interference immunity</li>
      <li>Encrypt-RF® Security (Diffie-Hellman Key Exchange + AES-128 CBC for sensor data messages)</li>
      <li>15,000 sensor message memory</li>
      <li>Over the air updates (future proof)</li>
      <li>True plug & play, no hassles for internet configuration set-up</li>
      <li>No PC required for operation</li>
      <li>Local status LEDs with transmission and online status indicators</li>
      <li>AC power supply</li>
    </ul>

    <p>*Actual range may vary depending on environment.</p>
  </div>
</section>
<section>
  <div class="container grey is-border is-text-center">
    <div class="is-inset-20">
      <h2>Try before you buy</h2>
      <p>Spook can provide a loan ethernet wireless gateway together with a few wireless sensors to try before you
        decide
        to buy.
        This ensures the unit and Spook wireless sensors work as expected before you buy them.</p>
      <p><a href="/contact" class="button">Get in touch</a></p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="is-stack-60">More information</h2>
    <nav class="tabs" data-kube="tabs" data-equal="true">
      <a href="#data-resilience" class="is-active">Data resilience</a>
      <a href="#poe">Power over ethernet</a>
      <a href="#contingency">Contingency</a>
      <a href="#plug-and-play">Plug and play</a>
      <a href="#security">Security</a>
    </nav>

    <div id="data-resilience">
      <h3>Data resilience</h3>
      <p>The ethernet gateways will buffer up to 16,000 wireless sensor data messages in on-board memory in the event of
        an
        internet connection interruption. When internet communication is re-established the sensor data will download to
        the
        Spook servers.</p>

      <p>Spook ethernet gateways can be installed directly to Spook cellular routers to keep remote monitoring
        independent
        of a customers ethernet network or for areas where broadband is not an option. Go here for more information.</p>
    </div>
    <div id="poe">
      <h3>Power over ethernet (PoE)</h3>
      <p>The ethernet wireless gateways come with PoE as standard and includes an AC adapter for organisations that do
        not
        have a
        PoE facility. Note: This option includes gateway modification only and does not include an ethernet power
        injector.</p>
    </div>
    <div id="contingency">
      <h3>Contingency</h3>
      <p>Spook monitors the connection of the ethernet wireless gateway to ensure it is working 24/7. If communication
        to
        the
        device is lost an alert is broadcast to end users to notify them of the situation.</p>
    </div>
    <div id="plug-and-play">
      <h3>Plug and play</h3>
      <p>Spook pre-configures our ethernet wireless gateways to work in harmony with our award winning cloud based
        monitoring
        service called OmniWatch. So simply provide power and turn on the ethernet wireless gateway for instant access
        to
        your
        OmniWatch real time monitoring service.</p>
    </div>
    <div id="security">
      <h3>Security</h3>
      <p>Each ethernet wireless gateway is securely connected via Spook’s VPN and uses Encrypt-RF® (Diffie-Hellman Key
        Exchange +
        AES-128 CBC).</p>
    </div>

  </div>
</section>

{% include contact-us.html %}