---
layout: base
title: Agricultural monitoring
page-description: "By monitoring key conditions agricultural businesses can check soil property variances, machine
behaviours, aquatic conditions, climate conditions, atmospheric physics and more."
---
<style>
  .introduction-img {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .theft-icons {
    max-width: 60px;
  }
</style>
<header
  style="background-image: url('/images/sections/agriculture-monitoring.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <h3>Real-time remote monitoring and alerting</h3>
      <h1>Agricultural monitoring by Spook</h1>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <p>Spook's remote monitoring service called OmniWatch together with Spook's range of wireless sensors are ideal
          for the agriculture industry and lets growers remotely monitor and manage crops, processing data and machinery
          systems from anywhere at anytime; providing a heightened level of awareness for operations.</p>
        <p>For example, users receive information to alert them to conditions that merit immediate attention. The key is
          to detect trouble before it escalates into time consuming and sometimes costly interventions.</p>
      </div>
      <div class="is-col">
        <div class="is-row is-stack-20">
          <div class="is-col is-border is-inset-10" style="background-color: #fff;">
            <img alt="Land management" class="introduction-img"
              src="/images/sections/agriculture/introduction/land-management.svg">
            <p class="is-small is-text-center"><strong>Land management</strong></p>
          </div>
          <div class="is-col is-border is-inset-10" style="background-color: #fff;">
            <img alt="Natural resource management" class="introduction-img"
              src="/images/sections/agriculture/introduction/natural-resource-management.svg">
            <p class="is-small is-text-center"><strong>Natural resource management</strong></p>
          </div>
        </div>
        <div class="is-row">
          <div class="is-col is-border is-inset-10" style="background-color: #fff;">
            <img alt="Water access" class="introduction-img"
              src="/images/sections/agriculture/introduction/water-access.svg">
            <p class="is-small is-text-center"><strong>Water access</strong></p>
          </div>
          <div class="is-col is-border is-inset-10" style="background-color: #fff;">
            <img alt="Water treatment" class="introduction-img"
              src="/images/sections/agriculture/introduction/water-treatment.svg">
            <p class="is-small is-text-center"><strong>Water treatment</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Wireless monitoring for agriculture</h2>
    <p>By monitoring key conditions agricultural businesses can check soil property variances, machine behaviours,
      aquatic conditions, climate conditions, atmospheric physics and more.</p>
    <p>By monitoring these conditions Agribusiness can:</p>
    <ol>
      <li>Increase food quality</li>
      <li>Increase operations efficiencies</li>
      <li>Increase machinery life cycles</li>
      <li>Realise ideals and standards associated with precision agriculture.</li>
    </ol>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h2>Agribusiness is an ever evolving industry.</h2>
        <p>By the year 2050 world growers expected to produce 70% more food.</p>
        <p>It is predicted there will be a millennium shift from family operations to smart food factories.</p>
        <p>By employing automation technology means operations can keep pace with Agribusiness trends.</p>
      </div>
      <div class="is-col">
        <table class="is-responsive is-bordered">
          <thead>
            <tr>
              <th>1960</th>
              <th>2019</th>
              <th>2050</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>26 people</td>
              <td>155 people</td>
              <td>265 people</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>What is precision agriculture?</h2>
        <p>Precision agriculture is defined as the optimisation of farm land for maximum profitability and yield, while
          sustaining a stewardship of farm lands and public safety, through observing and measuring crop health.</p>
        <p>To understand the perspective, the same farm acreage that was expected to feed 26 people in 1960 will be
          expected to feed 265 people by the year 2050.</p>
        <p>Agriculture consumption of water is approximately up to 85% of the nations water consumption. This places
          substantial financial pressures on farmers to maximise the efficiency of water consumption.</p>
      </div>
      <div class="is-col">
        <table class="is-responsive is-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Unit</th>
              <th>Equivalent water in m3 per unit</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>Cattle</td>
              <td>head</td>
              <td class="is-text-right">4000</td>
            </tr>

            <tr>
              <td>Sheep and goats</td>
              <td>head</td>
              <td class="is-text-right">500</td>
            </tr>

            <tr>
              <td>Fresh beef</td>
              <td>kg</td>
              <td class="is-text-right">15</td>
            </tr>

            <tr>
              <td>Fresh lamb</td>
              <td>kg</td>
              <td class="is-text-right">10</td>
            </tr>

            <tr>
              <td>Fresh poultry</td>
              <td>kg</td>
              <td class="is-text-right">6</td>
            </tr>

            <tr>
              <td>Cereals</td>
              <td>kg</td>
              <td class="is-text-right">1.5</td>
            </tr>

            <tr>
              <td>Citrus fruits</td>
              <td>kg</td>
              <td class="is-text-right">1</td>
            </tr>

            <tr>
              <td>Palm oil</td>
              <td>kg</td>
              <td class="is-text-right">2</td>
            </tr>

            <tr>
              <td>Pulse, roots and tubers</td>
              <td>kg</td>
              <td class="is-text-right">1</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-60">
        <img alt="Rural crime" src="/images/sections/agriculture/theft/ruralcrime.svg">
      </div>
      <div class="is-col is-40">
        <h2>Monitoring and prevention of rural crime</h2>
        <p>The very nature of an agricultural organisation often means their livelihood is achieved in rural locations,
          and sometimes even off grid. As a consequence there is considerable investment made in vehicles and machinery.
        </p>
      </div>
    </div>
    <p>Being rural brings with it its own complications. Agricultural crime covers working farms, farm machinery, farm
      buildings and smallholdings. Offences include theft of equipment or fuel, damage to property and to livestock.
      Often offenders know they are unlikely to be caught by police as there is usually a considerable delay in crime
      agencies attending rural crime scenes.</p>
  </div>
</section>
<section class="block">
  <div class="container">
    <h2>Agriculture remote wireless sensing</h2>
    <p>The opportunities for wireless remote sensing in agriculture are innumerable and obviously depends on which areas
      of agriculture are being farmed.</p>
    <p>A report published by the Broadband Commission for Sustainable Development identifies a plethora of sensor
      solutions that have track records saving money in areas such as crop production, food storage, distributions, air
      monitoring and soil monitoring (temperature, salinity, PF and water levels).</p>
    <p>By monitoring these conduits allows growers to leverage sensor data and increase yields and efficiency. Routine
      readings of humidity levels, water levels, temperatures, door positions and other variables translate to saved
      assets, protected resources and employs automated alerting to avert disasters.</p>
  </div>
</section>
{% for item in site.data.monitoring.industry.agriculture.sensors %}
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>{{ item.name }}</h2>
        {% for paragraph in item.words %}
        <p>{{ paragraph }}</p>
        {% endfor %}
        {% if item.link %}<p><a href="{{ item.link }}" class="button">{{ item.name }} information</a></p>{% endif %}
      </div>
      <div class="is-col">
        <img alt="{{ item.name }}" style="display: block; margin: 0 auto; padding: 20px" src="{{ item.image }}">
      </div>
    </div>
  </div>
</section>
{% endfor %}
<section class="block">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
        <img alt="Food standards agency" src="/images/monitoring/refrigeration/food-standards-agency.svg">
      </div>
      <div class="is-col is-70">
        <h2>Hazard Analysis and Critical Control Point (HACCP)</h2>
        <p>OmniWatch can help HACCP planning and execution by:</p>
        <ul>
          <li>Identify what could go wrong and what risks there are to food safety</li>
          <li>Identifying any critical control points the areas a business needs to be monitored</li>
          <li>Decide who to contact and how if something goes wrong</li>
          <li>Produce reports and audit changes to prove your procedures are working</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}