---
layout: base
title: Biotechnology and pharmaceutical monitoring
---
<header
  style="background-image: url('/images/sections/pharma-monitoring.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <h3>Real-time remote monitoring and alerting</h3>
      <h1>Biotechnology and pharmaceutical monitoring by Spook</h1>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-text-center">

      <div class="is-col is-33 is-stack-20">
        <img alt="Secure cloud based" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/cloud.svg">
        <p>Secure cloud based</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Real-time monitoring" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/247.svg">
        <p>Real-time monitoring</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Secure internet dashboards" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/secure.svg">
        <p>Secure internet dashboards</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Email, SMS, UK call centre" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/alarms.svg">
        <p>Email, SMS, UK call centre</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Data roaming SIM" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/simcard.svg">
        <p>Data roaming SIM</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Pre-configured" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/outofthebox.svg">
        <p>Pre-configured</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Long range wireless sensors" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/80types.svg">
        <p>Long range wireless sensors</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Monitored battery status" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/12year.svg">
        <p>Monitored battery status</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Through multiple walls" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/1200foot.svg">
        <p>Through multiple walls</p>
      </div>

    </div>
  </div>
</section>
<style>
  .introduction-img {
    max-width: 200px;
    display: block;
    margin: 1em auto;
  }
</style>
<section class="block">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <p>Spook's remote monitoring service called OmniWatch together with Spook’s range of wireless sensors help
          organisations that are regulated by The Medicines and Healthcare products Regulatory Agency (MHRA) of the
          United Kingdom (UK) and the Food and Drug Administration (FDA) of the United States of America (USA) provide
          audible data to prove their compliance.</p>
      </div>
      <div class="is-col">
        <img alt="FDA" class="introduction-img" src="/images/sections/biotech/introduction/fda.svg">
        <img alt="MHPRA" class="introduction-img" src="/images/sections/biotech/introduction/mhpra.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-20">
      <div class="is-col is-60">
        <img alt="OmniWatch screen" class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col is-40">
        <h2>Controlled environmental and regulatory compliance</h2>
        <p>Biotechnology and pharmaceutical companies must guarantee that their products have been maintained in
          strictly controlled environments. This often requires a significant expense in the implementation and overhead
          for advanced environmental monitoring systems.</p>
      </div>
    </div>
    <p>Because Spook wireless sensor readings are held in perpetuity means users can prove, via audit trail, that they
      have complied in accordance with the MHRA and FDA regulations.</p>
    <p>Biotechnology and pharmaceutical companies have many reasons to monitor the environment. Spook has a wide variety
      of wireless sensors available. However, there are some common areas they share.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/temperature.svg">
      </div>
      <div class="is-col is-70">
        <h2>Temperature</h2>

        <p>Spook's wireless temperature sensors monitors sensitive areas whereby without warning there is a problem,
          will cause non-compliance issues. Therefore by receiving early warnings of changes in temperature gives
          valuable time to check or remedy the situation.</p>

        <p>Temperature creep is also important to know. As time goes by fridges and freezers can become less efficient,
          by spotting the inefficiency before it becomes a problem means preventative maintenance programs can be easily
          implemented.</p>
        <p><a href="/solutions/wireless/sensor/temperature" class="button">Temperature information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/acmeter.svg">
      </div>
      <div class="is-col is-70">
        <h2>Mains power</h2>

        <p>Many medicines need to be refrigerated and loss of power can be catastrophic. Causes of loss of power are
          typically broken circuit breakers, blown fuses, wiring issues, or faulty storage room control boards.</p>

        <p>Spook's wireless AC (Alternating Current) meters measure power consumption and this is a clear indicator to
          ensure everything is working fine. If the motor of the refrigeration unit is constantly running, this could
          indicate a refrigerant leak or another leak elsewhere that is allowing cold air to escape.</p>
        <p><a href="/solutions/wireless/sensor/ac-meter" class="button">Mains power information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/water-probe.svg">
      </div>
      <div class="is-col is-70">
        <h2>Water ingress</h2>

        <p>Spook wireless water sensors check there is no leaking water or ice buildup in refrigerators. Water ingress
          alerts indicate underlying problems with the coolant inlet which will require professional maintenance to fix.
          Medicines should be destroyed if water contamination occurs.</p>
        <p><a href="/solutions/wireless/sensor/water" class="button">Water detection information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/activity.svg">
      </div>
      <div class="is-col is-70">
        <h2>Security</h2>

        <p>Spook wireless activity detection sensors are ideal to detect movement. Once an established a pattern of
          behaviour is identified, it is easy to be alerted if unexpected movement is detected. By monitoring when areas
          are entered helps prove that compliance is met.</p>
        <p><a href="/solutions/wireless/sensor/activity-detection" class="button">Activity detection information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/boundary.svg">
      </div>
      <div class="is-col is-70">
        <h2>Boundary/pressure pad</h2>

        <p>These sensors are ideal for areas that need to allow activity in an area but ensure security is adhered to in
          difficult to control areas such as open racking for medicine and chemistry components. Often these areas need
          protecting to ensure no one intrudes beyond the permitted area.</p>

        <p>By installing Spook wireless open/closed sensors to IR beams and pressure pads, any vulnerable area can be
          monitored with ease.</p>
        <p><a href="/solutions/wireless/sensor/boundary-and-ir" class="button">Boundary/pressure pad information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/openclosed.svg">
      </div>
      <div class="is-col is-70">
        <h2>Open/closed status</h2>

        <p>Spook wireless open/closed sensors provide information on the status of doors, windows and cabinets. Knowing
          if doors or windows are open is an important feature. Cabinets and rooms that contain secure items may also
          need to be monitored.</p>

        <p>Spook wireless sensors for remote monitoring helping maintain the cold chain for constant refrigeration.</p>

        <p>Refrigerators and freezers are essential for certain businesses in order to remain functioning. In the case
          of an outage, there is a lot of time and money spent trying to get operations back on track.</p>

        <p>Spook's OmniWatch remote monitoring service together with Spook's wireless sensor range is designed to give
          early advanced warning of changes in the environment to give valuable thinking and reaction time to save the
          contents of faulty fridges and freezers.</p>

        <p>Refrigerators and freezers usually have many thousands of pounds worth of food supplies in them which need to
          be kept at a specific temperature to avoid spoilage. Walk-in coolers are accessed frequently throughout the
          day, but are rarely monitored after a restaurant or business closes for the evening. This period of time is
          where the most damage occurs as perishables can be left in an ever increasing temperature, often too late to
          save the next morning.</p>

        <p>While repairs can be costly for these machines, the real expense of rising temperatures is the irreplaceable
          damage done to product inside.</p>

        <p>Equally important is storing the goods in known food hygiene limits to ensure safety in public consumption.
          OmniWatch is designed to alert customers to sudden changes that may impact the uptime of their refrigeration
          units and as a consequence protect refrigerated or frozen produce. Some of the more common issues seen with
          coolers or freezers can all be monitored by OmniWatch.</p>
        <p><a href="/solutions/wireless/sensor/open-closed" class="button">Open/closed information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/humidity.svg">
      </div>
      <div class="is-col is-70">
        <h2>Chiller humidity and temperature</h2>

        <p>Spook wireless humidity sensors monitor temperature and humidity within a single sensor enclosure. These
          monitor the efficiency of chillers as it is easy for them to be affected by incorrect temperature settings and
          tolerances.</p>

        <p>High humidity or temperature within a chiller, or during the thawing process, will allow surface growth of
          mould and food degradation. These need to be kept as low as possible.</p>
        <p><a href="/solutions/wireless/sensor/humidity" class="button">Humidity information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/airflow.svg">
      </div>
      <div class="is-col is-70">
        <h2>Air flow</h2>

        <p>Spook wireless airflow sensors are ideal to monitor the air speed and airflow of refrigerating units.
          Ensuring chilled air is equally distributed in a large unit filled with produce is key to food security and
          ensuring the longevity of perishable goods.</p>
        <p><a href="/solutions/wireless/sensor/airflow" class="button">Air flow information</a></p>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}