---
layout: base
title: Building management systems
---
<header
  style="background-image: url('/images/sections/building-management-banner.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <h3>Real-time data collection</h3>
      <h1>Building management systems monitoring</h1>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>What is a Building Management System (BMS)?</h2>
        <p>A Building Management System (BMS) is a centralised computer controlled monitoring system for the a building
          or
          facility.</p>
        <p>BMSs vary in size and complication; some are large interconnected systems that have been purposely installed
          at a
          buildings design stage and at the other end of the scale they may be small panels connecting a few critical
          systems together, these are usually installed retrospectively.</p>
        <p>Both typically include sensors, pressure switches, flow meters, controllers, and relays.</p>
      </div>
      <div class="is-col">
        <p>The core functions of a BMS is typically to control and monitor utility equipment across an organisations
          enterprise such as:</p>

        <ul>
          <li>Lighting</li>
          <li>Heating, ventilation and air conditioning (HVAC)</li>
          <li>Fire alarm panels</li>
          <li>Fire hydrant systems</li>
          <li>Smoke detection</li>
          <li>ICT (Information Communications and Telecoms)</li>
          <li>Water tank monitoring</li>
          <li>Elevator operations</li>
          <li>Door entry and security systems</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Energy monitoring</h2>

    <p>
      A BMS may also be used to monitor and control power distribution, energy consumption and uninterrupted power
      supplies
      (UPS) and may be referred to as building energy management systems (BEMS).
    </p>

    <p>
      These types of installation are useful in understanding the power consumption and therefore the costs associated
      with
      providing certain services to an organisation either as a whole or by department.
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
        <div class="is-col is-70">
          <h2>Spook is an approved Endorser of the European Code of Conduct for Data Centres</h2>
          <p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy
            consumption in data centres and the need to reduce the related environmental, economic and energy supply
            security impacts.</p>
          <p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a
            cost-effective manner without hampering the mission critical function of data centres.</p>
          <p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data
            centre,
            raising awareness, and recommending energy efficient best practice and targets.</p>
        </div>
        <div class="is-col is-30">
          <img class="European Code of Conduct for Data Centers" src="/images/monitoring/bms/code-of-conduct.svg">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Historically</h2>
        <p>
          Historically, BMSs have been associated with commercial buildings and delivered the ability to create reports,
          automate
          equipment and track the achievement of departmental KPI's (Key Performance Indicators). However, as modern
          equipment has
          evolved it has become easier to control and much cheaper to install.
        </p>

        <p>Monitoring and detection continues to become less expensive, and sensors have become intelligent in their own
          right.</p>

        <p>
          Wireless technology is now available making installation of sensors easy, flexible and cost effective. Most
          sensors are
          now designed for the IoT (Internet of Things) making them ideal for buildings of all sizes.
        </p>

        <p>
          What seemed complex a few years ago has now become expected as standard and many sensors can be controlled
          remotely; for
          example staff are able to connect to their equipment and manage devices such as lighting and heating
          automatically
          or
          via an internet connected device.
        </p>
      </div>
      <div class="is-col">
        <p>BMS can help:</p>

        <ul>
          <li>Control systems and conditions.</li>
          <li>Store sensor and equipment readings for measuring and reporting.</li>
          <li>Increase productivity either by automation of processes or simply making working conditions optimal for
            employees.</li>
          <li>Create a better informed response to complaints, often turning a negative situation into a positive one by
            understanding the route of the issue.</li>
          <li>Provide allocation of operating costs within an organisation or department.</li>
          <li>Allow more targeted use of resources together with ensuring preventative maintenance programs can be met.
          </li>
          <li>Detect issues early hence prevent them becoming bigger problems that could cause down-time.</li>
          <li>Reduce operating costs and carbon emissions.</li>
          <li>Improve the longevity of equipment.</li>
          <li>Protect warranties and manufacturer equipment replacements.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Pros and cons of building management systems</h2>

    <p>
      Building management has seen an increasing emphasis on energy efficiency and green building initiatives. BMS help
      building or facility managers achieve standards and provide evidential support for legislation and KPI's.
    </p>

    <p>
      At the same time, IT integration and the increasing use of analytics and actionable data has led to BMS being
      placed at
      the heart of building design strategy.
    </p>

    <p>There are many positives and negatives to using a BMS but here are perhaps the top four:</p>


    <table class="is-border">
      <thead>
        <tr>
          <th>Positives</th>
          <th>Negatives</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Provides energy savings</td>
          <td>Expensive to install and use</td>
        </tr>
        <tr>
          <td>Increases security and safety</td>
          <td>Limited value from point of installation</td>
        </tr>
        <tr>
          <td>Increases convenience and flexibility</td>
          <td>Excludes small equipment or new technology</td>
        </tr>
        <tr>
          <td>Reduces operating costs</td>
          <td>Lacks scaleability</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Why use OmniWatch to monitor a BMS system?</h2>

        <p>
          OmniWatch is not designed to replace a BMS although OmniWatch does achieve the majority of monitoring a BMS
          system
          can
          do with small modern sensors either providing monitoring in their own right or by connecting to third party
          equipment to
          provide operating condition status changes.
        </p>
      </div>
      <div class="is-col">
        <nav class="tabs" data-kube="tabs" data-equal="true">
          <a href="#pinch-point" class="is-active">Pinch point</a>
          <a href="#protocol-independent">Protocol independent</a>
          <a href="#sensors">Sensors</a>
        </nav>

        <div id="pinch-point">
          <h3>Pinch point</h3>

          <p>
            Within an organisation there are usually many different types of third party equipment installed on the
            network
            and
            linked to their BMS, all with their own methods of control and management. Even similar equipment from the
            same
            manufacturer can vary in operation for example modern alternatives to legacy kit may have a completely
            different
            interface or even protocol.
          </p>

          <p>
            It is not unusual for new hardware and systems to be installed that can not be monitored by a BMS simply
            because
            the
            methods of management of new devices were not around at the time of installing the BMS.
          </p>
        </div>
        <div id="protocol-independent">
          <h3>Hardware and protocol independent</h3>

          <p>
            OmniWatch is designed to work with many different equipment types, manufacturers and protocols. This
            includes
            monitoring
            BMS to provide an easy to use, joined up solution for managing alerts, creating reports and providing an
            excellent
            platform to measure, analyse and control matters.
          </p>
        </div>
        <div id="sensors">
          <h3>Sensors</h3>

          <p>
            As with everything, things that were modern or state of the art a few years ago can quickly become outdated,
            cumbersome
            or even clunky over time. In Spook's experience organisations that have invested in BMS often need to
            supplement
            their
            systems with modern sensors and devices.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}