---
layout: base
title: ICT room monigoting for NHS organisations
page-description: "Spook's remote monitoring service, called OmniWatch, helps by remotely monitoring key NHS ICT areas and sending real-time alarms to events that need immediate attention."
---
<header
  style="background-image: url('/images/sections/nhs-banner.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h3>Real-time remote monitoring and alerting</h3>
	<h1>Spook remote ICT room monitoring for NHS organisations</h1>
	{% include header-buttons.html %}
      </div>
      <div class="is-col">
	<img src="/images/sections/nhs/30-percent-off.svg">
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <p>Information Communications Technology (ICT) is a core component of the smooth running of the NHS. The digital world means technology can support the delivery of health care in a number of areas from providing and storing information and advice to administration and transactions.</p>
    <p>Moving forward, ICT is proving invaluable in assisting diagnosis and even surgery. With ICT being so intrinsic to the NHS the rooms supporting ICT systems such as Main Equipment Rooms (MERs), Satellite Equipment Rooms (SERs), server rooms and comms rooms has never been as critical to supporting the professional healthcare industry.</p>
    <p>Spook's remote monitoring service, called OmniWatch, helps by remotely monitoring key NHS ICT areas and <a href="/omniwatch/alerting">sending real-time alarms</a> to events that need immediate attention.</p>
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Spook pedigree within the NHS</h2>
	<p>Spook has a proven track record when it comes to remotely monitoring the ICT rooms for NHS organisations. Our award winning secure remote monitoring service, called OmniWatch, monitors a range of environmental conditions and equipment types that are important to maintaining the uptime of ICT services to NHS staff, departments, users and patients.</p>
	<p>Spook understands that the NHS OmniWatch digital dashboards must be intuitive and easy to use. That's why OmniWatch's functionality has been, and continues to be, improved upon by customer led feedback.</p>
	<p>In Spook's experience NHS customers are usually considering monitoring for the first time and want a hassle free, out-of-box monitoring solution. We understand that NHS ICT departments are busy places, that's why we design everything on your behalf with little or no need for you to allocate valuable staff resource to the project. New monitoring equipment comes preconfigured ready for localised installation. Simply install the sensors in the required locations and switch them on for instant access to OmniWatch's secure digital dashboards.</p>
	<blockquote>
	  <p>Spook migrated our five NHS BSA regional data centres from a traditional Virtual Machine based network monitoring solution to deploying Cellular Router technology.</p>
	  <p>Spook managed the whole process within a tight timescale (2-weeks in December) ensuring the migration was a simple plug-and-play solution with little or no involvement from the NHS BSA IT team in time for the New Year.</p>
	</blockquote>
      </div>
      <div class="is-col">
	<img src="/images/sections/nhs/nhs-bsa-map.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Environmental monitoring</h2>
    <p>OmniWatch is designed to work with most climate monitoring hardware and sensors making monitoring the environment easy, cohesive and technically advanced. For organisations that do not have monitoring in place, we can provide the most appropriate monitoring devices and sensors as part of the solution too.</p>
    <p>Typical environmental monitoring conditions are:</p>
    <div class="is-row">
    {% for sensor in site.data.monitoring.industry.nhs.environmental %}
    <div class="is-col is-50">
      <div class="is-border is-inset-16 is-outset-8">
	<ul class="is-bar">
	  <li><img style="height: 40px;" src="{{ sensor.icon }}"></li>
	  <li><a class="is-color-black" style="text-decoration: none;" href="{{ sensor.link }}">{{ sensor.name }}</a></li>
	</ul>
      </div>
    </div>
    {% endfor %}
    <div class="is-col is-50 is-text-center">
      <p style="padding-top: 30px;">
	<a class="button" href="/monitoring/environmental">Read more about environmental monitoring</a>
      </p>
    </div>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
	<img src="/images/sections/nhs/temperature-chart.png">
      </div>
      <div class="is-col is-50">
	<blockquote>
	  <p>We had a total air conditioning failure on a Friday evening in one of our regional server rooms and had to allocate urgent internal resource at short notice to focus on the situation.</p>
	  <p>The on-call staff were unfamiliar with OmniWatch and at first were unsure how Spook’s remote monitoring service could help; but with the assistance of Spook we managed the whole situation over the weekend in a structured and logical way.</p>
	</blockquote>
	<div class="is-text-center">
	  <a class="button" href="https://www.linkedin.com/posts/andrewdesascoyne_spook-temperature-alarm-email-and-call-transcript-activity-6815272514537717760-_59j/">Go here to check out Spook's support transcript</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>UPS monitoring</h2>
    <p>When a power cut or interruption to the mains power supply occurs it is very important to act quickly. OmniWatch <a href="/omniwatch/alerting">sends alerts</a> to key members of staff at the very moment the UPS takes over power generation, giving as much warning as possible.</p>
    <p>OmniWatch alerts provide enough time for important work to be saved, services to be spun down and all non-essential equipment to be shut off properly. Most UPSs only have enough battery autonomy for a very short period of time and if there is no generator to take over power management or the return of the mains supply is delayed then reducing non-critical loads quickly will help keep important equipment up and running longer.</p>
    <p>OmniWatch works on any internet enabled device, ideal for staff that are on the move or working from home, so power metrics such as run time remaining and phase loads can be tracked on a mobile phone or tablet; giving all the information needed quickly and easily.</p>
    <p>Alongside monitoring power outages OmniWatch monitors the health of a UPS and is configured to alert to conditions and incidents that could otherwise go unnoticed such as faulty batteries.</p>
    <p>Typical UPS monitoring conditions are:</p>
    <div class="is-row">
    {% for sensor in site.data.monitoring.industry.nhs.ups %}
    <div class="is-col is-50">
      <div class="is-border is-inset-16 is-outset-8">
	<ul class="is-bar">
	  <li><img style="height: 40px;" src="{{ sensor.icon }}"></li>
	  <li>{{ sensor.name }}</li>
	</ul>
      </div>
    </div>
    {% endfor %}
    <div class="is-col is-50 is-text-center">
      <p style="padding-top: 30px;">
	<a class="button" href="/monitoring/power/ups">Read more about UPS monitoring</a>
      </p>
    </div>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
	<img class="is-shadow-2" src="/images/monitoring/ups/ups-monitoring-dashboard.svg">
      </div>
      <div class="is-col is-50">
	<blockquote>
	  <p>During recent thunder storms in the area together with torrential rain the mains power was lost to our MER room. Thanks to OmniWatch our IT team could monitor our UPS systems remotely to ensure they were providing back-up power during the outage.</p>
	  <p>We could keep an eye on each power phase as well as knowing the time remaining on each UPS. Afterwards we could produce audit reports to prove to management that our UPS systems continued seamless power provision in accordance with our plans.</p>
	</blockquote>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Generator monitoring</h2>
    <p>Diesel generators provide secure interim power redundancy if a power grid suffers an outage. This power redundancy allows NHS organisations to maintain their ICT operations and emergency procedures to be put into place.</p>
    <p>One of the most common causes of damage to generators is when they're underloaded. That is, generators function most effectively when they're operating at high capacity. When they're used for low capacity tasks (such as powering 10% of the voltage load), they can start to build up carbon and internal glazing. Eventually soot and residue from unused fuel can accumulate and clog the generator’s piston rings. To avoid this, generators should have a capacity at approximately 70% of the maximum load.</p>
    <p>With OmniWatch the power load of a generator is easily identified, this is especially helpful in generator testing whereby the power load can be adjusted to ensure maximum generator longevity.</p>
    <p>Typical generator monitoring conditions are:</p>
    <div class="is-row">
    {% for sensor in site.data.monitoring.industry.nhs.generator %}
    <div class="is-col is-50">
      <div class="is-border is-inset-16 is-outset-8">
	<ul class="is-bar">
	  <li><img style="height: 40px;" src="{{ sensor.icon }}"></li>
	  <li>{{ sensor.name }}</li>
	</ul>
      </div>
    </div>
    {% endfor %}
    <div class="is-col is-50 is-text-center">
      <p style="padding-top: 30px;">
	<a class="button" href="/monitoring/power/generator">Read more about generator monitoring</a>
      </p>
    </div>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
	<img src="/images/sections/nhs/power-cut-map.png">
      </div>
      <div class="is-col is-50">
	<blockquote>
	  <p>Hello Spook, you've probably seen that we had loads of alerts over the weekend. Spook behaving very well and keeping us well informed of the disaster that was lack of power in the area during the weekend!</p>
	  <p>On Friday evening, we lost all power for more than 18 hours! We had arranged more fuel for the generators, but it was later than expected and we ended up on UPS only for about 30+ minutes in our main and most important data center!</p>
	  <p>But, we are very happy to say we managed the situation successfully with the crucial help of OmniWatch monitoring time remaining and other important power metrics on our UPS systems.</p>
	</blockquote>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-60">
        <img alt="Monitored PDU" style="margin-bottom: 2em;" src="/images/sections/key-pages/power-monitoring/PDU.svg">
        <div class="is-row">
          <div class="is-col">
            <p><strong>Total Amps</strong></p>
            <p class="is-large"><strong>6.9A</strong></p>
          </div>
          <div class="is-col">
            <p><strong>Stranded Power</strong></p>
            <p class="is-large"><strong>9.1A</strong></p>
          </div>
          <div class="is-col">
            <p><strong>Volts</strong></p>
            <p class="is-large"><strong>230V</strong></p>
          </div>
          <div class="is-col">
            <p><strong>kWh</strong></p>
            <p class="is-large"><strong>29.7</strong></p>
          </div>
        </div>
        <table class="is-small">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Status</th>
              <th>Amps</th>
              <th>Wh</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td>Rack Switch</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.6</td>
              <td>4733</td>
            </tr>

            <tr>
              <td>2</td>
              <td>Mail Server</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.4</td>
              <td>1448</td>
            </tr>

            <tr>
              <td>3</td>
              <td>Server 01</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.1</td>
              <td>2383</td>
            </tr>

            <tr>
              <td>4</td>
              <td>Server 02</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.8</td>
              <td>1825</td>
            </tr>

            <tr>
              <td>5</td>
              <td>Security Server</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.2</td>
              <td>4001</td>
            </tr>

            <tr>
              <td>6</td>
              <td>Firewall</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.9</td>
              <td>1950</td>
            </tr>

            <tr>
              <td>7</td>
              <td>Backup Server</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.2</td>
              <td>4005</td>
            </tr>

            <tr>
              <td>8</td>
              <td>Rack UPS</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.7</td>
              <td>1783</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="is-col is-40">
	<h2>Intelligent Power Distribution Unit (PDU) monitoring</h2>
	<p>Keeping an eye on power metrics is becoming a prerequisite as the importance of power load balancing and knowing the cost of providing power to the facility increases.</p>
	<p>In just two decades the way servers consume power has changed beyond imagination. Back in the day variances in server power was largely due to disk drive spin-up and fans being invoked.</p>
	<p>Today's complex server configurations means that variances in power required for disk utilisation is reduced but more power is consumed when computational loads are enforced.</p>
	<p>By monitoring power consumption NHS ICT departments can implement informed load balancing procedures to prevent power overloads and protect against service outages due to loss of power. It can also be useful to understand the cost associated with providing power to an NHS Trust as a whole, by it's departments or even end users.</p>
      </div>
    </div>
    <p>When monitoring high numbers of PDUs it's important to be able to swiftly identify individual or clusters of power strips. With OmniWatch this is achieved by a global search function. Regional or departmental identification can be overlaid with localised search options too. In short Spook makes interpreting bulk PDU data meaningful, intuitive and incredibly easy.</p>
    <p>Typical PDU monitoring conditions are:</p>
    <div class="is-row">
    {% for sensor in site.data.monitoring.industry.nhs.pdu %}
    <div class="is-col is-50">
      <div class="is-border is-inset-16 is-outset-8">
	<ul class="is-bar">
	  <li><img style="height: 40px;" src="{{ sensor.icon }}"></li>
	  <li>{{ sensor.name }}</li>
	</ul>
      </div>
    </div>
    {% endfor %}
    <div class="is-col is-50 is-text-center">
      <p style="padding-top: 30px;">
	<a class="button" href="/monitoring/power/pdu">Read more about PDU monitoring</a>
      </p>
    </div>
    </div>
    <blockquote>
      <p>Following a potential disaster when an entire switch chassis shared an overloaded Power Distribution Unit (PDU), we had a new requirement to monitor mains and UPS power consumption at Power Distribution Unit level for each of our IT racks in MER1. Spook OmniWatch monitors the power metrics of each PDU. We now centrally manage our PDUs and can also plan in advance any preventative maintenance in a well informed manner by reviewing the trend data provided by OmniWatch’s on-demand reports.</p>
    </blockquote>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-text-center">
      <h3>Used by</h3>
    </div>
    <div class="is-row">
      <div class="is-col">
	<img src="/images/sections/nhs/maidstone-tunbridge-wells.svg">
      </div>
      <div class="is-col">
	<img src="/images/sections/nhs/business-services.svg">
      </div>
      <div class="is-col">
	<img src="/images/sections/nhs/clatterbridge-cancer-centre.svg">
      </div>
      <div class="is-col">
	<img src="/images/sections/nhs/alder-hey.svg">
      </div>
    </div>
  </div>
</section>
<section class="grey is-text-center">
  <div class="container">
    <h2>NHS references are available</h2>
    <p>Please contact us if you wish for further information on how Spook can help with your environmental and power monitoring needs.</p>
    {% include header-buttons.html %}
  </div>
</section>
