---
layout: base
title: Refrigeration monitoring
page-description: "Controlling the temperature of food is extremely important in ensuring that food is safe to eat.
Government guidelines are set to ensure that food is always cooked, cooled, chilled or reheated properly to minimise the
risk of harmful levels of bacteria in the food sold to members of the public."
---
<header
  style="background-image: url('/images/sections/refrigeration-monitoring.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <h3>Real-time remote monitoring and alerting</h3>
      <h1>Refrigeration monitoring by Spook</h1>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section class="grey">
  <div class="container">
    <div class="is-row is-text-center">

      <div class="is-col is-33 is-stack-20">
        <img alt="Secure cloud based" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/cloud.svg">
        <p>Secure cloud based</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Real-time monitoring" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/247.svg">
        <p>Real-time monitoring</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Secure internet dashboards" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/secure.svg">
        <p>Secure internet dashboards</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Email, SMS, UK call centre" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/alarms.svg">
        <p>Email, SMS, UK call centre</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Data roaming SIM" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/simcard.svg">
        <p>Data roaming SIM</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Pre-configured" style="max-height: 60px; margin-bottom: 1em;" src="/images/icons/outofthebox.svg">
        <p>Pre-configured</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Long range wireless sensors" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/80types.svg">
        <p>Long range wireless sensors</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Monitored battery status" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/12year.svg">
        <p>Monitored battery status</p>
      </div>

      <div class="is-col is-33 is-stack-20">
        <img alt="Through multiple walls" style="max-height: 60px; margin-bottom: 1em;"
          src="/images/icons/1200foot.svg">
        <p>Through multiple walls</p>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h2>The importance of monitoring</h2>
        <p>Controlling the temperature of food is extremely important in ensuring that food is safe to eat. Government
          guidelines are set to ensure that food is always cooked, cooled, chilled or reheated properly to minimise the
          risk of harmful levels of bacteria in the food sold to members of the public.</p>
        <p>Meat products are typically regarded as high risk, but dried goods such as rice and pulses, vegetables and
          salads are also likely to contain bacteria that may grow if the food is subject to poor temperature control.
        </p>
      </div>
      <div class="is-col">
        <img alt="Maintain the cold chain" src="/images/sections/refrigeration/introduction/cold-chain.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Chiller temperature and efficiency</h2>
    <p>The efficiency of a chiller can be affected by incorrect temperature settings and tolerances as well as air
      speed, airflow and relative humidity.</p>
    <p>Monitoring the opening and closing of chiller doors to ensure activity is kept to a minimum is also very
      important to ensure proper temperatures are maintained.</p>
    <p>High humidity or temperature within a chiller, or during the thawing process, will allow surface growth of mould.
      These need to be kept as low as possible.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Compliance monitoring</h2>
    <p>Perishable food should always be kept out of the danger zone of 8 - 63ºC to prevent the growth of harmful
      bacteria.</p>
    <p>Chilling food does not kill bacteria, but it does stop them from growing to harmful levels. Because of this, it
      is a legal requirement that perishable foods should be kept refrigerated at 8ºC or below. Frozen food should
      ideally be kept at a temperature at or below -18ºC.</p>
    <p>It is good practice to check and record fridge and freezer temperatures at least once per day. If a fridge cannot
      keep food below 8ºC, it must be serviced or replaced.</p>
    <p>OmniWatch wireless freedom. Protecting restaurants and grocery store refrigeration.</p>
    <p>Refrigerators and freezers are essential for certain businesses in order to remain functioning. In the case of an
      outage, there is a lot of time and money spent trying to get operations back on track. Spook’s OmniWatch service
      is designed to give early advanced warning of changes in the environment to give valuable thinking and reaction
      time to save the contents of faulty fridges and freezers.</p>
    <p>Refrigerators and freezers usually have many thousands of pounds worth of food supplies in them which need to be
      kept at a specific temperature to avoid spoilage. Walk-in coolers are accessed frequently throughout the day, but
      are rarely monitored after a restaurant or business closes for the evening. This period of time is where the most
      damage occurs as perishables can be left in an ever-increasing temperature, often too late to save the next
      morning.</p>
    <p>While repairs can be costly for these machines, the real expense of rising temperatures is the irreplaceable
      damage done to product inside.</p>
    <p>Equally important is storing the goods in known food hygiene limits to ensure safety in public consumption.</p>
    <p>OmniWatch is designed to alert customers to sudden changes that may impact the uptime of their refrigeration
      units and as a consequence protect refrigerated or frozen produce. Some of the more common issues seen with
      coolers or freezers can all be monitored by OmniWatch.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h2>Hazard Analysis and Critical Control Point (HACCP)</h2>
        <p>Spook can help HACCP planning and execution. With OmniWatch you can:</p>
        <ul>
          <li>Look closely at what you do in your business, what could go wrong and what risks there are to food safety
          </li>
          <li>Identifying any critical control points the areas a business needs to be monitored</li>
          <li>Decide who to contact and how if something goes wrong</li>
          <li>Produce reports and audit changes to prove your procedures are working</li>
        </ul>
      </div>
      <div class="is-col">
        <table class="is-responsive is-bordered">
          <thead>
            <tr>
              <th>Problem</th>
              <th>Effect</th>
              <th>Possible outcome</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>Failure to maintain the cold chain</td>
              <td>Growth of bacteria on meat; the higher the temperature the faster bacteria can multiply</td>
              <td>A source of microbiological contamination resulting in a serious food safety hazard.</td>
            </tr>

            <tr>
              <td>Inadequate chilling of cooked meat</td>
              <td>Growth of bacteria on meat; the higher the temperature the faster bacteria can multiply</td>
              <td>Increased chance of contamination of food products by food poisoning bacteria (such as Salmonella).
              </td>
            </tr>

            <tr>
              <td>Inadequate heat treatment</td>
              <td>Failure to maintain high enough temperatures for a sufficient time</td>
              <td>Heat-resistant food-poisoning or spoilage organisms will not be destroyed resulting in a source of
                microbiological contamination.</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/temperature.svg">
      </div>
      <div class="is-col is-70">
        <h2>Temperature and humidity</h2>
        <p>Temperature and humidity are key metrics that must be maintained to ensure quality and safety of stored food
          products.</p>
        <p>OmniWatch holds readings in perpetuity to be used should auditing be required and for equipment checks.
          Historical trend data can be studied to monitor equipment reliability and track any drop in efficiency,
          preventing
          possible future problems from even occurring.</p>
        <p><a href="/solutions/wireless/sensor/temperature" class="button">Temperature information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/voltage-meter.svg">
      </div>
      <div class="is-col is-70">
        <h2>Mains power</h2>
        <p>While this is the most basic way to keep an eye on your chilled supplies a lack of power would be a major
          problem, perhaps a tripped circuit breaker, blown fuse, wiring issues, or a faulty storage room control board
          could be causing the issue.</p>
        <p>A/C (Alternating Current) meters measure power consumption and is a clear indicator to ensure everything is
          working fine. If the motor of a refrigerator is constantly running but temperature is rising could mean there
          is a
          refrigerant leak or that a seal is broken and causing cold air to escape.</p>
        <p><a href="/solutions/wireless/sensor/ac-meter" class="button">Mains power information information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/activity.svg">
      </div>
      <div class="is-col is-70">
        <h2>Accelerometers and vibration monitoring</h2>
        <p>Some of the main causes for wastage is associated with incorrect temperatures, high humidity or poor airflow.
          All
          of these can be caused by access doors being left open or continuous access by staff members or customers.
          With
          OmniWatch you are able to keep a detailed record of when, and for how long, a door is open for.</p>
        <p>As well as door sensors, accelerometers and vibration detection sensors are ideal to detect vibrations and
          sudden movements.
          Pairing
          a sensor with the internal motors of a walk in freezer and establishing a pattern of behaviour is easy.</p>
        <p><a href="/solutions/wireless/sensor/accelerometers-and-vibration-meter" class="button">Accelerometers and
            vibration detection
            information</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img style="display: block; margin: 0 auto; max-height: 300px;" src="/images/sensor/water-probe.svg">
      </div>
      <div class="is-col is-70">
        <h2>Water ingress</h2>
        <p>Unwanted water within a fridge or freezer can possibly lead to spoilage and wasted product. It can also
          encourage
          growth of bacteria or cross-contamination of other products on the shelves.</p>
        <p>Leaking water or ice buildup indicates an underlying problem which will require professional maintenance to
          fix.
          Possible causes, such as ineffective air flow, could go unnoticed until it's too late to save the stored
          products.
        </p>
        <p><a href="/solutions/wireless/sensor/water" class="button">Water detection information</a></p>
      </div>
    </div>
  </div>
</section>
{% include contact-us.html %}