---
layout: base
title: Energy meters
page-description: Energy monitoring only becomes effective when it is conducted in real-time. Labour costs associated with staff taking regular measurements throughout the day can be totally eliminated.
---
<style>
.header-banner{
  #background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/monitoring/energy/energy-monitoring-banner-image.jpeg');
  background-image: url('/images/monitoring/energy/energy-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.header-banner.footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner/omniwatch-banner-image.png');
}
.header-banner h1, .header-banner h3{
  font-weight: normal;
}
</style>
<header class="header-banner">
  <div class="container">
    <div class="is-50">
      <div class="is-stack-40">
        <h1>Energy meters</h1>
        <p class="is-big">The importance of monitoring energy meters and the benefits it offers</p>
      </div>
      <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
    </div>
  </div>
</header>
<div class="is-inset-y-8 black">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-10 white-text">
        Support for
      </div>
      <div class="is-col is-80 is-text-center">
        <img alt="Supported manufacturers for energy monitoring" src="/images/monitoring/energy/supported-manufacturers.svg">
      </div>
      <div class="is-col is-10 white-text">
        and more.
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors a variety of utility energy meters. Measuring energy meter metrics across an organisation; OmniWatch presents realtime readings in an easy to use real-time digital dashboard.</p>
      </div>
      <div class="is-col is-50">
				{% include awards.html %}
      </div>
    </div>
    <div class="is-stack-40">
      <h3>What is energy meter monitoring?</h3>
      <p>Energy meter monitoring is the process of measuring energy consumption for the whole or part of a facilities incoming electricity or gas. By measuring the incoming energy provided by the utility provider means granular consumption can be understood too, from energy sub-sets (departmental and building consumption) to individual assets.</p>
      <p>Monitoring energy consumption and having the ability to analyse trend data over long periods of time means efficiency gains or losses can be accurately identified.</p>
    </div>
    <div class="quote-block grey is-shadow-2 is-stack-40">
      <span>"</span>
      <p>Spook monitors our energy consumption by collecting metrics from our various Schneider PowerLogic PM800 series power meters installed across our data centre estate.</p>
      <p>We now accurately measure the power consumption per phase in real-time ranging from Amps, kW, kWh and other important power metrics.</p>
      <p>We can create Spook Smart Sensors to aggregate usage where necessary in order to help us ensure energy security, pro-active load-balancing and to apply power efficiency calculations in-line with our sustainability policy KPI's.</p>
      <div class="quote-by">
        <img alt="Capita Business Services" src="/images/customer-logo/capita.svg">
      </div>
    </div>
    <div class="is-text-center is-stack-40">
      <a href="/solutions/technical/smart-sensors" class="button is-secondary">Read more about smart sensors <span class="caret is-right"></span></a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      {% for item in site.data.power.energy.benefits %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img blue icon" style="background-image: url('{{ item.icon }}');"></div>
            <div class="card-content">
              <h3>{{ item.name }}</h3>
              {% for paragraph in item.words %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    <h3>Granular monitoring</h3>
    <p>Energy bills from utility companies are simply broken down to usage and cost over a given period of time. However, there is typically no analysis available to identify where sub-sets of the consumption occur. Therefore, it doesn’t provide energy managers with the appropriate information they need to make data-driven decisions.</p>
    <p>The Carbon Trust suggest that approximately 20% of all business related energy costs are wasted through inefficient equipment. Therefore, by monitoring energy consumption at meter level and drilling down to asset level means an assets performance and energy output can be identified and alerts can be generated when these become less efficient.</p>
    <div class="is-row">
      {% for item in site.data.power.energy.monitoring %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img green icon" style="background-image: url('{{ item.icon }}');"></div>
            <div class="card-content">
              <h3>{{ item.name }}</h3>
              {% for paragraph in item.words %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-inset-20">
        <img src="/images/icons/climate.svg" style="width: 120px;">
        <h3>Climate change</h3>
        <p>According to the Department of Energy & Climate Change, the average SME (Small to Medium Enterprise) could reduce its energy bills by up to 25% by installing energy efficiency measures which could achieve an average payback of less than 1.5 years.</p>
      </div>
      <div class="is-col is-inset-20">
        <img src="/images/sensor/icons/co2.svg" style="width: 120px;">
        <h3>Reduce carbon footprints</h3>
        <p>When implementing changes from proactive energy meter monitoring means reducing consumption is very achievable and as a consequence carbon emissions are also reduced. This is a key factor in helping organisations reach their sustainable policy goals.</p>
      </div>
    </div>
  </div>
</section>
<section class="dark-blue-grey white-text">
  <div class="container">
    <h3>Energy initiatives</h3>
    <div class="is-row">
      <div class="is-col">
        <h5>Government funds - SME grants</h5>
        <p>With increases in energy prices predicted to rise by more than 50% in the next 5 years and the government introducing carbon reduction goals, many organisations are prioritising energy efficiency projects.</p>
        <p>The Government is also providing grants for SME's with funding worth almost £5 billion* to help UK businesses become greener as part of the government's commitment to reach net zero emissions by 2050.</p>
        <p class="is-small">* Information correct as of February 2022.</p>
      </div>
      <div class="is-col">
        <h5>Service provider initiatives - Time-of-use tariffs</h5>
        <p>Energy usually costs more on the wholesale market at peak times – it’s a simple case of supply and demand. So energy suppliers tend to pay more to obtain energy during the day, which is typically the most expensive time as demand is high.</p>
        <p>The upside is that energy costs less outside the peak hours, which is why some energy providers offer time-of-use tariffs that charge lower rates to businesses for the electricity they use at off-peak times.</p>
        <p>The price of each unit of energy on these tariffs can vary throughout a 24-hour period, and even on different days of the week.</p>
        <p>So if your business can be flexible with how and when it uses energy, a time-of-use tariff could save you money. You could even consider changing your routines and processes so that you move to off-peak usage for some or all of your main energy-consuming activities.</p>
        <p>By measuring when metered energy is being used can identify opportunities for organisations to opt into a time-of-use tariff.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container white-text">
    {% include omniwatch/key-points.html %}
  </div>
</section>
{% include monitoring/power/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
<section class="header-banner footer is-text-center">
	<div class="container">
    <div class="is-stack-40 white-text">
      <h2>Get in touch with Spook</h2>
      <p>Please contact us if you wish for further information on how Spook can help with your air quality and CO<sub>2</sub> monitoring needs.</p>
    </div>
		<p><a href="/contact/" class="button">Contact us <span class="caret is-right"></span></a></p>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-20">
				<h3>Resources</h3>
			</div>
			<div class="is-col is-80">
				{% for resource in site.data.power.energy.references %}
				<div class="is-row is-items-middle">
					<div class="is-col is-80">
						<p class="section-subheader">{{ resource.subheader }}</p>
						<h4 class="section-header">{{ resource.header }}</h4>
					</div>
					<div class="is-col is-20 is-stack-20">
						<a href="{{ resource.link }}" class="button is-secondary">Read more <span class="caret is-right"></span></a>
					</div>
				</div>
				<div class="is-stack-20 is-border-bottom"></div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
