---
layout: base
title: Generator monitoring
page-description: "Most businesses know the importance of installing a diesel generator (generator) as an emergency
source of electrical power. Often referred to as power redundancy, generators provide important mid to long term
electrical power upon the loss of normal power supply."
---
<header style="background-image: url('/images/sections/generator-banner.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-stack-40">
      <h1>Generator monitoring</h1>
      <p class="is-big">The importance of monitoring diesel generators and the benefits it offers</p>
    </div>
    <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
  </div>
</header>
<div class="is-inset-y-8 black">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-10 white-text">
        Support for
      </div>
      <div class="is-col is-80 is-text-center">
        <img alt="Supported manufacturers for generator monitoring" src="/images/monitoring/generator/supported-manufacturers.svg">
      </div>
      <div class="is-col is-10 white-text">
        and more.
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors diesel generator usage. Measuring key generator metrics; OmniWatch presents real-time readings in an easy to use real-time digital dashboard.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-row">
      {% for key-point in site.data.power.generators.key-points %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img blue icon" style="background-image: url('{{ key-point.icon }}');"></div>
            <div class="card-content">
              <h3>{{ key-point.name }}</h3>
              {% for paragraph in key-point.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img src="/images/icons/alert-service.svg">
      </div>
      <div class="is-col">
        <h2>Automated alerting</h2>
        <p>Generators provide a reliable source of back-up emergency power for long periods of time. Due to how a generator is used it is more often than not installed outside or in an area that is not normally accessed by staff.</p>
        <p>By monitoring the generator you can be instantly alerted to any change in its operating state or detect mechanical issues that need addressing before they fail.</p>
        <p>Using OmniWatch's 3-tier alarm escalation process ensure the right personnel is made aware of events and receive alerts via email, SMS and phone call via our UK call centre.</p>
      </div>
    </div>

    <h2>Avoiding potential damage</h2>
    <p>One of the most common causes of damage to generators is when they're under-loaded. That is, generators function most effectively when they're operating at high capacity. When they're used for low capacity tasks (such as powering 10% of the voltage load), they can start to build up carbon and internal glazing.</p>
    <p>If this continues, eventually, soot and residue from unused fuel can accumulate and clog the generator's piston rings.</p>
    <p>The longer this happens, the more pronounced the degradation of the diesel generator’s system. To avoid this, generators should have a capacity at approximately 70% of the maximum load.</p>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-text-center">
      <h3>Typical generator monitoring metrics</h3>
    </div>
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Generator monitoring" src="/images/devices/generator.svg">
      </div>
      <div class="is-col is-70">
        <div class="is-row is-text-center">

          <div class="is-col is-25 is-stack-20">
            <img alt="Generator running"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/error.svg">
            <h5>Generator running</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Generator stop"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/error-2.svg">
            <h5>Generator stop</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Voltage sensor"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/directcurrent.svg">
            <h5>Voltage</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Frequency sensor"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/vibration.svg">
            <h5>Frequency</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Oil temperature sensor"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/temperature.svg">
            <h5>Oil temperature</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Battery condition sensor"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/icons/battery.svg">
            <h5>Battery condition</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Emergency stop status"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/light.svg">
            <h5>Emergency stop (EPO) status</h5>
          </div>

          <div class="is-col is-25 is-stack-20">
            <img alt="Fuel levels sensor"
              style="padding-top: 2em; padding-left: 2em; padding-right: 2em; padding-bottom: .5em;"
              src="/images/sensor/icons/fuel-level.svg">
            <h5>Fuel levels</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="P&O Ferrymasters" src="/images/customer-logo/pando.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We monitor our diesel generator to enable us to present key operating status metrics while it is in use. The generator is some distance from our IT department so knowing when it is running as well as identifying important information like fuel level, auto-start, low battery, at rest and fault are valuable data. Spook OmniWatch helps prove our fail over tests to support our departmental and achieve our Key Performance Indicators(KPI’s).</p>
          <p class="is-small">P&O Ferrymasters - European providers of tailor-made transportation and logistics
            services.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% include monitoring/power/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
