---
layout: base
title: PDU monitoring
page-description: Real-time monitoring and alerting for intelligent power distribution units. Keep an eye on usage, load balancing and issues caused by power loss.
---
<header
  style="background-image: url('/images/sections/pdu-monitoring.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <div class="is-stack-40">
        <h1>PDU monitoring</h1>
      </div>
      <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
    </div>
  </div>
</header>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-10 white-text">
        Support for
      </div>
      <div class="is-col is-80 is-text-center">
        <img alt="Supported manufacturers for intelligent power distribution units monitoring" src="/images/monitoring/pdu/supported-manufacturers.svg">
      </div>
      <div class="is-col is-10 white-text">
        and more.
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <h4 class="section-header">The importance of pdu monitoring and the benefits it offers</h4>
        <p class="is-big">Keeping an eye on server room and data centre power metrics is becoming a prerequisite as the importance of power load balancing and knowing the cost of providing power to the facility increases.</p>
        <p class="is-big">In just two decades the way servers consume power has changed beyond imagination. Back in the day variances in server power was largely due to disk drive spin-up and fans being invoked.</p>
        <p class="is-big">Today's complex server configurations means that variances in power required for disk utilisation is reduced but more power is consumed when computational loads are enforced.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-row">
      {% for benefit in site.data.power.pdus.benefits %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-content">
              <h3>{{ benefit.name }}</h3>
              {% for paragraph in benefit.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
        <div class="is-col is-20">
          <img alt="Light monitoring" src="/images/sensor/light.svg">
        </div>
        <div class="is-col is-80">
          <h2>No existing monitoring?</h2>
          <p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p>
          <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-80">
        {% include monitoring/power/pdu-and-table.html %}
      </div>
      <div class="is-col is-20">
        <h2>Power strip monitoring</h2>
        <p>Measuring power consumption at power strip level is becoming more important in understanding where power overloads are likely.</p>
        <p>If you know your total power available is for example 16 amps, loading more than 50% power consumption on a single power strip can be dangerous.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Henry Schein" src="/images/customer-logo/henry-schein.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>Following a potential disaster when an entire switch chassis shared an overloaded Power Distribution Unit (PDU), we had a new requirement to monitor mains and UPS power consumption at Power Distribution Unit level for each of our IT racks in head office. Spook OmniWatch monitors the power metrics of each PDU. We now centrally manage our required power metrics. We can also plan in advance any preventative maintenance in a well informed manner by reviewing the trend data provided by OmniWatch's on-demand reports.</p>
          <p class="is-small">Henry Schein - A Fortune 500 Worlds Most Admired Company.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% include monitoring/power/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
