---
layout: base
title: PUE and DCiE monitoring
page-description: "Total electrical power consumed by IT equipment in data centres has been relatively stable
historically, but new designs for server processors include energy management capabilities that can result in
substantial power consumption fluctuations. This can present potentially numerous problems, including overheating,
overloading a circuit breaker and loss of redundancy."
---
<header
  style="background-image: url('/images/sections/pue-dcie-banner.png'); background-size: cover; background-position: right;">
  <div class="container">
    <div class="is-50">
      <h3>Real-time data collection</h3>
      <h1>PUE and DCiE monitoring</h1>
      <p class="is-large">By measuring power at key areas coming into a facility means there are many valuable
        readings that provide important additional information.</p>
      {% include header-buttons.html %}
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-20">
      <div class="is-col">
        <table class="is-border">
          <thead>
            <tr>
              <th>PUE</th>
              <th>DCiE</th>
              <th>Level of efficiency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3.0</td>
              <td>33%</td>
              <td>Very inefficient</td>
            </tr>
            <tr>
              <td>2.5</td>
              <td>40%</td>
              <td>Inefficient</td>
            </tr>
            <tr>
              <td>2.0</td>
              <td>50%</td>
              <td>Average</td>
            </tr>
            <tr>
              <td>1.5</td>
              <td>67%</td>
              <td>Efficient</td>
            </tr>
            <tr>
              <td>1.2</td>
              <td>83%</td>
              <td>Very efficient</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="is-col">
        <h2>The benefits of PUE and DCiE monitoring</h2>
        <p>Knowing what the PUE figure is allows customers to highlight areas for improvement to better the PUE rating
          over time.</p>
        <p>The objective is to ensure that the maximum possible percentage of power utilised in a data centre is
          actually used by IT equipment and the minimum by supporting equipment such as AC units.</p>
        <p>Clearly things such as antiquated and/or unreliable AC units will have an adverse effect on the PUE.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <h2 class="is-stack-20">PUE and DCiE calculator</h2>
      <form>
        <div class="is-row is-items-middle is-stack-20">
          <div class="is-col">
            <div class="is-stack-20">
              <p class="is-big">Total facility energy</p>
              <p class="is-muted">Enter in the total amount of energy your facility is using (kW)</p>
              <div class="is-prepend">
                <span>kW</span> <input id="totalfacility" name="totalfacility" class="form-control" value="1000">
              </div>
            </div>
          </div>
          <div class="is-col">
            <div class="is-stack-20">
              <p class="is-big">Total IT equipment energy</p>
              <p class="is-muted">Enter the total amount of energy your IT equipment is using (kW)</p>
              <div class="is-prepend">
                <span>kW</span> <input id="totalit" name="totalit" class="form-control" value="800">
              </div>
            </div>
          </div>
        </div>
        <ul class="is-bar is-text-center">
          <li>
            <h3>PUE</h3>
          </li>
          <li>
            <p class="is-big" id="pue">1.25</p>
          </li>
          <li>
            <h3>DCiE</h3>
          </li>
          <li>
            <p class="is-big" id="dcie">80%</p>
          </li>
          <li>
            <h3 id="description">Efficient</h3>
          </li>
          <li><span id="dciechart" class="sensor-reading">0/100</span></li>
        </ul>
      </form>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <nav class="tabs" data-kube="tabs" data-equal="true">
      <a href="#power-consumption" class="is-active">Power consumption fluctuations</a>
      <a href="#computational-loads">Computational loads</a>
      <a href="#circuit-overload">Circuit overloading</a>
    </nav>

    <div id="power-consumption">
      <div class="is-row is-items-middle">
        <div class="is-col is-40">
          <img src="/images/monitoring/pue-dcie/power-consumption-comparison.svg">
        </div>
        <div class="is-col is-60">
          <h2>Power consumption fluctuations</h2>
          <p>Total electrical power consumed by IT equipment in data centres has been relatively stable historically,
            but
            new designs for server processors include energy management capabilities that can result in substantial
            power
            consumption fluctuations.</p>
          <p>This can present potentially numerous problems, including overheating, overloading a circuit breaker and
            loss
            of redundancy.</p>
        </div>
      </div>
    </div>
    <div id="computational-loads">
      <h2>Computational loads</h2>
      <p>Typically servers operate at light computational loads, with actual power draw amounting to less than the
        server's potential maximum power draw capabilities.</p>
      <p>However, because many IT personnel can be unaware of this discrepancy, it's easy to plug more servers than are
        necessary into a single power circuit.</p>
      <p>This in turn creates the potential for possible circuit overloads, as the circuit rating can be exceeded by the
        total maximum server power consumption.</p>
    </div>
    <div id="circuit-overload">
      <h2>Circuit overloading</h2>
      <p>Another complication is that when servers are simultaneously subjected to heavy loads, circuit overloads will
        occur. When circuits are overloaded, the entire circuit can be tripped and power shut off to IT equipment.</p>
      <p>Furthermore, since this happens as a result of heavy loads, power outages at this time can have significant
        negative effects on business.</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-70">
        <h2>Spook is an approved Endorser of the European Code of Conduct for Data Centres</h2>
        <p>The Data Centres Energy Efficiency Code of Conduct has been established in response to increasing energy
          consumption in data centres and the need to reduce the related environmental, economic and energy supply
          security impacts.</p>
        <p>The aim is to inform and stimulate data centre operators and owners to reduce energy consumption in a
          cost-effective manner without hampering the mission critical function of data centres.</p>
        <p>The Code of Conduct aims to achieve this by improving understanding of energy demand within the data centre,
          raising awareness, and recommending energy efficient best practice and targets.</p>
        <ul class="is-bar">
          <li><a href="#" class="button">Read more</a></li>
          <li><a href="#" class="button is-secondary">2019 best practice guidlines</a></li>
        </ul>
      </div>
      <div class="is-col is-30">
        <img src="/images/monitoring/bms/code-of-conduct.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img src="/images/customer-logo/capita.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of
            our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power
            meters located around the data centres but it was a laborious task to manually collect the data in-order to
            calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position
            to become more energy efficient and to reduce our carbon footprint.</p>
          <p>We had a requirement to improve on the accuracy and time way we calculated the PUE (Power Efficiency) of
            our separate data centres in Kent and Essex. The relevant data was available on various (Schneider) power
            meters located around the data centres but it was a laborious task to manually collect the data in-order to
            calculate matters. Spook OmniWatch continually monitors our key power metrics and we are now in a position
            to become more energy efficient and to reduce our carbon footprint.</p>
          <p class="is-small">Capita Business Services - An international business outsourcing company.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% include monitoring/power/key-components.html %}
{% include contact-us.html %}
<script src="/js/jquery.min.js"></script>
<script src="/js/peity.min.js"></script>
<script>$(document).ready(function () {
    $("#dciechart").peity("donut", { innerRadius: 20, radius: 34, fill: ["#eee"] });

    calculatePUEDCiE();

    $('#totalfacility').keyup(function () {
      calculatePUEDCiE()
    });
    $('#totalit').keyup(function () {
      calculatePUEDCiE()
    });

    function calculatePUEDCiE() {
      var tfe = parseFloat($("#totalfacility").val());
      var tie = parseFloat($("#totalit").val());

      var pue = parseFloat(tfe / tie).toFixed(2);
      var dcie = parseInt((tie / tfe) * 100);

      $("#pue").text(pue);
      $("#dcie").text(dcie + '%');
      var description = "";
      var color = ""
      if (pue <= 1.2) {
        description = "Very efficient";
        color = "#8bc34a";
      } else if (pue <= 1.5) {
        description = "Efficient";
        color = "#95c859";
      } else if (pue <= 2.0) {
        description = "Average";
        color = "#7CB5EC";
      } else if (pue <= 2.5) {
        description = "Inefficient";
        color = "#FFC107";
      } else {
        description = "Very inefficient";
        color = "#FF5F5F";
      }
      $("#description").text(description);
      var updatingChart = $("#dciechart").peity("donut", { innerRadius: 20, radius: 34, fill: [color, "#eee"] });
      updatingChart
        .text(dcie + '/100')
        .change();
    }
  })</script>
<script>$('.donut').peity('donut');</script>