---
layout: base
title: Real-time dashboard
page-description: "Customers have access to an enterprise centric solution via any internet enabled device. Multiple
customer end users have their own secure web portals in order to view sensor readings and much more."
---
<section>
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col is-60">
				<img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
			</div>
			<div class="is-col is-40">
				<h3>Custom, pre-built and intuitive</h3>
				<h1>OmniWatch real-time responsive dashboards</h1>
				<p>There is much more to successful remote monitoring than installing out-of-the-box software. All our customers
					have their
					own distinctive dynamics for monitoring.</p>
				{% include header-buttons.html %}
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<h2>Omniwatch dashboards are designed to provide users instant and easy access to their monitored locations</h2>
			</div>
			<div class="is-col is-70">
				<p>
					OmniWatch dashboards are designed for users to know the health and stability of their sensors and monitored
					equipment at
					any time and in any place. Being cloud based means access is secure via internet enabled device, ideal for
					monitoring
					remotely and whilst on the move.
				</p>

				<p>
					Designing and maintaining dashboards can be daunting, that's why we design them and manage them on your
					behalf. With
					nearly twenty years experience, our knowledge of ensuring meaningful information is presented in an easy to
					use and
					intuitive way is key to end user satisfaction.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="grey">
	<div class="container">
		<div class="is-row is-items-middle">
			<div class="is-col">
				<h2>Disparate equipment monitoring</h2>
				<p>
					OmniWatch can monitor various sensors and equipment types and merge them into a single cohesive digital
					interface, no
					longer making users reliant on countless different apparatus connections across the network.
				</p>
				<p>OmniWatch is manufacturer independent and supports multiple protocols such as SNMP, JSON, BACnet, XML and
					Modbus.</p>
			</div>
			<div class="is-col">
				<img src="/images/omniwatch/singular-access-portal.svg">
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<img class="is-inset-20" style="max-height: 300px;" src="/images/omniwatch/rut-950.svg">
			</div>
			<div class="is-col is-70">
				<h2>New to monitoring or needing to supplement existing monitoring?</h2>
				<p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install
					it. With nearly 20 years in the industry Spook is truly independent of hardware manufacturer and equipment
					type.</p>
				<blockquote style="color: #fff;">
					<p>We had a series of LAN based environmental monitors and UPS systems across our five regional server rooms.
						We needed to look for ways of moving the monitoring solution away from our LAN/WAN infrastructure for
						security reasons. Spook managed the whole process by providing a series of cellular routers that were
						preconfigured to work with our hardware within a tight timescale (2-weeks in December 2019). They knew our
						IT teams were working on other projects and that we were juggling holiday cover leading up to the New year.
						Spook ensured the migration was a simple plug-and-play solution with little or no involvement from us.</p>
					<p class="is-small">Craig Amer - NHS BSA Team Manager</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-30">
				<h2>OmniWatch is perfect for real-time environmental and power monitoring</h2>
			</div>
			<div class="is-col is-70">
				<nav class="tabs" data-kube="tabs" data-equal="true">
					<a href="#user-rights" class="is-active">1. User rights</a>
					<a href="#custom-settings">2. Custom settings</a>
					<a href="#power-monitoring">3. Power monitoring</a>
					<a href="#custom-alerts">4. Custom alerts</a>
					<a href="#sawtoothing">5. Sawtoothing</a>
				</nav>
				<div id="user-rights">
					<h3>User rights</h3>
					<p>
						OmniWatch comes pre-configured with user rights. Various departments may be involved in reacting to alerts.
						For example
						a refrigeration alarm may need to inform both the maintenance/service company and those that use the
						equipment on site;
						whereas a water alert in an IT server room may need to be handled by the facilities department instead of
						the IT
						department.
					</p>
					<p>
						OmniWatch automatically filters alerts and provides refined dashboards to authorised users and relevant
						departments/regions. For instance, a person in a particular region may only need to see their location
						whereas a global
						view may need to be accessed by a central management team.
					</p>
				</div>
				<div id="custom-settings">
					<h3>Adjustable sensor settings</h3>
					<p>
						Spook recognises similar sensors may need different settings dependent where they are installed. For example
						a
						temperature sensor near an air conditioning unit may need lower alarm trip values when compared to a similar
						sensor
						located near to a heat source.
					</p>
					<p>
						All sensor settings are adjustable and are changed via the individual sensor interface on the real-time
						sensor
						dashboard.
					</p>
				</div>
				<div id="power-monitoring">
					<h3>Measuring power</h3>
					<p>
						For organisations that need to monitor power, automated calculations can be made from the various power
						metrics. For
						instance, real time load balancing ensures power is not overloaded on a particular circuit or power strip;
						whilst
						understanding the stranded power (spare power available) across multiple power strips can be invaluable when
						needing to
						maximise power usage.
					</p>
					<p><a href="/monitoring/power-monitoring" class="button">Read more</a></p>
				</div>
				<div id="custom-alerts">
					<div class="is-row">
						<div class="is-col">
							<img src="/images/icons/alert-service.svg">
						</div>
						<div class="is-col">
							<h3>Auto-generated alerts</h3>
							<p>
								When viewing the digital dashboard, if a sensor reaches it set alarm condition it turns red to represent
								it
								is in an
								alarm state. This triggers the <a href="/omniwatch/alerting/">3-tier alarm escalation</a> procedure.
							</p>
							<p><a href="/omniwatch/alerting/" class="button">Read more about alerts</a></p>
						</div>
					</div>
				</div>
				<div id="sawtoothing">
					<h3>Alarm fatigue</h3>
					<p>
						Digital sensors are rarely static unlike analogue sensors (on/off or open/closed conditions). Digital
						sensors are
						used when measuring the climate for temperature and humidity and collecting power metrics such as amps and
						kilowatts.
					</p>
					<p>
						These sensors often produce sawtooth readings. This is fine if the values are not near a
						pre-set alarm trip. However if the sensor reading hunts above and below an alarm point many alerts can be
						generated and
						these can become annoying or more importantly ignored.
					</p>
					<p>
						OmniWatch provides an easy way to change either the alarm trip value, for instance temporarily raising the
						alarm point;
						or increasing a time delay to stop sawtoothing, for example if a sensor is hunting above and below an alarm
						point every
						30 seconds, by extending the alarm delay above 30 seconds will reduce the frequency of alarms.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include omniwatch/key-components.html %}
{% include contact-us.html %}