---
layout: base
title: Installation plans
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
        <img style="min-width: 100%;" src="/images/omniwatch/installation-plans.svg">
      </div>
      <div class="is-col is-60">
        <h1>Spook publishes an installation plan for every monitored location</h1>
        <p>
          This is important because when an alarm happens, the ability to swiftly identify the offending sensor provides
          valuable
          early warnings and thinking time in order to take remedial action.
        </p>
        {% include header-buttons.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <p>By identifying where the physical sensor is within a location means staff can take remedial action before the
          situation
          causes bigger problems. For example, a rapid temperature increase of a temperature sensor near an air
          conditioning unit
          may indicate a problem that, if left un-noticed, could cause equipment failures or equipment auto shut downs.
        </p>
      </div>
      <div class="is-col">
        <img class="is-shadow-2 is-stack-40" src="/images/homepage/installation-plans.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img class="is-shadow-2" src="/images/omniwatch/alert-email.svg">
      </div>
      <div class="is-col">
        <h2>Installation plan publication</h2>
        <p>
          Because creating an installation plan can be time consuming, Spook does this on your behalf. The installation
          plan does
          not need to be drawn to scale, but simply be able to reflect the monitored footprint in a way that makes it
          easy for end
          users to identify sensors at short notice.
        </p>
        <h2>Customer designed plans</h2>
        <p>
          The majority of Spook customers have had an installation plan drawn in the past as part of an overall building
          plan of a
          premises or of the room as it was built. Even though these may be out of date, Spook can use these as a
          template to
          accurately represent the room locations and sensor installations.
        </p>
        <p>
          It's important to ensure the installation plan is fairly accurate. Therefore, if there are any changes to the
          physical
          room or fabric of the building you can simply hand amend the original plan and send to Spook for modification
          and
          publication.
        </p>
        <h3>Free updates</h3>
        <p>
          Because Spook recognises the importance of accurate representation of the associated installation plans there
          is no
          charge for any amendments.
        </p>
      </div>
    </div>
  </div>
</section>
{% include omniwatch/key-components.html %}
{% include contact-us.html %}