---
layout: base
title: Reporting
page-description: "Create in-depth reports over any given timeframe for any metrics that you monitor. Create shareable
PDFs and schedule automated reports direct to your inbox."
---
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-60">
        <img alt="OmniWatch reports" class="is-shadow-2" src="/images/omniwatch/omniwatch-report.svg">
      </div>
      <div class="is-col is-40">
        <h3>On-demand reports, converting sensor readings into powerful information</h3>
        <h1>Create, customise and share reports</h1>
        <p>
          Unlike conventional data collectors typically found on 3rd party hardware, OmniWatch archives all monitored
          readings in
          perpetuity for future reference; turning sensor data into powerful management reports.
        </p>
        <p>OmniWatch makes interpreting data meaningful and is incredibly easy to use.</p>
        {% include header-buttons.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Bite size on-demand reporting</h2>
        <p>
          OmniWatch's on-demand reports convert real-time sensor readings and equipment metrics into handy bite sized or
          custom
          designed time frames.
        </p>
        <h3>Sensor harmonisation</h3>
        <p>
          Sensor readings are grouped together and compared for like-for-like sensor types regardless of the origin of
          the data.
          For instance, temperature readings from climate monitors, UPSs, intelligent power strips and other third party
          equipment
          can be compared against each other to identify unusual thermo-activity or to ensure the monitored kit is
          harmonised.
        </p>
      </div>
      <div class="is-col block">
        <div class="is-inset-20">
          <p class="is-large"><strong>OmniWatch's reports provide meaningful insight and trend analysis.</strong></p>
          <p>Example uses of OmniWatch's on-demand reports:</p>
          <ul>
            <li>Measuring efficiency gains</li>
            <li>Applying active load balancing policies</li>
            <li>Achieving Key Performance Indicators (KPIs)</li>
            <li>Assisting planned maintenance programs</li>
            <li>Protecting equipment warranties</li>
            <li>Forecasting pinch points that may impact business uptime</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
<section>
  <div class="container">
    <div class="is-stack-60">
      <h2>Cohesive reporting</h2>
      <p>
        Studying trend data within the reports can be influential in future proofing the monitored area. For example, by
        studying the power load of individual power strips can assist in proactive load balancing projects; or by
        checking the
        cooling efficiency of air conditioning units can help maintenance processes or provide valuable information to
        support
        equipment upgrades.
      </p>
      <p>Included within on-demand reports is a summary of every monitored condition with a record of:</p>
      <ul>
        <li>Maximum reading</li>
        <li>Minimum reading</li>
        <li>Average reading</li>
        <li>Number of readings</li>
        <li>How many alarms have been generated per sensor</li>
      </ul>
    </div>
    <div class="is-row">
      <div class="is-col is-50 is-border is-stack-20">
        <div class="is-inset-20">
          <h3>Alarms</h3>
          <p>
            Any alarms for sensors or equipment are recorded within the reports and each alarm can be interrogated via a
            link
            showing each one in detail, including:
          </p>
          <ul>
            <li>Who were sent the alarms</li>
            <li>Which alarm stage they reached</li>
            <li>Who, within the team, reacted to the alarm</li>
          </ul>
          <p><a class="button is-secondary" href="/omniwatch/alerting">More about alerting</a></p>
        </div>
      </div>
      <div class="is-col is-50 is-border is-stack-20">
        <div class="is-inset-20">
          <h3>Change logs</h3>
          <p>
            It's important to keep a track on any changes to the set-up of OmniWatch. These are recorded in the change
            logs. All
            adjustments are date and time stamped together with cataloging the reason for the amendment and who applied
            them.
          </p>
          <p>
            This is crucial to understanding why modifications have been applied; from simply amending the high
            temperature alarm
            point of a temperature sensor to tracking a rota change of a member of staff. All alterations are captured
            within the
            relevant report.
          </p>
          <p><a class="button is-secondary" href="/omniwatch/change-logs">More about change logs</a></p>
        </div>
      </div>
      <div class="is-col is-50 is-border is-stack-20">
        <div class="is-inset-20">
          <h3>Installation plans</h3>
          <p>
            Spook creates an installation plan for each monitored location or piece of equipment.
            These are published within each on-demand report for easy identification where sensors are installed for
            early remedial intervention.
          </p>
          <p><a class="button is-secondary" href="/omniwatch/installation-plans">More about installation plans</a></p>
        </div>
      </div>
      <div class="is-col is-50 is-border is-stack-20">
        <div class="is-inset-20">
          <h3>Hardware</h3>
          <p>
            An on-demand report is normally associated with a physically monitored location or piece/pieces of
            equipment.
            Because OmniWatch extends monitoring to third party hardware, each piece of equipment is clearly listed for
            reference within the relevant reports.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <h2>Climate monitoring reports</h2>
        <p class="is-big">Monitoring the environment of an area is typically associated with measuring temperature,
          humidity and dew point
          although this is often extended to monitoring water ingress and light levels too.</p>
        <p><a class="button" href="/monitoring/environmental">Read more about environmental monitoring</a>
        </p>
      </div>
      <div class="is-col">
        <p>
          The types of equipment that have sensors associated with monitoring the environment are varied. For example,
          temperature
          monitoring can be measured by climate monitors, UPS systems, intelligent power strips, refrigerators, cooling
          systems
          and more; the list is considerable.
        </p>
        <p>
          Usually being able to group and compare readings can be fragmented but with OmniWatch on-demand reports, the
          ability to
          compare, filter and study trend analysis across common sensor types is simple.
        </p>
        <p>
          Each sensor source can be filtered to provide a focused comparison on common equipment types; for example,
          temperate
          sensors from cooling systems can be filtered as a subset of all temperature sensors.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img alt="Monitored PDU" style="margin-bottom: 2em;" src="/images/sections/key-pages/power-monitoring/PDU.svg">
        <div class="is-row">
          <div class="is-col">
            <p>Total Amps</h4>
            <p class="is-large"><strong>6.9A</strong></h2>
          </div>
          <div class="is-col">
            <p>Stranded Power</h4>
            <p class="is-large"><strong>9.1A</strong></p>
          </div>
          <div class="is-col">
            <p>Volts</h4>
            <p class="is-large"><strong>230V</strong></p>
          </div>
          <div class="is-col">
            <p>kWh</h4>
            <p class="is-large"><strong>29.7</strong></p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Customer</th>
              <th>Status</th>
              <th>Amps</th>
              <th>Wh</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Rack Switch</td>
              <td>Customer 1</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.6</td>
              <td>4733</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mail Server</td>
              <td>Customer 1</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.4</td>
              <td>1448</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Server 01</td>
              <td>Customer 2</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.1</td>
              <td>2383</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Server 02</td>
              <td>Customer 2</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.8</td>
              <td>1825</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Security Server</td>
              <td>Customer 2</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.2</td>
              <td>4001</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Firewall</td>
              <td>Customer 3</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.9</td>
              <td>1950</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Backup Server</td>
              <td>Customer 3</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>1.2</td>
              <td>4005</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Rack UPS</td>
              <td>Customer 3</td>
              <td><span
                  style="display: inline-block; width: 20px; height: 20px; border-radius: 100%; background-color: rgba(156,204,101,0.6); margin-right: 10px;"></span>
                On</td>
              <td>0.7</td>
              <td>1783</td>
            </tr>
          </tbody>
        </table>
        </table>
      </div>
      <div class="is-col">
        <h2>Power monitoring</h2>
        <p>
          Power metrics can be collected from various types of
          equipment such as intelligent PDUs, power meters, UPS systems and generators. When measuring power metrics,
          intuitive
          comparisons can be made for any type of power metric but the most common are:
        </p>
        <ul>
          <li>Amps</li>
          <li>Volts</li>
          <li>kWh</li>
        </ul>
        <h3>Power efficiency and load balancing</h3>
        <p>
          By knowing the power consumption of kit in real-time and retaining those readings for trend analysis means
          true
          measurement of power loading can be achieved. It takes into account power burdens of equipment over time, this
          is
          especially useful for when heavy duty equipment that may be powered by cyclical or random use places stress on
          power
          resource.
        </p>
        <p>
          This is helpful in applying active load balancing exercises in order to prevent power loss due to a circuit
          breaking or
          due to power overload.
        </p>
        <h3>Stranded Power</h3>
        <p>
          The ability to unlock stranded power (spare capacity) is key to maximising power usage before having to invest
          in power
          expansion programs. It is surprising the amount of spare power that is available across a collection of
          intelligent
          power strips. This may be negligible on individual PDU’s however by calculating in real-time the spare
          capacity as a
          whole can be enlightening.
        </p>
        <p>
          It's important to calculate stranded power after measuring power consumption over long time frames to take
          into account
          any intermittent power hungry equipment that may not be prevalent all the time. By knowing this means
          maximising
          stranded power can be achieved safely.
        </p>
        <p><a href="/monitoring/power" class="button">Read more about dedicated power monitoring</a></p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
</section>
<section>
  <div class="container">
    <nav class="tabs" data-kube="tabs" data-equal="true">
      <a href="#report-accessibility" class="is-active">1. Report accessibility</a>
      <a href="#custom-time">2. Custom time frames</a>
      <a href="#warranty-protection">3. Warranty protection</a>
      <a href="#exporting">4. Exporting</a>
    </nav>
    <div id="report-accessibility">
      <div class="is-row is-items-middle">
        <div class="is-col is-60">
          <h3>Custom user accounts</h3>
          <p>
            OmniWatch filters access rights to data for on demand reports based upon a users credentials. Where multiple
            locations,
            rooms or even sensor types are monitored the ability to grade the information a user has access to is
            important.
          </p>
          <p>
            This means users only have access to data they are qualified to see making interdepartmental, regional or
            confidential
            reports accessible only to those individuals who are qualified to see them.
          </p>
          <p><a href="/omniwatch/dashboard" class="button">More about locations/dashboard</a></p>
        </div>
        <div class="is-col is-40">
          <img alt="Filter contacts" src="/images/omniwatch/filter-contacts.svg">
        </div>
      </div>
    </div>
    <div id="custom-time">
      <div class="is-row is-items-middle">
        <div class="is-col is-60">
          <h3>User defined timeframes</h3>
          <p>
            OmniWatch on-demand reports can be customised to cover any time frame that the user requires. Unlike most
            other
            monitoring solutions OmniWatch stores all sensor readings in perpetuity making analysis over long periods of
            time easily
            available.
          </p>
          <p>Report time frames are pre-configured for immediate access.</p>
          <ul>
            <li>The last 2, 7 or 30 days</li>
            <li>Monthly reports</li>
            <li>Week/month to date</li>
          </ul>
          <p></p>
          <p>Users are also able to customise their own timeframe by selecting unique start and stop dates; this is
            especially
            helpful if there is a requirement to measure multiple months/years within a single report or focus the
            report to just a
            few hours.</p>
        </div>
        <div class="is-col is-40">
          <img alt="Time frame view" src="/images/omniwatch/timeframe-view.svg">
        </div>
      </div>
    </div>
    <div id="warranty-protection">
      <h3>Operating environmental conditions</h3>
      <p>
        One of the most common reasons for creating on-demand reports is for auditing purposes and for evidence that
        equipment
        types are being kept correctly within a manufacturers safety guidelines.
      </p>
      <p>
        By ensuring manufacturers recommended operating levels are being maintained ensures longevity of the kit and
        warranties
        can be protected.
      </p>
    </div>
    <div id="exporting">
      <div class="is-row is-items-middle">
        <div class="is-col is-60">
          <h3>Exporting reports and data</h3>
          <p>
            OmniWatch reports are rich in detail and easy to use. Once a report has been generated it has a handy PDF
            export
            function.
          </p>
          <p>
            However, sometimes there may be a requirement to export data into other applications. OmniWatch has export
            functions for
            other common data sharing applications such as CSV etc.
          </p>
        </div>
        <div class="is-col is-40">
          <img alt="Adobe PDF report exporting" src="/images/icons/adobe-pdf.svg">
        </div>
      </div>
    </div>
  </div>
</section>
{% include omniwatch/key-components.html %}
{% include contact-us.html %}