---
layout: base
---

<div class="section">
	<div class="container">
		<h1>About Spook</h1>
		<p>The co-founding directors have history before Spook which has helped shape Spook's service to be a leading tool in the disaster recovery arena.</p>
		<p>In 1996 they worked together for a specialist disaster recovery company that provided solutions to the IBM mid-ranged market together with workplace recovery across the UK. One was responsible for the technical delivery of the business whilst the other was responsible for selling the various services the business offered. They soon became managers for the division and were responsible for the technical and sales teams.</p>
		<p>As the parent company diversified into providing a wider range of IT services, the business continuity division continued to grow. In the year 2000, just after the threat of the dreaded “Millennium Bug” the business continuity division was sold for £26.7 million.</p>
		<p>Spook Limited (Spook) was incorporated in 2003. Starting out with just a handful of leads and an idea, Spook focused on a pinch point in the market that the big business continuity players neglected, “disaster avoidance”; but targeted towards maximising the uptime of IT departments by alerting them to real-time changes in the critical operating environment of their data centres, computer rooms and IT areas.</p>
		<p>Spook’s customers understand the importance of business continuity and that’s as it should be. But by taking disaster avoidance equally seriously they take remedial action to events that may escalate into problems before needing to invoke the recovery procedures. In doing so, Spook’s clients maximise the uptime of their business by minimising any unplanned IT downtime.</p>
		<p>From day one Spook’s mantra has been “prevention is better than cure”. Spook knows from experience that the majority of disaster recovery invocations are based on environmental or power problems, from faulty air con units to water ingress and power outages; it’s as true today as it was back then all those years ago.</p>
		<p>From Spook’s beginnings back in 2003 of purely providing an environmental monitoring solution they have grown to deliver a market leading service spanning the monitoring of the environment, power, video and 3rd party equipment such as UPS systems, generators, AC Units, fire suppressant and more. Spook include disparate systems that are not network attached for a truly enterprise centric solution.</p>
	</div>
</section>
