<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DEX5M42NT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4DEX5M42NT');
  </script>
  {% include header.html %}
</head>

<body>
  <div id="top" class="is-navbar-container">
    <div class="container">
      <div class="is-navbar">
        <nav class="is-push-left">
          <img alt="Spook Limited" style="height: 80px;" src="/images/spook-limited.svg">
        </nav>
        <nav class="is-push-right">
          <ul class="navbar-links">
            <li><a class="navbar-link" href="/">Home</a></li>
            <li><a class="navbar-link" data-kube="dropdown" data-target="#monitoring-dropdown">Monitoring <span
                  class="caret is-down"></span></a></li>
            <li><a class="navbar-link" data-kube="dropdown" data-target="#solutions-dropdown">Solutions <span
                  class="caret is-down"></span></a></li>
            <li><a class="navbar-link" href="/customers">Customers</a></li>
            <li><a class="navbar-link" href="/news">News</a></li>
            <li><a class="navbar-link" href="/contact">Contact</a></li>
            <li class="is-hidden-mobile">|</li>
            <li><a href="https://omni.watch/login" class="button is-small">Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="monitoring-dropdown" class="dropdown is-hidden">
    <a href="/monitoring/environmental">Environmental</a>
    <a href="/monitoring/it">IT</a>
    <a href="/monitoring/industry">Industry</a>
    <a href="/monitoring/power">Power</a>
  </div>
  <div id="solutions-dropdown" class="dropdown is-hidden">
    <a href="/solutions">Overview</a>
    <a href="/solutions/cellular">Cellular</a>
    <a href="/solutions/wireless">Wireless</a>
    <a href="/solutions#technical">Technical documents</a>
  </div>
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script type="text/javascript"
    src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({ "notice_banner_type": "headline", "consent_type": "express", "palette": "light", "change_preferences_selector": "#changePreferences", "language": "en", "website_name": "Spook Limited", "cookies_policy_url": "https://spook.co.uk/cookie-policy/" });
    });
  </script>

  <!-- Tawk -->
  <script type="text/plain" cookie-consent="tracking">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/5cf8ed47267b2e57853122b1/default';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
      })();
  </script>
  <!-- end of Tawk -->
</body>

</html>