<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DEX5M42NT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4DEX5M42NT');
  </script>
  {% include header.html %}
</head>

<body>
  <div id="top">
    {% include navigation.html %}
  </div>
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script type="text/javascript"
    src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({ "notice_banner_type": "headline", "consent_type": "express", "palette": "light", "change_preferences_selector": "#changePreferences", "language": "en", "website_name": "Spook Limited", "cookies_policy_url": "https://spook.co.uk/cookie-policy/" });
    });
  </script>

  <!-- Tawk -->
  <script type="text/plain" cookie-consent="tracking">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/5cf8ed47267b2e57853122b1/default';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
      })();
  </script>
  <!-- end of Tawk -->

  <!-- linkedin -->
  <script type="text/javascript">
    _linkedin_partner_id = "4279066";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4279066&fmt=gif" />
  </noscript>
  <!-- end of linkedin -->

  <!-- mouseflow -->
  <script type="text/javascript">
      window._mfq = window._mfq || [];
  (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.defer = true;
        mf.src = "//cdn.mouseflow.com/projects/b7f1c23c-4fd6-4970-89ec-f50ec1ec2759.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
  </script>
  <!-- end of mouseflow -->
</body>

</html>
