---
layout: base
---
<section>
  <div class="container">
    <h1 class="title">Contact us</h1>
    <p class="is-large">Please fill in the form below with as much information as possible to ensure it is passed onto the correct member of Spook.</p>
    <div class="is-row is-inset-top-40">
      <div class="is-col is-80">
        <form action="https://formspree.io/f/mnqovnol" method="POST" class="form">
          <div class="is-row">
            <div class="is-col">
              <div class="form-item">
                <label><strong>Name <span class="is-req">*</span></strong></label>
                <input type="text" name="name">
              </div>
            </div>
            <div class="is-col">
              <div class="form-item">
                <label><strong>Phone number <span class="is-req">*</span></strong></label>
                <input type="text" name="phone">
              </div>
            </div>
          </div>
          <div class="is-row">
            <div class="is-col">
              <div class="form-item">
                <label><strong>Email <span class="is-req">*</span></strong></label>
                <input type="email" name="email">
              </div>
            </div>
          </div>
          <div class="form-item">
            <label><strong>Message <span class="is-req">*</span></strong></label>
            <textarea rows="8" name="message"></textarea>
          </div>
          <button class="button is-secondary is-100 is-big">Send</button>
        </form>
      </div>
      <div class="is-col is-20 is-text-right">
        <ul class="is-unstyled">
          <li><strong>Telephone</strong></li>
          <li><a href="tel:01737906111">+44 (0)1737 906 111</a></li>
        </ul>
        <ul class="is-unstyled">
          <li><strong>Email</strong></li>
          <li><a href="mailto:enquiries@spook.co.uk">enquiries<span class="is-hidden">spam</span>@<span class="is-hidden">spam</span>spook.co.uk</a></li>
        </ul>
        <ul class="is-unstyled">
          <li><strong>Postal address</strong></li>
          <li>Spook Limited</li>
          <li>Castle Court</li>
          <li>41 London Road</li>
          <li>Reigate</li>
          <li>Surrey</li>
          <li>RH2 9RJ</li>
        </ul>
      </div>
    </div>
  </div>
</section>

