---
layout: base
---
<section>
    <div class="container">
        <h1>Demo request</h1>
        <form method="post" action="https://formspree.io/f/mnqovnol">
            <div class="is-row">
                <div class="form-item is-col">
                    <label>Name <span class="is-req">*</span></label>
                    <input type="text" name="name" class="w50">
                </div>

                <div class="form-item is-col">
                    <label>Company <span class="is-req">*</span></label>
                    <input type="text" name="company" class="w50">
                </div>

            </div>
            <div class="is-row">
                <div class="form-item is-col">
                    <label>Email <span class="is-req">*</span></label>
                    <input type="text" name="email" class="w50">
                </div>

                <div class="form-item is-col">
                    <label>Phone number <span class="is-req">*</span></label>
                    <input type="text" name="phone" class="w50">
                </div>
            </div>

            <div class="form-item">
                <label>Comments</label>
                <textarea rows="10" name="comments"></textarea>
            </div>

            <div class="form-item is-buttons">
                <button class="button">Submit</button>
            </div>

        </form>
    </div>
</section>
