---
layout: base
---
<header class="site-header"> 
	<div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col">
                <img src="/images/homepage/banner-globe.png">
            </div>
            <div class="is-col" style="z-index: 10;">
                <div class="is-stack-20">
                    <h5 style="text-transform: uppercase;">Introducing remote monitoring</h5>
                    <h1 style="margin-top: 16px; margin-bottom: 16px;"><span class="brand" style="padding:8px;">OmniWatch</span></h1>
                    <p class="is-large"><strong>Prevention is better than cure</strong> has been Spook’s mantra from day one. By giving organisations early warnings to harmful events that could impact the continued running of their business gives them valuable thinking and reaction time.</p>
                </div>
                <ul class="is-bar">
                    <li><a href="#" class="button">Book demo</a></li>
                    <li><a href="/contact/" class="button is-inverted">Contact us</a></li>
                </ul>
            </div>
        </div>
	</div>
</header>
<section>
	<div class="container">
		<div class="slider">
			<div class="slider-row"></div>
		</div>
	</div>
</section>
<section class="introduction-section">
    <img src="/images/homepage/omniwatch-screen.svg">
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col is-30">
                <p class="is-large">Spook is a specialist remote monitoring company whose flagship service OmniWatch is designed to monitor and alert users to unwanted changes.</p>
                <p class="is-large">OmniWatch is designed to be used immediately for a hassle free and non-disruptive remote monitoring solution.</p>
				<div style="width: 100%; height: 250px; background-image: url('/images/cir-award.svg'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
				<p class="is-text-center"><strong>Winner - 'Most Innovative Solution of the Year’</strong><br>CIR Business Continuity Awards</p>
            </div>
            <div class="is-col is-70">
            </div>
        </div>
    </div>
</section>
<section class="homepage-links"> 
    <div class="container">
        <div class="is-row is-stack-20">
            {% for item in site.data.homepage-links %}
            <div class="is-col homepage-link-item" style="background-image: url('{{ item.image }}');" onclick="location.href = '{{ item.link }}'">
                    <h3>{{ item.title }}<br>monitoring</h3>
                </div>
                {% if forloop.index == 2 %}
                    </div><div class="is-row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="is-stack-60">Customisable 24/7 monitoring and alerting</h2>
        <div class="is-row is-stack-60">
            <div class="is-col is-40">
                <img style="max-width: 300px; display: block; margin: 0 auto;" src="/images/icons/data-checks.svg">
            </div>
            <div class="is-col is-40">
                <h3>Out of line condition</h3>
                <p>The system is constantly checking all data against client dictated trip values. Be it too high a temperature reading, detecting a door has opened or even power loss to a location, OmniWatch checks all readings in real-time.</p>
            </div>
            <div class="is-col is-20"></div>
        </div>
        <div class="is-row is-stack-60">
            <div class="is-col is-40">
                <img style="max-width: 120px; display: block; margin: 0 auto;" src="/images/icons/alarms.svg">
            </div>
            <div class="is-col is-40">
                <h3>Generate an alert</h3>
                <p>If an out of line condition is discovered the system will generate an alert and log it on the system - gathering all related data to help you better understand what is happening.</p>
            </div>
            <div class="is-col is-20"></div>
        </div>
        <div class="is-row is-stack-60">
            <div class="is-col is-40">
                <img style="max-width: 300px; display: block; margin: 0 auto;" src="/images/icons/send-alert.svg">
            </div>
            <div class="is-col is-40">
                <h3>Alert staff members</h3>
                <p>Alerts are communicated to key memebers of staff via email, SMS and phone calls to ensure that everyone that needs to know is informed as quickly as possible.</p>
            </div>
            <div class="is-col is-20"></div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<div class="is-row">
			<div class="is-col is-60">
				<img src="/images/banner/communications-tower.jpeg">
			</div>
			<div class="is-col is-40">
				<h5>Technical</h5>
				<h2>Wired vs wireless monitoring</h2>
				<p>Wireless and wired monitoring both have their own benefits over the other. Knowing these benefits helps to make an informed decision when considering which is best for you.</p>
			</div>
		</div>
	</div>
</section>
<section style="background-color: #ddd;">
	<div class="container">
		<div class="is-row">
			{% for post in site.posts | limit: 3 %}
				<div class="is-col">
					<h5>News</h5>
					<div style="height: 200px; min-width: 100%; background-image: url('{{ post.image }}'); background-size: cover; background-position: center;"></div>
					<p>{{ post.date | date_to_string }}</p>
					<h2><a style="color: #333; text-decoration: none;" href="{{ post.permalink }}">{{ post.title }}</a></h2>
					<p>{{ post.page-description | truncate_words: 20 }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="brand">
	<div class="container is-text-center">
		<h2>Fully managed or co-managed</h2>
		<p>Spook customers range from businesses that have already installed environmental hardware and network devices to organisations that are considering monitoring for the first time.</p>
		<p>Either way Spook can help.</p>
		<p><a href="#" class="button">Get in touch</a></p>
	</div>
</section>
