---
layout: base
---
<header class="site-header"> 
	<div class="container">
		{% include header-sphere.html %}
        <div class="is-row is-items-middle">
            <div class="is-col">
            </div>
            <div class="is-col" style="z-index: 10;">
                <div class="is-stack-20">
                    <h5 style="text-transform: uppercase;">Secure remote cloud based monitoring</h5>
                    <h1 style="margin-top: 16px; margin-bottom: 16px;"><span class="brand" style="padding:8px;">OMNIWATCH</span></h1>
					<p><strong>Prevention is better than cure</strong> has been Spook's motto from day one. By installing sensors or monitoring existing equipment means any irregular changes can be alerted in real-time via email, 2-way SMS and UK call centre. Taking remedial action at the early stages of a problem lets organisations contain a situation and fix it before it causes service disruption.</p>
                </div>
                <ul class="is-bar">
                    <li><a href="#" class="button">Book demo</a></li>
                    <li><a href="/contact/" class="button is-inverted">Contact us</a></li>
                </ul>
            </div>
        </div>
	</div>
</header>
<section>
	<div class="container">
		<div class="slider">
			<div class="slider-row"></div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-text-center">
			{% for item in site.data.homepage-keypoints %}
			<div class="is-col">
				<img alt="{{ item.title }}" style="display: block; margin: 0 auto; max-height: 100px; padding-bottom: 20px;" src="{{ item.icon }}">
				<h3>{{ item.title }}</h3>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="introduction-section">
    <img alt="OmniWatch monitoring screenshot" style="z-index: 10;" src="/images/homepage/omniwatch-screen.svg">
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col is-30">
                <p>Spook has specialised in remote monitoring for nearly two decades. OmniWatch is designed to monitor and alert users to business threatening events 24/7.</p>
                <p>OmniWatch comes pre-configured for a hassle free, intuitive, immediate service. Try it for free, just contact us and we will do the rest.</p>
                <p><a href="/contact/" class="button is-secondary">Contact us</a></p>
				<div style="width: 100%; height: 250px; background-image: url('/images/cir-award.svg'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
				<p class="is-text-center"><strong>'Most Innovative Solution of the Year'<br>Winner</strong><br>CIR Business Continuity Awards</p>
            </div>
            <div class="is-col is-70">
            </div>
        </div>
    </div>
</section>
<section class="homepage-links"> 
    <div class="container">
        <div class="is-row is-stack-20">
            {% for item in site.data.homepage-links %}
            <div class="is-col homepage-link-item" style="background-image: url('{{ item.image }}'); z-index: 0;" onclick="location.href = '{{ item.link }}'">
                    <h3>{{ item.title }}<br>monitoring</h3>
                </div>
                {% if forloop.index == 2 %}
                    </div><div class="is-row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
		<nav class="tabs" data-kube="tabs" data-equal="true">
			<a href="#tab1" class="is-active">Dashboards</a>
			<a href="#tab2">Alerting</a>
			<a href="#tab3">Reports</a>
			<a href="#tab4">Audits</a>
			<a href="#tab5">Installation plans</a>
		</nav>

		<div id="tab1">
			<div class="is-row">
				<div class="is-col is-30">
					<h2>Real-time dashboards</h2>
					<p>Customers have access to an enterprise centric solution via any internet enabled device. Multiple customer end users have their own secure web portals in order to view sensor readings and much more.</p>
					<p><a href="/omniwatch/dashboard/" class="button is-secondary">More information</a></p>
				</div>
				<div class="is-col is-70">
					<img alt="OmniWatch dashboard" class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
				</div>
			</div>
		</div>
		<div id="tab2">
			<div class="is-row">
				<div class="is-col is-30">
					<h2>Customisable 24/7 monitoring and alerting</h2>
					<p>Spook's alarm escalation procedure is the most comprehensive in the industry. Alerts are sent in real-time via email and 2-way SMS.</p>
					<p><a href="/omniwatch/alerting" class="button is-secondary">Read more about alerts</a></p>
				</div>
				<div class="is-col is-70">
					<div class="is-80" style="float: right;">
						<img alt="OmniWatch sends alerts to contacts" style="max-width: 300px; display: block; margin: 0 auto;" src="/images/icons/send-alert.svg">
						<p>Alerts are communicated to key memebers of staff via email, SMS and phone calls to ensure that everyone that needs to know is informed as quickly as possible.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="tab3">
			<h2>Reports</h2>
			<p><a href="/omniwatch/reporting" class="button is-secondary">Read more</a></p>
		</div>
		<div id="tab4">
			<h2>Audits</h2>
			<p><a href="/omniwatch/change-logs" class="button is-secondary">Read more</a></p>
		</div>
		<div id="tab5">
            <div class="is-row">
                <div class="is-col is-30">
                    <h2>Installation plans</h2>
                    <p><a href="/omniwatch/installation-plans" class="button is-secondary">Read more</a></p>
                </div>
                <div class="is-col is-70">
                    <img alt="Installation floor plans" class="is-shadow-2" src="/images/homepage/installation-plans.svg">
                </div>
            </div>
		</div>
    </div>
</section>
<section>
	<div class="container">
		<img src="/images/homepage/cir-award-shortlist-2020.png">
	</div>
</section>
<section>
	<div class="container">
		<div class="is-row is-gapless">
			<div class="is-col is-60">
				<div style="background-image: url('/images/banner/communications-tower.jpeg'); min-height: 100%; min-width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
			</div>
			<div class="is-col is-40" style="background-color: #212121; color: #fff;">
				<div class="is-inset-20">
					<h5>Technical</h5>
					<h2>Wired vs wireless monitoring</h2>
					<p class="is-large">Wireless and wired monitoring both have their own benefits over the other.</p>
					<p class="is-large">Knowing these benefits helps to make an informed decision when considering which is best for you.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="grey">
	<div class="container">
		<div class="is-row">
			{% for post in site.posts | limit: 3 %}
				<div class="is-col">
                    <div class="is-border is-inset-20" style="min-height: 100%; background-color: #fff;">
                        <h5>News</h5>
                        <div style="height: 200px; min-width: 100%; background-image: url('{{ post.image }}'); background-size: cover; background-position: center; margin-bottom: 14px;"></div>
                        <p>{{ post.date | date_to_string }}</p>
                        <h2><a style="color: #000; text-decoration: none;" href="{{ post.permalink }}">{{ post.title }}</a></h2>
                        <p>{{ post.page-description | truncate_words: 20 }}</p>
                    </div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<section style="background-color: #212121; color: #fff;">
	<div class="container is-text-center">
		<h2>Fully managed or co-managed</h2>
		<p>Spook customers range from businesses that have already installed environmental hardware and network devices to organisations that are considering monitoring for the first time.</p>
		<p>Either way Spook can help.</p>
		<p><a href="#" class="button is-inverted">Get in touch</a></p>
	</div>
</section>
