---
layout: base
---
<header>
	<div class="container">
		<h1>Monitoring</h1>
	</div>
</header>
<section>
	<div class="container">
		<h2>Examples of what we can monitor</h2>
		<div class="is-row">
			{% for item in site.monitoring %}
				<div class="is-col is-33 is-stack-60">
					<a href="{{ item.permalink }}">
						<div style="width: 100%; height: 200px; background-color: #aaa; background-image: url('{{ item.header-image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
						<h3>{{ item.title }}</h3>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
