---
layout: base
---
<header>
  <div class="container">
    <div class="is-stack-20">
      <h3>New to Monitoring or do you want to add to your existing monitoring?</h3>
      <h1>Spook wireless sensor monitoring</h1>
      <p>Spook wireless sensors arrive pre-configured and have on-board on/off switches making installation extremely easy. Just switch on the sensor and access Spook's secure cloud based remote monitoring service, called OmniWatch, via any internet enabled device.</p>
      <p>With over 80 sensor types there is little Spook wireless sensors can not monitor. Here are some of the most popular ones.</p>
    </div>
    <p><a href="/demo/" class="button">Request demo</a> <a href="/contact/" class="button is-secondary is-inverted">Contact us</a> </p>
  </div>
</header>
<section>
  <div class="container">
    <div class="is-row">
      {% for item in site.monitoring %}
	{% if item.type == "sensor" %}
	<div class="is-col is-25 is-stack-60 is-border is-shadow-2 sensor-block">
	  <div class="is-inset-20" onclick="location.href = '{{ item.permalink }}'">
	    <div class="image-holder is-stack-20" style="background-image: url('{{ item.icon-image }}');"></div>
	    <p class="is-large">{{ item.title }}</p>
	  </div>
	</div>
	{% endif %}
      {% endfor %}
    </div>
  </div>
</section>
