---
layout: base
title: Dew point monitoring
page-description: Monitor the dew point in your rooms and stop potential damage to electrical equipment and the building.
---
<section style="background-image: url('/images/banner/wall-banner.jpg'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <h1>Dew point monitoring</h1>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
    <div class="container">
        <h2>The importance of dew point monitoring</h2>
        <p>In an unmonitored room containing several air conditioning (AC) units, it is possible to have half the room's
            cooling units adding humidity while the other half work to reduce it. This condition is known as demand
            contention and is one of the primary causes of excessive energy consumption in IT environments.</p>
        <p>By monitoring and controlling dew point and <a href="/monitoring/environmental/humidity">relative humidity
                (RH)</a> greatly reduces the frequency of demand contention. This is due to the fact that as air
            increases in temperature in an IT environment its dew point stays the same.</p>
        <p>Most air cooling units simply maintain humidity based on the actual amount of water required in each pound of
            air that passes through the unit. Elimination of demand contention can significantly increase the efficiency
            of the cooling system and save excessive usage of power and fluctuation.</p>
    </div>
</section>
<section id="dew-point-calculator">
    <div class="container">
        <h2 class="section-header">Dew point calculator</h2>
        <p>RH and air temperature are always related for any specific dew point temperature. If the RH and temperature
            are known a calculation can be made to present the dew point.</p>
        <p>To check your dew point if you know your humidity and temperature use Spook's free dew point calculator
            below.</p>
        <div class="is-row is-items-middle">
            <div class="is-col">
                <form>
                    <h3 class="section-subheader">Temperature</h3>
                    <p>Enter the temperature value (°C)</p>
                    <div class="is-prepend">
                        <span>°C</span>
                        <input id="temperature" name="temperature" class="form-control" value="25" />
                    </div>
                    <h3 class="section-subheader">Humidity</h3>
                    <p>Enter the relative humidity value (%)</p>
                    <div class="is-prepend">
                        <span>%</span>
                        <input id="humidity" name="humidity" class="form-control" value="25" />
                    </div>
                </form>
            </div>
            <div class="is-col">
                <div class="col-md-5 is-text-center">
                    <h3 class="section-subheader">Dew Point</h3>
                    <h3 id="dewpoint" style="font-size:2em; font-weight: 300;"></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
        <div class="is-col is-20">
          <img alt="Dew point monitoring" src="/images/sensor/dewpoint.svg">
        </div>
        <div class="is-col is-80">
          <h2>No existing monitoring?</h2>
          <p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p>
          <a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Reed" src="/images/customer-logo/reed.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We have installed Computer Room Air Conditioning units to ensure air cooling redundancy and to help compensate each other when a unit becomes stressed or less efficient. We found monitoring dew point to be a helpful measurement in order to reduce "demand contention". OmniWatch checks dew point as well as keeping an eye on temperature, this helps ensure our server room is energy efficient.</p>
          <p class="is-small">Reed - A UK specialist in IT and HR recruitment.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
        <div style="width: 100%; height: 100%; background-image: url('/images/monitoring/environmental/condensation-on-window.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
        <h2>Fun fact</h2>
        <h3>Observing dew point</h3>
        <p>Have you ever drank a glass of ice cold water on a warm day and noticed water droplets collect on the outside of the glass? or have you ever been traveling in a warm car on a very cold day and seen condensation on the inside of the windows or windshield? Then you have definitely observed dew point.</p>
        <h4>Dew point and meteorology</h4>
        <p>Dew point helps meteorologists predict the height of the base of certain types of clouds together with calculating the percentage chance of precipitation. Meteorologists study dew point when checking how moist the air is as relying purely on relative humidity can be misleading.</p>
        <p>Dew point can assist in forecasting overnight low temperatures too. In the majority of cases, the low temperature will not fall too far below the preceding evening's dew point. As temperatures fall towards the dew point, enough heat is released into the atmosphere to cause condensation.</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        calculateDewPoint();

        $('#temperature').keyup(function () {
            calculateDewPoint()
        });
        $('#humidity').keyup(function () {
            calculateDewPoint()
        });

        function calculateDewPoint() {
            var t = parseFloat($("#temperature").val());
            var rh = parseFloat($("#humidity").val());
            var a = 17.625;
            var b = 243.04;

            var dp = (b * (Math.log(rh / 100) + ((a * t) / (b + t)))) / (a - Math.log(rh / 100) - ((a * t) / (b + t)));

            $("#dewpoint").text(parseFloat(dp).toFixed(2) + '°C');
        }
    })
</script>
