---
layout: base
title: Dew point monitoring
page-description: Monitor the dew point in your rooms and stop potential damage to electrical equipment and the building.
---
<section style="background-image: url('/images/banner/dewpoint-chart.png'); background-size: contain; background-position: bottom; background-repeat: no-repeat;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <img style="width: 80px;" src="/images/sensor/icons/dewpoint.svg">
          <h1>Dew point monitoring</h1>
          <p class="is-big">The importance of dew point monitoring and the benefits it offers</p>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-border is-shadow-2" src="/images/monitoring/environmental/dewpoint-dashboard.png">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors dew point. Measuring dew point across many different assets and areas; OmniWatch presents realtime readings in an easy to use real-time digital dashboard.</p>
      </div>
      <div class="is-col">
        {% include awards.html %}
      </div>
    </div>
		<div class="is-row">
			<div class="is-col is-stack-40">
				<div class="card is-border is-shadow-2">
          <div class="card-img icon green" style="background-image: url('/images/sensor/icons/humidity.svg');"></div>
					<div class="card-content">
            <h4 class="section-header">What's the difference between relative humidity and dew point?</h4>
            <p>RH is a measurement of the amount of water vapour present in the air and is stated as a percentage of the amount needed to achieve saturation at the same temperature. Whereas, the dew point level is a calculation between temperature and humidity and is always expressed as a temperature value, most commonly °C.</p>
            <p>For organisations that require highly accurate dew point monitoring there are many precision dew point sensors available, contact us for more information.</p>
					</div>
				</div>
			</div>
			<div class="is-col is-stack-40">
				<div class="card is-border is-shadow-2">
					<div class="card-img icon blue" style="background-image: url('/images/sensor/icons/dewpoint.svg');"></div>
					<div class="card-content">
            <h4 class="section-header">What is dew point?</h4>
            <p>Dew point is the climate point at which the relative air humidity equals 100% and begins to condense. Dew point is presented in °C Td (dew point temperature).</p> 
            <p>Dew point temperature is a measurement of the water vapour content in a gas. If air is compressed or expanded, its dew point temperature changes.</p>
            <p>If air is compressed, it is able to absorb less water and the dew point rises until the air is saturated and begins to condense. In this example, the term pressure dew point measurement is also used to describe measurement of the dew point in gases above the ambient temperature.</p>
					</div>
				</div>
			</div>
    </div>
  </div>
</section>
<section id="dew-point-calculator">
  <div class="container">
    <div class="is-border is-shadow-2 is-inset-20">
      <h2 class="section-header">Dew point calculator</h2>
      <div class="is-row is-items-middle">
        <div class="is-col">
          <form>
            <h3 class="section-subheader">Temperature</h3>
            <p>Enter the temperature value (°C)</p>
            <div class="is-prepend is-stack-20">
              <span>°C</span>
              <input id="temperature" name="temperature" class="form-control" value="25" />
            </div>
            <h3 class="section-subheader">Humidity</h3>
            <p>Enter the relative humidity value (%)</p>
            <div class="is-prepend">
              <span>%</span>
              <input id="humidity" name="humidity" class="form-control" value="25" />
            </div>
          </form>
        </div>
        <div class="is-col">
          <div class="col-md-5 is-text-center">
            <h3 class="section-subheader">Dew Point</h3>
            <h3 id="dewpoint" style="font-size:2em; font-weight: 300;"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <figure class="is-text-center">
          <img class="is-stack-20" src="/images/monitoring/environmental/dewpoint-range.svg" style="min-width: 100%">
          <figcaption>
            How dew point feels at various dew point ranges (°C).
          </figcaption>
        </figure>
      </div>
      <div class="is-col">
        <h3 class="section-header">Why is dew point measured?</h3>
        <p>There can be many reasons for monitoring dew point. A good example is compressed air systems with an excessively high dew point can condense, thereby causing valves to become blocked or corroded.</p>
        <p>In addition to this, dry compressed air systems require less maintenance, which saves labour time and costs.</p>
        <p>Furthermore, there are sensitive processes in specific industries such as the drying of injection moulding granulate and the compressed air for spray painting systems, which place particularly high demands on measuring dew point.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <img src="/images/monitoring/environmental/demand-contention.svg">
      </div>
      <div class="is-col">
        <h3 class="section-header">The importance of dew point monitoring for cooling systems</h3>
        <p>In an unmonitored room containing several air conditioning (AC) units, it is possible to have half the room's cooling units adding humidity while the other half work to reduce it. This condition is known as "demand contention" and is one of the primary causes of excessive energy consumption in IT environments.</p>
        <p>By monitoring and controlling dew point and <a href="/monitoring/environmental/humidity">relative humidity (RH)</a> greatly reduces the frequency of demand contention. This is due to the fact that as air increases in temperature in an IT environment its dew point stays the same.</p>
        <p>Most air cooling units simply maintain humidity levels based on the actual amount of water required in each pound of air that passes through the unit.</p>
        <p>Elimination or reduction of demand contention can significantly increase the efficiency of the cooling system and save excessive usage of power.</p>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Reed" src="/images/customer-logo/reed.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We have installed Computer Room Air Conditioning units to ensure air cooling redundancy and to help compensate each other when a unit becomes stressed or less efficient. We found monitoring dew point to be a helpful measurement in order to reduce "demand contention". OmniWatch checks dew point as well as keeping an eye on temperature, this helps ensure our server room is energy efficient.</p>
          <p class="is-small">Reed - A UK specialist in IT and HR recruitment.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
        <div style="width: 100%; height: 100%; background-image: url('/images/monitoring/environmental/condensation-on-window.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
        <h2>Fun fact</h2>
        <h3>Observing dew point</h3>
        <p>Have you ever drank a glass of ice cold water on a warm day and noticed water droplets collect on the outside of the glass? or have you ever been traveling in a warm car on a very cold day and seen condensation on the inside of the windows or windshield? Then you have definitely observed dew point.</p>
        <h4>Dew point and meteorology</h4>
        <p>Dew point helps meteorologists predict the height of the base of certain types of clouds together with calculating the percentage chance of precipitation. Meteorologists study dew point when checking how moist the air is as relying purely on relative humidity can be misleading.</p>
        <p>Dew point can assist in forecasting overnight low temperatures too. In the majority of cases, the low temperature will not fall too far below the preceding evening's dew point. As temperatures fall towards the dew point, enough heat is released into the atmosphere to cause condensation.</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
<script src="/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        calculateDewPoint();

        $('#temperature').keyup(function () {
            calculateDewPoint()
        });
        $('#humidity').keyup(function () {
            calculateDewPoint()
        });

        function calculateDewPoint() {
            var t = parseFloat($("#temperature").val());
            var rh = parseFloat($("#humidity").val());
            var a = 17.625;
            var b = 243.04;

            var dp = (b * (Math.log(rh / 100) + ((a * t) / (b + t)))) / (a - Math.log(rh / 100) - ((a * t) / (b + t)));

            $("#dewpoint").text(parseFloat(dp).toFixed(2) + '°C');
        }
    })
</script>
