---
layout: base
title: Humidity monitoring
page-description: Ensure that electrical equipment and vunerable items are protected from humidity with real-time monitoring and alerting.
---
<section style="background-image: url('/images/banner/humidity-chart.png'); background-size: contain; background-position: bottom; background-repeat: no-repeat;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <img style="width: 80px;" src="/images/sensor/icons/humidity.svg">
          <h1>Humidity monitoring (RH)</h1>
          <p class="is-big">The importance of humidity monitoring and the benefits it offers</p>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-border is-shadow-2" src="/images/monitoring/environmental/humidity-dashboard.png">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
   <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors Humidity. Measuring humidity across many different assets and areas; OmniWatch presents realtime readings in an easy to use real-time digital dashboard.</p>
        <p class="is-big">Irregular RH levels can cause harm to a wide range of electrical equipment, ruin produce, encourage pathogen growth or even indicate unseen issues elsewhere.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-stack-20">
      <h4 class="section-header">What is relative humidity?</h4>
      <p>RH is a measurement of the amount of water vapour present in the air and is stated as a percentage of the amount needed to achieve saturation at the same temperature.</p>
      <p>The aim of humidity monitoring is to ensure the safety of the local environment and allow a quick and correct response to the shifting humidity factors in the surrounding area.</p> 
      <p>Being able to react correctly and quickly can not only save products from unnecessary damage and create a safe environment for people but it could also be used as a cost saving initiative when it comes to the demands of power consumption on air conditioning units.</p>
    </div>
    <div class="is-row is-stack-20">
      {% for benefit in site.data.environmental.humidity.key-points %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img {{ benefit.color }} icon" style="background-image: url('{{ benefit.icon }}');"></div>
            <div class="card-content">
              <h3>{{ benefit.name }}</h3>
              {% for paragraph in benefit.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
    <div class="is-stack-20">
      <div class="is-row is-items-middle">
        <div class="is-col is-30">
          <img src="/images/monitoring/environmental/goldilocks-humidity.png">
        </div>
        <div class="is-col is-70">
          <h4 class="section-header">Goldilocks zone for electrical equipment</h4>
          <p>The typical desired range for humidity in an electronics environment is between RH 30% and RH 70%. Some facilities try to maintain a constant moderate RH level of ~50%, while others may want a lower RH% rate due to humidity sensitive parts.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Bedford Borough Council" src="/images/customer-logo/bedford-borough-council.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>Our Computer Room Air Conditioning (CRAC) units have automatic de-humidification functions. When the humidity becomes too high or too low our CRAC units compensate their settings to adjust the humidity automatically. OmniWatch helps us to ensure humidity levels remain within their expected levels.</p>
          <p class="is-small">Bedford Borough Council - Unitary authority of the borough of Bedford.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <h2>Fun fact</h2>
    <h3>Tonal language and humidity</h3>
    <p>A humans vocal cords contain a pair of mucus membranes that stretch across the larynx. As we speak air is controlled from our lungs and cause the larynx to vibrate. The level of moisture in the air effects the elasticity of our vocal cords and hence have a direct effect on our tonal range.</p>
    <p>Recent scientific research has proven that the environment has a direct impact on speech. After studying more than 3,700 languages it was discovered that tonal languages found commonly in Asia rarely develop in dry climates.</p>
    <div class="is-row">
      <div class="is-col">
        <div style="min-height: 100%; background-image: url('/images/monitoring/environmental/hawk-moth.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col">
        <h3>Humidity helps bug diversity</h3>
        <p>Because most bugs are small, humidity increases the opportunity for them to survive. The smaller the bug the more likely it is to dehydrate because it has a larger surface area relative to their whole body size.</p>
        <p>Humid nights are especially helpful to moths who make the most of moist climates. A world leading Professor of Entomology at the University of Arizona, Goggy Davidowitz, determined that hawk-moths (Manduca Sexta) can detect a four percent difference in humidity by sensing changes in the evaporation of flower nectar.</p>
        <p>The warm, moist atmosphere of a humid environment helps hawk- moths to identify which flowers are higher in nectar than others and as a consequence helps them to conserve energy whilst foraging.</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
