---
layout: base
title: Light monitoring
page-description: Monitor and keep an eye on light levels in important rooms. Stop potential damage to vunerable items.
---
<section style="background-image: url('/images/banner/light-chart.png'); background-size: contain; background-position: bottom; background-repeat: no-repeat;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <img style="width: 80px;" src="/images/sensor/icons/light.svg">
          <h1>Light monitoring</h1>
          <p class="is-big">The importance of monitoring light levels and the benefits it offers</p>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-border is-shadow-2" src="/images/monitoring/environmental/light-dashboard.png">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors light levels. Measuring light levels across many different assets and areas; OmniWatch presents realtime readings in an easy to use real-time digital dashboard.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-stack-20">
      <h3 class="section-header">Light monitoring for offices</h3>
      <p>The light level in a work environment can impact on an employees performance in a number of different ways from effects that damage their health to ways that reduce the individual's ability to perform a simple task.</p>
      <p>According to the HSE (Health and Safety Executive) different levels of lighting are required for different types of work.</p>
      <p>Close, accurate work such as soldering a control panel will require higher light levels than walking down a corridor.</p>
      <p>However, when considering lighting, a number of different factors need to be contemplated such as colour, contrast, glare and so on.</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      {% for benefit in site.data.environmental.light.benefits %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img {{ benefit.color }} icon" style="background-image: url('{{ benefit.icon }}');"></div>
            <div class="card-content">
              <h3>{{ benefit.name }}</h3>
              {% for paragraph in benefit.words %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="Munster Technological University" src="/images/customer-logo/munster-technologyical-university.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We monitor light levels as a byproduct of measuring CO<sub>2</sub> levels within our study areas. The air quality sensors we use are intelligent and multifunctional and also monitor activity, temperature and humidity. This lets us track trends of when rooms are occupied or vacant. We rely on monitoring light levels for security reasons and to help conserve energy in areas that have excessive lighting that are energy hungry. Measuring light levels in conjunction with activity is especially helpful when the University campuses are unoccupied and for long periods of inactivity over term time holiday periods.</p>
          <p class="is-small">Munster Technological University, a multi-campus technological university with six campuses across the South-West region of Ireland in Cork and Kerry.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
        <div style="width: 100%; height: 100%; background-image: url('/images/monitoring/environmental/hanging-light.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
        <h2>Fun fact</h2>
        <h3>The difference between lux and lumens</h3>
        <p>Lux is a measure of illuminance (the total amount of light that falls on a surface) whereas Lumens is a measure of luminous flux (a measure of the total amount of visible light emitted from a single source for example, a lamp).</p>
        <p>The SI unit of illuminance is the lux (lx). It is equal to one lumen per square meter.</p>
        <p><code>1 lx = 1 lm/m2 = 1 cd · sr/m2</code></p>
        <p>The SI unit of luminous flux is the lumen (lm). The lumen is defined in relation to the candela which is the unit of luminous intensity.</p>
        <p><code>1 lm = 1 cd ⋅ sr</code></p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
