---
layout: base
title: Light monitoring
page-description: Monitor and keep an eye on light levels in important rooms. Stop potential damage to vunerable items.
---
<section style="background-image: url('/images/banner/wall-banner.jpg'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <h1>Light monitoring</h1>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <h4 class="section-header">The importance of light monitoring and the benefits it offers</h4>
        <p class="is-big">One of the key aspects of environmental monitoring and management is the control of light exposure and ultraviolet radiation. Correct monitoring can have many benefits for the museum and conservation sectors</p>
        <p class="is-big">When measuring light it is common to express the concentration in Lux which is 1 Lumen per square meter (m<sup>2</sup>) and ultraviolet radiation is measured in microwatts per Lumen (μW/Lm).</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-row">
      {% for benefit in site.data.environmental.light.benefits %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-content">
              <h3>{{ benefit.name }}</h3>
              {% for paragraph in benefit.description %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
        <div class="is-col is-20">
          <img alt="Light monitoring" src="/images/sensor/light.svg">
        </div>
        <div class="is-col is-80">
          <h2>No existing monitoring?</h2>
          <p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p>
          <a class="button" href="/contact">Get in touch <span class="caret is-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
	<div class="container">
    {% include omniwatch/key-points.html %}
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
        <div style="width: 100%; height: 100%; background-image: url('/images/monitoring/environmental/hanging-light.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
        <h2>Fun fact</h2>
        <h3>The difference between lux and lumens</h3>
        <p>Lux is a measure of illuminance (the total amount of light that falls on a surface) whereas Lumens is a measure of luminous flux (a measure of the total amount of visible light emitted from a single source for example, a lamp).</p>
        <p>The SI unit of illuminance is the lux (lx). It is equal to one lumen per square meter.</p>
        <p><code>1 lx = 1 lm/m2 = 1 cd · sr/m2</code></p>
        <p>The SI unit of luminous flux is the lumen (lm). The lumen is defined in relation to the candela which is the unit of luminous intensity.</p>
        <p><code>1 lm = 1 cd ⋅ sr</code></p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
