---
layout: base
title: Water ingress monitoring
page-description: Real-time monitoring and alerting solution for water ingress. Keep an eye on areas that you do not wish for water to be and be told when there's an issue.
---
<section style="background-image: url('/images/banner/water-chart.png'); background-size: contain; background-position: bottom; background-repeat: no-repeat;">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-50">
        <div class="is-stack-40">
          <img style="width: 80px;" src="/images/sensor/icons/water.svg">
          <h1>Water ingress monitoring</h1>
          <p class="is-big">The importance of water ingress monitoring and the benefits it offers</p>
        </div>
        <p><a href="/contact" class="button">Get in touch <span class="caret is-right"></span></a></p>
      </div>
      <div class="is-col is-50">
        <img alt="OmniWatch dashboard" class="is-border is-shadow-2" src="/images/monitoring/environmental/water-dashboard.png">
      </div>
    </div>
  </div>
</section>
<div class="is-inset-y-20 black">
  <div class="container">
    <div class="is-container is-items-middle">
      <div class="announcement-block is-50 white-text">
        <p><b>News:</b> New indoor air quality monitoring to limit the spread of Covid-19 and other aerosol related infections.</p>
      </div>
      <div class="is-push-right"><a class="button" href="/monitoring/air-quality-and-co2">Learn more <span class="caret is-right"></span></a></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="is-row is-items-middle is-stack-40">
      <div class="is-col is-50">
        <p class="section-subheader">Monitoring specialists</p>
        <p class="is-big">Spook's award winning remote monitoring service called OmniWatch monitors water ingress. Measuring the presence of water across many different assets and areas; OmniWatch presents realtime readings in an easy to use real-time digital dashboard.</p>
      </div>
      <div class="is-col is-50">
        {% include awards.html %}
      </div>
    </div>
    <div class="is-stack-40">
      <h3 class="section-header">The importance of water ingress monitoring</h3>
      <p>Often a water problem can be festering for some time unbeknown to employees, for example underneath a raised floor or above a false ceiling. </p>
      <p>Early detection gives valuable advanced warning of a water related event that, if went unnoticed, could cause considerable disruption. </p>
      <p>From a point of view of remedying the situation, this usually is a time consuming process to dry out an areas water damaged area and ensure health and safety guidelines are met during the process.</p>
      <p>Pipes can burst and air conditioning units and cooling systems can leak from a failed condensation pump, broken supply lines or clogged drains. Sprinkler systems can malfunction too.</p>
    </div>
    <div class="is-stack-40 is-text-center">
      <h2>Common areas for water ingress monitoring</h2>
    </div>
    <div class="is-row">
      {% for item in site.data.environmental.water.common-areas %}
        <div class="is-col is-50 is-stack-40">
          <div class="card is-border is-shadow-2">
            <div class="card-img {{ item.color }} icon" style="background-image: url('{{ item.icon }}');"></div>
            <div class="card-content">
              <h3>{{ item.name }}</h3>
              {% for paragraph in item.words %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %} 
    </div>
  </div>
</section>
<section class="grey">
  <div class="container is-text-center">
    <div class="is-row is-items-middle">
      <div class="is-col is-inset-20">
        <h4>Example manufacturers</h4>
        <div class="is-row is-text-center">
          {% for logo in site.data.environmental.water.manufacturers %}
            <div class="is-col is-50">
              <img alt="{{ logo.name }}" src="{{ logo.image }}">
            </div>
          {% endfor %}
          <div class="is-col is-50">
            <div class="is-inset-y-80">
              <p>And more.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="is-col">
        <h3 class="section-header">Water sensors</h3>
        <p>There are many different types of water sensor, each designed to detect for wetness in specific areas, example of this are third party water detection panels, water ropes, water point detectors, water pads and water level probes.</p>
        <p>Proper placement of water sensors is key. Water tends to puddle at the lowest point of the floor and underneath pipe junctions and air conditioning units.</p>
        <p>Should a water sensor be placed too high it won't trigger an alarm until after a serious flood has occurred.</p>
      </div>
      <div class="is-col is-inset-20">
        <h4>Example protocols</h4>
        <div class="is-row is-text-center">
          {% for logo in site.data.environmental.water.protocols %}
            <div class="is-col is-50">
              <img alt="{{ logo.name }}" src="{{ logo.image }}">
            </div>
          {% endfor %}
          <div class="is-col is-50">
            <div class="is-inset-y-80">
              <p>And more.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container"><hr></div>
<section>
  <div class="container">
    {% include omniwatch/key-points.html %}
    <div class="is-row is-items-middle">
      <div class="is-col is-30">
        <img alt="East Riding of Yorkshire Council" src="/images/customer-logo/waterstones.svg">
      </div>
      <div class="is-col is-70">
        <blockquote>
          <p>We have a server room in the basement of our showcase store in London. We had a water detection service installed but this failed when we had a deluge of water enter the room from a duct we thought was water tight. We decided to extend our existing server room climate monitoring service with Spook to include independent Spook wireless water ropes and to decommission the 3rd party service that failed. Since then, a few water based alerts have been picked up in their early stages thanks to Spook.</p>
          <p class="is-small">Waterstones, the UK's only national bookshop chain.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row">
      <div class="is-col" style="background-image: url('/images/monitoring/environmental/stephen-gray.png'); background-size: cover;">
      </div>
      <div class="is-col">
        <h2>Fun fact</h2>
        <h3>Introduction</h3>
        <p>Pure water does not conduct electricity because because of its lack of free electrons and therefore it does not contain ions (Ions are formed when atoms lose or gain electrons). For water conductivity to be viable the water needs to contain ions.</p>
        <h3>Stephen Gray</h3>
        <p>Stephen Gray an English astronomer and dyer studied electrical conduction and was the first person to discover that electricity can flow through wires. Up until his work, published in 1729, all other studies into electricity focussed on the generation of static electrical charges. Thanks to his contribution the study of how water conducts electricity could be made. However, it's taken nearly two hundred years for scientists to witness exactly how this happens.</p>
        <p>As impure water has positive and negative ions contained within it in, positive ions are attracted to a negative pole and vice versa. As the ions are attracted to each pole a short circuit is induced and this is a fundamental process for developing water detection sensors.</p>
        <p>Stephen Gray received the first 'Copley Medal' instituted by the Royal Society, in 1731. However most of his works went unacknowledged and he died as a pauper.</p>
        <h3>Copley Medal</h3>
        <p>The Copley Medal was created following a donation of £100 to be used for carrying out experiments by Sir David copley and has been awarded most years since Stephen Grays first win; he in-fact won it again in 1732.</p>
        <p>Other notable winners the Copley Medal were: Benjamin Franklin (1753), James Cook (1776), William Herschel (1761), Michael Faraday (1832 & 1838), John Herschel (1847), Charles Darwin (1864), Albert Einstein (1925), Francis Crick (1975), John Maynard Smith (1999), Stephen Hawking (2006) and Peter Higgs (2015).</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
<section>
  <div class="container">
    {% include two-types-of-customers.html %}
  </div>
</section>
{% include used-by.html %}
{% include contact-us.html %}
