---
layout: base
---

<header style="background-image: linear-gradient( hsla(0, 0%, 7%, 0.4), hsla(0, 0%, 7%, 0.4) ), url('{{ page.image }}');{% if page.color %}color: #{{ page.color }};{% endif %}; background-position: bottom;">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<h3>Real-time alarms</h3>
	</div>
</header>
<section>
	<div class="container">
		<h2>Introduction</h2>
	</div>
</section>
<section>
	<div>
		<div>
			<p>Spook's alarm escalation procedure is the most comprehensive in the industry. Alerts are sent in real-time via email and 2-way SMS.</p>
			<p>The emergency alarm procedure is fully customisable and can be:</p>
		</div>
		<div class="is-row">
			<div class="is-col is-33">
				<ul class="is-unstyled tabbed-links-vertical" data-kube="tabs" data-equal="true">
					<li><a href="#tab1" class="is-active">Regionalised</a></li>
					<li><a href="#tab2">Departmentalised</a></li>
					<li><a href="#tab3">Dynamic rota</a></li>
					<li><a href="#tab4">24/7 monitoring</a></li>
				</ul>
			</div>
			<div class="is-col is-66">
				<div id="tab1">
					<h3>Regionalised</h3>
					<p>Alarms from a specific location can be directed to regional staff.</p>
					<p>Whereas the global IT team may want to be involved or simply have access to all alerts to ensure staff are responding appropriately.</p>
				</div>
				<div id="tab2">
					<h3>Departmentalised</h3>
					<p>Alarms can be distributed to specific departments.</p>
					<p>For example, high temperature alerts may need to be handled by the IT team whereas water alerts may need to be sent to the facilities department.</p>
				</div>
				<div id="tab3">
					<h3>Dynamic on-call rota</h3>
					<p>All alerts can be designed to vary how emergency client personnel are contacted throughout the day (e.g. specific staff in office hours and separate emergency personnel for all other times).</p>
					<p>On-call staff members can also be managed easily by making changes to individual team members availability by a simple one click function clearly marking their record as available or not.</p>
				</div>
				<div id="tab4">
					<h3>24/7 call centre escalation</h3>
					<p>If there is no confirmation of receipt for the alarm(s) they are further escalated to Spook's UK based 24/7 call centre.</p>
					<p>An agent is tasked with calling emergency staff on alternative mobile phones and/or landlines to ensure they are aware of the alert.</p>
				</div>
			</div>
		</div>
	</div>
</section>
