---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Airflow monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of airflow monitoring</h2>
    <p>Airflow monitoring and management has two main benefits; early warning of mechanical issues and cost reduction through accurate distribution.</p>
    <p>Airflow management is a crucial tool because it can remove the chance of excess static electricity and dust building up that can cause damage to equipment. The sooner ventilation failures are detected, the faster preventative and remedial measures can be managed.</p>
  </div>
</section>
<section>
  <div class="container">
    <p>There are many reasons airflow may become less efficient however the most common reasons are associated with:
    <ul>
      <li>Missed filter changes</li>
      <li>Motors of HVAC (Heating Ventilation and Air Conditioning) becoming less efficient or failing</li>
      <li>Fans become unbalanced and out of sequence</li>
      <li>Obstructions being placed in air flow channels</li>
    </ul>
    <p>Larger rooms often require additional sensor information to determine potential problems with cooling efficiency. It's therefore very important to measure the rate of airflow throughout to gauge the overall health of the environment.</p>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/airflow.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring?</h2>
	  <p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/airflow">Wireless airflow monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <img src="/images/monitoring/environmental/cat-whiskers.png">
    <h3>Cat whiskers use airflow</h3>
    <p>It's hard to believe a cat uses whiskers to measure airflow but it's true. The official name for cats whiskers is vibrissae, which comes from Latin <i>vibrio</i> and means "to vibrate".</p>
    <p>Cats whiskers are not limited to just around their nose, they're also above their ears, eyes, jaw and forelegs. The whiskers on their forelegs are called carpal whiskers and they help to determine movement of prey. However, cats have an even number of whiskers on their muzzle, each having twelve whiskers on each side which are completely symmetrical. The symmetrical pattern means they can accurately measure the environment.</p>
    <p>A cats whisker has hair follicles with hundreds of nerves and the tip of the whisker has a proprioceptor; which is a separate sensory organ. Together, this makes whiskers highly sensitive to airflow and changes in their environment.</p>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
