---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Airflow monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of airflow monitoring</h2>
    <p>Airflow monitoring and management has two main benefits; early warning of mechanical issues and cost reduction through accurate distribution.</p>
    <p>Airflow management is a crucial tool because it can remove the chance of excess static electricity and dust building up that can cause damage to equipment, . The sooner ventilation failures are detected, the faster preventative and remedial measures can be managed.
  </div>
</section>
<section>
  <div class="container">
    <p>There are many reasons airflow may become less efficient however the most common reasons are associated with:
    <ul>
      <li>Missed filter changes</li>
      <li>Motors of HVAC (Heating Ventilation and Air Conditioning) becoming less efficient or failing</li>
      <li>Fans become unbalanced and out of sequence</li>
      <li>Obstructions being placed in air flow channels</li>
    </ul>
    <p>Larger rooms often require additional sensor information to determine potential problems with cooling efficiency. It's therefore very important to measure the rate of airflow throughout to gauge the overall health of the environment.</p>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
