---
layout: base
---
<header>
	<div class="container">
		<div class="is-50">
			<h3>24/7 real-time monitoring and alerting</h3>
			<h1>OmniWatch's alerting service constantly monitors your installation</h1>
			<p class="is-large">Spook's alarm escalation procedure is the most comprehensive in the industry. Alerts are sent in real-time via email and 2-way SMS.</p>
			<p><a class="button is-secondary is-inverted" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
		</div>
	</div>
</header>
<section>
    <div class="container">
		<h2>Alarm condition</h2>
		<p>OmniWatch is constantly checking all sensor readings against client defined sensor levels. Once a sensor reading has exceeded or is less than the required level a real-time alarm is invoked.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Alarm audit</h2>
		<p>Alarms are tracked to ensure it is safely received by the client. Once staff have acknowledged the alarm it is stored in an alarm log for future reference. This is perfect for incident management reviews and audits. Understanding a sensors trends during alarm activity is hugely helpful in providing evidence led data for any future proofing, load balancing and planned preventative maintenance programmes.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Three tier alarm escalation</h2>
		<p>OmniWatch's alarm escalation procedure is the probably the most advanced in the industry.  All alerts are emailed and critical alerts are also sent via 2-way SMS and escalated to Spook's UK call-centre. This is perfect for when mobile phones are out of signal, lost or simply turned to silent.</p>
		<p>OmniWatch also provides a central calendaring system for on-call emergency staff. Client personnel can set the days and times they are to be contacted for alarms together with any out-of-office hour emergency contact procedures. They can simply deactivate their records for times when they do not want to receive alerts such as holiday periods.</p>
    </div>
</section>
