---
layout: base
---
<header>
	<div class="container">
		<div class="is-50">
			<h3>24/7 real-time monitoring and alerting</h3>
			<h1>OmniWatch's alerting service constantly monitors your installation</h1>
			<p class="is-large">Spook's alarm escalation procedure is the most comprehensive in the industry. Alerts are sent in real-time via email and 2-way SMS.</p>
			<p><a class="button is-secondary is-inverted" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
		</div>
	</div>
</header>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h2>Simply but powerful alerting</h2>
            </div>
            <div class="is-col">
                <p>Discover an alarm</p>
            </div>
            <div class="is-col">
                <p>Generate alarm</p>
            </div>
            <div class="is-col">
                <p>Alert someone</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container is-text-center">
        <h3 class="is-stack-60">Be quickly informed with all the information you need to tackle issues before they become a problem.</h3>
        <img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h3>Customisable contacts</h3>
                <p>Something about rota and contact details</p>
            </div>
            <div class="is-col">
                <img src="/images/omniwatch/contact-view.svg">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <img src="/images/omniwatch/filter-contacts.svg">
            </div>
            <div class="is-col">
                <h3>Filter alerts based on location, department or type</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <h3>Ensure the critical alerts get through with OmniWatch's escalation feature</h3>
                <blockquote class="is-small">
                    <p>Spook provides peace of mind in that we can monitor all aspects of our server room in real time and review trends to identify areas that we can proactively address. We can rely on OmniWatch to immediately make us aware of any issues 24/7.</p>
                    <p><small>P&O Ferrymasters</small></p>
                </blockquote>
            </div>
            <div class="is-col">
                <div style="width: 300px; height: 300px; border-radius: 100%; background-color: #121212; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
</section>
<!--
<section>
    <div class="container">
		<h2>Alarm condition</h2>
		<p>OmniWatch is constantly checking all sensor readings against client defined sensor levels. Once a sensor reading has exceeded or is less than the required level a real-time alarm is invoked.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Alarm audit</h2>
		<p>Alarms are tracked to ensure it is safely received by the client. Once staff have acknowledged the alarm it is stored in an alarm log for future reference. This is perfect for incident management reviews and audits. Understanding a sensors trends during alarm activity is hugely helpful in providing evidence led data for any future proofing, load balancing and planned preventative maintenance programmes.</p>
	</div>
</section>
<section>
	<div class="container">
		<h2>Three tier alarm escalation</h2>
		<p>OmniWatch's alarm escalation procedure is the probably the most advanced in the industry.  All alerts are emailed and critical alerts are also sent via 2-way SMS and escalated to Spook's UK call-centre. This is perfect for when mobile phones are out of signal, lost or simply turned to silent.</p>
		<p>OmniWatch also provides a central calendaring system for on-call emergency staff. Client personnel can set the days and times they are to be contacted for alarms together with any out-of-office hour emergency contact procedures. They can simply deactivate their records for times when they do not want to receive alerts such as holiday periods.</p>
    </div>
</section>
-->
