---
layout: omniwatch/base
---
<style>
.alerting-img{
  height: 120px;
  display: block;
  margin: 0 auto;
}
span.bullet{
  display: inline-block;
  background-color: #212121;
  color: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}
</style>
<header>
  <div class="container">
    <div class="is-50">
      <h3>24/7 real-time monitoring and alerting</h3>
      <h1>OmniWatch's alerting service constantly monitors your installation</h1>
      <p class="is-large">Spook's alarm escalation procedure is comprehensive; alerts are sent in real-time via email and 2-way SMS as well as escalating to Spook's UK call centre.</p>
      <p><a class="button is-secondary is-inverted" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
    </div>
  </div>
</header>
<section>
  <div class="container is-text-center">
    <h2>Swift notification with all the information you need to tackle issues before they become a problem.</h2>
    <img alt="Alert overview" class="is-shadow-2" src="/images/omniwatch/alert-view.svg">
  </div>
</section>
<section id="sending-alerts">
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col">
                <div class="is-row is-items-middle is-stack-40">
                    <div class="is-col is-30">
                        <img alt="Email alerts" style="max-height: 60px;" src="/images/icons/email-icon.svg">
                    </div>
                    <div class="is-col is-70">
                        <h4>Stage 1 - Email alerts</h4>
			<p>Email alerts are the first level of communication within OmniWatch. Emails are broadcast the moment an alert condition is discovered and logged.</p>
			<p>Emails contain all the information you need to know regarding what has caused the alarm and includes any linked documents such as floor-plans and trend data.</p>
                    </div>
                </div>
                <div class="is-row is-items-middle is-stack-40">
                    <div class="is-col is-30">
                        <img alt="SMS alerts" style="max-height: 60px;" src="/images/icons/sms-icon.svg">
                    </div>
                    <div class="is-col is-70">
                        <h4>Stage 2 - SMS alerts</h4>
			<p>SMS messages are sent 10 minutes later if no-one has acknowledged the Stage 1 email. The text contains a brief overview of the issue.</p>
			<p>Users can confirm receipt of the alarm by replying to the SMS, this ceases the alarm escalation procedure and lets other team members know you are aware of the issue.</p>
                    </div>
                </div>
                <div class="is-row is-items-middle is-stack-40">
                    <div class="is-col is-30">
                        <img alt="Phone call alerts" style="max-height: 60px;" src="/images/icons/phone-icon.svg">
                    </div>
                    <div class="is-col is-70">
                        <h4>Stage 3 - Call centre</h4>
			<p>Spook's UK call centre manages alerts 10 minutes after the Stage 2 SMS message if no-one has replied to the original text. The agents are tasked with calling customer personnel in-line with the pre-agreed emergency rota.</p>
			<p>All call information, for example who was called and at what time they were contacted, are logged within OmniWatch for future reference and audio recordings are available upon request.</p>
                    </div>
                </div>
            </div>
            <div class="is-col grey is-inset-20">
                <h3>Ensure the critical alerts get through with OmniWatch's escalation feature</h3>
        <p>OmniWatch has three alarm stages, each 10 minutes apart. This gives customer staff listed on the emergency contact rota time to logon to OmniWatch to check matters or to simply respond to the alert confirming they are aware of the situation.</p>
        <p>When a response is received to the alert all customer emergency contacts are emailed confirming matters and the alarm escalation is ceased.</p>
        <div class="is-row is-items-middle">
          <div class="is-col is-20">
            <img src="/images/customer-logo/pando.svg" alt="P&O Ferrymasters logo">
          </div>
          <div class="is-col is-80">
            <blockquote class="is-small">
              <p>Spook provides peace of mind in that we can monitor all aspects of our server room in real time and review trends to identify areas that we can proactively address. We can rely on OmniWatch to immediately make us aware of any issues 24/7.</p>
              <p><small>P&O Ferrymasters</small></p>
            </blockquote>
          </div>
        </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col">
	      <h3>Custom contacts</h3>
	      <p>Users are able to create and manage as many emergency contacts as required.</p>
	      <p>Contacts can vary how they are reached in terms of the times they are on-call and by which methods they choose to be alerted by. Over time this will inevitably evolve and any changes can be reviewed on-line to ensure the alarm process is accurate and up to date.</p>
        <p>Each contact can have multiple:</p>
        <ul>
          <li>Email addresses</li>
          <li>SMS numbers</li>
          <li>Phone numbers, both mobile and landline</li>
        </ul>
            </div>
            <div class="is-col">
                <img alt="Contact view" src="/images/omniwatch/contact-view.svg">
            </div>
        </div>
    </div>
</section>
<section id="custom-rota">
    <div class="container">
        <div class="is-row is-items-middle">
            <div class="is-col">
                <img alt="Rota overview" src="/images/omniwatch/rota-overview.svg">
            </div>
            <div class="is-col">
                <h3>Custom rotas</h3>
		<p>Rotas are the real-time calendars of emergency contact personnel. Individual timetables can be pre-configured and can include those who do not follow conventional 9-5 office hours, have staggered shift patterns or have fully flexible working hours.</p>
            </div>
        </div>
    </div>
</section>
<section>
<div class="container">
  <div class="is-row is-items-middle">
    <div class="is-col">
      <h3>Flexible alarm workflow</h3>
      <p>Spook's customers range from single room installations to multiple locations across national and international borders.</p>
      <p>When multi-territory monitoring is required sometimes a regional manager may only need to know what is happening in their district. Whereas the global team may need an enterprise centric view across all regions and territories.</p>
      <p>Even at local level there may be a need for different departments to be responsible for their own monitoring. For example, water ingress monitoring may be the remit of the facilities department whereas the temperature of a room or cabinet may be the responsibility of another department.</p>
      <p>Spook real-time dashboards provide multiple portals to cater for this, whilst ensuring management has a global view of everything.</p>
    </div>
    <div class="is-col">
      <img alt="Filter contacts" style="display: block; margin: 0 auto;" src="/images/omniwatch/filter-contacts.svg">
    </div>
  </div>
</section>
