---
layout: omniwatch/base
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-60">
	<img class="is-shadow-2" src="/images/omniwatch/omniwatch-change-logs.svg">
      </div>
      <div class="is-col is-40">
	<h3>Track all changes within your OmniWatch installation</h3>
	<h1>OmniWatch stores a record of all modifications within its change logs</h1>
	<p>Each installation of OmniWatch is designed and set up before going live with the input of both Spook and the client to ensure that the correct monitoring is in place from day one.</p>
	<p>However, it's not unusual for the starting configuration of OmniWatch to change and evolve over time and it is important to be able to track what alterations have been made, by who and the reason for it.</p>
	<p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Hardware changes</h2>
    <p>One of the key parts of OmniWatch is that everything is customisable. This includes the ability to set individual <a href="/omniwatch/dashboard#custom-sensor-settings">sensor trip values</a>, state if a device/alarm should be escalated or not, or make the sensor informaitonal only.</p>
    <p>Each change can have a huge impact on the operation and flow of OmniWatch and when there are many users administering an installation or split across day/night shifts or even timezones important changes can be missed by others. Within OmniWatch every trip value, critical and active status change are logged and stored allowing for a quick communication of modifications. These changes can also be <a href="#email-notifications">emailed</a> out to management and key staff memebers.
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<img src="/images/omniwatch/rota-edit.svg">
      </div>
      <div class="is-col">
	<h2>Rota changes</h2>
	<h1>This section makes no sense</h1>
	<p>Some organisations have a change of on-call staff associated with a rota change on a specific day or date. This is achieved by simply making the current rota inactive and the new rota active with a single button within the contact function. Management can check or even manage the changes themselves. As with all changes to the Spook set-up, these are captured within the change logs.</p>
      </div>
    </div>
  </div>
</section>
<section id="email-notifications">
  <div class="container">
    <h2>Email notifications of changes</h2>
    <p>With large installations or companies that are split over multiple timezones it can often be difficult to track and monitor changes, and the reasons behind them, made by other members of staff. With OmniWatch it is possible to set up contacts to receive email notifications of any changes within realtime, keeping you up to date without having to log in or search through logs online.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Searchable and sortable</h2>
	<p>Over time many changes can be actioned on OmniWatch which can cause the amount of recorded items to be substantial. Users are able to search within the change logs using any data to filter down to the changes they wish to see.</p>
	<p>For example, simply type <code>temp</code> for all changes associated with temperature; or type in the name of a contact to track all amendments associated with that staff member.</p>
      </div>
      <div class="is-col">
	<table id="change-log-table" class="is-smaller">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Date</th>
	      <th>Type</th>
	      <th>Item</th>
	      <th>Change</th>
	      <th>From</th>
	      <th>To</th>
	      <th>Reason</th>
	      <th>By</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for row in site.data.change-logs %}
	      <tr>
		<td>{{ forloop.index }}</td>
		<td>{{ row.when }}</td>
		<td>{{ row.type }}</td>
		<td>{{ row.item }}</td>
		<td>{{ row.change }}</td>
		<td>{{ row.from }}</td>
		<td>{{ row.to }}</td>
		<td>{{ row.reason }}</td>
		<td>{{ row.by }}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Included on each item page (contact/sensor)</h2>
    <p>Each view of a customisable device (be it an invidual sensor, piece of monitoring hardware or an entire installation) OmniWatch presents all relevent changes on the same page.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Exported with reports</h2>
    <p>When <a href="/omniwatch/reporting">creating reports</a> OmniWatch includes a table of all changes performed on that installation within the selected time frame, giving the perfect snapshot of what happened.</p>
  </div>
</section>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function() {
    $('#change-log-table').DataTable({
      'pageLength': 5,
      "language": {
	  "lengthMenu": 'Display <select>'+
	    '<option value="5">5</option>'+
	    '<option value="10">10</option>'+
	    '<option value="15">15</option>'+
	    '<option value="20">20</option>'+
	    '<option value="-1">All</option>'+
	    '</select> records'
	}
    });
  });
</script>
