---
layout: omniwatch/base
---
<section>
  <div class="container">
    <h1>Event log</h1>
    <p>Each installation of OmniWatch is designed and set up before going live with the input of both Spook and the client to ensure that the correct monitoring is in place from day one. However, it's not unusual for the starting configuration of OmniWatch to change and evolve over time and it is important to be able to track what alterations have been made, by who and the reason for it.</p>
    <p>As there are many customisable parts to OmniWatch a user can change matters in-line with how they want OmniWatch to work, therefore it is important to log these for future reference.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Hardware changes</h2>
  </div>
</section>
<section>
  <div class="container">
    <h2>Rota changes</h2>
    <h1>This section makes no sense</h1>
    <p>Some organisations have a change of on-call staff associated with a rota change on a specific day or date. This is achieved by simply making the current rota inactive and the new rota active with a single button within the contact function. Management can check or even manage the changes themselves. As with all changes to the Spook set-up, these are captured within the event log.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Email notifications of changes</h2>
    <p>Contacts are able to be set up to receive instant notifications of any changes to their monitoring installation. This means users are always aware of what is happening within their set up without the need to constantly check online.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Searchable and sortable</h2>
    <p>Over time many changes can be actioned on OmniWatch which can cause the amount of recorded items to be substantial. Users are able to search within the event log using any data to filter down to the events they wish to see.</p>
    <p>For example, simply type <code>temp</code> for all changes associated with temperature; or type in the name of a contact to track all amendments associated with that staff member.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Exported with reports</h2>
  </div>
</section>
<section>
  <div class="container">
    <h2>Included on each item page (contact/sensor)</h2>
  </div>
</section>
