---
layout: omniwatch/base
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-60">
	<img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col is-40">
	<h3>Custom, pre-built and intuitive</h3>
	<h1>OmniWatch real-time responsive dashboards</h1>
	<p>There is much more to successful remote monitoring than installing out-of-the-box software as all monitored installations are unique and present their own distinctive dynamics.
	<p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Omniwatch dashboards are designed to provide users instant access to their most important information</h2>
    <p>Spook's aim is to ensure that users are not left in the dark about the health and stability of their business and put that data straight into their hands. OmniWatch is cloud based and supports all modern devices, be it a desktop PC, laptop, tablet or phone, meaning it's available any time or place.</p>
    <p>Dashboards are designed by Spook with the input of the end users. Data can be filtered to individual requirements and displayed in a variety of ways.
    <p>The dashboards ability to present real-time sensor readings and to compare common sensor types across the installation means trend analysis is a powerful yet easy function. Studying historical data across longer time frames means more accurate measurements can be applied when analysing matters.</p>
  </div>
</section>
<section>
  <div class="container">
    <h3>Power related efficiency gains</h3>
    <p>For organisations that have power related projects, automated calculations can be made from the collected data readings, for instance PUE and DCiE power efficiency can easily be presented together with understanding power usage, identifying the total amount of stranded power available (spare power) and real-time power cost calculations for billing purposes.</p>
    <p><a href="/monitoring/power-monitoring" class="button">Read more</a></p>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
        <h2>Singular acccess point</h2>
	<p>OmniWatch is capable of bringing existing monitoring installations and various equipment types together into a single application, no longer making the user reliant on countless different manufacturer interfaces locked to the local network.</p>
	<p>Spook OmniWatch is compatible with a large number of hardware manufacturers ranging from household names to small independent hardware producers and are constantly looking to add more over time.</p>
	<p>Spook also supports multiple protocols such as SNMP, JSON, BACnet, XML and Modbus. By not relying on a singular protocol, unlike other solutions, OmniWatch can seamlessly present real time readings and compare data from multiple pieces of equipment regardless of manufacturer simply and easily.</p>
      </div>
      <div class="is-col">
        <img src="/images/omniwatch/singular-access-portal.svg">
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
        <img class="is-inset-20" style="max-height: 300px;" src="/images/omniwatch/rut-950.svg">
      </div>
      <div class="is-col is-70">
        <h2>No existing monitoring or IT infrastructure?</h2>
	<p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading authorities in all things monitoring and are always expanding existing solutions to cater for each individual requirement.</p>
	<blockquote style="color: #fff;">
	  <p>We had a series of LAN based environmental monitors and UPS systems across our five regional server rooms. We needed to look for ways of moving the monitoring solution away from our LAN/WAN infrastructure for security reasons. Spook managed the whole process by providing a series of cellular routers that were preconfigured to work with our hardware within a tight timescale (2-weeks in December 2019). They knew our IT teams were working on other projects and that we were juggling holiday cover leading up to the New year. Spook ensured the migration was a simple plug-and-play solution with little or no involvement from us.</p>
	  <p class="is-small">Craig Amer - NHS BSA Team Manager</p>
	</blockquote>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <p><strong><i>image about splitting metrics on a refrigeration device -> onto dashboards</i></strong></p>
        <img src="/images/omniwatch/freezer.svg">
      </div>
      <div class="is-col">
        <h2>Access controls</h2>
	<p>The areas that OmniWatch traditionally monitors are often spread across several departments that contain disparate equipment. Each department usually have their own priorities and when trying to monitor equipment on a piecemeal basis can be difficult to manage or keep secure. For example a refrigeration alarm may need to inform both the maintenance/service company and those that use the equipment on site whereas a water alert in a server room may need to be handled by the facilities department instead of the IT department. Granting and managing access rights to multiple users in such cases are time consuming and potentially expose users to information they either don't need or shouldn't see.</p>
	<p>OmniWatch solves this issue and streamlines the workflow for the end users with its built in access controls. The controls are flexible and can be assigned to individual sensors and equipment types.</p>
      </div>
    </div>
  </div>
</section>
<section id="custom-sensor-settings">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Custom sensor settings</h2>
	<p>Spook recognises similar sensors may need different settings dependent where they are installed. For example a temperature sensor near an air conditioning unit may need lower variables when compared to a similar sensor located near to a heat source.</p>
	<p>All sensor settings are variable and can be easily changed via the individual sensor interface within OmniWatch.</p>
      </div>
      <div class="is-col">
	<img src="/images/omniwatch/sensor-overview.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-inset-20">
      <div class="is-row">
        <div class="is-col is-30">
          <img style="max-height: 300px;" src="/images/omniwatch/alerting-sensor.svg">
        </div>
         <div class="is-col is-70">
          <h2>Automatically generated alerts based on user set trip values</h2>
	  <p>When sensor readings reach the set alarm levels they visually change for easy visual identification when viewing the real-time dashboard. Once an alert is broadcast the offending sensors invoke Spook's emergency alarm escalation procedure.</p>
          <p><a href="/omniwatch/alerting/" class="button">Read more about alerts</a></p>
        </div>
      </div>
        </div>
    </div>
</section>
