---
layout: base
---
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col is-60">
                <img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
            </div>
            <div class="is-col is-40">
                <h3>Real-time dashboards</h3>
				<h1>Custom, pre-built and intuitive</h1>
				<p>Spook build real-time user dashboards to individual user specifications, perfect for streamlining local access whilst providing a overall view for those needing global accessibility.</p>
				<p>Dashboards change over time, evolving with customer led responsibilities; all changes are free of charge during the lifetime of the OmniWatch service.</p>
                <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col">
                <img src="/images/omniwatch/sensor-overview.svg">
            </div>
            <div class="is-col">
				<h2>Custom sensor settings</h2>
				<p>Spook recognises similar sensors may need different settings dependant where they are installed. For example a temperature sensor near an air conditioning unit may need lower variables when compared to a similar sensor located near to a heat source.</p>
				<p>All sensor settings are variable and can be easily changed via the individual sensor interface within OmniWatch.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>More information here</h2>
        <div class="is-row">
            <div class="is-col is-30">
                <img src="/images/omniwatch/alerting-sensor.svg">
            </div>
            <div class="is-col is-70">
				<p>When sensor readings reach the set alarm levels they visually change for easy identification, depending on their settings. Behind the scenes, the sensors invoke Spook's emergency alarm escalation procedure.</p>
                <p><a href="/omniwatch/alerting/" class="button">Read more about alerts</a></p>
            </div>
        </div>
    </div>
</section>
