---
layout: omniwatch/base
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-60">
	<img class="is-shadow-2" src="/images/homepage/omniwatch-dashboard.svg">
      </div>
      <div class="is-col is-40">
	<h3>Custom, pre-built and intuitive</h3>
	<h1>OmniWatch real-time responsive dashboards</h1>
	<p>There is much more to successful remote monitoring than installing out-of-the-box software. All our monitored installations are unique and present their own distinctive dynamics.</p>
	<p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
	<h2>Omniwatch dashboards are designed to provide users instant and easy access to their monitored locations</h2>
      </div>
      <div class="is-col is-70">
	<p>Spook's aim is to ensure that users know the health and stability of their sensors and monitored equipment. OmniWatch is cloud based and supports all modern devices. Access is secure via internet enabled desktop PC, laptop, tablet or phone, ideal for monitoring remotely and whilst on the move.</p>
	<p>Designing and maintaining dashboards can be daunting for users, that’s why we design them and manage them on our customers behalf. With nearly twenty years experience, our knowledge of ensuring meaningful information is presented in an easy to use and intuitive way is key to end user satisfaction.</p>
	<p>The ability to present real-time sensor readings and to compare common sensor types across the monitored installation means trend analysis is a powerful yet easy function.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>Power related efficiency gains</h3>
    <p>For organisations that monitor power, automated calculations can be made from the collected data readings for speed and accuracy. For instance, real time load balancing ensures power is not overloaded whilst understanding the stranded power (spare power available) across distributed power strips can be invaluable when needing to maximise power usage.</p>
    <p><a href="/monitoring/power-monitoring" class="button">Read more</a></p>
  </div>
</section>
<section class="grey">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Disparate equipment monitoring</h2>
	<p>OmniWatch is able to monitor various equipment types and merge them into a single application, no longer making the user reliant on countless different manufacturer interfaces locked to the local network.</p>
	<p>OmniWatch is manufacturer independent and supports multiple protocols such as SNMP, JSON, BACnet, XML and Modbus.</p>
      </div>
      <div class="is-col">
        <img src="/images/omniwatch/singular-access-portal.svg">
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-30">
        <img class="is-inset-20" style="max-height: 300px;" src="/images/omniwatch/rut-950.svg">
      </div>
      <div class="is-col is-70">
        <h2>New to monitoring or needing to supplement existing monitoring?</h2>
	<p>Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is truly independent of hardware manufacturer and equipment type.</p>
	<blockquote style="color: #fff;">
	  <p>We had a series of LAN based environmental monitors and UPS systems across our five regional server rooms. We needed to look for ways of moving the monitoring solution away from our LAN/WAN infrastructure for security reasons. Spook managed the whole process by providing a series of cellular routers that were preconfigured to work with our hardware within a tight timescale (2-weeks in December 2019). They knew our IT teams were working on other projects and that we were juggling holiday cover leading up to the New year. Spook ensured the migration was a simple plug-and-play solution with little or no involvement from us.</p>
	  <p class="is-small">Craig Amer - NHS BSA Team Manager</p>
	</blockquote>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col">
        <img src="/images/omniwatch/freezer.svg">
      </div>
      <div class="is-col">
        <h2>Access controls</h2>
	<p>OmniWatch typically monitors areas across several departments. Each department usually have their own priorities and when trying to monitor equipment on a piecemeal basis can be difficult to manage or keep secure. For example a refrigeration alarm may need to inform both the maintenance/service company and those that use the equipment on site; whereas a water alert in an IT server room may need to be handled by the facilities department instead of the IT department.</p>
	<p>OmniWatch automatically filters alerts to authorised users and relevant departments.</p>
      </div>
    </div>
  </div>
</section>
<section id="custom-sensor-settings">
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Custom settings</h2>
	<p>Spook recognises similar sensors may need different settings dependent where they are installed. For example a temperature sensor near an air conditioning unit may need lower variables when compared to a similar sensor located near to a heat source.</p>
	<p>All sensor settings are variable and can be easily changed via the individual sensor interface within OmniWatch.</p>
      </div>
      <div class="is-col">
	<img src="/images/omniwatch/sensor-overview.svg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-inset-20">
      <div class="is-row">
        <div class="is-col is-30">
          <img style="max-height: 300px;" src="/images/omniwatch/alerting-sensor.svg">
        </div>
         <div class="is-col is-70">
          <h2>Auto-generated alerts based on user defined settings</h2>
	  <p>When sensor readings reach their set alarm levels they visually change for easy identification when viewing the real-time dashboard. When an alert is triggered it invokes Spook's 3-tier emergency alarm escalation procedure.</p>
          <p><a href="/omniwatch/alerting/" class="button">Read more about alerts</a></p>
        </div>
      </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <h2>Sawtoothing</h2>
    <p>Sensor readings are rarely static unless your monitoring dry contacts for on/off type settings. The majority of digital sensors produce varied readings such as when measuring the climate for temperature and humidity and collecting power metrics such as amps and kilowatts.</p>
    <p>These data types often produce sawtooth readings. This is fine if the values are not near a pre-set alarm trip. However if the sawtooth hunts above and below an alarm point many alerts can be generated and these can become annoying or more importantly ignored.</p>
    <p>OmniWatch provides an easy to use edit feature to change individual sensor trip values to stop sawtoothing alerts while on the move.</p>
  </div>
</section>
