---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Dew point monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of dew point monitoring</h2>
    <p>Dew point is the temperature at which water vapour in the air starts condensing on the equipment. Environments with high <a href="/omniwatch/humidity-monitoring">relative humidity (RH)</a> and rapid changes in temperature are most likely to experience condensing humidity. Dew point is always expressed as a temperature (°C).</p>
    <p>Access Spook's free dew point calculator <a href="/tools/dewpoint-calculator">here</a>.</p>
  </div>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/dewpoint.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring or IT infrastructure?</h2>
	  <p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it.</p>
	  <p>With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/dew-point">Wireless dew point monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>Demand contention</h2>
    <p>In an unmonitored room containing several air conditioning (AC) units, it is possible to have half the room's cooling units adding humidity while the other half work to reduce it.</p>
    <p>This condition is known as demand contention and is one of the primary causes of excessive energy consumption in IT environments.</p>
    <p>By monitoring and controlling dew point and <a href="/omniwatch/humidity-monitoring">relative humidity (RH)</a> greatly reduces the frequency of demand contention. This is due to the fact that as air increases in temperature in an IT environment its dew point stays the same.</p>
    <p>Most air cooling units simply maintain humidity based on the actual amount of water required in each pound of air that passes through the unit. Elimination of demand contention can significantly increase the efficiency of the cooling system and save excessive usage of power and fluctuation.</p>
  </div>
</section>
<section>
  <div class="container">
    <img src="/images/devices/multiple-devices.svg">
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
	<div style="width: 100%; height: 100%; background-image: url('/images/monitoring/environmental/condensation-on-window.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
	<h3>Observing dew point</h3>
	<p>Have you ever drank a glass of ice cold water on a warm day and noticed water droplets collect on the outside of the glass? or have you ever been traveling in a warm car on a very cold day and seen condensation on the inside of the windows or windshield? Then you have definitely observed dew point.</p>
	<h4>Dew point and meteorology</h4>
	<p>Dew point helps meteorologists predict the height of the base of certain types of clouds together with calculating the percentage chance of precipitation. Meteorologists study dew point when checking how moist the air is as relying purely on relative humidity can be misleading.</p>
	<p>Dew point can assist in forecasting overnight low temperatures too. In the majority of cases, the low temperature will not fall too far below the preceding evening's dew point. As temperatures fall towards the dew point, enough heat is released into the atmosphere to cause condensation.</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
