---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Humidity monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of humidity monitoring</h2>
    <p>Relative humidity (RH) is a measurement of the amount of water vapor present in the air and is stated as a percentage of the amount needed to achieve saturation at the same temperature.</p>
    <p>Humidity is highly sensitive to <a href="/omniwatch/temperature-monitoring">temperature</a> and pressure fluctuations in the surrounding area and can quickly change.</p>
    <p>High humidity can cause an undesirable level of moisture in the air which can negatively impact a wide range of products as well as creating an uncomfortable environment for people. Increased moisture can damage electronic equipment, manufactured products, structures, encourage the growth of mold and mildew and cause rot.</p>
    <p>Low humidity levels can cause excess build up of static electricity, increase the susceptibility of colds and respiratory illnesses and allows viruses and germs to thrive. It can also have an adverse effects on plants, wood, paint and other objects that are hygroscopic as their natural moisture levels are decreased in line with the RH.</p>
    <p>The aim of humidity monitoring is to ensure the safety of the local environment and allow a quick and correct response to the shifting factors in the surrounding area. Being able to react correctly and quickly can not only save products from unnecessary damage and create a safe environment for humans but it could also be used a cost saving initiative when it comes to air conditioning demand.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/humidity.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring or IT infrastructure?</h2>
	  <p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it.</p>
	  <p>With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/humidity">Wireless humidity monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <h3>Tonal language and humidity</h3>
    <p>A humans vocal cords contain a pair of mucus membranes that stretch across the larynx. As we speak air is controlled from our lungs and cause the larynx to vibrate. The level of moisture in the air effects the elasticity of our vocal cords and hence have a direct effect on our tonal range.</p>
    <p>Recent scientific research has proven that the environment has a direct impact on speech. After studying more than 3,700 languages it was discovered that tonal languages found commonly in Asia rarely develop in dry climates.</p>
  <div class="is-row">
    <div class="is-col">
	<div style="min-height: 100%; background-image: url('/images/monitoring/environmental/hawk-moth.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
    </div>
    <div class="is-col">
      <h3>Humidity helps bug diversity</h3>
      <p>Because most bugs are small, humidity increases the opportunity for them to survive. The smaller the bug the more likely it is to dehydrate because it has a larger surface area relative to their whole body size.</p>
      <p>Humid nights are especially helpful to moths who make the most of moist climates. A world leading Professor of Entomology at the University of Arizona, Goggy Davidowitz, determined that hawk-moths (Manduca Sexta) can detect a four percent difference in humidity by sensing changes in the evaporation of flower nectar.</p>
      <p>The warm, moist atmosphere of a humid environment helps hawk- moths to identify which flowers are higher in nectar than others and as a consequence helps them to conserve energy whilst foraging.</p>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
