---
layout: base
---

<header style="background-image: linear-gradient( hsla(0, 0%, 7%, 0.4), hsla(0, 0%, 7%, 0.4) ), url('{{ page.image }}');{% if page.color %}color: #{{ page.color }};{% endif %}; background-position: bottom;">
	<div class="container">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<section>
	<div class="container">
		<p>It's not unusual for areas that are monitored to change. They may become less or more congested as time goes by. Spook understands it is important to record the changes to ensure swift	identification at the time of an alert, therefore anew floor plans are published, free of charge, to reflect any areas that grow or reduce their monitoring foot-print.</p>
	</div>
</section>
