---
layout: omniwatch/base
---
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col is-40">
	<img style="min-width: 100%;" src="/images/omniwatch/installation-plans.svg">
      </div>
      <div class="is-col is-60">
	<h3>Installation plans</h3>
	<h1>OmniWatch publishes an installation plan for every monitored location</h1>
	<p>This is important because when an alarm happens, the ability to swiftly identify the offending sensor provides valuable early warnings and thinking time.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <img class="is-shadow-2 is-stack-40" src="/images/homepage/installation-plans.svg">
    <p>By easily identifying where the physical sensor is within a location means staff can take remedial action before the situation causes bigger problems. For example, a rapid temperature increase of a temperature sensor near an air conditioning unit may indicate a problem that, if left un-noticed, could cause equipment failures or auto shut downs.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Installation plan methodology</h2>
    <p>Creating an installation plan can be daunting, but Spook has been doing this for nearly two decades which takes the headache away from our customers. The installation plan does not need to be drawn to scale, but simply be able to reflect the monitored footprint in a way that makes it easy for end users to identify sensors at short notice.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Customer designed plans</h2>
    <p>The majority of Spook customers have had an installation plan available that was drawn in the past as part of an overall building plan of a premises. Usually this is a computer room or server room design illustration.</p>
    <p>Spook can use these to accurately represent the room locations and sensor installations. However, over time it's not unusual for rooms to evolve and when this happens a new version needs to be available within OmniWatch. Customers can simply hand amend the original plan and show any areas of equipment moves, system upgrades, room expansions or reductions. Upon receipt Spook publishes the new installation plans to OmniWatch.</p>
  </div>
</section>
