---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Light monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of light monitoring</h2>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
