---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Light monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>Introduction to light monitoring</h2>
    <p>One of the key aspects of environmental monitoring and management is the control of light exposure and ultraviolet radiation. Correct monitoring can have many benefits for the museum and conversation sectors:</p>
    <ul>
      <li>Protection of collections</li>
      <li>Reduction on reactive and a move to proactive conservation treatments</li>
      <li>Data can be used as evidence and to plan for improvement projects</li>
    </ul>
    <p>When measuring light it is common to express the concentration in Lux which is 1 Lumen per square meter (m<sup>2</sup>) and ultraviolet radiation is measured in microwatts per Lumen (μW/Lm).</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>The benefit of automated light monitoring</h2>
    <p>The adverse effects of light and ultaviolet radiation exposure are cumulative. Performing a spot check every day or even every hour simply does not collect enough data to give an accurate account of what is happening in a room or to an item.</p>
    <p>With OmniWatch data is collected several times a minute, with any major fluctuations being noted, to give an accurate and easy to understand picture of what is happening at all times of the day and night that can be turned into a <a href="/omniwatch/reporting">report</a> that can easily be shared. It's also possible to set up <a href="/omniwatch/alerting">alerts</a> on light levels to instantly inform members of staff of excessive or unwanted exposure and stop items becoming damaged before it's too late.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/light.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring or IT infrastructure?</h2>
	  <p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it.</p>
	  <p>With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/light-meters">Wireless light monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <div class="is-row is-items-middle">
      <div class="is-col">
	<h2>Monitor for unwanted access</h2>
	<p>Lights being turned on can also give a good indication that a person is present in a certain area when you are not expecting or wanting them to be.</p>
	<p>Setting up <a href="/omniwatch/alerting">alerts</a> to track light usage within areas where people are unwanted acts as further security and peace of mind for the protection of valuable and vunerable items. This can of course be run in tandem with <a href="/monitoring/sensor/boundary-and-ir/">boundary and IR sensors</a>, <a href="/monitoring/sensor/motion/">motion detection</a> and conventional <a href="/monitoring/sensor/openclosed/">door access</a> monitoring to give a more complete picture.</p>
      </div>
      <div class="is-col is-text-center">
	<img src="/images/sections/heritage-monitoring-circle.png" style="width: 200px; height: 200px; display: block; margin: 0 auto; margin-bottom: 1em;">
	<a href="/monitoring/heritage">Read more about heritage monitoring</a>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
