---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Light monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>Introduction to light monitoring</h2>
    <p>One of the key aspects of environmental monitoring and management is the control of light exposure and ultraviolet radiation. Correct monitoring can have many benefits for the museum and conversation sectors:</p>
    <ul>
      <li>Protection of collections</li>
      <li>Reduction on reactive and a move to proactive conservation treatments</li>
      <li>Data can be used as evidence and to plan for improvement projects</li>
    </ul>
    <p>When measuring light it is common to express the concentration in Lux which is 1 Lumen per square meter (m<sup>2</sup>) and ultraviolet radiation is measured in microwatts per Lumen (μW/Lm).</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>The benefit of automated light monitoring</h2>
    <p>The adverse effects of light and ultaviolet radiation exposure are cumulative. Performing a spot check every day or even every hour simply does not collect enough data to give an accurate account of what is happening in a room or to an item.</p>
    <p>With OmniWatch data is collected several times a minute, with any major fluctuations being noted, to give an accurate and easy to understand picture of what is happening at all times of the day and night that can be turned into a <a href="/omniwatch/reporting">report</a> that can easily be shared. It's also possible to set up <a href="/omniwatch/alerting">alerts</a> on light levels to instantly inform members of staff of excessive or unwanted exposure and stop items becoming damaged before it's too late.</p>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
