---
layout: omniwatch/base
---
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col is-60">
                <img class="is-shadow-2" src="/images/homepage/omniwatch-report.svg">
            </div>
            <div class="is-col is-40">
				<h3>Something amazing and astounding stuff</h3>
				<h1>Create, customise and share reports for your monitoring installations</h1>
				<p>Unlike conventional data collectors OmniWatch stores all monitoring data in perpetuity allowing for indepth analysis and comparison from day one.</p>
				<p>In short OmniWatch makes interpreting data meaningful, intuitive and incredibly easy to access.</p>
                <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<p>OmniWatch's reports can provide extremely useful insights to help with:
		<ul>
			<li>Measuring efficiency gains</li>
			<li>Applying active load balancing policies</li>
			<li>Achieving Key Performance Indicators (KPIs)</li>
			<li>Assisting planned maintenance programs</li>
			<li>Protecting equipment warranties</li>
			<li>Forecasting pinch points that may impact business uptime</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<p>In a recent report by Sungard Availability Services it is predicted that</p>
		<div class="is-row">
			<div class="is-col">
				<p>There will be an increase of approximately 30% consumption of digital services as UK consumers experienced lockdown as a way to move to a digital-first mindset.</p>
			</div>
			<div class="is-col">
				<p>Approximately 25% felt the use of online conferencing services like Zoom and FaceTime has brought them closer to family and friends and they will continue to grow.</p>
			</div>
			<div class="is-col">
				<p>As consumers are becoming more savvy in switching service providers at short notice nearly 40% would immediately switch provider if they experienced unplanned downtime.</p>
			</div>
		</div>
		<p>It's easy to see why OmniWatch real-time dashboards are hugely beneficial and help to maximise business uptime in a digital world.</p>
	</div>
</section>
