---
layout: omniwatch/base
---
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col is-60">
                <img class="is-shadow-2" src="/images/homepage/omniwatch-report.svg">
            </div>
            <div class="is-col is-40">
				<h3>Something amazing and astounding stuff</h3>
				<h1>Create, customise and share reports for your monitoring installations</h1>
				<p>Unlike conventional data collectors OmniWatch stores all monitoring data in perpetuity allowing for indepth analysis and comparison from day one.</p>
				<p>In short OmniWatch makes interpreting data meaningful, intuitive and incredibly easy to access.</p>
                <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<p>By studying accurate trend data over longer periods of time means OmniWatch users are able to continually ‘Measure, Analyse, Improve and Control’; which is key to maximising business uptime or protecting valuable assets and achieving efficiency gains.</p>
	</div>
</section>
<section>
	<div class="container">
		<p>Trend data reports can be generated and compared for any time frame.</p>
	</div>
</section>
