---
layout: omniwatch/base
---
<section>
    <div class="container">
        <div class="is-row">
            <div class="is-col is-60">
                <img class="is-shadow-2" src="/images/omniwatch/omniwatch-report.svg">
            </div>
            <div class="is-col is-40">
		<h3>Something amazing and astounding stuff</h3>
		<h1>Create, customise and share reports for your monitoring installations</h1>
		<p>Unlike conventional data collectors OmniWatch stores all monitoring data in perpetuity allowing for indepth analysis and comparison from day one.</p>
		<p>OmniWatch makes interpreting data meaningful, intuitive and incredibly easy to access.</p>
                <p><a class="button" style="margin-top: 2em; margin-right: 1em;" href="/contact/">Contact us</a> <a class="button is-secondary" style="margin-top: 2em;" href="#">Book demo</a></p>
            </div>
        </div>
    </div>
</section>
<section>
    <img class="is-stack-20" style="width: 100%;" src="/images/omniwatch/historical-trend-data-compact.svg">
    <div class="container">
	<h1>what are reports?</h1>
    </div>
</section>
<section>
    <div class="container">
	<div class="is-row is-gapless is-items-middle">
	    <div class="is-col is-30 block is-inset-20">
		<p class="is-large"><strong>OmniWatch's reports can provide extremely useful insight and information on your installation. </strong></p>
	    </div>
	    <div class="is-col is-70 is-inset-20">
		<p>Example uses of OmniWatch's report:</p>
		<ul>
		    <li>Measuring efficiency gains</li>
		    <li>Applying active load balancing policies</li>
		    <li>Achieving Key Performance Indicators (KPIs)</li>
		    <li>Assisting planned maintenance programs</li>
		    <li>Protecting equipment warranties</li>
		    <li>Forecasting pinch points that may impact business uptime</li>
		</ul>
	    </div>
	</div>
    </div>
</section>
<section>
    <div class="container">
	<h1>what's in a report?</h1>
	<p><a href="/omniwatch/change-logs">More about change logs</a></p>
	<p><a href="#">More about hardware</a></p>
	<p><a href="/omniwatch/alerting">More about alerts/contacts</a></p>
    </div>
</section>
<section>
    <div class="container">
	<h1>talk about location filtering</h1>
	<p><a href="/omniwatch/dashboard">More about locations/dashboard</a></p>
    </div>
</section>
<section>
    <div class="container">
	<h1>talk about timeframe filtering</h1>
	<img src="/images/omniwatch/timeframe-view.svg">
    </div>
</section>

