---
layout: base
---
<section>
  <div class="container">
    <h1>Temperature monitoring</h1>
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of temperature monitoring</h2>
    <p>Temperature monitoring is one of the most important and, therefore, common metrics that people wish to monitor. Incorrect temperatures can cause harm to a wide range of electrical equipment, ruin produce, encourage pathogen growth or even indicate unseen issues elsewhere.</p>
    <p>
  </div>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <h3>Definition of temperature</h3>
    <p>The temperature of something is the result of the speed at which molecules move on an object. The more volatile the movement equates to a higher temperature being measured.</p>
    <h3>What is SI?</h3>
    <p>SI is the International System of Units established in 1960 and adopted by all the major countries of the world.</p>
    <p><a href="https://www.bipm.org/en/measurement-units/" class="button">Find out more</a></p>
    <h4>Kelvin (K)</h4>
    <p>Kelvin is the base unit of temperature in the International System of Units (SI). Celsius shares the same magnitude of change as Kelvin so ±1K is equal to ±1°C.</p>
    <p>Kelvin's lowest value is 0K, absolute zero, and can go up to the theoretical limit of 10<sup>32</sup>K which is the highest temperature we believe possible according to the standard model of particle physics.</p>
    <h4>Celsius (°C)</h4>
    <p>Celsius, originally known as the centigrade, is based on 0°C for the freezing point of water and 100°C for the boiling point of water at 1 standard atmospherical pressure. Absolute zero is defined as exactly -273.15°C.</p>
    <h4>Fahrenheit (°F)</h4>
    <p>Fahrenheit was the first standardised temperature scale to be used but has been phased out by the metric system and Celsius. It is based on 32°F being the freezing point of water and 212°F for the boiling point of water at 1 standard atmospherical pressure.</p>
    <img style="max-height: 350px; display: block; margin: 0 auto;" src="/images/monitoring/environmental/lord-kelvin.png">
    <h3>Lord Kelvin</h3>
    <p>The Kelvin temperature scale was created by a British inventor and scientist called William Thomson (later Lord Kelvin). In the 1800s Lord Kelvin helped prove the theory that the volume and temperature of a gas share a relationship.</p>
    <p>Lord Kelvin patented over 70 inventions during his life-time and was instrumental in the laying of the first transatlantic telegraphcable. Because of this that he was knighted by Queen Victoria in 1866. The Baron was raised to peerage in the 1890s and William Thompson was elevated to the title known as Lord Kelvin of Largs.</p>
    <p>William Thompson (Lord Kelvin) (B: 26<sup>th</sup> June 1824 – D: 17<sup>th</sup> December 1907)</p>
  </div>
</section>
