---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Temperature monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of temperature monitoring</h2>
    <p>Temperature monitoring is one of the most important and, therefore, common metrics that people wish to monitor. Incorrect temperatures can cause harm to a wide range of electrical equipment, ruin produce, encourage pathogen growth or even indicate unseen issues elsewhere.</p>
    <h3>1. Damage prevention</h3>
    <p>Ensuring that environments remain within the proper temperature range will help to extend the lifespan of equipment, produce and structures. Catching excessive or fluctuating temperatures and rectifying them before harm can be done will save replacement costs and potential impact to business down the line.</p>
    <p>Proactive action and alerting will allow for replacement plans and maintenance calls to be booked at more convenient times; further reducing negative impact on businesses.</p>
    <h3>2. Energy efficiency and cost savings</h3>
    <p>Historical data can be used to track energy demands and utilisation of other systems such as air conditioning (AC) units or cooling units within fridges/freezers. Not only can areas with high demands point towards a prevously unknown issue, such as a failing AC unit or broken fan, it can also help plan redistribution of equipment to lower demand areas.</p>
    <p>High demand areas can also exist where there is an artificial demand; after equipment is moved or a period of high ambient temperature has passed and cooling hasn't been altered to reflect this (also see <a href="/omniwatch/change-logs">change logs</a> to track historical changes on the system). Artificial demand on cooling can cause excess expense which once rectified can save the business money.</p> 
    <h3>3. Health and safety and warranty audit</h3>
    <p>Often there is a duty to prove equipment or produce or other items are stored at the correct temperature. With OmniWatch temperature monitoring you are able to <a href="/omniwatch/reporting">produce a report</a> for any time frame covered by your installation as proof of correct environmental conditions. Unlike most off the shelf monitoring solutions available OmniWatch stores all reading rather than just the last 30 days.</p>
  </div>
</section>
{% include omniwatch-key-components.html %}
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <div class="block is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/temperature-white.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring or IT infrastructure?</h2>
	  <p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it. With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/temperature">Wireless temperature monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Definition of temperature</h2>
    <p>The temperature of something is the result of the speed at which molecules move on an object. The more volatile the movement equates to a higher temperature being measured.</p>
    <div class="is-row is-items-middle">
      <div class="is-col">
	<img src="/images/omniwatch/temperature-monitoring/si.svg">
      </div>
      <div class="is-col">
	<p class="is-large"><strong>What is SI?</strong></p>
	<p>SI is the International System of Units established in 1960 and adopted by all the major countries of the world.</p>
	<p><a href="https://www.bipm.org/en/measurement-units/" class="button">Find out more</a></p>
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-20">
	<p class="is-large"><strong>Kelvin (K)</strong></p>
      </div>
      <div class="is-col is-80">
	<p>Kelvin is the base unit of temperature in the International System of Units (SI). Celsius shares the same magnitude of change as Kelvin so ±1K is equal to ±1°C.</p>
	<p>Kelvin's lowest value is 0K, absolute zero, and can go up to the theoretical limit of 10<sup>32</sup>K which is the highest temperature we believe possible according to the standard model of particle physics.</p>
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-20">
	<p class="is-large"><strong>Celsius (°C)</strong></p>
      </div>
      <div class="is-col is-80">
	<p>Celsius, originally known as the centigrade, is based on 0°C for the freezing point of water and 100°C for the boiling point of water at 1 standard atmospherical pressure. Absolute zero is defined as exactly -273.15°C.</p>
      </div>
    </div>
    <div class="is-row">
      <div class="is-col is-20">
	<p class="is-large"><strong>Fahrenheit (°F)</strong></p>
      </div>
      <div class="is-col is-80">
	<p>Fahrenheit was the first standardised temperature scale to be used but has been phased out by the metric system and Celsius. It is based on 32°F being the freezing point of water and 212°F for the boiling point of water at 1 standard atmospherical pressure.</p>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container">
    <div class="is-row">
      <div class="is-col is-40">
	<div style="min-height: 100%; background-image: url('/images/monitoring/environmental/lord-kelvin.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
      </div>
      <div class="is-col is-60">
	<h3>Lord Kelvin</h3>
	<p>The Kelvin temperature scale was created by a British inventor and scientist called William Thomson (later Lord Kelvin). In the 1800s Lord Kelvin helped prove the theory that the volume and temperature of a gas share a relationship.</p>
	<p>Lord Kelvin patented over 70 inventions during his life-time and was instrumental in the laying of the first transatlantic telegraphcable. Because of this that he was knighted by Queen Victoria in 1866. The Baron was raised to peerage in the 1890s and William Thompson was elevated to the title known as Lord Kelvin of Largs.</p>
	<p>William Thompson (Lord Kelvin) (B: 26<sup>th</sup> June 1824 – D: 17<sup>th</sup> December 1907)</p>
      </div>
    </div>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
