---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Water ingress monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of water ingress monitoring</h2>
    <p>Pipes can burst and air conditioning units and cooling systems can leak from a failed condensate pump, broken supply lines or clogged drains. Sprinkler systems can malfunction too.</p>
    <p>Often a water problem can be festering for some time underneath a raised floor or above a false ceiling. Early detection gives enough lead time to prevent a major shut down.</p>
    <p>Proper placement of water sensors is key. Water tends to puddle at the lowest point of the floor and underneath pipe junctions and air conditioning units. Should a water sensor be placed too high won’t trigger an alarm until after a serious flood has occurred.</p>
  </div>
</section>
<section>
  <div class="container">
    <div class="grey is-border is-inset-20">
      <div class="is-row is-items-middle">
	<div class="is-col is-20">
	  <img src="/images/sensor/waterrope.svg">
	</div>
	<div class="is-col is-80">
	  <h2>No existing monitoring or IT infrastructure?</h2>
	  <p>It doesn't matter. Spook will work with you to identify what your monitoring needs are, secure the required hardware and install it.</p>
	  <p>With nearly 20 years in the industry Spook is one of the leading experts in all things monitoring and are always expanding existing solutions to cater for each individual requirement and challenge it brings.</p> 
	  <a class="button" href="/monitoring/sensor/water">Wireless water monitoring</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
    <img src="/images/monitoring/environmental/stephen-gray.png">
    <p>Stephen Gray (B: December 1666 - D: 7<sup>th</sup> February 1736)</p>
    <p>Pure water does not conduct electricity because because of its lack of free electrons and therefore it does not contain ions (Ions are formed when atoms lose or gain electrons). For water conductivity to be viable the water needs to contain ions.</p>
    <p>Stephen Gray an English astronomer and dyer studied electrical conduction and was the first person to discover that electricity can flow through wires. Up until his work, published in 1729, all other studies into electricity focussed on the generation of static electrical charges. Thanks to his contribution the study of how water conducts electricity could be made. However, it's taken nearly two hundred years for scientists to witness exactly how this happens.</p>
    <p>As impure water has positive and negative ions contained within it in, positive ions are attracted to a negative pole and vice versa. As the ions are attracted to each pole a short circuit is induced and this is a fundamental process for developing water detection sensors.</p>
    <p>Stephen Gray received the first 'Copley Medal' instituted by the Royal Society, in 1731. However most of his works went unacknowledged and he died as a pauper.</p>
    <p>The Copley Medal was created following a donation of £100 to be used for carrying out experiments by Sir David copley and has been awarded most years since Stephen Grays first win; he in-fact won it again in 1732.</p>
    <p>Other notable winners the Copley Medal were: Benjamin Franklin (1753), James Cook (1776), William Herschel (1761), Michael Faraday (1832 & 1838), John Herschel (1847), Charles Darwin (1864), Albert Einstein (1925), Francis Crick (1975), John Maynard Smith (1999), Stephen Hawking (2006) and Peter Higgs (2015).</p>
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
