---
layout: base
---
<section>
  <div class="container">
    <h3>Real-time data collection</h3>
    <h1>Water ingress monitoring</h1>
    {% include header-buttons.html %}
  </div>
</section>
<section>
  <div class="container">
    <h2>The importance of water ingress monitoring</h2>
    <p>Pipes can burst and air conditioning units and cooling systems can leak from a failed condensate pump, broken supply lines or clogged drains. Sprinkler systems can malfunction too.</p>
    <p>Often a water problem can be festering for some time underneath a raised floor or above a false ceiling. Early detection gives enough lead time to prevent a major shut down.</p>
    <p>Proper placement of water sensors is key. Water tends to puddle at the lowest point of the floor and underneath pipe junctions and air conditioning units. Should a water sensor be placed too high won’t trigger an alarm until after a serious flood has occurred.</p>
  </div>
</section>
<section>
  <div class="container">
    {% assign quote = page.quote %}
    {% assign quote-by = page.quote-by %}
    {% assign quote-information = page.quote-information %}
    {% assign quote-image = page.quote-image %}
    {% include quote.html %}
  </div>
</section>
<section>
  <div class="container">
  </div>
</section>
{% include monitoring/environmental/key-components.html %}
{% include contact-us.html %}
