<svg height="75px" weight="75px"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
    version="1.1" viewbox="0 0 200 200" width="100" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <g>
        <path d="M89.301,134l21.67,0"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path
            d="M185.346,94.856c0,-1.659 -1.347,-3.005 -3.005,-3.005l-164.813,0c-1.659,0 -3.006,1.346 -3.006,3.005l0,6.011c0,1.659 1.347,3.006 3.006,3.006l164.813,0c1.658,0 3.005,-1.347 3.005,-3.006l0,-6.011Z"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path
            d="M185.346,150.866c0,-3.17 -2.574,-5.744 -5.744,-5.744l-159.336,0c-3.17,0 -5.744,2.574 -5.744,5.744l0,11.488c0,3.171 2.574,5.745 5.744,5.745l159.336,0c3.17,0 5.744,-2.574 5.744,-5.745l0,-11.488Z"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <rect height="76.299"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;"
            width="188.604" x="5.698" y="91.851" />
        <circle cx="164.615" cy="130" r="4"
            style="fill: {% if include.color %}{{ include.color }}{% else %}#000{% endif %}" />
        <circle cx="174.615" cy="130" r="4"
            style="fill: {% if include.color %}{{ include.color }}{% else %}#000{% endif %}" />
    </g>
    <g>
        <g>
            <path d="M85.172,59.996l29.656,-29.656"
                style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
            <path d="M85.172,30.34l29.656,29.656"
                style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        </g>
        <circle cx="100" cy="45.168" r="29.189"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    </g>
</svg>
