<svg width="75px" height="75px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g>
        <path d="M7.74,86.957l0,73.536l184.52,0l0,-73.536l-0.406,-0.403l-45.914,-47.047l-91.828,0l-45.914,47.047"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    </g>
    <rect x="91.085" y="57.474" width="17.831" height="50.348"
        style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    <rect x="141.085" y="93.474" width="17.831" height="50.348"
        style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    <rect x="41.085" y="93.474" width="17.831" height="50.348"
        style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
</svg>
