<svg width="75px" height="75px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <circle cx="96" cy="100" r="4" style="fill:{% if include.color %}{{ include.color }}{% else %}#000{% endif %}" />
    <path d="M106.685,10.875l0,181.25l-59.086,-15.562l0,-148.126l59.086,-17.562Z"
        style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    <path d="M118.262,24.043l32.194,0l0,151.914l-31.423,0"
        style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
</svg>
