<svg width="75px" height="75px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g>
        <ellipse cx="100.824" cy="148.093" rx="18.085" ry="5.162"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M56.542,150.538c0,-5.087 6.219,-9.634 15.957,-12.626"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M128.037,138.08c9.43,2.993 15.421,7.465 15.421,12.458"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M143.458,150.538c0,9.003 -19.473,16.312 -43.458,16.312c-23.985,0 -43.458,-7.309 -43.458,-16.312"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path
            d="M100.672,11.494c0,0 -40.471,53.384 -40.471,76.263c0,22.336 18.134,40.47 40.471,40.47c22.336,0 40.47,-18.134 40.47,-40.47c0,-22.879 -40.47,-76.263 -40.47,-76.263Z"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M27.549,153.255c0,-7.782 9.588,-14.772 24.78,-19.55"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M142.585,131.899c18.866,4.716 31.209,12.526 31.209,21.356"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
        <path d="M173.794,153.255c0,14.386 -32.765,26.065 -73.122,26.065c-40.358,0 -73.123,-11.679 -73.123,-26.065"
            style="fill:none;stroke:{% if include.color %}{{ include.color }}{% else %}#000{% endif %};stroke-width:8px;" />
    </g>
</svg>
