<div class="is-row is-items-middle is-stack-60">
  <div class="is-col is-40">
    <p>Spook supplied CO<sub>2</sub> and air quality sensors all arrive preconfigured and calibrated so they are ready to go out of the box.</p>
    <p>Each sensor comes with a variety of mounting options ranging from nonintrusive mobile devices up to securely attaching the units using secure mounting plates for static and permanent installations.</p>
    <p>Batteries are included and are monitored by Spook for easy battery replacement management.</p>
  </div>
  <div class="is-col is-60">
    <div class="is-row is-text-center">
      <div class="is-col is-25">
        <img src="/images/icons/outofthebox.svg">
        <p><strong>Out of the box</strong></p>
      </div>
      <div class="is-col is-25">
        <img src="/images/icons/bespoke.svg">
        <p><strong>Preconfigured</strong></p>
      </div>
      <div class="is-col is-25">
        <img src="/images/icons/calibrated.svg">
        <p><strong>Calibrated</strong></p>
      </div>
      <div class="is-col is-25">
        <img src="/images/icons/battery-included.svg">
        <p><strong>Batteries included</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="is-text-center is-stack-40">
  <h3>Spook recommended sensors</h3>
  <p>The HSE recommends the use of non-dispersive infrared (NDIR) CO<sub>2</sub> sensors and Spook is happy to advise on the various types available.</p>
</div>
<div class="is-row">
  <div class="is-col">
    <div class="is-row">
      <div class="is-col">
        <img src="/images/solutions/co2-monitoring/co2-motion-sensor.svg">
      </div>
      <div class="is-col">
        <h4>CO<sub>2</sub> monitoring</h4>
        <ul>
          <li>CO<sub>2</sub> (NDIR)</li>
          <li>Temperature</li>
          <li>Humidity</li>
          <li>PIR/motion detection</li>
          <li>Light</li>
          <li>Traffic light system</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="is-col">
    <div class="is-row">
      <div class="is-col">
        <img src="/images/solutions/co2-monitoring/air-quality-sensor-2.svg">
      </div>
      <div class="is-col">
        <h4>Air quality monitoring</h4>
        <ul>
          <li>CO<sub>2</sub> (NDIR)</li>
          <li>Temperature</li>
          <li>Humidity</li>
          <li>PIR/motion detection</li>
          <li>Light</li>
          <li>TVOC</li>
          <li>Barometric pressure</li>
          <li>E-ink display</li>
          <li>Local alarm display</li>
        </ul>
      </div>
    </div>
  </div>
</div>
