<h3>Cat whiskers use airflow</h3>
<p>It's hard to believe a cat uses whiskers to measure airflow but it's true. The official name for cats whiskers is vibrissae, which comes from Latin "vibrio" and means "to vibrate".</p>
<p>Cats whiskers are not limited to just around their nose, they're also above their ears, eyes, jaw and forelegs. The whiskers on their forelegs are called carpal whiskers and they help to determine movement of prey.</p>
<p>However, cats have an even number of whiskers on their muzzle, each having twelve whiskers on each side which are completely symmetrical. The symmetrical pattern means they can accurately measure the environment.</p>
<p>A cats whisker has hair follicles with hundreds of nerves and the tip of the whisker has a proprioceptor; which is a separate sensory organ. Together, this makes whiskers highly sensitive to airflow and changes in their environment.</p>
<p>Airflow is especially useful for a cat as any changes in airflow lets a cat detect approaching dangers, just like a feline inbuilt radar system.</p>
