<p>Dew point, also referred to as condensation point is the temperature at which a parcel of air must be cooled at a constant pressure and humidity mixing ratio until it reaches saturation. It's at this point of condensation that water vapour forms in decipherable form either as dew, cloud droplets, ice crystals, mist or fog.</p>
<p>All air contains water vapour Water vapour is an invisible gas but all air has some water vapour in it. The amount of water vapour air can retain varies with temperature. Warmer air has the ability to hold more water vapour than cool air. If air cools down sufficiently it forces the moisture to condense.</p>

<div class="is-row">
	<div class="is-col">
		<img src="/images/monitoring/environmental/condensation-on-window.png">
	</div>
	<div class="is-col">
		<h3>Observing dew point</h3>
		<p>Have you ever drank a glass of ice cold water on a warm day and noticed water droplets collect on the outside of the glass? or have you ever been traveling in a warm car on a very cold day and seen condensation on the inside of the windows or windshield? Then you have definitely observed dew point.</p>
		<h4>Dew point and meteorology</h4>
		<p>Dew point helps meteorologists predict the height of the base of certain types of clouds together with calculating the percentage chance of precipitation. Meteorologists study dew point when checking how moist the air is as relying purely on relative humidity can be misleading.</p>
		<p>Dew point can assist in forecasting overnight low temperatures too. In the majority of cases, the low temperature will not fall too far below the preceding evening's dew point. As temperatures fall towards the dew point, enough heat is released into the atmosphere to cause condensation.</p>
	</div>
</div>
