<section>
	<div class="container grey is-border">
		<div class="is-inset-20">
			<div class="is-row is-items-middle">
				<div class="is-col is-30">
					<h2>Did you know?</h2>
					<img alt="Did you know" style="max-width: 300px;" src="/images/sensor/icons/light.svg">
				</div>
				<div class="is-col is-70">
					{% for paragraph in page.did-you-know %}
						<p>{{ paragraph }}</p>
					{% endfor %}
					<p><strong>{{ page.person-of-interest }}</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>

