<p>The amount of water vapour or water molecules in the air is described as humidity. However, weather scientists typically use the term relative humidity, which is helpfully described by Joe Sobel, a leading and influential meteorologist in the USA, as "the comparison of the amount of moisture in the air versus the amount of moisture the air could hold".</p>

<h3>Tonal language and humidity</h3>
<p>A humans vocal cords contain a pair of mucus membranes that stretch across the larynx. As we speak air is controlled from our lungs and cause the larynx to vibrate. The level of moisture in the air effects the elasticity of our vocal cords and hence have a direct effect on our tonal range.</p>
<p>Recent scientific research has proven that the environment has a direct impact on speech. After studying more than 3,700 languages it was discovered that tonal languages found commonly in Asia rarely develop in dry climates.</p>

<div class="is-row is-items-middle">
	<div class="is-col">
		<img src="/images/monitoring/environmental/hawk-moth.png">
	</div>
	<div class="is-col">
		<h3>Humidity helps bug diversity</h3>
		<p>Because most bugs are small, humidity increases the opportunity for them to survive. The smaller the bug the more likely it is to dehydrate because it has a larger surface area relative to their whole body size.</p>
		<p>Humid nights are especially helpful to moths who make the most of moist climates. A world leading Professor of Entomology at the University of Arizona, Goggy Davidowitz, determined that hawk-moths (Manduca Sexta) can detect a four percent difference in humidity by sensing changes in the evaporation of flower nectar.</p>
		<p>The warm, moist atmosphere of a humid environment helps hawk- moths to identify which flowers are higher in nectar than others and as a consequence helps them to conserve energy whilst foraging.</p>
	</div>
</div>
