<div class="is-row">
	<div class="is-col is-30">
		<img style="max-height: 350px;" src="/images/monitoring/environmental/hanging-light.png">
	</div>
	<div class="is-col is-70">
		<h3>The difference between lux and lumens</h3>
		<p>Lux is a measure of illuminance (the total amount of light that falls on a surface) whereas Lumens is a measure of luminous flux (a measure of the total amount of visible light emitted from a single source for example, a lamp).</p><p>The SI unit of illuminance is the lux (lx). It is equal to one lumen per square meter.</p>
		<p><code>1 lx = 1 lm/m2 = 1 cd · sr/m2</code></p>
		<p>The SI unit of luminous flux is the lumen (lm). The lumen is defined in relation to the candela which is the unit of luminous intensity.</p>
		<p><code>1 lm = 1 cd ⋅ sr</code></p>
	</div>
</div>
