<h3>Definition of Temperature</h3>
<p>The temperature of something is the result of the speed at which molecules move on an object. The more volatile the movement equates to a higher temperature being measured.</p>

<h3>°C or °F or K?</h3>
<p>There are many ways to measure temperature but the most common are Celsius or centigrade (°C), Fahrenheit (°F) and Kelvin (K).</p>
<p>Kelvin is considered as the basic unit of temperature in the International System of Units (SI). A Kelvin is equal to a degree on the Celsius scale. Therefore just the K can be used in mathematical calculations and not the degree symbol. There are no negative numbers on the Kelvin scale either, as the lowest number is zero K.</p>
<p>Celsius scale is 0°C and 100°C which are the freezing and boiling points of water respectively at sea level.</p>
<p>Fahrenheit scale is 32°F and 212°F which are the freezing and boiling points of water respectively at sea level.</p>
<p>Fahrenheit is perceived as being more accurate to Celsius due to the scale used. The USA use Fahrenheit as they have not adopted the metric measuring system associated with Celsius.</p>
<h4>Fun Fact: -40 °C equals -40 °F</h4>

<h3>Lord Kelvin</h3>
<p>The Kelvin temperature scale was created by a British inventor and scientist called William Thomson (later Lord Kelvin). In the 1800s Lord Kelvin helped prove the theory that the volume and temperature of a gas share a relationship.</p>
<p>Lord Kelvin patented over 70 inventions during his life-time and was instrumental in the laying of the first transatlantic telegraphcable. Because of this that he was knighted by Queen Victoria in 1866. The Baron was raised to peerage in the 1890s and William Thompson was elevated to the title known as Lord Kelvin of Largs.</p>
<p>William Thompson (Lord Kelvin) (B: 26<sup>th</sup> June 1824 – D: 17<sup>th</sup> December 1907)</p>

<h3>What is SI?</h3>
<p>SI is the International System of Units established in 1960 and adopted by all the major countries of the world.</p>
